[2021-10-04 19:07] #252 closed

[2021-10-04 19:12] Matthew-Moore240 commented on #241
I am hearing the breakaways a lot more often which is good. I still am rarely getting a cooling response but I am not sure if thats another issue so I guess ill pass this back to @zepumph to close or continue the discussion if I am missing something.

[2021-10-04 19:19] Matthew-Moore240 commented on #242
With Mouse:
I hear one breakaway alert but then I get six "super hots" in a row while the thermometer is at the bottom followed by three "cooling" alerts. This seems like an extreme pile-up of alerts.

With Keyboard:
I get the exact same issues as with a mouse.

[2021-10-05 14:37] zepumph commented on #233
https://github.com/phetsims/friction/commit/30ad85bdcd7a1f3ddbf4c2e205dfa8bb3de99281 doesn't seem to cut it to me. I was reviewing this code over in https://github.com/phetsims/friction/issues/242#issuecomment-933686906 and think it needs to be reworked. It will be done over in https://github.com/phetsims/friction/issues/253 where Utterance timing variables will be used instead of in house countin

[2021-10-05 14:56] zepumph commented on #242
This will be handled over in https://github.com/phetsims/friction/issues/253. I am working on the timing of the "maximum temperature alert" and also the warming alerts in general.

[2021-10-05 19:38] terracoda commented on #253
@zepumph comment

in https://github.com/phetsims/friction/issues/253#issue-1013555285

That hasn't been my experience. I got the major pileups in Voicing last Friday in our meeting.

[2021-10-06 16:34] zepumph commented on #243
Agreed! See https://github.com/phetsims/friction/issues/249 for notes on the discussion we had.

[2021-10-06 16:37] zepumph commented on #242
Yes that will be handled in https://github.com/phetsims/friction/issues/253. I think all that is left for this issue is to make sure that for keyboard and mouse, we get enough warming alerts at the right times. I want to do some experimentation to see if it is easy to get keyboard to work beyond in just endDrag.

[2021-10-06 16:44] zepumph commented on #204
Now that we have no usages of arrays as utterance alerts in this code, we can close this issue. There is just some cleanup to do in common code over in https://github.com/phetsims/utterance-queue/issues/20. Closing

[2021-10-06 16:44] #204 closed

[2021-10-06 16:59] terracoda commented on #253
If I rub relativley slowly to super fast, I don't get a pile up, but if I rub quickly to super fast I get a pile up. I can demo in the meeting.

[2021-10-06 18:24] zepumph commented on #253
During voicing meeting today, I realized that we could use the Utterance predicate to determine if the "super hot" still applies before announcing it.

[2021-10-06 19:50] zepumph opened #255 "Use Utterance.predicate() to make sure that alerts aren't spoken when stale"
`Utterance.predicate` can be really useful in terms of making sure that utterances added to the queue, and then wait for quite some time before being announced, are still useful and not just stale information.

I could see us using this for "super fast, super hot" alerts over in https://github.com/phetsims/friction/issues/253, and also for the cooling alerts, since they respond to the model, and n

[2021-10-06 22:34] #248 closed

[2021-10-07 00:21] zepumph commented on #253
Ok. I have cleaned this up with a couple of pieces of logic.

1. "super fast" alerts now occur less often, as I split up the timing variable shared with it and the warming utterance. Now it is only every 3 seconds (instead of 1/2 second).
2. I added predicates to both utterances that make sure that their logic is correct before we do announce it. This helped greatly with the number of max-temp ale

[2021-10-07 00:22] zepumph opened #256 "Reset warming/cooling indexing when settled"
In addition to reset on endDrag, it is nice to reset this when we settle things out. I accidentally already committed half of this over in https://github.com/phetsims/friction/issues/253:

https://github.com/phetsims/friction/blob/53827d7d2e61143852ec84660040a16b8f4f2c9a/js/friction/view/TemperatureDecreasingAlerter.js#L114-L120

I'll complete it here.

[2021-10-07 00:29] #256 closed, assigned to zepumph

[2021-10-07 00:32] zepumph commented on #255
The warming alerts' predicate was added over in https://github.com/phetsims/friction/issues/253. This commit for the cooler alert isn't too important, but it is good to make sure this logic is correct for consistency. Closing

[2021-10-07 00:32] #255 closed

[2021-10-07 00:33] zepumph commented on #241
Yes, I think that is mostly because of #253, but a byproduct of this prioritized break-away alert is that it will always be complete, and no cooler alerts will come until after it finishes. Closing

[2021-10-07 00:37] zepumph commented on #242
After looking into this more for keyboard, I think it makes sense the way it is. There is no easy way to update this logic based on timing during the drag. Is it acceptable to only hear this on endDrag @terracoda?

[2021-10-07 00:51] zepumph commented on #254
Thanks for the bug report, this is an interesting one. It looks like the model is fighting the drag listener, because the bounds are different. When you move down, you eventually get to the bottom book. Once that occurs, the keyboard drag listener is still applying a multiplier and trying to move the book down past the book. Then it tells the model to move down, and in the model there is bounds wh

[2021-10-07 13:56] terracoda opened #257 "(Interactive Description) I hear "Move down to rub harder" before I try to rub"
This hint has to be linked to unproductive rubbing.
It is now working well in Voicing, but not yet working well in on grab when using VoiceOver on MacOs and keyboard.

I do get the hint BEFORE and after non-productive rubbing.

This issue might resolve itself, but the design goal is to only get this hint when unproductive rubbing is occurring and not immediately as part of the grab when the books

[2021-10-07 14:51] terracoda opened #258 "(Voicing) Can we optimize responses with alt input keyboard?"
In #242 and #253 and other issues we improved the experience greatly for both mouse and keyboard.

I feel a second look at optimizing the alt input keyboard experience would be good, if there is time.

In #253 I mentioned 2 specific issues.
1. often an extra super fast, super hot response after rubbing stops, and
2. rare occurrences (possibly no occurrences) of "jiggling more, warmer" as temperatu

[2021-10-07 18:15] Matthew-Moore240 commented on #253
Yeah, the mouse is working nicely. No more pile-ups.

[2021-10-07 22:21] zepumph commented on #257
This is true, but I think incomplete.

**The way it was:**

The "move down to rub harder" alert for pdom alerts was added on if the books weren't touching AND there had been successful rubbing. I was able to get this alert to fire when I made successful rubbing, then made the books not touch, released the book, and then grabbed it again.

**After my commit**

I have completely removed this hint fr

[2021-10-08 15:28] zepumph commented on #254
@samreid and I worked on this briefly, and found that it was buggy to have the model AND the keyboardDragListener setting the position Property for the book. Instead, the drag listener just needed to pass on the delta it calculated to the move. Then the two weren't fighting over who should set the Property. @terracoda please review.

[2021-10-08 15:54] #257 closed, assigned to terracoda

[2021-10-08 16:42] zepumph opened #259 "Quick back and forth rubs with keyboard produce no warming alerts"
@terracoda mentioned this, and I think we can tweak this. With a bit longer rubs left and right it is easy to make happen on master now.

[2021-10-08 16:45] zepumph commented on #258
@terracoda was using smaller key presses than I was. I'll take a look.

[2021-10-08 16:48] zepumph commented on #208
Ready to close by the team.

[2021-10-08 16:48] #208 closed

[2021-10-08 17:09] #258 closed, assigned to zepumph

[2021-10-08 17:41] terracoda commented on #243
I checked VO on MacOS and VO on iOS. Both sound pretty good. VO on iOS will need a bit more work, but this version is being published with iOS A11y.

For iOS, just noting along with the visual keyboard hint, I had some pile ups of move down to rub harder.

[2021-10-08 18:36] Matthew-Moore240 commented on #253
It sounds perfect to me. No pile-ups and no extra super hots or super fast. Closing.

[2021-10-08 18:36] #253 closed, assigned to Matthew-Moore240

[2021-10-08 18:40] Matthew-Moore240 commented on #243
This all sounded really good to me. The only thing was that I had to do the long swipes across the book to get the now hotter and warming alerts but I had no pile-up or anything like that.

[2021-10-08 18:43] zepumph commented on #243
Ready to close. Thanks!

[2021-10-11 22:57] #247 closed

[2021-10-11 23:04] zepumph commented on #239
- [ ] As part of this, please update the phetioDocumentation for
` model.bottomOffsetProperty` and `model.topBookPositionProperty` (specify the coordinate frame).

[2021-10-11 23:14] zepumph opened #260 "Many unused a11y strings"
Just a cleanup step that I haven't done in too long:

[code]

[2021-10-12 15:44] #260 closed

[2021-10-12 18:41] arouinfar commented on #246
Looks good, thanks @zepumph!

[2021-10-12 18:41] #246 closed

[2021-10-12 20:15] zepumph commented on #239
@samreid and I had an investigation, and we found that having the the DragListener take the model bounds that the frictionKeyboardDragListener was getting was helpful in that it totally removed the discrepancy between the listener's modelPoint and the topBookPositionProperty. This was only true for three directions though. The bottom direction still needed to use the model to determine if book wer

[2021-10-13 13:11] Nancy-Salpepi opened #261 "Voicing reads line break in keyboard dialog"
**Test device**
MacBook Air (m1 chip)

**Operating System**
iOS 11.6

**Browser**
safari 15

**Problem description**
https://github.com/phetsims/qa/issues/717

The line break element is read with Voicing in the 'Grab or Release Book' section of the Keyboard Shortcuts Dialog.

**Steps to reproduce**
1. Turn Voicing on
2. Open Keyboard shortcuts dialog
3. Tab to or click on 'Grab or Release Book' se

[2021-10-13 13:23] Nancy-Salpepi opened #262 "Voicing skips over portion of 'Move Book' section in keyboard dialog"
**Test device**
MacBook air (m1 chip)

**Operating System**
iOS 11.6

**Browser**
safari 15

**Problem description**
https://github.com/phetsims/qa/issues/717

Voicing skips over 'Move Slower' keyboard keys in keyboard dialog.

**Steps to reproduce**
1. Turn on voicing
2. Open Keyboard Shortcuts dialog
3. Tab to or click on 'Move Book' section

**Visuals**

https://user-images.githubusercontent.co

[2021-10-13 14:39] Nancy-Salpepi opened #263 "Should Voicing continue with sim descriptions after preferences menu is opened?"
**Test device**
MacBook Air (m1 chip)

**Operating System**
iOS 11.6

**Browser**
Safari 15

**Problem description**
https://github.com/phetsims/qa/issues/717

After the Preferences Menu is opened, Voicing continues to report changes happening in sim.

**Steps to reproduce**
1. Turn on voicing and check all checkboxes
2. Quickly rub chemistry book back and forth on physics book
3. While descriptio

[2021-10-14 13:14] zepumph commented on #239
https://github.com/phetsims/friction/issues/239#issuecomment-941879590 has not been done yet. I hope to get to it today.

[2021-10-14 21:49] KatieWoe commented on #185
Looks ok from what I can see.

[2021-10-14 21:49] #185 closed

[2021-10-15 13:15] Nancy-Salpepi opened #264 "Grab sound inconsistent on iPad"
**Test device**
iPad Air 2 (named Leibniz)

**Operating System**
15.0.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/717

When the macro view version of the book is grabbed the sound made changes. Sometimes the pitch is high and other times it is low.
When testing on the MacBook Air + safari/chrome, the sound was consistent.

**Visuals**

https://user-images.g

[2021-10-15 17:01] Nancy-Salpepi opened #265 "Consider making some sounds louder"
**Test device**
iPad Air 2 (name Leibniz)

**Operating System**
15.0.1

**Browser**
Safari

**Problem description**
https://github.com/phetsims/qa/issues/717

Some sounds are much louder than others. For example, the grab sound is very easy to hear, but the thud sound made when the books come into contact is difficult to hear at times. With voicing enabled, I can't hear the thud sound or the filte

[2021-10-15 18:28] Nancy-Salpepi opened #266 "Issue when 2 buttons are pressed at same time on iPad"
**Test device**
iPad Air 2 (name: Leibniz)

**Operating System**
15.0.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/717

On the iPad:
When the reset button is pressed at the same time as one of the 'Read Me' buttons, the sim will reset. However, the 'Read Me' button will look like it is in play mode--a STOP symbol is present. If reset is pressed again, the bu

[2021-10-20 19:28] jessegreenberg commented on #266
These buttons switch back to the "play" icon from the voicingManager.endSpeakingEmitter so my first guess is that that emitter is not being emitted for some reason.

[2021-10-22 17:37] #265 closed, assigned to zepumph

[2021-10-22 17:54] #264 closed, assigned to zepumph

[2021-10-25 15:22] Nancy-Salpepi opened #267 "Chemistry book disappears from zoomed-in view"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
chrome and safari

**Problem description**
https://github.com/phetsims/qa/issues/717

This issue is only seen on Master and not in this dev version.
Using keyboard nav, it is possible for the entire chemistry book to move out of zoomed-in view.

**Steps to reproduce**
1. Use keyboard nav to select the zoomed-in chemistry

[2021-10-27 16:38] KatieWoe opened #268 "Voicing reads out wrong voice as you switch"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/717.
When switching between the voicing options, the voice that is read out seems to be the one you were on previously, not the new one you switched to.

**Visuals**

https://user-images.githubusercontent.com/41024075/139108522-3d728c7a-42ee-4817-af05-e09ff7e5ebd3.

[2021-10-27 17:34] KatieWoe opened #269 "Things should be read that aren't"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/717.
The about dialog no longer reads out items when clicked on. They were read out in the published version of JT. In addition, the Physics and Chemistry labels on the testbooks aren't read out when clicked on.

Troubleshooting information:

<details>

!!!!! DO NOT

[2021-10-29 19:39] zepumph commented on #268
@jessegreenberg and I worked on this, and fixed it in master. @KatieWoe can you please test on master.

[2021-10-29 20:52] KatieWoe commented on #268
On Firefox, the whole sim freezes when you turn on voicing

[2021-10-29 21:19] jessegreenberg commented on #268
Thanks @KatieWoe, looks like an unrelated issue with Voicing in Firefox after https://github.com/phetsims/scenery/issues/1288

[2021-10-29 22:15] jessegreenberg commented on #268
This should be fixed now. @KatieWoe can you please try again to see if this is fixed?

[2021-10-29 22:29] KatieWoe commented on #268
Looks fixed on master

[2021-10-30 00:13] zepumph commented on #268
Thanks!

[2021-11-02 21:31] emily-phet commented on #266
This seems like a relatively minor usability issue to me. If @jessegreenberg finds this to be relatively straightforward to fix, or relatively straightforward to identify as a browser bug, then let's fix it in the case of it not being a browser bug. If it's a browser issue or a fix that's likely to delay publication, then I don't think this should be blocking for publication of Friction.

[2021-11-03 00:04] zepumph commented on #261
Right, thanks! I'll take the lead over in https://github.com/phetsims/scenery/issues/1314.

[2021-11-03 00:26] zepumph commented on #261
Just waiting on review over in https://github.com/phetsims/scenery/issues/1314.

[2021-11-03 17:15] zepumph commented on #266
Today during voicing meeting we decided this won't block friction, @jessegreenberg will investigate for https://github.com/phetsims/scenery/issues/1315.

[2021-11-03 17:17] zepumph commented on #267
I'm actually just going to close this as a duplicate, I  think it will make things simpler. Thanks!

[2021-11-03 17:17] #267 closed

[2021-11-10 15:23] jessegreenberg commented on #269
https://github.com/phetsims/joist/issues/763 was done and is ready for review, this should no longer be an issue for Friction.

[2021-11-10 17:47] zepumph commented on #269
Thanks! Removing blocking label, as things are working well in friction.

[2021-11-10 18:02] zepumph commented on #262
This was fixed by https://github.com/phetsims/scenery-phet/issues/711, out for review now.

[2021-12-07 16:59] terracoda opened #270 "Zoomed-in book can go off screen"
Not sure if this is already know, but I don't think the book should move so far that it goes off screen.
![image](https://user-images.githubusercontent.com/1902116/145072732-5910aecd-99e1-43ce-afe2-7af08cfbe116.png)

[2021-12-07 17:06] zepumph commented on #270
Yes thanks, duplicate of https://github.com/phetsims/friction/issues/239 and https://github.com/phetsims/friction/issues/267

[2021-12-07 17:06] #270 closed

[2022-01-03 12:16] terracoda opened #271 "(Description) Duplication of name and custom role in Grab/Drag Interactions"
I see the following code in the inspector, and I think there is too much repetition of "Movable Chemistry book" in this interaction.
<img width="531" alt="image" src="https://user-images.githubusercontent.com/1902116/147927971-6c01cd67-9c6f-4afc-9d8f-138997f4de8b.png">

When using VoiceOver, I hear the following on grab:
- Movable Chemistry book, empty Movable Chemistry book" then "Grabbed. Lightl

[2022-01-14 01:40] Nancy-Salpepi commented on #269
Looks good on master.

[2022-01-14 01:40] #269 closed

[2022-01-25 18:12] zepumph commented on #239
From this investigation, I feel confident that this line is accurate documentation for the coordinates of the sim:

https://github.com/phetsims/friction/blob/74bd13161f3440fd5af7f27a55701420d8ae5f2d/js/friction/model/FrictionModel.js#L209

I am ready to close.

[2022-01-25 18:15] #239 closed

[2022-01-25 18:21] zepumph commented on #236
Alright. I think all is good for this issue. I created an issue for GrabDragInteraction iO design. @arouinfar, anything else here?

[2022-01-25 19:14] zepumph commented on #271
@terracoda, I wonder, were you testing on the published version? In master this is what I see when I grab the macro book:

![image](https://user-images.githubusercontent.com/6856943/151043363-2ac073d7-70b2-4b19-913b-3eb80b22a944.png)

We did quite a bit of work in the common code of GrabDragInteraction when doing it for the Ruler in ISLC, so it is quite possible that much of what you were talking

[2022-01-25 19:15] zepumph commented on #271
I created https://phet-dev.colorado.edu/html/friction/1.6.0-dev.23/phet/ so you can test more easily.

[2022-01-26 01:23] zepumph opened #272 "CoolingSoundGenerator needs to support PhET-iO state"

[2022-01-27 19:37] arouinfar commented on #236
Looks good, thanks @zepumph. I think we can go ahead and close.

[2022-01-27 19:37] #236 closed

[2022-01-28 17:02] terracoda commented on #271
I don't hear duplication any more in the link you gave me.
https://phet-dev.colorado.edu/html/friction/1.6.0-dev.23/phet/

[2022-01-28 18:15] zepumph commented on #271
Friction is set to be published this quarter, so hopefully we will have this fixed in production soon!

[2022-01-28 18:15] #271 closed

[2022-02-22 14:07] terracoda commented on #251
Thanks for opening this issue @arouinfar.

Some description strings not meant for Interactive Description and some behaviours of hints that may be problematic for non-visual users need some review, too. I will open a seperate issue about that.

[2022-02-22 14:33] terracoda opened #273 "Third hint in Ineractive Description seems untimely and perhaps too explicit."
Somewhat related to #251 as the strings are reviewed for PhET-iO.

I can get see this hint in the State Descriptions to continue rubbing before I actually do any productive rubbing. This make same feel uneasy for the non-visual experience. The hint was added as part of the Voicing design - not Interactive Description.

For Interactive Description, two hints worked fine for learners:
- Grab Chemist

[2022-02-23 19:15] Matthew-Moore240 commented on #273
I am okay with just going back to a two-hint system. If the third hint doesn't seem to be useful I am totally okay with just letting the original hints do the work and see how that shakes out.

[2022-02-23 22:50] jessegreenberg commented on #237
Back In https://github.com/phetsims/chipper/issues/619#issuecomment-938025193 we confirmed what was described in https://github.com/phetsims/friction/issues/237#issuecomment-931556954 as the recommended way to handle this situation with strings.

Passing back to @zepumph.

[2022-02-24 00:06] zepumph commented on #261
Alright, review is complete. @Nancy-Salpepi can you confirm this is fixed on master please?

[2022-02-24 00:06] zepumph commented on #261
Feel free to close.

[2022-02-24 12:25] Nancy-Salpepi commented on #261
This is fixed :)
Closing.

[2022-02-24 12:25] #261 closed

[2022-02-24 19:58] Nancy-Salpepi commented on #262
The entire keyboard shortcuts dialog is now read with Voicing.
I did notice that there is no pause at all after the "D" in WASD and  "Move Slower". I tried on both safari and chrome with my mac and with 3 different voices.

https://user-images.githubusercontent.com/87318828/155597924-d5dd716d-ecba-41f9-9cf2-00380dde72b4.mov

[2022-03-01 19:23] zepumph opened #274 "Interactive highlight around background rectangle"
While working on https://github.com/phetsims/joist/issues/743, I found a strange interactive highlight when I move my mouse above the atomic view of the book. the easiest way for me to see it is to make the window wide and not tall:

![image](https://user-images.githubusercontent.com/6856943/156234770-1ffe3599-96ab-4a58-8b0f-e2f11f3c631a.png)

The mouse was at the arrow I added.

[2022-03-04 00:46] zepumph commented on #262
I hear that too! When I use `?printVoicingResponses` this is what is being spoken:

or with letter keys W, A, S, or D. Move slower with Shift plus Arrow keys, or Shift plus letter keys W, A, S, or D.

I see the period there. Voices are sometimes weird, but I think we are doing the best we can. Closing

[2022-03-04 00:46] #262 closed

[2022-03-04 00:57] zepumph commented on #237
Excellent thanks. I was able to apply our pattern and had good luck with the regex `}}\w`

Closing

[2022-03-04 00:57] #237 closed

[2022-03-04 01:05] zepumph commented on #272
Though, without a description of what I was thinking about in January, I believe that https://github.com/phetsims/phet-io/issues/1626 has fixed this. Closing

[2022-03-04 01:05] #272 closed

[2022-03-16 16:15] terracoda commented on #273
Ok, I suggest we replace hint 3:
- Continue rubbing chemistry book to generate even more friction

With a less explicit version:
- Grab Chemistry Book to rub.

[2022-03-17 21:27] jessegreenberg commented on #266
I suspect this has been fixed with https://github.com/phetsims/utterance-queue/issues/66. I tried to get the original issue to happen on my iPad Air 2 and could not. @Nancy-Salpepi if you have a moment can you please test?

[2022-03-18 13:15] Nancy-Salpepi commented on #266
@jessegreenberg sometimes when both buttons are pressed at the same time, I hear the 'Reset All' sound and voicing either says "reset all" and then reads the Quick Info statements or reads the statements and then says "reset all".

I was not able to reproduce the original issue.

Videos:
<details>

https://user-images.githubusercontent.com/87318828/159009277-15412a16-b4db-4f26-b77b-f429494c5edb.mo

[2022-03-21 16:02] KatieWoe opened #275 "CT no description found for pitch at value: 1.4999999999999998"
[code]

[2022-03-30 16:27] Nancy-Salpepi opened #276 "Grabbed book can't be moved up/down with mouse"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
safari/chrome

**Problem description**
For https://github.com/phetsims/qa/issues/791, I noticed that I can no longer move the chemistry book up and down like in published. Now clicking on the book immediately changes the zoomed in view so that the 2 books are touching.
I am still able to move the grabbed book up and down

[2022-03-30 16:36] Nancy-Salpepi opened #277 "Extra interactive highlights"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
safari/chrome

**Problem description**
For https://github.com/phetsims/qa/issues/791 there seems to be extraneous interactive highlights--a pink line appears across the entire screen and the physics book also has one.

**Steps to reproduce**
1. Turn on interactive highlights
2. Move mouse around the screen and over diffe

[2022-03-30 18:32] KatieWoe commented on #276
I was able to lift the book with a mouse, but you have to move your mouse well above any point where it feels natural.
![wayup](https://user-images.githubusercontent.com/41024075/160906450-dadde866-4922-4958-9984-ac1339263da0.gif)

[2022-03-30 18:36] KatieWoe commented on #276
It also jumps the book oddly far to the right as well as down.

[2022-03-30 19:45] Nancy-Salpepi opened #278 "Launched sim freezes with safari"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/791
When I try to interact with the launched sim in safari, it freezes. After a delay the 'releasing book' sound is heard. When I return to the Studio wrapper it also looks odd and takes a few seconds to return to normal.

* this did not happen wit

[2022-03-30 20:13] KatieWoe opened #279 "Steam hiss may play in State even when option is not on"
**Device**
Mac and iPad (but not able to reproduce so far on Win 11)
**OS**
MacOS 12.3 and iPadOS 15
**Browser**
Safari and Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/791
When in the state wrapper, if you move the bottom sim while the temp is dropping, then it will start playing the hissing sound as temp drops, even when that option isn't on
Steps to Reproduce
1. Go t

[2022-03-30 21:46] KatieWoe opened #280 "May be possible to enter keyboard nav without pressing Tab"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/791.
It is possible, under verry specific circumstances, to enter keyboard nav with just the shift key, rather than Tab or Shift + Tab. It does not happen in the published sim, but does on master with other sims. It may not be worth addressing, but I wanted to repor

[2022-03-31 13:29] Nancy-Salpepi opened #281 "Difficult to grab zoomed in book when located at top of window"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari/Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/791
After atoms have been rubbed off, it can be difficult to grab the zoomed in book when it is at the top of the window. When interactive highlights are on, I can see that grabbing the space will result in me grabbing the book. When they ar

[2022-03-31 15:46] KatieWoe commented on #281
I noticed that, in the dev test, the bubbles in the row attached to the book are not grabbable. This is not the case for the published sim, which seems to worsen the problem now compared to previous versions.

[2022-03-31 17:35] zepumph commented on #280
Yes this is expected. Because of how mobile device screen ready support works. We track an "invisible" focus as the mouse interacts with the sim. Then when keyboard is pressed the invisible highlights turn visible. @jessegreenberg, can you confirm that we wouldn't want to change this? I don't think we would.

[2022-03-31 17:41] Nancy-Salpepi opened #282 "Voicing with Safari reads period as "dot" in licensing section of PhET-iO About Dialog"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/791, in the PhET-iO sim, Voicing reads the period as "dot"  in the licensing section of the About dialog. It does this for the first 2 sentences, but not for the last sentence in that section.

* This does not occur anywhere else in the sim where t

[2022-03-31 18:03] KatieWoe commented on #278
I reproduced this on iPad by launching the example sim

[2022-03-31 18:09] Nancy-Salpepi commented on #278
In studio with safari --the preview HTML worked properly.

[2022-03-31 18:30] Nancy-Salpepi opened #283 "Voicing with Safari only works in one iframe in Multi wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/791
The voicing feature only works in the second iframe. It doesn't work in the first one.

This issue was not seen in mac + chrome or on Win10 + Firefox.

**Steps to reproduce**
1. Turn on voicing in the preferences menu--It will say Voicing on
2.

[2022-03-31 19:28] Nancy-Salpepi opened #284 "Voicing on/off utterance sometimes repeated in State wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari and Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/791 in the State wrapper--When I set state and then turn the Voicing Feature on/off in the downstream sim--it will repeat the "Voicing On/Off" utterance the number of times that matches the number of times I pressed 'Set State'. So, if i

[2022-03-31 19:30] KatieWoe opened #285 "InputEnabled vs grabDragInteraction enabled"
**Device**
Dell
**OS**
Win 11
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/791
In studio, I noticed that if you want to disable dragging for the zoomed out book you use `friction.frictionScreen.view.topBookNode.inputEnabledProperty` but if you want to disable dragging in the zoomed in book `friction.frictionScreen.view.atomicView.grabDragInteraction.enabledP

[2022-03-31 19:39] zepumph commented on #280
Oh! And during quarterly planning today I realized this is an example of https://github.com/phetsims/joist/issues/750, which is not scheduled for this quarter. @jessegreenberg if you agree please assign back to me.

[2022-03-31 21:20] zepumph commented on #280
@KatieWoe, I want to make sure this makes sense to you. Please feel free to close or ask clarification questions as needed.

[2022-03-31 21:22] #280 closed

[2022-04-01 12:02] Nancy-Salpepi opened #286 "VO repeats descriptions in Wrappers"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/791, VoiceOver repeats descriptions in the downstream sim. This only happens for changes made in the sim (moving the book, moving a toggle button on/off).

**Steps to reproduce**
1. In the state wrapper, set the Set State Rate = 0
2. Make a change

[2022-04-01 15:39] Nancy-Salpepi commented on #286
Also seen in the following wrappers: Data: textarea, Data: recording, Screenshot, Multi,  and Active wrappers (unable to test studio at this time)

[2022-04-01 21:31] KatieWoe commented on #285
I think I had things a bit mixed up, so this may not be a bug. But I am confused as to what `grabDragInteraction.enabledProperty` does?

[2022-04-01 21:45] KatieWoe opened #287 "Disabling an object removes it from voicing"
**Device**
Dell
**OS**
Win 11
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/qa/issues/791
In studio, if you disable interaction on an object, such as the zoomed out book so the user must use the zoomed in book, clicking on the disabled object with voicing does not read anything out. In addition, noting is read out when clicking the physics book, which seems wrong, esp

[2022-04-01 22:29] KatieWoe opened #288 "Voicing does not stay on in launched sim"
**Device**
Dell
**OS**
Win 11
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/qa/issues/791.
In studio, if you turn on voicing then launch the sim, the launched sim does not have voicing on. This is also the case for visual highlights.

[2022-04-01 22:49] KatieWoe commented on #279
I take this statement back:

I have gotten it to occur on Win 11

[2022-04-02 03:11] stemilymill opened #289 "Voicing does not indicate whether checkboxes in Preferences Dialog are checked or not"
https://phet-dev.colorado.edu/html/friction/1.6.0-dev.24/phet/friction_all_phet.html
**Test device**
Dell laptop

**Operating System**
Win10 21H2

**Browser**
Chrome 99.0.4844.84

For https://github.com/phetsims/qa/issues/791.
While navigating the preferences menu, voicing does not give any information about whether checkboxes are checked or not, except the different pitch sounds.
This is not cons

[2022-04-04 16:59] Nancy-Salpepi commented on #268
I am seeing this issue again in  https://github.com/phetsims/qa/issues/791 with iOS 15.4 + Safari.

Ignore my big hand in this video!

https://user-images.githubusercontent.com/87318828/161594340-933a8919-2314-4573-a18f-8b967802201b.mov

[2022-04-04 17:12] jessegreenberg commented on #268
Thanks @Nancy-Salpepi - what you are showing looks a bit different than the original post. The original issue was related to the wrong voice right after making a ComboBox selection but this appears to be the entirely wrong voice for all subsequent interactions. Moving this comment to utterance-queue.

[2022-04-04 17:13] #268 closed

[2022-04-04 18:35] Nancy-Salpepi commented on #287
@KatieWoe--For the last part of your comment (nothing is read out when clicking the physics book), I think this is related to the issue I posted https://github.com/phetsims/friction/issues/277.

[2022-04-04 19:05] Nancy-Salpepi opened #290 "Should bottom book text be non-customizable?"
**Test device**
Dell

**Operating System**
Win10

**Browser**
Firefox

**Problem description**
For https://github.com/phetsims/qa/issues/791, in studio if I change the name of the bottom textbook (`friction.frictionScreen.view.bottomBookNode.titleText.textProperty`), Voicing still reads it as "Physics". Should this text still be customizable?

[2022-04-04 19:15] KatieWoe commented on #283
I'm also noticing that it doesn't work in State on the top iframe on iPad either.

[2022-04-04 21:07] KatieWoe commented on #278
This also happened when trying to record on iPad with Metacog recording.

[2022-04-04 23:13] jessegreenberg commented on #275
This was fixed via  https://github.com/phetsims/john-travoltage/issues/461

[2022-04-04 23:13] #275 closed

[2022-04-05 00:39] zepumph commented on #288
This is by design. We do not want preferences to persist through runtimes (and thus don't support it for PhET-iO state). Feel free to close this issue after documenting this as you need.

[2022-04-05 14:42] Nancy-Salpepi commented on #284
also seen with Win10 + Firefox

[2022-04-05 17:15] Nancy-Salpepi opened #291 "Voicing isn't interrupted when switching between iframes in Multi wrapper"
**Test device**
Dell

**Operating System**
Win10

**Browser**
Firefox

**Problem description**
For https://github.com/phetsims/qa/issues/791 in the Multi wrapper, when switching between iframes during an utterance, voicing is not interrupted. Also, if voicing had also been turned on in the second iframe, it will no longer work. I have to refresh the page to get it to work again.

**Steps to reprod

[2022-04-05 20:17] KatieWoe opened #292 "Full scene description isn't read through by swiping on Mobile VO"
**Test device**
iPad Air 2
**Operating System**
iPadOS 15.4.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/791
If swiping right to read through the scene description with Mobile VO, a large part of the scene description is skipped. It can be accessed by swiping 2 fingers up to read from the beginning.

**Visuals**

https://user-images.githubusercontent.com/4

[2022-04-05 21:04] KatieWoe opened #293 "Mobile VO book pick up instructions given in the middle of two books"
**Test device**
iPad Air 2
**Operating System**
iPadOS 15.4.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/791
When reading through instructions for the sim with mobile VO, it reads out the "button" for the book, instructions for picking up and dragging the book, then the "button" zoomed in book. It is unclear which book is being referred to in the instructi

[2022-04-05 21:42] KatieWoe opened #294 "Mobile VO isn't consistently reading alerts"
**Test device**
iPad Air 2
**Operating System**
iPadOS 15.4.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/791
The first time using Mobile VO on the phet-brand sim, when dragging the books, alerts played that described heat, particle motion, location of the book, etc. However, when trying this on the phet-io brand sim, the alerts didn't play. I went back to

[2022-04-05 22:07] KatieWoe opened #295 "Mobile VO Performance"
Performance note: on iPad with Mobile VO I was seeing a pretty large lag in the text area wrapper. While VO worked it could take the sim a second or two to catch up to inputs.

[2022-04-06 15:56] Nancy-Salpepi opened #296 "NVDA doesn't read descriptions until key is released"
**Test device**
Dell

**Operating System**
Win10

**Browser**
Firefox

**Problem description**
For https://github.com/phetsims/qa/issues/791, when a WASD key or arrow key is held down to move the book, NVDA doesn't read out any descriptions. No descriptions are read out until I release the key, but this results in many descriptions being missed.
This does not match was happens with VO or what I se

[2022-04-07 22:44] stemilymill commented on #279
On Win10 Chrome, the sim launched from studio plays the hiss when extra sounds are turned off

[2022-04-07 22:50] stemilymill commented on #296
The behavior is the same on Win10 chrome + JAWS

[2022-04-07 23:30] stemilymill opened #297 "Screen reader reads "zoomed-in" as "zoomed dash in""
For https://github.com/phetsims/qa/issues/791.

Win10 Chrome + JAWS

In the overview/description of the sim, JAWS reads "zoomed-in" as "zoomed dash in" every time the zoomed-in view is mentioned.

https://user-images.githubusercontent.com/85511101/162335162-f97793ba-425e-4f74-a191-ffd6d875e35c.mp4

<details><summary>Troubleshooting information: </summary><p>

Name: ‪Friction‬
URL: https://phet-dev

[2022-04-14 21:41] jessegreenberg opened #298 "Changes required after the addition of canAnnounceProperties"
After https://github.com/phetsims/scenery/issues/1403 changes are coming to Alerter.ts and Voicing.ts which may require implementation changes in the sim. This issue is to track and review.

[2022-04-16 00:49] jessegreenberg commented on #298
OK, this transition is done. In https://github.com/phetsims/friction/commit/379e614788c2bdbccb344696435a63d7b90b01ab the `Alerter` `Utterances` were registered to the `chemistryBookNode` because it was required to register them to a `VoicingNode` with a `voicingCanSpeakProperty`.

Later in https://github.com/phetsims/scenery/issues/1403 I added a `registerUtteranceToNode` which can link to a `voic

[2022-05-16 22:16] arouinfar commented on #251
The goal of this issue was to survey Description and Voicing strings that could be impacted by PhET-iO customization. That's been done, so I don't think we need to keep this issue open, so closing.

[2022-05-16 22:16] #251 closed

[2022-05-23 16:09] terracoda commented on #297
The screen reader is reading out the hyphen. I think this is fine as long as the button's label is otherwise correctly formatted. I think the button's label likely looks like this:

`<button>Grab Zoomed-in Chemistry Book</button>`

And that is the correct label.

@stemilymill, screen reader users have the options to adjust the amount of punctuation they hear. Many find an amount they like and get

[2022-05-23 16:12] terracoda opened #299 "Some weirdness with the Chemistry Book interaction"
On master using Safari on MacOS 12.2.1 I just noticed that the grabbing of the Chemistry book does not allow me to move up. It's always against the Physics book.

The Zoomed-in Chemistry book seems fine.

I have not done a deep dive, just noting I saw an issue.

[2022-05-23 16:14] terracoda commented on #299
The issue is with mouse input not keyboard input.

[2022-05-25 20:29] zepumph commented on #298
Awesome, thanks!

[2022-05-25 20:29] #298 closed

[2022-05-26 16:26] zepumph commented on #297
I agree, @stemilymill I'm going to close this. Let us know if you have any questions and feel free to reopen.

[2022-06-01 20:10] zepumph commented on #277
It has been a while here, but this should not be fixed. Can you please confirm. There should no longer be an interactive highlight around the entire, huge, magnifierNode, and also around the physics book (which isn't interactive either).

[2022-06-01 20:39] zepumph commented on #296
This is actually the behavior that we expect to see. I'm not sure how your results differ in VO, but in general you only get description upon the end of an interaction, not during it. It is most typical for a user to move more judiciously to receive info as they go. Can you please describe the behavior of VO, if it it seems buggy given this information?

[2022-06-03 22:09] zepumph commented on #293
We have two thought-through design decisions here. @terracoda could do a better job explaining, but I'll take a first pass:

* The instructions are purposefully in between both books precisely because it applies to both books. Rather than duplicate the info (duplication in general is quite confusing to non visual access), we put it once in a spot where it can be accessed by both spaces.
* The book

[2022-06-04 11:15] Nancy-Salpepi commented on #277
@zepumph I no longer see the interactive highlights around the entire magnifierNode or physics book in the PhET brand sim or PhET-iO standalone sim.
When I tried to turn on interactive highlights in studio, there was an assertion error which froze studio.
<img width="621" alt="Screen Shot 2022-06-04 at 7 05 22 AM" src="https://user-images.githubusercontent.com/87318828/171996605-c084ae05-eb38-49f8

[2022-06-04 11:54] Nancy-Salpepi commented on #296
@zepumph I am not hearing any responsive descriptions at all when I move the book except for "right/left". Something else must be wrong at the moment, but I don't see anything in the console.

https://user-images.githubusercontent.com/87318828/171997739-7ad27181-81ed-4814-b542-0566281cad4e.mov

[2022-06-06 16:12] #277 closed

[2022-06-06 16:45] KatieWoe opened #300 "CT cannot set state while setting state"
[code]

[2022-06-06 17:13] zepumph commented on #296
I believe that https://github.com/phetsims/utterance-queue/commit/b18b2586d0ca2bbc1db01d5bc53b40a2ae2a50b3 is the culprit.

[2022-06-06 18:57] zepumph commented on #296
That commit was NOT the cuplrit. @jessegreenberg and I investifated and bugs reported and to be fixed in https://github.com/phetsims/utterance-queue/issues/82.

@Nancy-Salpepi, marking this on hold until you can test description again.

[2022-06-06 23:11] zepumph commented on #296
Ok, we should have description back in Friction. @Nancy-Salpepi can you please take this issue from https://github.com/phetsims/friction/issues/296#issuecomment-1144112364.

[2022-06-07 00:39] Nancy-Salpepi commented on #296
@zepumph I'm still not getting any description with Friction on master (I cleared my history and am in an a private window).

[2022-06-08 14:54] terracoda commented on #293
The related issue about the the regular book is already posted in https://github.com/phetsims/friction/issues/299.

If we fix that, things should be better.

[2022-06-08 14:55] terracoda commented on #293
Just an FYI I am using iOS 15.5 now.

[2022-06-08 14:56] terracoda commented on #299
The issue exist on mobile, too. I am now using iOS 15.5 on iPhone 7.

[2022-06-08 15:15] terracoda commented on #293
I looked in the Friction design document. There are a lot of notes in there about the pros and cons of using `aria-roledescription`. These notes and the interaction and coding issues were worked out in this issue https://github.com/phetsims/friction/issues/152

I think we are using `aria-roledescription` in the Mobile grab-drag interaction whereas we might not be using it for the keyboard interact

[2022-06-08 15:23] terracoda commented on #293
@KatieWoe, could you explain what you mean by "When reading through instructions for the sim with mobile VO". I think you mean, "When reading through State Descriptions". Am I correct?

The State Description may contain explicit instructions for custom interactions like the grab-drag buttons in this sim, but generally, the State Descriptions have little to no explicit instructions for how to use a

[2022-06-08 15:26] terracoda commented on #293
@KatieWoe, does this resolve your question about why the help text is in between the book interactions and why "button" is read out? Do you have any other questions for this issue?

[2022-06-09 14:44] #293 closed

[2022-06-10 13:11] Nancy-Salpepi commented on #296
@zepumph I start to hear alerts with VO while still holding down a key. This is how VO has always behaved for me (I think). I see the same thing in John Travoltage.

https://user-images.githubusercontent.com/87318828/173071095-32039d47-0b24-41fe-94ac-98d94c28c124.mov

[2022-06-10 22:05] zepumph commented on #296
As far as I know this is just a difference between screen readers, and not something to investigate. I also poked around the internet and didn't find anything. I see that the response is making it to the screen reader (NVDA menu -> tools -> speech viewer), but then keeping the key down immediately silences it. @jessegreenberg can you confirm that this different isn't a bug? I'm happy to investigat

[2022-06-17 14:57] #297 closed

[2022-06-24 16:20] zepumph commented on #299
This is my fault, I'll solve it in Friction code, we don't need to change the aria for this issue.

[2022-06-24 16:35] zepumph opened #301 "Do we need to hear the "Move down to rub harder" hint more times than we do?"
This is mainly for description, @terracoda wanted to potentially increase that number. Right now it is only for the first quarter of shearable atoms. We tried it with half and liked that more.

[2022-06-24 16:35] zepumph opened #302 "Hint "move down to rub harder" when at top"

[2022-06-24 16:39] #302 closed

[2022-06-24 16:40] #301 closed

[2022-06-24 16:43] zepumph commented on #294
I will investigate this, @terracoda wanted to note that this happened at one point while switching tabs, but Apple seemed to fix it to her. I'll take a look.

[2022-06-24 16:50] zepumph commented on #296
@terracoda and I discussed this today, we agree this isn't a bug. @Nancy-Salpepi please note this discrepancy between screen readers. Nothing to change here. Closing

[2022-06-24 16:50] #296 closed

[2022-06-24 16:50] zepumph commented on #292
I see that the content that was skipped is all the dynamic content, which is nested in a div.

p -heard when reading line by line
div - not heard
p - heard

This seems like a voice over bug to me, we should test this as a p and see if it remains. Perhaps we will report to apple.

[2022-06-24 16:55] zepumph commented on #287
This is unfortunate, and expected. We won't have this capability until we do https://github.com/phetsims/scenery/issues/1220 (currently deferred). Closing as won'tfix.

[2022-06-24 16:55] #287 closed

[2022-06-24 16:57] zepumph commented on #282
I'll look at what the voicing string looks like and see if it is weird.

[2022-06-24 20:00] zepumph commented on #292
@jessegreenberg noted that this has occurred before, in https://github.com/phetsims/john-travoltage/issues/449

[2022-06-29 14:33] terracoda commented on #263
I think the work in https://github.com/phetsims/joist/issues/752 is working well.

At this point (June 29, 2022) there is a nice balance between what is happening in the background and any interactions the user is taking in an opened preferences dialog.

I think this issue can be closed.

[2022-07-06 23:09] kathy-phet opened #303 "Friction - Publish with PhET-iO"
Publish PhET and PhET-iO brand of Friction with MVP of a11y + PhET-iO functionality.

[2022-07-07 18:10] zepumph commented on #263
Excellent! I think so too

[2022-07-07 18:10] #263 closed, assigned to jessegreenberg, zepumph

[2022-07-07 18:11] #274 closed, assigned to zepumph

[2022-07-08 19:50] zepumph commented on #299
Duplicate with https://github.com/phetsims/friction/issues/276, fixed above.

[2022-07-08 19:50] #299 closed

[2022-07-08 19:51] zepumph commented on #276
Yes sorry about that. This was a bug from a while ago that I wasn't able to fix until right now. Using the parent offset solved this, and I also factored out the transform for the macro book to a Transform3 for clarity and documentation. Closing

[2022-07-08 19:51] #276 closed

[2022-07-08 20:28] zepumph commented on #281
Very helpful bug report. The regression was in the little bumps on the background blue. Should be fixed, please confirm and feel free to close.

[2022-07-08 20:56] zepumph commented on #285
Yes I agree this is confusing. It is best to just toggle `friction.frictionScreen.view.atomicView.atomDragArea.inputEnabledProperty
`, and then the keyboard interaction for the atomicView drag area also turns off, see https://github.com/phetsims/scenery-phet/issues/720. I made it the same way with the `friction.frictionScreen.view.topBookNode.inputEnabledProperty` controlling the macro grabDragInt

[2022-07-08 20:58] zepumph commented on #300
Duplicate of https://github.com/phetsims/phet-io-wrappers/issues/441. Fixed over there and out for review.

[2022-07-08 20:58] #300 closed

[2022-07-08 21:00] zepumph commented on #290
This is true, but it is expected, it is still worth customizing the text, and this amount of synchronous updates is what we will continue to strive for with voicing/description + PhET-iO, but not in Friction.

[2022-07-08 21:00] #290 closed

[2022-07-08 21:12] zepumph commented on #289
Yes, what you experienced is indeed a bug, I can reproduce it on the dev version link you gave, but master seems to have it fixed. Can you confirm on master and feel free to close?

[2022-07-08 21:24] zepumph commented on #291
This is expected behavior. We don't have a lot of control over this because the browser just has one web audio client. I also feel like this isn't too high of a priority since most sims will be used on their own. Closing

[2022-07-08 21:24] #291 closed

[2022-07-08 21:37] arouinfar commented on #285
Sounds good to me @zepumph.

[2022-07-08 21:57] zepumph commented on #284
When I reproduce these steps, I get an assertion:

`Assertion failed:  must be connected to a display to use UtteranceQueue features`

It looks like the VoicingPanelSection is not a connected Node at this time. Thanks for the bug report. I'll investigate.

[2022-07-08 21:58] zepumph commented on #284
Simple case to reproduce what I see:

* Open state wrapper
* in upstream open the preferences dialog
* After state has been set, put set state rate to 0
* in downstream, open preferences dialog and turn on voicing.

[2022-07-08 22:16] zepumph commented on #284
Ahha! I know the problem. We aren't disposing much of the voicing code, so when setting state, which destroys the old preferences dialog, it still keeps listeners linked to the audioModel Properties that will trigger voicing/description when those Properties changes. This explains why you heard voicing repeat (once for each dialog that had been created each time state was set), and why I had an as

[2022-07-08 22:25] zepumph commented on #284
I looked through all usages of `link` in the preferences code and didn't see any other listeners conducting voicing/description or other outside listening that were not getting unlinked in dispose calls. Over to you @jessegreenberg.

[2022-07-08 23:14] zepumph commented on #285
Perfect. Above I fixed GFL as well, which actually didn't have inputEnabled instrumented (in a buggy way) even though we wanted it, and we were passing the option through. I fixed it above!

[2022-07-08 23:14] #285 closed

[2022-07-10 13:04] Nancy-Salpepi commented on #281
Looks good! Closing.

[2022-07-10 13:04] #281 closed

[2022-07-11 15:24] arouinfar opened #304 "phetioFeatured overrides"
Related to #303

The PhET-iO design was reviewed in #75 however, this sim still needs `phetioFeatured` overrides before publication, so self-assigning.

[2022-07-11 15:26] arouinfar opened #305 "Create examples.md"
Related to #303

We're nearing publication, so this sim will need client guides. I plan on first addressing general client guide issues in https://github.com/phetsims/phet-io-sim-specific/issues/3 before doing any sim-specific work.

[2022-07-15 15:30] zepumph commented on #282
I can't seem to load the sim on my iPad right now, but my best guess here is that it has to do with when we use <br> tags in RichText.

[2022-07-15 15:39] zepumph commented on #286
I couldn't reproduce this with windows/chrome/nvda. I'll need to solicit a mac user.

[2022-07-15 15:40] KatieWoe commented on #278
It's still happening in master. I didn't see a console error there either.

[2022-07-15 15:45] zepumph opened #306 "Cooling sound plays after setting state"
Even when extra sounds are not turned on, setting state triggers the playing of this sound. I'll investigate.

[2022-07-15 20:24] zepumph commented on #283
@jessegreenberg and I couldn't reproduce this issue in 15 minutes on a mac 11.6 + safari 15.2. We feel ready to close given our current level of support for voicing + phet-io. Thanks for the report.

[2022-07-15 20:24] #283 closed

[2022-07-15 22:04] jessegreenberg commented on #286
I was able to reproduce this problem with MacOS 11.6.2 Safari. I tried a basic HTML + js example but could not get this to happen.

index:
<details>

[code]
</details>

content:

<details>
[code]
</details>

I tried
- aria-live="polite" and aria-live="assertive" to see if one caused it.
- Using the platform workarounds we have in AriaLiveAlerter in our example, so my content.html looks like

<deta

[2022-07-16 11:57] terracoda commented on #294
It would be good to investigate a little bit across sims just to see if there is something different about Friction.

It would be nice to verify if this is happening in a native common-code interaction, a custom common-code interaction, or a Friction-specific interaction, or all interactions. I am not sure if Friction has a Friction-specific interaction (i.e., the books). I think that grab and dra

[2022-07-18 05:34] emily-phet commented on #294
Insightful, as always @terracoda. I was just wondering, would QA currently know enough about the custom vs native interactions as we think of them in PhET sims to be able to recognize the need to consider these in QA testing generally? If not, this might be useful to point out to them. For example, recognizing when a bug is happening with a custom interaction, and checking if the same issue happen

[2022-07-25 17:56] arouinfar commented on #304
`phetioFeatured` overrides added in the commit above. Everything looks good in master, closing.

[2022-07-26 18:00] zepumph commented on #306
Over in https://github.com/phetsims/joist/issues/744 I made the extraSoundsEnabledProperty not stateful, and it seemed to fix this bug. Closing

[2022-07-26 18:00] #306 closed

[2022-07-26 18:03] zepumph commented on #294
Everything is native except the dragging of the book. The grabbing of the book and rest all are both native buttons. Likely this is happening within the application role (dragging the book), but it doesn't necessarily mean that this is causing that. I'll take a look

[2022-07-26 18:05] zepumph commented on #289
Just a ping here as we move toward next QA test. Feel free to close.

[2022-07-26 23:00] zepumph commented on #286
@jessegreenberg and I discussed this a bit more. We don't see any potential workarounds, and we don't think it is worth spending more time reproducing the issue at this time. This does not block Friction.

[2022-07-26 23:01] zepumph commented on #279
This has been fixed by removing the "extraSoundsEnabledProperty" from state. Can you please confirm this is fixed on master and feel free to close.

[2022-07-26 23:10] zepumph commented on #304
I had just one question about this work.

Regarding:

https://github.com/phetsims/friction/blob/186a9079b14cef8a353987962f60443ec201fa3c/js/friction-phet-io-overrides.js#L49-L51

You had to opt out here because in a class called `EnabledProperty` we set phetioFeatured to default to true. Would you like me to set phetioFeatured: false as the default for the grab drag interaction's enabledProperty?

[2022-07-26 23:11] zepumph commented on #278
Sam has a mac, and I solicited his help here. Thank you!

[2022-07-26 23:25] samreid commented on #278
I tested Safari Version 15.2 (17612.3.6.1.6) on MacOS Monterey 12.1, and launched https://phet-dev.colorado.edu/html/friction/1.6.0-dev.24/phet-io/wrappers/studio/ then pressed "preview sim" then moved the book and went back to studio. Everything continued to behave as expected.

[2022-07-26 23:27] zepumph commented on #278
@Nancy-Salpepi can we please schedule some time to pair on this. I think next steps would be to try to reproduce on the original machine. Thanks for testing @samreid!

[2022-07-27 00:05] Nancy-Salpepi commented on #278
Sure @zepumph! I am around tomorrow. Let me know what works for you.

[2022-07-27 15:57] zepumph commented on #304
- [ ] Furthermore, are we ready to mark this as phetioDesigned true? I think all has been done with that.

[2022-07-27 16:59] arouinfar commented on #304
Yes, that would be great! I unfeatured `grabDragInteraction.enabledProperty` because it is read-only and listens to the `inputEnabledProperty` (which is featured).

Yes, I think so.

[2022-07-27 18:25] stemilymill commented on #289
(on master) There is now an indication of checking/unchecking the box, but now there is also repetition.
https://user-images.githubusercontent.com/85511101/181342022-c024fca9-7649-4325-884f-a6824fceca7a.mp4

[2022-07-27 18:59] zepumph commented on #289
That seems like the name + object reponse on selection. @terracoda can you please confirm that as the correct design here?

[2022-07-27 19:05] #304 closed

[2022-07-27 20:25] samreid commented on #278
I was not able to reproduce this problem or https://github.com/phetsims/gravity-and-orbits/issues/421 on Safari Version 15.2 (17612.3.6.1.6) on MacOS 12.1.

I was able to reproduce this on my iPad 15.5 and iPhone 15.4.1.  After updating both to 15.6, I am not able to see the problem any more on either of those devices after many tests.  I also updated my macOS to get Safari 15.6 and still cannot s

[2022-07-27 20:47] Nancy-Salpepi commented on #278
@samreid I will update everything now and see if I can reproduce.

[2022-07-27 21:11] samreid commented on #278
@marlitas tested on Safari 15.5 and saw the problem twice (at about 4 seconds each).

[2022-07-27 21:51] Nancy-Salpepi commented on #278
@samreid After updating to Safari 15.6 I wasn't able to produce the problem (0/4), even with clearing history each time.

[2022-07-27 22:14] zepumph commented on #278
Awesome! Thanks for the hard work everyone.

[2022-07-27 22:14] #278 closed

[2022-07-28 13:53] terracoda commented on #294
I got responses fine on my iPhone 7 (iOS 15.5) the first time around, but when I returned again, VO would just read the State Descriptions - no Responsive Descriptions.

I tried Reset All, refresh, restarting VO, and could not get responses to come back.

I then shut off my phone and when I restarted my phone, I first cleared Safari's History and Website Data in Settings. Then loaded phettest, did

[2022-07-28 13:56] terracoda commented on #294
@KatieWoe, do you mind doing a bit more testing to see if a clearing history and website data works for you, or if both a shutdown/restart and the clearing of website data are both required?

I am just wondering if the experience is better if students know they first need to clear their history and website data.

[2022-07-28 13:57] terracoda commented on #294
I removed block publication, since I was able to get responses going again. Is that ok by everyone?

[2022-07-28 14:10] terracoda opened #307 "Hear hints to use keyboard in drag/grab interactions on first grab when using mobile VO"
While investigating #294, I found that on the first grab of either book interaction, I got a rubbing hint that included pressing hot keys (A & D for the regular book and WAS&D for the zoomed-in book).

I think there should be an option (already implemented in common-code) to use a mobile-specific hint once a grab/drag interaction is activated on mobile. Or possibly there is no mobile specific hint

[2022-07-28 14:22] terracoda opened #308 "Dynamic scene summary paragraph temporarily disappears early in exploration"
While testing #294, I noticed that the the dynamic part of the Scene Summary, the paragraph that describes the state of the sim was missing sometimes.

The disappearance happened early in my exploration, but it eventually came back. This happened twice.

I suggest the following steps to reproduce:
1. open sims read through pdom once
2. grab book, and rub until some atoms break away
3. re-read from

[2022-07-28 14:23] terracoda commented on #308
I am not putting blocks-sim-publication on this one because the description did come back after more interaction. I hope everyone is okay with that. Feel free to add blocking label if that is required.

[2022-07-28 17:47] jessegreenberg commented on #294
Noting that I made a very simple HTML example for a different issue (https://github.com/phetsims/a11y-research/issues/175) and iOS VoiceOver often failed to announce any alerts, indicating that this is an Apple problem.

<details>

[code]
</details>

[2022-07-28 18:08] KatieWoe commented on #294
Clearing history for colorado edu seemed to work for me.

[2022-07-28 22:36] KatieWoe commented on #279
It seems fixed on master. I wasn't able to replicate it on Win 11 chrome. Will reopen if it shows up again.

[2022-07-28 22:36] #279 closed

[2022-07-28 23:57] jessegreenberg commented on #308
I am pretty sure this is the same as #292, @terracoda can you confirm?

[2022-07-29 00:01] jessegreenberg commented on #292
I tried to get to the bottom of this in https://github.com/phetsims/a11y-research/issues/175 but did not succeed. I don't see anything in the PDOM that should be causing this. But I was not able to produce the bug outside of a PhET sim so it may be a problem with our infrastructure. But I feel like I have exhausted everything we can try.

I would recommend we add this to the list of known AT issue

[2022-07-29 00:08] jessegreenberg commented on #295
I have an iPad Air 2 (I think the oldest generation PhET supports) and VoiceOver with Friction had reasonable performance while I tested for a different issue. There were a couple of big dips in the framerate, but considering the user typically isn't using a graphical display in this situation I think it is good enough for publication.

That being said I am not quite sure what the text area wrappe

[2022-07-29 00:36] zepumph commented on #308
Yes, I agree.

[2022-07-29 00:47] terracoda commented on #308
I agree, too. Apologies for the duplicate issue.

[2022-07-29 00:47] #308 closed

[2022-07-29 14:04] terracoda commented on #289
Sorry, folks, the checkboxes in the Preferences menu are special and do not behave like check boxes in the actual sims.

It would be good if the common code for the Preferences menu (once it is created, if it is not created already) notes this difference.

Basically, because the preferences checkboses have to fully describe their function, their names are really long, so the context responses are

[2022-07-29 14:33] terracoda commented on #289
@zepumph, for these checkboxes, you want them implemented like they are explained in the [Preferences design doc ](https://docs.google.com/document/d/1Qu3U8IsFYn486oJUzQ71BXs_lBKZTVS5NVdLJlTK7gw/edit?usp=sharing).
- For keyboard: long name on focus, then appropriate context response on toggle.
- For mouse/touch: appropriate context response upon toggling the check box.

[2022-07-29 15:01] terracoda commented on #294
That's great @KatieWoe. Thanks for testing.
At least we have a known work around for learners since it seems like we won't be able to address this issue before publication.

[2022-07-29 15:02] terracoda commented on #294
@jessegreenberg, also validated HTML and nothign seems to be wrong there.

[2022-07-29 18:07] terracoda commented on #294
@zepumph, I think the best approach might be to mark this as a platform bug.

[2022-08-01 13:33] jessegreenberg commented on #292
The problem was identified in https://github.com/phetsims/a11y-research/issues/175 and we decided not to apply a workaround. A bug report will be submitted to Apple and this has been added to the list of known AT problems.

[2022-08-01 13:47] BLFiedler opened #309 "Update Teacher Tips for Friction publication"
As noted in https://github.com/phetsims/tambo/issues/143, the Teacher Tips doc needs the Enhanced Sounds phrasing updated to Extra Sounds. The document also needs a new screenshot that includes the Preferences menu icon.

Also, we will need to update the A11y View link in the Interactive Description section under the Inclusive Features header. To do this we provide the bayes link of the published

[2022-08-01 15:28] BLFiedler commented on #309
Updated. Files uploaded to Friction HTML5 Gdrive folder. Will push to the website when publication is finalized.

[2022-08-05 18:16] zepumph commented on #294
@terracoda, @emily-phet and I feel like since this is similar to the types of problems that screen reader users encounter, and that clearing history worked to fix this, we will close this issue.

We will work on collecting a central spot to document "tips" for when our users run into these sorts of items (for example for teachers to better support their students using description).

@terracoda wil

[2022-08-05 18:16] #294 closed

[2022-08-05 18:17] zepumph commented on #292
Agreed! Thanks for investigating.

[2022-08-05 18:17] #292 closed

[2022-08-05 18:24] zepumph commented on #289
@terracoda described the issue to me today. We don't want name responses spoken with the context responses for these checkboxes. The issue is that these are different than normal common code.

https://github.com/phetsims/joist/blob/e66dd022d515e057731fe4f7d34feb56742c1bbf/js/preferences/VoicingPanelSection.ts#L308-L330

Regression was when adding voicing to checkbox in https://github.com/phetsims/

[2022-08-05 18:30] zepumph commented on #286
@terracoda, @emily-phet, and I think we should create a bug report for this. If any of our third-party embedder of PhET sims reach out with this issue, we can recommend directly using the sim from our website (a bad workaround, but potentially possible).

[2022-08-16 17:35] zepumph commented on #289
Alright good deal. Implemented above. Please review. I no longer hear the name response with these checkbox context responses.

[2022-08-17 18:26] terracoda commented on #289
The Extra Sounds checkbox also needs to be fixed. The name is part of the context response, so there should be no repetition of the name response. Ideally, this should be the case for all checkboxes in the Preferences dialog, but I do not want to say all as we will have new ones coming in new sims (e.g., RaP's Camera Input option). I'll have to look at those again.

Just so we understand why this

[2022-08-17 18:26] terracoda commented on #289
@zepumph, please adjust the Extra Sounds checkbox, too.

[2022-08-19 16:31] zepumph commented on #289
Done! Thanks for the review.

[2022-08-19 16:31] #289 closed

[2022-08-24 16:15] KatieWoe opened #310 "CT Designed API changes detected, please roll them back or revise the reference API"
[code]

[2022-08-26 17:40] zepumph commented on #310
Fixed now

[2022-08-26 17:40] #310 closed

[2022-08-26 19:47] zepumph commented on #282
I just tried this on iPad os 15.6 and couldn't reproduce. @Nancy-Salpepi do you mind double checking on your end? Feel free to close.

[2022-08-26 20:12] Nancy-Salpepi commented on #282
@zepumph I can still reproduce this on my MacBook Air (macOS 12.5.1 + Safari 15.6.1) and on my desktop (macOS 10.15.7 + Safari 15.6.1).
I was not able to reproduce this issue on the iPad either.

[2022-08-26 20:54] zepumph commented on #307
Looks like we just never created touch/gesture hints for this case. You are right they are only on the first grab. "Subsequent" grabs after successfully making friction won't have this.

I took a first pass at them, please review and let me know what actual strings you want here:

https://github.com/phetsims/friction/blob/6c1d0b5029303b62ef0eab12ab64c5fbcf57ab4b/friction-strings_en.json#L42-L53

[2022-08-26 20:56] zepumph commented on #295
The text area wrapper is already notoriously bad performance, even on powerful machines because of the amount of text from the data stream we are rendering into an HTML textarea. Thanks @jessegreenberg, I think we are ready to close. I just played with friction on my iPad os version 15.6 and it was pretty good. Thanks all!

[2022-08-26 20:56] #295 closed

[2022-08-26 21:01] zepumph commented on #266
None of the above videos seemed like a bug to me. I think it is reasonable that you could hear one or both of the responses depending on how things end up in the queue. I don't think it is worth looking into this edge case any more. I'm going to close. Please reopen if you feel differently.

[2022-08-26 21:01] #266 closed

[2022-08-26 21:02] zepumph commented on #284
Ping here as we move towards a dev version in the next few days.

[2022-08-29 21:22] jessegreenberg commented on #286
We came back to this today and tried not to
@jessegreenberg on a Mac 11.6.2 - Could not reproduce this (tested on https://phet-dev.colorado.edu/html/john-travoltage/1.6.4/phet/john-travoltage_all_iframe_phet.html)
@chrisklus on a Mac 10.13.6 Safari 13.1 - Tested (https://phet-dev.colorado.edu/html/john-travoltage/1.6.4/phet/john-travoltage_all_iframe_phet.html)
@Nancy-Salpepi on a Mac 12.5.1, Safa

[2022-08-29 21:32] jessegreenberg commented on #286
We got it to happen on my machine in the most basic case by doing the following:
- Go to https://phet-dev.colorado.edu/html/jg-tests/iframe-tests/basic/.
- Enter the iframe with the virtual cursor and read the first heading in the content.
- If the aria-live element changes while you are reading the heading with a virtual cursor you will hear the alert content twice.

[2022-08-29 21:35] jessegreenberg commented on #286
This is about as simple as it gets for aria-live we are ready to submit this example to Apple as a bug report. Since it is outside of our hands we will also make sure it is in the list of known platform issues.

[2022-08-29 22:15] zepumph commented on #286
Thanks so much to @jessegreenberg @Nancy-Salpepi and @chrisklus for helping to investigate this bug. We couldn't have done it without you all. I'm going to close this issue as a won'tfix knowing that an apple bug report will be given for https://github.com/phetsims/a11y-research/issues/177.

Closing

[2022-08-29 22:15] #286 closed

[2022-08-29 22:18] zepumph commented on #282
We found that our voicing code was incorrectly replacing a `<br>` tag with nothing, where instead it should have been adding a space to things. Solved above in https://github.com/phetsims/utterance-queue/commit/2c543b0d42d657b48f98690e6530ad69d9c68157. @Nancy-Salpepi can you please confirm things are fixed and feel free to close.

I also wanted to note that we were able to reproduce the bug with t

[2022-08-30 00:03] Nancy-Salpepi commented on #282
Looks good in master. @zepumph I will add a line in the QA book about noting the voice used when making issues and will mention at QA meeting tomorrow.

[2022-08-30 00:03] #282 closed

[2022-08-31 16:58] zepumph commented on #307
@terracoda and I discussed. We feel good about the above description. Closing.

[2022-08-31 16:58] #307 closed

[2022-08-31 17:11] terracoda commented on #307
The hints sound great on mobile VO! Awesome work! Thanks!

[2022-08-31 18:02] zepumph opened #311 "Issues blocking friction"
I'm not sure about these, but I thought I'd note them here:

* https://github.com/phetsims/utterance-queue/issues/75
* https://github.com/phetsims/utterance-queue/issues/74
* https://github.com/phetsims/joist/issues/846
* https://github.com/phetsims/joist/issues/850
* https://github.com/phetsims/joist/issues/851
* https://github.com/phetsims/joist/issues/852
* https://github.com/phetsims/joist/iss

[2022-08-31 18:04] zepumph commented on #311
@emily-phet, it isn't clear if the above two issues are blocking, will you let me know?

[2022-09-23 21:05] jessegreenberg commented on #284
Thank you for explaining in https://github.com/phetsims/friction/issues/284#issuecomment-1179401719, I understand. Disposal code looks good. I found several other places under joist/Preferences that I verified were leaking memory in the state wrapper (Usages of soundManager, Multilinks, other Properties that were not owned by the file). They were patched in https://github.com/phetsims/joist/commit

[2022-09-23 21:05] #284 closed

[2022-10-06 20:35] zepumph opened #312 "Double check on dynamic layout for localization in the preferences"

[2022-10-06 20:37] zepumph commented on #312
Double check on the grab drag interaction string.

[2022-10-07 18:50] arouinfar commented on #312
@zepumph it looks like `model.strings.sceneryPhet.key.toGrabOrReleaseStringProperty` is associated with this interaction hint. Editing this property in Studio does not actually change the string in the sim, though.
![image](https://user-images.githubusercontent.com/8419308/194625599-528d68e2-8d45-4778-9894-186e0727db4a.png)

I spent some time customizing the preferences strings. Generally everythi

[2022-10-07 21:37] zepumph commented on #312
Right! Here is how it looks with a max height of 100 (lines wrap at 300):
![image](https://user-images.githubusercontent.com/6856943/194651199-e56324df-dc89-4cc2-94f3-52482d045639.png)

![image](https://user-images.githubusercontent.com/6856943/194651212-f14de6a3-4ebc-485e-8520-8369ce91dc9b.png)

I added spacing to the HBox:
![image](https://user-images.githubusercontent.com/6856943/194653994-0c88

[2022-10-07 22:15] arouinfar commented on #305
@zepumph I created examples.md in the above commit. Everything looks good, so closing.

[2022-10-07 22:15] #305 closed

[2022-10-07 22:16] arouinfar commented on #312
Those both look good in master, thanks!

Good to know! Thanks for the clarification, I'll keep that in mind.

Anything else to do here?