[2013-11-01 23:35] jbphet opened #1 "Grab point should be retained to make it easier to rub books together"
When the user grabs the magnified book (yellow) with the mouse and slides it down, then moves the mouse back up, the book moves up immediately.  This makes it challenging to keep the books pushing against one another.  In the original simulation, the top book doesn't move back up until the user reaches the point at which the book was originally grabbed.

Can be reproduced in this version:
http://w

[2013-11-01 23:45] jbphet opened #2 "Initial temperature indication should be higher"
The thermometer shows the liquid as being completely within the bulb at room temperature, which is when the simulation is loaded and when the books are allowed to cool off after being rubbed together.  This is too low.  In the original simulation, the liquid was roughly 10% of the way up the shaft at the minimum.  For this version, let's make it be just above the second tick mark for now.

Can be

[2013-11-01 23:49] jbphet opened #3 "Slow performance on iPad"
Particles move much more slowly on iPad than on desktop, and motion doesn't keep up when dragging the books back and forth quickly.

Tested on iPad 2, iOS6, with this version:
http://www.colorado.edu/physics/phet/dev/html/friction/0.0.0-dev.1/friction_en.html

[2013-11-01 23:55] jbphet opened #4 "Molecules get very hot if books in contact and skewed during reset"
To duplicate, move the top book far to the left and then down as far as it will go (see screenshot below), then hit the reset button.  The top book returns to the original position, but the atoms are very hot.

![friction-book-way-over-hot-atoms-on-reset](https://f.cloud.github.com/assets/3082831/1458024/f6f5d6c8-4350-11e3-8821-f8e37ae1cc3a.png)

Easily duplicated on this version:
http://www.color

[2013-11-02 00:03] jbphet opened #5 "Top book can be moved too far up"
If the user grabs the top book in the non-magnified region and attempts to move it upwards, the book can be moved to the point where it is hidden behind the magnified region (see screenshot).  The range of vertical motion should be limited such that the book can't be moved past the point where the lowest molecules are shown in the magnified region (see 2nd screenshot).

![friction-with-top-book-mi

[2013-11-02 00:08] jbphet opened #6 "Molecules in the books can be made to overlap"
If the user continues to pull down on the top book and moves it rather gently, the molecules can be made to overlap.  This is incorrect and should be prevented.  The original simulation prevented this from happening.

![friction-overlapping-molecules](https://f.cloud.github.com/assets/3082831/1458070/f41ed90c-4352-11e3-8c7d-394b5d40068d.png)

[2013-11-02 00:13] jbphet opened #7 "Rubbed off molecules moving through other book"
This may be related to #6.  When the books are rubbed together to the point where some of the yellow molecules are rubbed off and fly away, some of them are moving through the green book (see screenshot below).  Since the green book is solid, this shouldn't happen - the rubbed off molecules should only leave through the white area between the books.

Can be duplicated using this version:
http://ww

[2013-11-02 00:18] jbphet opened #8 "Chemistry book should be on top"
The chemistry book should be on top of the physics book, as shown in the spec and the original simulation.  This might seem like an arbitrary choice, but it was done intentionally, since physics is the foundation of chemistry.

[2013-11-07 14:55] #6 closed, assigned to nobody

[2013-11-07 14:55] #7 closed, assigned to nobody

[2013-11-07 14:55] #8 closed, assigned to nobody

[2013-11-08 07:49] #2 closed, assigned to nobody

[2013-11-08 09:10] #5 closed, assigned to nobody

[2013-11-08 12:08] #1 closed, assigned to nobody

[2013-11-08 12:15] #4 closed, assigned to nobody

[2013-11-09 00:28] jbphet opened #9 "Books overlap too much when molecules rubbed away"
When all the molecules are rubbed away in the magnified area, the books end up having too much overlap.  The molecules in the magnified area are meant to represent a little burr or nub on the surface of the book, so the books should only be a little closer together when the burr has been rubbed off.  Please see the two screenshots below.  The HTML5 sim should match the behavior of the Flash sim in

[2013-11-09 00:34] jbphet opened #10 "Code review #1"
This ticket is a collection area for code review comments.  Also, the code will be annotated with comments that say "//REVIEW" in places that require changes or additional documentation, and the associated commits will reference this ticket.

[2013-11-09 00:40] jbphet opened #11 "Add credits"
Need to add credits.

[2013-11-10 10:51] #9 closed, assigned to nobody

[2013-11-15 00:07] #11 closed, assigned to nobody

[2013-11-15 00:15] jbphet opened #12 "Make individual particles un-pickable and have a rectangle that covers the general area"
This is an optimization, and was first suggested in #3.  Implementing this feature should also make it a bit easier for users to interact with the simulation in a touch environment.  For the first round of this, please add a rectangle behind the yellow particles, make it the same color as the background so that it is essentially invisible, and make it pickable.  Dragging this rectangle should move

[2013-11-15 08:52] #12 closed, assigned to nobody

[2013-11-18 23:34] jbphet opened #13 "Use inherit to add functions to prototype, return the inherit call"
This arose as part of the code review, see #10.

There are several locations in the code where objects that inherit from another are not using the inherit capability of adding functions on the prototype.  PhET would like this to be used for consistency.  So, for example, instead of:

  inherit( Node, Atom );

  Atom.prototype.getYrange = function() {
    var model = this.model;
    return model.di

[2013-11-19 11:09] #13 closed, assigned to nobody

[2013-11-20 22:16] #10 closed, assigned to nobody

[2013-11-21 23:41] jbphet opened #14 "Temperature should go up slower and down faster"
The current temperature behavior is significantly different from the original simulation.  The temperature should go up more slowly and down more quickly, as it does in the original simulation.

[2013-11-25 20:39] jbphet opened #15 "Add a range limit so that edges of book never appear in magnifier"
Basically, we want to limit the book movement so that the situation shown in the screen shot below doesn't occur.  This was suggested in last week's review meeting.

![friction-book-edge-in-magnifier](https://f.cloud.github.com/assets/3082831/1616768/945296b8-5611-11e3-9365-ca6ab38d12d4.png)

[2013-11-25 22:55] #15 closed, assigned to nobody

[2013-12-04 16:54] jbphet opened #16 "Atoms should evaporate in random order from a given row"
Atoms should evaporate (i.e. be rubbed off) in random order rather than in an orderly right-to-left fashion as they do in the current version.

This issue was raised by @ariel-phet and can be seen on this version:
http://www.colorado.edu/physics/phet/dev/html/friction/0.0.0-dev.5/friction_en.html

This is an enhancement request, since this behavior matches the original sim.  It's just less noticea

[2013-12-05 17:22] jbphet opened #17 "Atoms vibration motion should be greater"
@dubson, the original author of the Flash version of this simulation, reviewed the functionality of version 0.0.0-dev.5 (see http://www.colorado.edu/physics/phet/dev/html/friction/0.0.0-dev.5/) and had this to say:

"[I]t looks to me like the amplitude of the jiggling is not large enough when the temperature is high.  When the Temp is high, those atoms should be jiggling so much they are starting

[2013-12-13 20:17] ycarpenterphet opened #18 "Bottom of thermometer missing in Firefox"
Test device: Macbook Pro

Operating System: OSX 10.9

Browser: Firefox 26.0

Problem description: Black outline missing from bottom of thermometer

Steps to reproduce: Occurs anytime sim is opened.

Severity: Low?

Screenshots:
![screen shot 2013-12-13 at 1 09 10 pm](https://f.cloud.github.com/assets/4682895/1745745/2a913c86-6433-11e3-949e-02316d7c8b69.png)

![screen shot 2013-12-13 at 1 16 44 pm]

[2013-12-13 20:26] ycarpenterphet opened #19 "Sometimes opens with black background areas in Chrome"
Test device: Macbook Pro (Retina, 2013)

Operating System: OSX 10.9

Browser: Chrome 31.0.1650.63

Problem description/steps to reproduce: When sim is initially opened, a black background/fill appears. Usually this black fill disappears almost immediately (1 s?), but sometimes remains for longer.

Severity: ?

Screenshots:
![screen shot 2013-12-13 at 1 08 43 pm](https://f.cloud.github.com/assets/4

[2013-12-13 20:43] learnthinkteach opened #20 "Reset button is noticeably smaller than in other sims"
Test device: iPad2

Operating System: iOS7

Browser: mobile safari 7

Problem description: The reset all button is much smaller than in other html5 sims.  Compared to Beer's Law Lab, it might be close to half as big.

Steps to reproduce: open another sim and compare button size.

Severity: superficial, does not affect performance

Screenshots:
![image](https://f.cloud.github.com/assets/5091998/174

[2013-12-16 19:09] orejolaphet opened #21 "Motion of released particles remain at a constant distance from chemistry book."
I spoke with @ariel-phet and was told to make note of this "issue". Partially a physics question as well.

I notice that for a particle released they remain at a relatively constant distance from the surface of the Chemistry book. That is; if you release particles from the surface of the Chemistry book then right away move the book to the top and bottom of the screen, the particles path of motion

[2013-12-18 17:04] #17 closed, assigned to nobody

[2013-12-18 17:04] #16 closed, assigned to nobody

[2013-12-18 17:05] #14 closed, assigned to nobody

[2013-12-18 17:05] #3 closed, assigned to nobody

[2013-12-19 21:13] #19 closed, assigned to nobody

[2013-12-20 01:29] #18 closed, assigned to nobody

[2013-12-20 19:44] oliver-phet opened #22 "Weird yellow phantom atoms on right side of sim."
![friction 1 0 0-rc 2 - mozilla firefox_-12-20_12-41-34](https://f.cloud.github.com/assets/5090275/1793242/077a5080-69af-11e3-9dc0-4b2652b793f1.png)
![friction 1 0 0-rc 2 - mozilla firefox_-12-20_12-41-24](https://f.cloud.github.com/assets/5090275/1793243/0787645a-69af-11e3-83d2-ae53fb67c75b.png)

Troubleshooting information (do not edit):

Name: Friction

URL: http://www.colorado.edu/physics/phet

[2013-12-20 23:06] #20 closed, assigned to nobody

[2013-12-20 23:57] pixelzoom opened #23 "cover of 'Physics' book is not interactive"
The spine and pages of the 'Physics' book can be dragged, but not the front cover. Any reason why?

Test device: MacBookPro5,3
Operating System: Mac OX X 10.8.5
Browser: Safari 6.1.1
Problem description: see above
Steps to reproduce: try to drag the 'Physics' book by its front cover
Severity: minor
Screenshots: N/A

Troubleshooting information (do not edit):
Name: Friction
URL: http://www.colorado

[2014-01-06 16:14] #22 closed, assigned to nobody

[2014-01-06 18:53] #23 closed, assigned to nobody

[2014-01-06 19:10] #21 closed, assigned to nobody

[2014-06-19 22:25] orejolaphet opened #24 "The dot in the "i" in "Physics" can fit in to the box that is being magnified."
Spoke with @ariel-phet possible fix for re-release.
![image](https://cloud.githubusercontent.com/assets/5631059/3334487/99fffc18-f800-11e3-91c8-5f9390a02b01.jpg)

[2014-08-19 18:19] pixelzoom opened #25 "view should set its layoutBounds based on model"
The view depends on having the same bounds as the model, but it's not setting it's bounds based on the model. It's relying relying on the fact that the default happens to be the same as what's provided to model. This is brittle and liable to break in the future.

Line 22 of FrictionView should be:

ScreenView.call( this, { renderer: 'svg' , layoutBounds: new Bounds2( 0, 0, model.width, model.heigh

[2014-08-21 23:22] #25 closed, assigned to nobody

[2014-08-22 22:22] #24 closed, assigned to orejolaphet

[2014-08-25 15:33] jbphet opened #26 "Use an icon instead of the phrase 'rub atoms"
During testing of 1.1.0-rc.1, @patricialoeblein expressed distaste for the 'Rub Atoms' prompt and suggest that an icon would work better.  @ariel-phet created a simple icon.  Below are screenshots of the original and a mockup of a version that uses an icon instead.

Current:

![friction-old-caption](https://cloud.githubusercontent.com/assets/3082831/4032173/8a957aea-2c6d-11e4-93cb-1e5ed0f40074.png

[2014-09-02 02:30] #26 closed, assigned to jbphet

[2015-01-16 22:10] pixelzoom opened #27 "directory structure violates PhET convention"
Source-code directory structure for a 1-screen sim should look like this:

[code]

[2015-08-06 23:18] jbphet commented on #27
fixed, closing

[2015-08-06 23:18] #27 closed

[2015-09-29 17:32] orejolaphet opened #28 "Can drag chemistry book out of play area on iPad"
I noticed it is possible to drag the chemistry text book out of the magnified play area while the iPad is in landscape mode. This is a minor issue as one can use the reset button.

To reproduce:
Remove all particles off of the text book
Drag textbook to the top left hand of the screen
You will lose the touch area and cannot drag the text book back

Troubleshooting information (do not edit):
Name:

[2015-10-12 21:28] jbphet opened #29 "redeploy to support translation"
This simulation needs to be redeployed in support of translation.  Here's the checklist of actions that need to be performed:

**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://github.com/phet

[2015-10-20 22:52] jbphet commented on #28
fixed, closing

[2015-10-20 22:52] #28 closed

[2015-10-20 22:54] jbphet opened #30 "strings aren't scaled to fit on books"
The long string test fails, looks like this:

![friction-string-issue](https://cloud.githubusercontent.com/assets/3082831/10623300/341c4764-774b-11e5-83e0-e0d863c6e87a.png)

[2015-10-21 16:19] bryo5363 opened #31 "Strange performance on Microsoft Edge"
Test device: Acer Aspire R13 (Bryan's personal computer)

Operating System: Windows 10 64 bit

Browser: Microsoft Edge 20.10240.16384.0

Problem description: The sim does not function properly on this browser. The temperature bar will turn black when contact is made and the particle alignment is compromised when resetting the sim

Steps to reproduce:
1) open sim
2) drag book. the temperature bar w

[2015-10-21 16:33] ariel-phet commented on #31
@jbphet - this seems odd...

[2015-10-21 16:34] ariel-phet commented on #31
@jonathanolson - you might want to take a peek at this issue as well

[2015-10-21 18:42] jbphet commented on #31
I am able to duplicate on the Dell Studio XPS that was upgraded to Windows 10.  I've done a couple of experiments, and it appears that the problem is related to the clip area.  Removing the clip area entirely makes the problem go away, but it also makes it so that the liquid in the thermometer keeps going well above the top of the thermometer.  We could probably make a workaround that only uses sh

[2015-10-21 19:36] jbphet commented on #31
I'm also able to duplicate the reset issue on the Dell Studio XPS Win 10 running Edge.

[2015-10-21 19:52] jbphet commented on #31
I contacted @jonathanolson about these issues, and he and I looked into them.  These issues only show up when using canvas as a renderer, which we are currently always doing for Edge due to some other issues.  The same odd behavior shows up in other browsers when the renderer is forced to be canvas.  @jonathanolson dug into it and fixed the clipping issue with this commit: https://github.com/phets

[2015-10-23 16:07] phet-steele commented on #30
This is looking A-OK on Win 8 FF (1.2.0-rc.2) :+1:

[2015-10-27 03:11] ariel-phet commented on #29
Redeploy has occured

[2015-10-27 03:11] #29 closed

[2015-10-27 03:12] ariel-phet opened #32 "Teacher Tips"
@arouinfar Friction needs teacher tips (none are on the HTML5 sim currently).

[2015-10-27 23:39] arouinfar commented on #32
@ariel-phet, I've started working on the tips. Do you know if there are any simplifications made to the model that need explaining? I couldn't find an associated model.md file, or any other relevant documentation.

[2015-10-28 00:44] ariel-phet commented on #32
@arouinfar - this sim WAY pre-dates me...but I think we can infer a few things from the sim itself.

1. Moving the top book does not move the position of the bottom book (that seems like an important simplification)
2. The bottom book is assumed to be much harder than the top book (since only the top book atoms "rub off"
3. What we depict as the layer of atoms parallel to the depected edge of the

[2015-10-28 16:51] arouinfar commented on #32
Thanks @ariel-phet! I will summarize these behaviors in the Model Simplifications section of the tips.

[2015-10-28 22:05] arouinfar commented on #32
Uploaded! Closing.

[2015-10-28 22:05] #32 closed

[2015-10-30 21:18] jbphet commented on #31
Fixed, closing.

[2015-10-30 21:18] #31 closed

[2015-11-03 21:26] jbphet commented on #30
Fixed, closing.

[2015-11-03 21:26] #30 closed

[2015-11-03 21:26] jbphet opened #33 "QA team is missing from credits"

[2015-11-04 16:09] jbphet commented on #33
Added to master in 3f130ac2d843f1347150a3d02057d040c66b59a8 and to the 1.2 branch in a3ce7c3d2977ce4d5ace37622683a681047c0211.  This was also redeployed to the main web site as a maintenance release in version 1.2.1.  Closing.

[2015-11-04 16:09] #33 closed

[2016-01-11 18:59] pixelzoom opened #34 "unused strings"
[code]

[2016-08-05 15:10] phet-steele opened #35 "Atoms not captured by screenshot"
The screenshot feature from the PhET menu.
![-friction- screenshot 1](https://cloud.githubusercontent.com/assets/5863899/17440999/4eeae1b0-5aec-11e6-873e-eff04f0b7580.png)

[2016-08-05 15:57] jbphet commented on #35
Interesting.  I think this is probably because this sim using something like a CanvasNode, but was likely done before the actual CanvasNode existed.  I'll take a look and see if there is a reasonably quick fix and, if not, I'll just disable the feature and get to it later.

[2016-08-05 18:19] jbphet commented on #35
I just tested this on master, and the atoms are still not captured in the screenshot, so the problem is deeper than just having an outdated version of Scenery.

[2016-08-05 20:19] jbphet commented on #35
I just took a quick look at the Friction code, and the work to be done would be to make AtomCanvas inherit from CanvasNode and implement the methods necessary to draw the atoms.  I'm estimating two or three hours of focused work to get this done.

[2016-09-27 18:56] jbphet commented on #35
An RC is now out with a fix for this, but the testing of it is apparently low priority.  The ticket is https://github.com/phetsims/tasks/issues/698.  This will be on hold until testing is complete.

[2016-10-19 20:07] phet-steele opened #36 "QA credits update"
@jbphet, please add Ethan Johnson, Ben Roberts, and Bryce Griebenow to the QA credits.

[2016-10-19 20:17] phet-steele commented on #35
Fixed, closing.

[2016-10-19 20:17] #35 closed

[2016-10-20 21:26] jbphet commented on #36
Fixed, will appear in soon-to-be-published version 1.3.0.  Closing.

[2016-10-20 21:26] #36 closed

[2016-10-20 21:27] jbphet commented on #34
Fixed, closing.

[2016-10-20 21:27] #34 closed

[2017-07-05 16:12] phet-steele opened #37 "Invalid value: Property{0}###"
[code]

Possibly related, you can just drag the Chemistry book wherever you want. Here I dragged it down past the Physics book and out of the magnification window:
<img width="1450" alt="screen shot 2017-07-05 at 10 10 51 am" src="https://user-images.githubusercontent.com/5863899/27873712-55e35684-616a-11e7-928e-1d6c97a854d6.png">

[2017-07-06 16:21] Denz1994 commented on #37
Thanks for the report. I believe there was an error in a property reference that I altered. I restarted my conversion process to Property from PropertySet and can't reproduce the error. I also made sure to lint. Assigning to @phet-steele for review.

[2017-07-07 17:28] phet-steele commented on #37
Looks great, thanks @Denz1994.

[2017-07-07 17:28] #37 closed

[2017-09-11 23:46] jessegreenberg opened #38 "Add keyboard navigation to this sim"
We would like to add keyboard navigation to this sim, which means adding the interactive components to the focus order, and making the draggable components (book and magnified view) movable with arrow and WASD keys.

@mbarlow12 would you please work on this issue? We would like keyboard navigation in this sim to behave like the following:

- Focus order: "Magnified book" (molecules), zoomed out bo

[2017-09-12 22:50] zepumph commented on #38
Here is a version of keyboard nav in friction with both dragable elements navigable by keyboard. I'm sure that there many problems and fine tunings to be done. @jessegreenberg and I just wanted to focus on the core implementation, and that seems to be working well, and our strategy looks promising.

One issue I see is that if you are moving either object to the right, and then tab away, it gets st

[2017-09-12 22:51] zepumph commented on #38
@terracoda let me know what you think as an initial stab at it.

[2017-09-12 22:59] jessegreenberg commented on #38
Looks great @zepumph! Removing my assignment on this issue.

[2017-09-13 15:06] terracoda commented on #38
@zepumph, this is great! It seems to work fine for me. I do not see an issue when tabbing away.

**Regarding Tab Order:**
I think the tab order with the actual book first is good. Students first go to the real object and then zoom in, but we should check with the content expert. I'm not sure if order is important here. Not sure if cuing interaction with the chemistry book first is preferred?

**Re

[2017-09-13 15:14] terracoda commented on #38
@zepumph, in the case of BASE, we created a grab button that launches the custom balloon drag interaction. It will be interesting to see if we will need a two-step interaction here. The key is making the interaction clear in the non-visual scenario. We have less things going on here, so hopefully we won't need a two-step interaction.

Also, I  am wondering if the freezing upon tabbing away has any

[2017-09-13 16:16] jessegreenberg opened #39 "Book can get stuck moving in one direction after keyboard dragging"
From #38 @zepumph said

It sounds like the key state object in the drag handler isn't getting reset after it loses focus. @zepumph could you please try adding something like this in the constructor of KeyboardDragHandler?

[code]

we are probably doing something like this manually in BASE (could be removed once this is added).

[2017-09-13 23:11] zepumph commented on #39
@jessegreenberg how does that look (my comment isn't as good)?  Back to you to review, and remove logic in BASE as needed.

[2017-09-14 00:00] zepumph commented on #38
@jessegreenberg I would love a little help on focus highlights here, I was thinking that I would just set my own focusHighlight, but when I do that I have to supply my own options to get my new Rectangle or whatever to look like the normal focushighlight. How do we go about fixing this. It would be great if we could have some options, maybe in FocusOverlay (not sure if that is the best) like strok

[2017-09-14 00:01] zepumph commented on #38
In the mean time, I increased the top of the focus highlight to include where the arrows are on startup.

@terracoda please comment on if you think this picture looks better (please disregard the styling of the focus highlight as much as possible)

![image](https://user-images.githubusercontent.com/6856943/30406193-bca25b9a-989c-11e7-8f56-38e64efa20a4.png)

[2017-09-14 14:33] jessegreenberg commented on #38
Regarding https://github.com/phetsims/friction/issues/38#issuecomment-329330483, yes lets chat! It is cumbersome to pull styling from FocusOverlay and pass them  to options.  Maybe a common ```Path``` type in scenery-phet would be good with the default styling specified would be good.

```focusHighlight``` can also  be a ````Shape``` and if passed to the Node, FocusOverlay will apply default styli

[2017-09-14 18:49] terracoda commented on #38
@zepumph, yes including the space with the arrows looks better to me.

[2017-09-15 21:15] zepumph commented on #38
@terracoda @jessegreenberg In regards to the focus highligh of the chemistry book. .. .

Here is a bit more design, but I have a few choices of the focus highlight around the chemistry book. (I marked notes about them so I don't forget, but you should just tell me which one you like most)

1.  `this.focusHighlight = Shape.bounds(bounds.withMaxY( bounds.getMaxY() - 5));`

![image](https://user-imag

[2017-09-18 12:01] terracoda commented on #38
Thanks for the options, @zepumph.

Hmm, there are so many lines (book edges, pages, red lines). I find the the highlight more distracting if it does align with something else.

I'd go with number 1 for now, and see how that works.

[2017-09-18 16:32] jessegreenberg commented on #38
@zepumph Out of the options I also prefer option 1.  What do folks think about the focus highlight going around both  books to prevent the occlusion?

[2017-09-18 16:38] zepumph commented on #38
Interesting! I wonder if it will ever be confusing to a visual keyboard user not using a screen reader.

Here is a version of current updates to both focus highlights.

http://www.colorado.edu/physics/phet/dev/html/friction/1.4.0-dev.1/friction_en.html?accessibility

[2017-09-18 16:40] jessegreenberg commented on #38
Yes, that is a good point, it what be less clear what is actually moving. What about something totally different, where the focus goes around an indication of how to move the book
![20170918_103319](https://user-images.githubusercontent.com/6396244/30553229-c0e15174-9c5d-11e7-9c0e-fe22ecf1883c.jpg)

Where the arrows are only visible when the book as keyboard focus.

[2017-09-18 16:43] jessegreenberg commented on #38
I am worried this issue is going to get too long to be useful for documenting design decisions.  @terracoda @zepumph do you think it would  be useful to start a design document for keyboard nav in this sim? Or maybe even better would be to  add a section the existing HTML5 sim doc?

[2017-09-18 17:39] terracoda commented on #38
@jessegreenberg, I think that's a good idea.

[2017-09-18 17:47] zepumph commented on #38
Sounds good. Putting this issue on hold until design is solidified in a document. Unassigning for now.

[2017-09-18 18:52] terracoda commented on #38
@zepumph, just adding one more thought until we have a design document.

As rows of particles disappear, I think it might make sense to have the bottom edge follow the edge of yellow particles, but not shrink. This would mean the highlight would move up, so more yellow book space was part of the highlight, rather than the green particles being  included within the focus highlight.

[2017-09-19 16:55] zepumph opened #40 "Should you be able to click and drag the yellow book outside the magnifying view?"
From an accessibility meeting today, @ariel-phet mentioned that it isn't good that you can start a drag from the white space above/to either side of the magnified view (see the highlighted area below for an example)

![image](https://user-images.githubusercontent.com/6856943/30604637-0f5e2e70-9d18-11e7-9254-c9fef6f600c2.png)

@ariel-phet is this something that we should cover as we are in this sim

[2017-09-19 17:07] zepumph opened #41 "Change colors for a11y"
From accessibility meeting today, many think that if we change the colors, it will help to bring out the pieces of the sim we really want to. In general we care about the atoms in the magnified view, and the focus highlights of the sim. @amanda-phet volunteered to help out with the color redesign.

[2017-09-19 17:17] ariel-phet commented on #40
I think it is a bit odd, but I think it can be left as is since it doesn't not cause any usability issues.

[2017-09-19 17:17] #40 closed

[2017-09-19 19:10] amanda-phet commented on #41
In particular, the yellow was so bright that the bright pink didn't stand out against it, so we've made it a soft blue. The green is the same.

The two shades of blue in this mockup are:
#7de2f9 for the book
#00ffff for the atoms

<img width="573" alt="screen shot 2017-09-19 at 1 07 15 pm" src="https://user-images.githubusercontent.com/7852916/30610580-de328e12-9d3b-11e7-9d12-1433feee3b75.png">

[2017-09-19 21:51] amanda-phet commented on #41
I should also add that we changed the outline from red to black, and I changed the stroke around the books to be gray. It might help to see how it looks in action, but hopefully this way the black dashed lines won't conflict with the pages and outlines in the books.

[2017-09-19 22:31] jessegreenberg commented on #39
Looking great @zepumph, thanks, I removed the explicit reset in BASE since this fixed the general issue. Closing.

[2017-09-19 22:31] #39 closed

[2017-09-19 23:14] zepumph opened #42 "Switch the speeds of keyboard drag handler's shift/normal functions"
From the accessibility meeting today. It would be good for the speed of the book when the 'shift' key is pressed to be the "default" behavior, and for the shift key to slow down the interaction.  I think to do this I will want to make my own `FrictionKeyboardDragHandler` so that the logic is not copied in the `Magnifier` and the `Book`

[2017-09-19 23:44] zepumph opened #43 "Make a custom focus highlight that updates as particles are rubbed away"
From @terracoda's comment in #38.

Currently I have tried two approaches.
1. Default focus highlight. This updates around the yellow particles and has the behavior that we want from the above the comment. The problem is that it only wraps the "dragArea," which is the rows of yellow atoms.
2. Custom focus highlight. This is great because I made it bigger than just the 'dragArea' but it is then stat

[2017-09-19 23:55] zepumph commented on #41
@amanda-phet here is a first pass. Let me know what you think! I looked over the list from the meeting and I think I covered all the color stuff. Some of the focus highlight is still wonky. But there are other issues for that.

[2017-09-20 00:12] zepumph commented on #42
All should be good now. closing

[2017-09-20 00:12] #42 closed

[2017-09-20 00:14] jessegreenberg commented on #43
@zepumph one approach could be to observe changes to the model and redraw a shape and re-set the focus highlight when the bottom row is gone. Possibly something similar to the way the dragArea rectangle is adjusted in Magnifier.js?

[2017-09-20 15:43] terracoda commented on #38
@zepumph, I created a design document called [Friction: A11y Design Main](https://docs.google.com/document/d/1XXI7SD-ASJwivsBaHgeOZmMcJFFN_s3FU48-syO-G0o/edit).

Not sure what to put in it yet, but noted the GitHub Issues.

[2017-09-20 16:20] jessegreenberg opened #44 "Change keyboard movement speeds"
Just documenting an issue from 9/19/17 a11y meeting, we want to swap default and shift key step sizes.

[2017-09-20 16:22] jessegreenberg commented on #38
Thanks @terracoda! Alright, I think this issue can be closed, we will have design documented and discussed in the google doc, and github can be used to track individual issues or changes. But if anyone disagrees, feel free to re-open the issue.

[2017-09-20 16:22] #38 closed

[2017-09-20 18:50] jessegreenberg commented on #44
Maybe this was already done!

[2017-09-20 20:31] amanda-phet commented on #41
I just looked on phettest.

The book color is correct in the book representation at the bottom of the screen,
![screen shot 2017-09-20 at 2 28 47 pm](https://user-images.githubusercontent.com/7852916/30665946-105acb1e-9e10-11e7-8711-8e08578a1a0e.png)

but in the zoomed in view it looks like it's the bright cyan color instead.
![screen shot 2017-09-20 at 2 28 54 pm](https://user-images.githubuserco

[2017-09-20 20:56] oliver-phet commented on #41
I like the gray on the books. Just to experiment, I tried making the text gray also and I think it helps the dashed line stand out against the text:
<img width="840" alt="screen shot 2017-09-20 at 2 47 50 pm" src="https://user-images.githubusercontent.com/5090275/30667086-9fa1b028-9e13-11e7-81ae-dc246ee28007.png">

[2017-09-20 20:56] oliver-phet commented on #41
But that may not pass contrast tests.

[2017-09-21 00:05] zepumph commented on #44
Indeed. https://github.com/phetsims/friction/issues/42

[2017-09-21 00:05] #44 closed

[2017-09-21 00:14] zepumph commented on #41
@amanda-phet I'm terribly sorry. You're right about the shades of blue. I actually used three different colors. I ended up grabbing them directly from the picture [here](https://github.com/phetsims/friction/issues/41#issuecomment-330640807) using a chrome extension. I only did it because I was a goof and didn't notice the hex codes above.

I think we should get on the same page.
You said:

#7de2f9

[2017-09-21 15:07] terracoda commented on #41
@amanda-phet, @oliver-phet, @zepumph, if we make the spines of the books a little thicker to provide more space around the box. And use a darker grey for the book titles we should get more legibility and maybe pass a contrast ratio.

We talked about making the books a little thicker at the meeting on Tuesday. Is that a reasonable thing to do?

[2017-09-21 15:51] terracoda commented on #41
With a blue bg of #7de2f9, I would suggest a dark grey like #404040 for the tite text on the spines of the books. This provides a contrast  6.97:1 which is almost 7:1 which is considered high contrast (WCAG AAA) even for small text.

We can go lighter down to a grey of #595959 providing a contrast of 4.7:1, and still be WCAG AA for small text and AAA for large text.

[2017-09-21 18:10] zepumph commented on #43
That was it! In fact it was simple once I realized that that was how the `dragArea`'s height was being adjusted, I just had to add a line to update the focus highlight too.

Here is what it looks like now:

on start up
![image](https://user-images.githubusercontent.com/6856943/30711026-dfde70ea-9eb3-11e7-8bbf-3cbf088001aa.png)

and once all atoms have been evaporated
![image](https://user-images.g

[2017-09-21 18:10] #43 closed

[2017-09-21 20:52] amanda-phet commented on #41
@zepumph color pickers aren't the most reliable, and I didn't realize there were multiple places to enter a color, so please use #7de2f9 for both the magnified [book] background and the macro view of the book.

Here is a mockup using #595959 for the book titles.

<img width="778" alt="screen shot 2017-09-21 at 2 51 58 pm" src="https://user-images.githubusercontent.com/7852916/30718209-72ea5c14-9ed

[2017-09-22 19:04] terracoda commented on #41
@amanda-phet, totally understand that no change to artwork is the preferred route. If it works, don't fix it! I think the changes, thus far are looking good.

@zepumph and @amanda-phet, I think it would look more natural if the pick focus highlight goes behind the the little magnifier box.

[2017-09-26 01:35] zepumph commented on #41
Sounds good to me! I updated the colors in the above commit (both gray and blue). The focusHighlight layering should be resolved in https://github.com/phetsims/scenery/issues/676.

@amanda-phet what do you think about the wider book spine? I would love a consensus and direction before I implement anything. The way things are set up, it wouldn't just be tweaking a few numbers, but redoing much of t

[2017-09-26 02:08] terracoda commented on #41
@amanda-phet, I would love your comments on this. The extra space a thicker spine provides around the title words looks potentially beneficial to me.

@zepumph and @amanda-phet, I was thinking that the spines on both books would remain consistent, so both would be wider.

[2017-09-26 16:54] zepumph commented on #41
From keyboard design meeting today:

* focus highlight needs to go behind the background (invisible outside of the magnified view)
* focus highlight should be behind the magnifiedTarget
* focus highlight around the macro book eroded to make sure that the focusHighlight is never larger than the book bounds.

[2017-10-03 16:43] zepumph commented on #41
The changes here were reviewed today. All looks good.

[2017-10-03 17:27] zepumph commented on #41
Actually here is a bit more that we decided on.

* focus highlight a bit higher on top to get around arrows
* focus highlight on top of background row circles

Now all should be ready to go for keyboard nav.

[2017-10-03 17:27] #41 closed

[2017-10-05 17:10] arouinfar opened #45 "Keyboard Navigation Dialog"
So I've been reviewing the latest dev ([1.4.0-dev.2](http://www.colorado.edu/physics/phet/dev/html/friction/1.4.0-dev.2/friction_en.html?accessibility)) and it seems like the book is somewhat slider-like, but without the page up/down and home/end shortcuts.

Here's my best guess for what content should be in the dialog. @terracoda can you review?

**Move Book**
Move book: [arrow keys]
Move in smal

[2017-10-05 18:41] terracoda commented on #45
Actually, the WASD keys work for moving the book as well, which makes me think we should have Up Arrow first. I'm just going to check RIAW's visual again.

[2017-10-05 19:16] terracoda commented on #45
@arouinfar, I think we want to list the WASD keys as an alternative to the the Arrow keys, and it likely makes sense to have the arrow keys in the same order.

What do you thin of this?
**Move Book**
Move book: [Up Left Down Right], or
Move book:  [W  A  S  D] (up, left, down, or right)
Move book in smaller steps: [Shift] + [Up Left Down Right], or
Move book in smaller steps: [Shift] + [W A S D]

[2017-10-06 17:39] arouinfar commented on #45
@terracoda the text looks good, but perhaps a little repetitive. I mocked up two options -- the first matches your text, and the second consolidates the Move Book section a bit. I chose to put the WASD keys first because the arrows follow the same order.

![screen shot 2017-10-06 at 11 35 57 am](https://user-images.githubusercontent.com/8419308/31290677-967073da-aa8a-11e7-86dd-b5229e8c9041.png)
![

[2017-10-06 17:51] terracoda commented on #45
@arouinfar, I think the icon for the Arrow keys should go first. Users are likely more familiar with them.

And if you line them up one above the other like you have it the second group in the second example, I think that will be nicely align up with W and so on.

**Move Book**
Move book:
[Up Left Down Right keys icon] or
[W A S D keys icon]

Move book in smaller steps:
[Shift] + [Up Left Down Rig

[2017-10-06 18:08] arouinfar commented on #45
Good point! I've swapped the order.

Not at all opposed to "or"! I left it out by mistake.

I think Shift + arrows/WASD needs to be split onto two lines because it's quite long, but I'm not sure it's necessary to split the up the move book keys too. I've mocked it up both ways, and have reduced the vertical padding between keys that wrap to the 2nd line so the "or" option looks more associated wit

[2017-10-06 18:21] terracoda commented on #45
@arouinfar, how do you feel about vertically left-aligning the move key icons? Like this?
![keyboard-dialog-2](https://user-images.githubusercontent.com/1902116/31292474-29cc177e-aaae-11e7-8346-e5af4ab9a2a8.png)

[2017-10-06 18:42] arouinfar commented on #45
@terracoda I like your suggestion. If we were to left-align all of the move icons, I think we'd want to get rid of some of the empty space in the middle of the dialog, like this:
![image](https://user-images.githubusercontent.com/8419308/31292988-ca0d0d22-aa92-11e7-9c4b-c1cd4c59d716.png)

If we decide to stack the arrow keys and WASD keys in "Move Book", then I think it looks definitely better to

[2017-10-06 23:20] terracoda commented on #45
@arouinfar, I like the compactness of both layouts. The stacked version is compact in the other direction. I personally find the stacked version a little easier to read.

Shall we call in some tie breakers? @jessegreenberg, @zepumph, @mbarlow12, @emily-phet  which if the 2 layouts do you like best?

1. Stacked
2. Super compact

[2017-10-09 11:27] emily-phet commented on #45
@terracoda @arouinfar +1 for Super compact.

[2017-10-09 16:43] zepumph commented on #45
+1 super compact

[2017-10-09 17:00] jessegreenberg commented on #45
+1 super compact

[2017-10-09 19:23] terracoda commented on #45
OK, thanks for voting everyone.
@arouinfar, let's go with the Super Compact version!

@jessegreenberg, can you assign to the appropriate person for implementation?

[2017-10-10 00:04] jessegreenberg commented on #45
@zepumph would you mind working on this at your convenience?  I added a few types to scenery-phet that should assist with layout but we might need something new to handle the "Move in smaller steps" portion of the layout.

[2017-10-12 00:27] jessegreenberg commented on #45
We needed a way to add a list of controls in https://github.com/phetsims/resistance-in-a-wire/issues/104, so I added HelpContent.labelWithIconList for, hopefully it can be used here too!

[2017-10-18 01:12] zepumph commented on #45
This is what master is looking like currently. Everything was pretty straight forward. Thanks @jessegreenberg for some awesome helper method/factory method work. The WASD keys are ugly, but I couldn't get the margins to work, and don't have current time to look into it. I just wanted to share progress. @jessegreenberg do you know why the xMargin and yMargin options might not work for me when creat

[2017-10-18 19:47] jessegreenberg commented on #45
@zepumph to add padding arround the key icon, the current options are minKeyWidth and minKeyHeight. xMargin and yMargin are additional padding that can be used with xAlign and yAlign options to add additional padding for the layout. This is mostly useful if we need keys like this (this is what my escape key looks like)
![image](https://user-images.githubusercontent.com/6396244/31739323-badd822e-b4

[2017-10-18 21:24] zepumph commented on #45
That works much nicer to me. Thanks! What do you think?

At some point it may be nice to factor out those "keyOptions" so that we have a general look of a single char KeyNode.

![image](https://user-images.githubusercontent.com/6856943/31743381-70457ca6-b407-11e7-9f21-5bbc2ed0d687.png)

[2017-10-20 16:01] zepumph commented on #45
@terracoda, @emily-phet, @arouinfar what do you guys think about the dialog above? You can use it here, http://phettest.colorado.edu/friction/friction-a11y-view.html?brand=phet

[2017-10-20 20:14] jessegreenberg commented on #45
Looks great, @zepumph thanks! I think it is important that the WASD keys are the same size as the arrow keys so that they vertically align.  Also, can you please align the letter text in the center of the key nodes?

[2017-10-22 18:01] terracoda commented on #45
@zepumph, looks like you are making progress. I agree with @jessegreenberg that the Arrow keys and the WASD keys should be the same size. The WASD key letters need to be entered, too.

[2017-10-27 23:34] zepumph commented on #45
@jessegreenberg would you please look over the implementation that I made. I think we should figure out a way to have all keys be the same size by default. Currently there are copied options in `ArrowKeyNode` and `HelpContent` where the wasd row is made. Perhaps these should go in KeyNode proper, but you would know best. I marked todo's so we wouldn't forget about it. @terracoda @jessegreenberg ho

[2017-10-27 23:35] zepumph commented on #45
Since they are hard coded values to get the two rows to be the same size, they may not be perfect. I would rather change the implementation that continue to pixel polished these hard coded values. Assigning to @jessegreenberg for discussion.

[2017-10-31 13:53] terracoda commented on #45
@zepumph , this example looks much much better. The letters, words and arrows all see nicely centered with good white space. One small issue is that the drop shadows look a little uneven. This may be due to the hard-coded implementation.

Looking really good!

[2017-10-31 16:09] arouinfar commented on #45
The dialog is looking much nicer @zepumph!! I also noticed the drop shadow issue @terracoda pointed out, which I think would be nice to address at some point.

[2017-10-31 19:39] zepumph commented on #45
Key icon consistency will be addressed in https://github.com/phetsims/scenery-phet/issues/343, is there anything else for this issue @terracoda @arouinfar @jessegreenberg? After that issue Is this sim ready for republication with keyboard nav?

[2017-10-31 20:19] jessegreenberg commented on #45
Looks great @zepumph!

I think so! But I would like to get @emily-phet opinion before proceeding with publication.

@terracoda for reference, do you prefer the thicker drop shadow around the long keys or the thinner drop shadow around the letter/arrow keys?

[2017-10-31 20:30] zepumph commented on #45
It should be noted that the wasd keys and arrows keys have different drop shadows.

[2017-11-11 00:44] zepumph commented on #45
in phetsims/scenery-phet#343 we tackled a lot of the sizing issues and made things uniform. There may be a few pixel polishes that touch all of the Dialogs, but for the most part I think we are good to go.  Here is what it looks like now, it's also on master:
![image](https://user-images.githubusercontent.com/6856943/32684197-e05b099c-c62d-11e7-92f5-2c13bff27fb2.png)

@arouinfar @terracoda how doe

[2017-11-11 11:29] terracoda commented on #45
@zepumph, the drop shadows look good to me. Nice work!

The white space within the keys, however, seems to have changed. For example, the W key is wider than the other letter keys, and the arrow keys have a lot less white space around the arrows than before.

Drop shadow is good! You might be working on the white space separately.

[2017-11-14 00:30] arouinfar commented on #45
The drop shadows look great @zepumph! As @terracoda pointed out, the white space within the keys looks a bit off. All arrow and letter keys should be equally sized squares.

[2017-11-14 00:58] zepumph commented on #45
Thanks for the feedback.

I haven't yet centralized how to make keys squares. That is next on my list. I wonder if we should make it so that the sqaureKey option forces the margin down, or it scales down the node. It seems like it should scale down the node, but that looks the worst, so I think I want to do a combo solution where it scales down the node if it doesn't have the margin to allow for i

[2017-11-21 01:43] zepumph commented on #45
@jessegreenberg is this now ready to go?

[2017-11-21 16:38] jessegreenberg commented on #45
It looks great @zepumph thanks, ready to close this issue.

[2017-11-21 16:52] jessegreenberg opened #46 "Keyboard interaction can increase temperature without book movement"
Steps to reproduce:
- Move chemistry book so that it is touching physics book.
- Move chemistry book as far to the right is it can go.
- Press right arrow or 'd' key to try to move book farther. Observe that the book doesn't move. but the temperature will increase for as long as the key is held down.

@zepumph since you have been working on a11y in this sim would you mind looking into this?

[2017-11-21 21:57] jessegreenberg commented on #45
Reopening since we are going to change the look after https://github.com/phetsims/a11y-research/issues/62.

[2017-11-21 22:29] jessegreenberg commented on #45
Here is the updated content in Friction:
![friction](https://user-images.githubusercontent.com/6396244/33100178-b1cb95a0-ced0-11e7-9827-5b0c27194b58.PNG)

[2017-11-21 22:41] jessegreenberg commented on #46
Beautiful @zepumph, thanks. Can no longer reproduce. Closing.

[2017-11-21 22:41] #46 closed

[2017-11-21 22:46] zepumph commented on #45
Looks great thanks!

[2017-11-21 22:46] zepumph commented on #45
Ready to close?

[2017-11-21 22:49] jessegreenberg commented on #45
I think so! We got one 👍 in https://github.com/phetsims/a11y-research/issues/62.

[2017-11-21 22:49] #45 closed

[2017-11-27 19:47] jessegreenberg opened #47 "Deploy a keyboard navigable version of this sim"
We are ready to proceed with a minor release off of master with keyboard navigation for this sim. With the recent chipper 2.0 work, we grabbed a stable SHA of chipper to use with new RC's. Here it is:

  "chipper": {
    "sha": "6f8b4c139ef54b626df1ac052874826d4b646cc0",
    "branch": "master"
  },
@zepumph volunteered to prepare this RC, many thanks and assigning to him.

[2017-11-27 20:50] jessegreenberg commented on #47
@phet-steele just showed me a multi touch issue while interacting with both a keyboard and a mouse, deployment should be on-hold until those are generally resolved.

[2017-11-27 20:58] jessegreenberg commented on #47
Blocking issue: https://github.com/phetsims/scenery/issues/713

[2017-11-27 21:57] zepumph opened #48 "Uncaught TypeError: Cannot read property 'x' of undefined"
[code]

This happens when a11y is not enabled, with fuzzMouse,

[2017-11-27 21:57] zepumph commented on #48
Tagging @jessegreenberg so he is aware.

[2017-11-28 18:13] jessegreenberg opened #49 "Add accessible labels"
After 11/28/17 a11y meeting, we would like to add accessible labels to  navigable components. We need labels for the book and the magnified view of the book since both of those are focusable. Other buttons have common code labels. This sim was next on the docket for publication so it would be nice to have this done before next week.

Maybe "Chemistry Book" and "Chemistry Book, atomic view"?

@terr

[2017-11-28 19:09] terracoda commented on #49
@jessegreenberg, I have a design document for this one, too.
https://docs.google.com/document/d/1XXI7SD-ASJwivsBaHgeOZmMcJFFN_s3FU48-syO-G0o/edit#

I think "Atomic view" is likely better than "Magnified view" which is what I had originally. I'll update the document.

I'm still not sure about the HTML draft structure, but we can look at that later.

[2017-11-28 19:19] terracoda commented on #49
@jessegreenberg, I also like the labels without the verb, "Move". The verb would ideally go in the on-demand help text when the HTML is sorted out.

[2017-11-28 22:10] jessegreenberg commented on #47
While we still want to bring in #49, phetsims/scenery#713 is sufficiently fixed to no longer be a blocking issue.

[2017-11-29 02:10] zepumph commented on #49
@jessegreenberg please review this one too.

[2017-11-29 14:00] terracoda commented on #49
@jessegreenberg, and @zepumph re my comment

I need to retract that statement. You can't name an object without the HTML. I apologize for my temporary lapse in reasoning.

Because the Chemistry book is a custom element, giving it a label that can be heard by AT is not as simple as adding a `label` element to a typical form control.

The HTML and labeling technique will be closer to the structure o

[2017-11-29 19:04] zepumph commented on #48
I looked into this. Sometimes it takes a while of fuzzing (like 1 minute) to get this error. When it is paused in the stack I can't get any good info about why the old value is undefined. I tried two things to mitigate to no avail:
1. Add a check after each time I set `oldValue` to debugger if it is undefined (never gets called)
2. Copy all of the Vector2s just in case it was a reference problem (

[2017-11-29 19:18] jessegreenberg commented on #49
@zepumph changes look great, thanks. I am surprised, when I tried to use the sim with NVDA in FFQ I don't hear the labels when I tab to the books. When I change the HTML to
[code]
NVDA does read the label.

[2017-11-29 19:20] jessegreenberg commented on #49
I just committed that change. Otherwise I think this can be closed, but back to @zepumph in case there is anything else.

[2017-11-29 19:21] terracoda commented on #49
I was going to ask for the HTML. You'll need a labeling technique:

[code]

[2017-11-29 19:22] terracoda commented on #49
Oops, in my haste that is incorrect code.

[2017-11-29 19:26] terracoda commented on #49
Adding `aria-labelledby` should make the name available as an _accessible name_ for the Web Application in the Accessibility Tree, but I haven't tested it.

[2017-11-29 19:28] terracoda commented on #49
@jessegreenberg or @zepumph could you try the `aria-labelledby` attribute? and see if that makes the name audible when using a screen reader?

[2017-11-29 19:29] jessegreenberg commented on #49
Here is the full HTML
[code]

[2017-11-29 19:30] terracoda commented on #49
I'll test again in VO. I didn't hear the name, only "Web Application" when I last listened.

[2017-11-29 19:31] jessegreenberg commented on #49
Did you try with https://github.com/phetsims/friction/commit/cd9d735412ebd599b3e36faad05c8b25c2d2dfd2 (change made 11 min ago)?

[2017-11-29 19:31] terracoda commented on #49
No, and I read your comment incorrectly :-) Just testing again now.

[2017-11-29 19:39] terracoda commented on #49
@jessegreenberg, I  hear "Chemistry book, group, web application" for the book, but only hear "web application" for the Atomic view of the book.

Do you have the same code on the atomic view?
[code]

[2017-11-29 19:42] terracoda commented on #49
@jessegreenberg, you are correct the name of the focusable `div` is being made available as the accessible name. Nice work.

[2017-11-29 19:46] jessegreenberg commented on #49
Ah, good catch it doesn't look like it! For the atomic view, role=application is on the inner div. But for my version of VO, I am hearing something different :(

For this html:
[code]
I hear "Chemisty Book,group".

For this html:
[code]
I hear "Chemistry Book,  Atomic View, Web Application".

[2017-11-29 19:50] jessegreenberg commented on #49
Now NVDA is failing to read the accessible name for either. So I am not sure how to proceed. @terracoda what would you recommend?

[2017-11-29 20:37] jessegreenberg commented on #48
@phet-steele helped determine that this was a precision issue. In KeyboardDragHandler, we were calling `onDrag` erroneously because there were cases where `this.positionProperty.get()` was out of drag bounds by ~0.000000001. After constraining bounds, `newPosition` and `positionProperty.value` were not equal, so were calling onDrag.

This is fixed by preventing behavior in KeyboardDragHandler so t

[2017-11-29 20:39] zepumph commented on #48
Do you recommend adding a `.erode( .00000001)`?

[2017-11-29 20:44] jessegreenberg commented on #48
After the above commit we can't reproduce the issue. @zepumph could you please review? I am not sure if any more work is worthwhile in FrictionModel.move. But something about that function allows movement to go slightly out of these bounds in FrictionKeyboardDragHandler:
[code]

[2017-11-29 20:47] terracoda commented on #49
@jessegreenberg, shouldn't the role application be implemented the same for both objects?, i.e., on the outer div?

In my VO I only hear the name on the book, not on the atomic view.

[2017-11-29 20:57] jessegreenberg commented on #49
Yes it should, but the difference shows how AT treat them differently. And my version of VO (10.0.1, admittedly an older version now!) prefers the HTML for the atomic view.  But since NVDA doesn't read either in FF Quantum I was wondering if something totally different was required.

[2017-11-29 21:01] terracoda commented on #49
Strange my version of VO just updated, prefers the Book.
I'm not sure if we should rely on FF Quantum. Is it possible to try with an older version of FF? Do you have a machine available to do that?

I checked the HTML in BASE and it seems very similar, if not the same as the Book in Friction.

[2017-11-29 21:06] jessegreenberg commented on #49
VO in Safari 10 and NVDA in FF Quantum both read labels correctly with this HTML, @terracoda thoughts?
[code]

[2017-11-29 21:11] jessegreenberg commented on #49
I will look into getting an earlier  version of FF.

[2017-11-29 21:12] terracoda commented on #49
@jessegreenberg, I was going to suggest an explicit labeling technique, and was just re-reading specification suggestions for role application.

https://www.w3.org/TR/wai-aria-1.1/#application

[2017-11-29 21:16] jessegreenberg commented on #49
Sounds good. Since https://github.com/phetsims/friction/issues/49#issuecomment-347996129 seems to work OK locally I am inclined to go with it. But @terracoda let us know if you would recommend something else after reading the specs. Changes committed and can be reviewed on master.

[2017-11-29 21:18] terracoda commented on #49
I was intrigued by the suggestion in the spec that one element with role application can have two focusable items.

I'm a little uncomfortable with an empty div with aria-label. I have a feeling that aria-labelledby might be better, but we can stick with this if it is valid code.

[2017-11-29 21:36] jessegreenberg commented on #49
Thanks for clarifying, back to aria-labelledby as you originally suggested @terracoda, it sounds great in Safari 10.0.1 and FF Quantum. I think that is all then, @zepumph could you please re-review https://github.com/phetsims/friction/commit/edefa5b9d3aa8ae20e3b4648caf2299d08935be8 and test with your NVDA?

[2017-11-30 02:56] zepumph commented on #48
I can't seem to recreate it. Thanks!

While working on this, I was wondering if there is potential weirdness about references vs clones of Vector2. We treat is as a value type, but it is still an object. I am wondering if the following lines couldn't be updated in `FrictionKeyboardDragHandler.js`

[code]
@jessegreenberg is it surprising to you that we aren't getting weird reference bugs here?

[2017-12-01 01:12] zepumph commented on #49
On firefox NVDA sounds nice, on Chrome, for the macro book I hear "Chemistry Book, Chemistry Book Section." For the magnified view I hear "Chemistry Book, Atomic View, Chemistry Book, Atomic View Section." I'm not sure what "section" is, but since this isn't a supported pairing on not worried about it. I think we are good to go. Back to you @jessegreenberg to review and close.

[2017-12-01 01:16] zepumph commented on #47
https://github.com/phetsims/friction/issues/49 is the only issue left for this.

[2017-12-01 18:51] terracoda commented on #49
@zepumph, sounds like Chrome is rendering the role application as a "section" rather than a "web application". I have a feeling the "section" utterance could change over time.

[2017-12-01 18:52] jessegreenberg commented on #48
That does seem more robust @zepumph, good idea. It seems like we would run into reference bugs if `model.positionProperty` changes between `startDrag` and `onDrag`.

[2017-12-01 18:54] jessegreenberg commented on #49
Thanks @zepumph, great. I think @terracoda is correct. Closing this issue.

[2017-12-01 18:54] #49 closed

[2017-12-01 18:57] zepumph commented on #48
Thanks @jessegreenberg, I agree. Closing.

[2017-12-01 18:57] #48 closed

[2017-12-05 17:59] zepumph commented on #47
We are ready for this.

[2017-12-05 18:31] zepumph commented on #47
https://github.com/phetsims/QA/issues/75 in the queue. On hold here

[2017-12-05 23:05] lmulhall-phet opened #50 "[keyboard navigation] have to start over with keyboard nav if you open new tab"
**Test device:**

MacBook Air (13-inch, Early 2015)
Hanson

**Operating System:**

macOS High Sierra 10.13.1 (17B1003)
Windows 10

**Browser:**

Chrome Version 62.0.3202.94 (Official Build) (64-bit)
Firefox 57.0.1 (64-bit)
Safari Version 11.0.1 (13604.3.5)

**Problem description:**

Not entirely sure this is an issue, I just wanted to check to see if anyone wanted to make changes...

I noticed tha

[2017-12-05 23:29] lmulhall-phet opened #51 "keyboard navigation works for some items, not others in Safari"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS High Sierra 10.13.1 (17B1003)

**Browser:**

Safari Version 11.0.1 (13604.3.5)

**Problem description:**

In Safari, you can only tab through the chemistry textbook, the closeup of the chemistry textbook, and the URL. You can't tab through the reset button, the keyboard nav menu, or the PhET menu. This is for phetsim

[2017-12-05 23:42] lmulhall-phet commented on #51
It's a Safari preferences issue. Closing.

[2017-12-06 00:07] zepumph commented on #51
Could someone list the preferences that caused/fixed this just in case it comes up again?

[2017-12-06 00:09] lmulhall-phet commented on #51
Safari > Preferences > Advanced > Press Tab to highlight each item on a webpage

[2017-12-06 00:09] zepumph commented on #51
Thanks!

[2017-12-06 00:09] #51 closed

[2017-12-06 00:11] zepumph commented on #50
@jessegreenberg this sorta seems like an extension of https://github.com/phetsims/scenery/issues/713. We haven't spent any energy on trying to handle these browser/system edge cases. @jessegreenberg should this be dealt with before Friction goes out ya think?

[2017-12-06 00:24] jessegreenberg commented on #50
Great question @lmulhall-phet thanks for bringing this up.

@zepumph I agree that this could be an extension of phetsims/scenery#713. I don't believe this needs to block publication of Friction, but it would be good to hear from @terracoda and @emily-phet.

I am also not  sure if this is something that needs to be changed. For me, this only happens when I open a new tab by clicking on a link. If I

[2017-12-06 18:55] BryceAG opened #52 "pausing and resuming leaves focus for keyboard nav"
Pausing and resuming leaves focus from the sim, and after it is resumed the person must tab to get keyboard nav back up, but it goes to the next object. This could be disorienting for the person using keyboard nav, as they did nothing to leave focus. To make sure it wasn't just me clicking the resume button that caused the loss of focus I used pause in 5 seconds and resume in 5 seconds:
![ezgif co

[2017-12-06 19:02] zepumph commented on #52
@jessegreenberg is the lol guy.

[2017-12-06 19:25] BryceAG opened #53 "Holding shift when going to previous item doesn't register for speed"
When you shift tab to one of the books as a previous selection and hold shift, the speed is not affected even though shift should be slowing it down. Releasing shift and repressing it works correctly. In the gif below I show the slow speed, go to the previous book, and then move it again while still pressing shift but it moves faster.

![ezgif com-video-to-gif 2](https://user-images.githubusercont

[2017-12-06 19:33] jessegreenberg commented on #52
Still a problem when I remove
[code]
from Display. I wonder if this is happening in the active wrapper.

[2017-12-06 19:34] BryceAG commented on #52
Update: this is what happens in Chrome. In Firefox, the object stays highlighted as though it is selected, but does not respond to keyboard nav. It will continue to do the action it was doing when paused (so if it was being dragged left, after resuming it will go all the way to the left) and Tab must pressed many times before returning to keyboard nav for the sim

[2017-12-06 19:42] jessegreenberg commented on #52
Thanks @BryceAG.

I added this to active.html:
[code]

And it is still a problem in Chrome when the line in https://github.com/phetsims/friction/issues/52#issuecomment-349749754 is added, but bug is fixed when that line is removed.

[2017-12-06 19:43] BryceAG opened #54 "Keyboard nav only selects zoomed out book in Edge"
The only object that can be highlighted and interacted with in Edge is the Chemistry Book, not even the zoomed in book will highlight. The reason could be a preference similar to #51 but I haven't found an option like that for Edge.

Also the keyboard nav that does work is very delayed, taking about half a second before the book actually moves.

related to phetsims/QA#75

[2017-12-06 19:45] BryceAG commented on #52
Also in Edge it doesn't load for LOL

[2017-12-06 19:47] jessegreenberg opened #55 "Sim doesn't load for LoL in Edge"
In #53 @BryceAG said

For https://github.com/phetsims/QA/issues/75.

[2017-12-06 20:01] jessegreenberg commented on #54
Also seeing very long delay in book movement in LoL harness in FF.

[2017-12-06 20:02] jessegreenberg commented on #54
Also an issue in IE11.

[2017-12-06 20:16] jessegreenberg commented on #52
Verified. It looks like focus gets stuck in the iframe. The doesn't happen in "Friction iframe test".

[2017-12-06 20:33] jessegreenberg commented on #55
RIAW seems to load fine in LoL in Edge so this is a problem with Friction or with these SHAs https://www.colorado.edu/physics/phet/dev/html/friction/1.4.0-rc.2/dependencies.json

[2017-12-06 20:35] jessegreenberg commented on #54
I think this is caused by changes made for https://github.com/phetsims/scenery/issues/713.

[2017-12-06 22:30] jessegreenberg commented on #54
I figured out this is due to  differences in the way IE11/Edge and the rest handle activeElement on blur.

For IE11/Edge, when blur happens, document.activeElement is the next focusable element.
For the rest, document.activeElement is `body`, until the next element receives the focus event.

In Display.js, we are counting on it being the element that was just blured to prevent.

[2017-12-06 22:40] jessegreenberg commented on #54
Instead of using document.activeElement to blur active element, we can use Display.focusedNode because it will be consistent for all platforms.

[2017-12-06 22:43] jessegreenberg commented on #54
I am no longer seeing delay in keyboard interaction in Edge. @BryceAG could you please add additional platform details so I can make sure that is no longer happening?

[2017-12-06 22:47] jessegreenberg commented on #54
Should be fixed in the above commit,  verified in IE11 and Edge, still working in Chrome.

[2017-12-06 22:52] jessegreenberg commented on #55
Now it is loading fine in LoL for me. @BryceAG, or @phet-steele could you please verify? If it is still a problem, @BryceAG could you provide additional platform details?

[2017-12-06 22:54] jessegreenberg commented on #53
The keydown event for shift doesn't register when focus moves to  the macro book, so it doesn't 'know' that shift is held down. This is a general problem with keyboard dragging. Can we update keystate in KeyboardDragListener to capture shift on focus event?

[2017-12-07 17:00] phet-steele opened #56 "LoL Icons and Descriptions"

[2017-12-07 19:47] arouinfar commented on #56
Done!

[2017-12-07 19:47] #56 closed

[2017-12-07 21:56] phet-steele opened #57 "Some a11y strings are untranslatable"
These three strings look to not be translatable: "Move Book", "Move book", and "Move in smaller steps".

<img width="848" alt="screen shot 2017-12-07 at 2 31 04 pm" src="https://user-images.githubusercontent.com/5863899/33740484-16ee7bb6-db5e-11e7-849a-ac4dc0514041.png">

Seen on macOS 10.13.1. For phetsims/QA/issues/75.

<details>
<summary>Troubleshooting Information</summary>

URL: https://www.c

[2017-12-08 00:14] jessegreenberg commented on #53
For 'shift' key, we can do something like this in the keyup listener:
[code]

But this only works for shift, and @phet-steele pointed out cases where we want the state of the keyboard to propagate through navigation (probably).

[2017-12-08 00:17] jessegreenberg commented on #53
I think for this release we should proceed with the snippet in https://github.com/phetsims/friction/issues/53#issuecomment-350134297, and in releases where we have other hotkeys (like BASE), we should look into a long term fix.

[2017-12-08 00:25] jessegreenberg commented on #57
@zepumph would you mind fixing this?

[2017-12-08 00:27] jessegreenberg commented on #55
@zepumph would you be able to verify this as well since you develop on Windows?

[2017-12-08 00:28] jessegreenberg commented on #53
KeyboardDragListener does not exist in master so cherry-pick of https://github.com/phetsims/scenery/commit/736f586a8ab900ee43e94353b1932bfd5d6c949a will not be possible but it should be easy enough to apply change to old KeyboardDragHandler.

[2017-12-08 00:29] zepumph commented on #57
@jessegreenberg it was agreed that we don't care about the wasd keys? What if another language has different keys for those positions?

[2017-12-08 00:31] zepumph commented on #55
@jessegreenberg steps to verify please? I have never tested lol.

[2017-12-08 00:31] jessegreenberg commented on #57
Ah, right, Good point @zepumph. But I think the report still applies for "Move Book", "Move book", and "Move in smaller steps" labels on the left side.

[2017-12-08 00:34] jessegreenberg commented on #55
Can be tested by navigating here:
http://harness.legendsoflearning.com/

In the "Game URL" field, put the sim url, which can be from localhost, and add query parameter `?legendsOfLearning`.

"Learning Objectives" select box can be ignored.

Press "Test It"

Sim should load in an iframe with buttons on the right.

[2017-12-08 00:35] zepumph commented on #57
Sorry I'm not being clear. I agree about the three on the side.

I'm wondering about the wasd keys. They aren't currently, but should they be?

[2017-12-08 00:36] jessegreenberg commented on #57
No, WASD keys  should not be translatable because we currently do not have a way to map different keycodes with the translation utility.

[2017-12-08 00:41] zepumph commented on #57
Is a keyCode tied to the letter, or to the place on the keyboard? http://mentalfloss.com/article/52483/6-non-qwerty-keyboard-layouts

I'm wondering if we need to make those translatable to support different looking, international keyboard layouts.

Even so, because of your concern, we would just have to hope that our translators punch in the right keys (the keys needed to move the book, not the li

[2017-12-08 00:43] zepumph commented on #55
Seems to work to me!

[2017-12-08 02:14] zepumph commented on #57
The three in the panel should be fixed now
![image](https://user-images.githubusercontent.com/6856943/33747769-5c6d07f8-db71-11e7-8a05-4e113888ae36.png)

[2017-12-08 17:19] phet-steele commented on #55
Loads fine on our Edge QA devices. Closing.

[2017-12-08 17:19] #55 closed

[2017-12-08 18:10] zepumph commented on #57
@jessegreenberg please unassign all and mark "fixed pending testing" if you don't think we should work on https://github.com/phetsims/friction/issues/57#issuecomment-350138352 right now.

[2017-12-08 18:44] jessegreenberg commented on #57
I would assume it is the code for the letter, not the layout on the keyboard, but I don't know for sure. For instance on a Colemak layout, I doubt that the code for R becomes the code for S.

I am not sure yet how we will support layouts like JCUKEN (russian keyboard in your link), keycodes could be very different. I think we should prevent i18n of keys until we decide to support different keycode

[2017-12-08 19:32] jessegreenberg commented on #52
Something like this could be added to Display.js to resetore focus:
[code]

[2017-12-08 19:38] jessegreenberg commented on #52
I have questions about whether or not this is desirable, and we should discuss with @terracoda and @emily-phet before continuing.  The typical use case for "Pause" is to get the student to stop playing with the sim and listen to the teacher or go to other content. If while the sim is paused, the user navigates to something else with the keyboard it could be frustrating to interrupt what they were

[2017-12-08 19:40] jessegreenberg commented on #50
Like #52 I think this can be deferred until we discuss throughly in https://github.com/phetsims/a11y-research/issues/69, and it would be OK to deploy this sim. We decide in that issue that we prefer a different behavior but if user navigates to a new tab it seems acceptable that  keyboard navigation would start from the beginning of the sim once user returns to it. @emily-phet @terracoda @zepumph

[2017-12-08 19:50] terracoda commented on #52
It would be good to discuss this.
Pressing the pause button would naturally move keyboard focus out of the sim. When returning to the sim, pressing the tab key would naturally move focus to next item.

I think the best we can do - when returning to the sim - is to try to put them on the last item that had focus. This would be akin using ESC key to close a dialog. I'm not sure there is an easy way

[2017-12-08 19:58] jessegreenberg commented on #52
Yes, we can do that.

[2017-12-08 20:25] jessegreenberg commented on #52
https://github.com/phetsims/friction/issues/52#issuecomment-349761547

I forgot about this browser specific bug which creates a focus trap so I don't think this can be deferred.

[2017-12-08 20:49] jessegreenberg commented on #52
The above commit fixes the focus trap in FF and makes the behavior like @terracoda suggested. When returning to the sim, focus will return to  the last item that had focus instead of returning to the next one.

[2017-12-08 23:04] jessegreenberg opened #58 "Edge Performance"
In #54 @BryceAG said

@BryceAG discovered that this is true when the temperature is high and the atoms are moving quickly, so this is a performance problem.

At high temperature I tried to move the book with a mouse and observed similar delays, so this is a general Edge performance problem and not specific to a11y.

@ariel-phet @emily-phet should we investigate performance in Edge now or mark as d

[2017-12-08 23:06] jessegreenberg commented on #58
In my opinion, performance with a mouse in Edge is equivalent to the current public version on the site, so we are not degrading performance in this version.

[2017-12-08 23:06] jessegreenberg commented on #58
For phetsims/QA#75.

[2017-12-11 14:10] emily-phet commented on #52
@jessegreenberg @terracoda If I'm understanding correctly, it seems like this issue has been addressed? The solution of having focus return to the place it was after pausing seems like a good decision to me. Let me know if there are any questions for me.

[2017-12-11 14:14] terracoda commented on #52
@emily-phet, I too, believe this issue has been resolved.

[2017-12-11 14:22] emily-phet commented on #50
@jessegreenberg @terracoda @zepumph
Just for clarification: the issue is that in some browsers, any navigation (keyboard, mouse click, etc.) to a different browser tab results in having to start the keyboard nav sequence over when returning back to the PhET sim tab. Or is the issue more about switching between keyboard and mouse (e.g., mouse click to a new tab and then return to PhET sim results i

[2017-12-11 14:25] emily-phet commented on #58
@jessegreenberg Agreed - if the behavior with the mouse interaction in the published version is similar to the keyboard interaction, I don't think this needs to be addressed.

[2017-12-11 16:44] jessegreenberg commented on #52
Thanks @emily-phet and @terracoda, this should be addressed. Will be verified in the next round of testing.

[2017-12-11 17:31] jessegreenberg commented on #50
This is correct. But the browser seems to return focus in different ways depending on how the user left the sim tab. And different browsers do different things. Here is a list of behavior on different browsers:

- Edge/Safari:
  - However you leave the sim tab and then return: focus starts over at top of page.
- IE11:
  - Leaving tab with mouse/keyboard/linkand then returning: Focus *stays* on las

[2017-12-11 18:22] ariel-phet commented on #58
@jessegreenberg playing with edge on my laptop with the published version I saw no performance problems.

Checking the RC version I also saw no performance issues with mouse or with keyboard.

I think this issue can be closed.

[2017-12-11 18:22] #58 closed

[2017-12-12 13:48] emily-phet commented on #50
@jessegreenberg - letting the browser do its thing makes sense to me. We would like the user experience to be consistent with their expectations with a particular browser when it doesn't cause us tremendous work/overhead to allow that.

Do you think this behavior across different browsers is intentional, or just a quirk of how they're each handling focus?

[2017-12-12 18:47] jessegreenberg commented on #50
Hmm, I sit corrected. I just tested out  behavior of https://mdn.github.io/learning-area/html/forms/your-first-HTML-form/first-form-styled.html which is a typical HTML form. In all browsers I have tested so far (Chrome, FF, Safari, Edge, IE11), focus goes back to the element that had focus when leaving the tab and interaction can continue. Now I think we should strive for that and figure out why P

[2017-12-12 22:48] zepumph commented on #50
After talking with @jessegreenberg about this problem. We don't think this should block Friction anymore, but instead we should continue on with deployment, and work on issues like this in phetsims/scenery#722. This will hopefully be a long term and robust solution to this problem.

[2017-12-12 22:49] zepumph commented on #50
Assigning to @emily-phet to veto or confirm the above comment.

[2017-12-13 18:50] zepumph commented on #54
This is cherry-picked to scenery's friction-1.4 branch

[2017-12-13 18:52] zepumph commented on #52
Cherry-picked into scenery's friction-1.4 branch

[2017-12-13 20:25] EthanWJohnson commented on #54
This seems to be working fine in edge now.

[2017-12-13 20:25] #54 closed

[2017-12-13 23:27] phet-steele opened #59 "1.4.0 Screenshot"
phetsims/QA/issues/78

[2017-12-13 23:28] phet-steele opened #60 "1.4.0 QA Credits"
phetsims/QA/issues/78

[2017-12-18 21:39] phet-steele commented on #57
Thanks @zepumph!

[2017-12-18 21:39] #57 closed

[2017-12-18 21:39] phet-steele commented on #53
Looks to be working.

[2017-12-19 17:58] phet-steele commented on #52
Works well for me.

[2017-12-19 17:58] #52 closed

[2017-12-19 18:47] #59 closed

[2017-12-19 18:53] #60 closed

[2018-01-05 19:38] jessegreenberg commented on #50
This issue can be closed, we are going to discuss and handle this generally in https://github.com/phetsims/scenery/issues/713 and https://github.com/phetsims/a11y-research/issues/69

[2018-01-05 19:38] #50 closed

[2018-01-05 19:39] jessegreenberg commented on #47
This sim was deployed with keyboard navigation, this issue can be closed.

[2018-01-05 19:39] #47 closed

[2018-01-23 04:45] emily-phet opened #61 "Check in with Kyle on latest with Friction descriptions"

[2018-01-23 04:50] emily-phet opened #62 "PhET-iO implementation needed"
Need phet-io implementation, and sonification wrapper, to advance sound design work.

[2018-01-24 15:47] kathy-phet commented on #62
OK.

@samreid - Can you make this your next instrumentation priority? My recollection for our last conversation with @ariel-phet was that we suspected it would be good to begin with a sanity code review to make sure the code was in reasonable shape to move forward with instrumentation (since it was an MLL sim).  Let us know what your priorities look like and if this can fit in. (It seems like the

[2018-01-24 17:50] samreid commented on #62
@emily-phet can you please comment on timeline and what features the sonification team hopes to leverage?

@kathy-phet and @ariel-phet will we have time to do a "Stable PhET-iO" design for this sim before instrumenting it?  It would save us time in the long run.

[2018-01-24 18:00] kathy-phet commented on #62
I suspect the timeline will require more the "instrument everything reasonable" approach to support the sonification work, but we will see when Emily needs it.

@samreid - Seems like the code review is needed, regardless, so if you could start on that when you have time, that would be great.

[2018-01-24 18:09] emily-phet commented on #62
Putting this here, as this is what I could dig up, but would like to confirm with @jbphet that this was the list *after* we discussed it with Mike.

Pickup / drop of book
Contact / no contact between books
Horizontal velocity of book
Current “temperature”
Break off / exit events (one per molecule)

[2018-01-24 18:18] kathy-phet commented on #62
Horizontal velocity of book - do you need velocity, or just moving left/right or not moving? I suspect velocity is not a variable in the sim currently.

[2018-01-24 18:37] emily-phet commented on #62
@kathy-phet JB is offline on slack, so asking Mike to weigh in directly on his needs here. I'll check in with JB next time I notice he's on slack.

[2018-01-24 21:01] samreid commented on #62
I'm not complaining and happy to help out, but I noticed that @jbphet is listed as Friction's responsible developer in https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md.  Would you like him to take on any part of the code review or instrumentation process?  I'm fine either way, just wanted to double check before I get too far.

[2018-01-24 21:03] samreid opened #63 "Code Review"
In https://github.com/phetsims/friction/issues/62#issuecomment-360220415 @kathy-phet requested a code review for Friction as a preliminary step in PhET-iO instrumentation.  I asked @kathy-phet if she wants the Friction responsible dev @jbphet to perform the review in this comment https://github.com/phetsims/friction/issues/62#issuecomment-360271799 but I'll get started until I hear back.

[2018-01-24 21:06] kathy-phet commented on #62
@ariel-phet can weigh in too, but I think we discussed that given current constraints for John and the need to publish this sim with PhET-iO on a shorter timeframe, that we had hoped you would take this on. We were also hoping it was a smaller sim, so not too hard to pick up for reviewing.

[2018-01-25 16:41] jbphet commented on #62
I've added the SonLab team to this repo so that members of that team can be assigned issues and easily referenced.

[2018-01-26 21:29] mikewinters10 commented on #62
Hi @samreid,

We discussed friction more today in the sonification design meeting. Would it be possible for PhET-iO to include whether the user has selected the macroscopic or microscopic view? To be explicit, whether the user has picked up the book in the bottom (book) view, or the upper (particle) view?

Many thanks, Mike

[2018-01-27 00:27] samreid commented on #62
Sounds good, thanks @mikewinters10

[2018-01-31 16:21] samreid commented on #62
I think it would be possible (but not optimal) to leverage the event stream for monitoring pickup and drop of the book, but it seems it would be clearer, more robust and more maintainable to have a `dragging` property.  I'm not sure whether to create a new model property, or to convert the  `SimpleDragHandler.dragging` attribute to an instrumented axon Property.  I'll reach out to @jonathanolson t

[2018-01-31 17:08] jonathanolson commented on #62
A dragging property sounds fine for SimpleDragHandler. Refactoring the dragging getter to use property.value can be avoided by using an ES5 getter.

[2018-01-31 17:09] samreid commented on #62
Thanks @jonathanolson. Summarizing TODOs:

- [ ] Pickup / drop of book
- [ ] Contact / no contact between books
- [ ] Horizontal velocity of book
- [ ] Current “temperature”
- [ ] Break off / exit events (one per molecule)
- [ ] Distinguish between whether the user has picked up the zoomed in book or zoomed out book

[2018-01-31 17:11] samreid commented on #62
This is implemented in the sim as "amplitude" and varies between 1 and 8 (or a bit more).  Maybe we should use the value computed for showing the thermometer.

[2018-01-31 17:54] emily-phet commented on #62
@samreid I don't think we need actual temperature values, just the ability to distinguish at a finer grain level than 8 or 12 values. We're going to have come up with descriptions for different temperature ranges in the sim, and for certain points of interest on the thermometer. Documenting this using indicators that range from 1-100 may be better than 0-1. I'm going to ask @terracoda to comment.

[2018-01-31 19:53] samreid commented on #62
@emily-phet they are floating point numbers, so there is a wide continuum.  Do you think we need to normalize it, or just provide a way of getting the min (1) and the max (something around 12).

[2018-02-02 17:59] samreid commented on #62
I wasn't 100% sure what you meant by exit events.  Do you need a message when a molecule leaves the screen?  Or is it enough to know when it breaks off?

[2018-02-02 18:13] samreid commented on #62
Initial draft is here: https://www.colorado.edu/physics/phet/dev/html/friction/1.5.0-dev.3/phet-io/wrappers/index

Please see the 5 preceding comments for usage notes and follow-up questions.

[2018-02-02 20:51] samreid commented on #63
Checking in about status: I addressed several issues and added TODOs for more issues.  I still have not been 100% through every file, and I have not yet used the code review checklist.

[2018-02-02 21:38] mikewinters10 commented on #62
Hi @samreid,

I've done some testing: it looks good! Here's what I've culled from the
instance proxies so far:

   - Pickup / drop of book => isDraggedProperty
   - Contact / no contact between books => contactProperty
   - Horizontal velocity of book => derivable from bookPositionProperty
   - Current “temperature” => amplitudeProperty

Sorry I wasn't clear with "break off/exit events." I just ne

[2018-02-02 22:10] samreid commented on #62
There are 3 `isDraggedProperty` instances, one is for the macroscopic book, one is for the microscopic book and one is for the area of molecules on the microscopic book.

The `friction.frictionScreen.model.evaporationEmitter` emits an event each time a molecule evaporates from the book.

[2018-02-02 23:02] mikewinters10 commented on #62
Thank you @samReid! I'm getting all the messages now. Here's the complete
mapping:

   - "Macroscopic" pickup /drop =>
   chemistryBookNode.dragHandler.isDraggedProperty
   - "Microscopic" pick up / drop =>
   magnifierNode.backgroundDragHandler.isDraggedProperty
   - Contact / no contact between books => contactProperty
   - Horizontal velocity of book => derivable from bookPositionProperty
   -

[2018-02-02 23:05] samreid commented on #62
Good catch, I have reproduced the problem and will work on publishing a new version with a fix.

[2018-02-03 14:12] samreid commented on #62
I published a new version that only emits evaporation events when an atom evaporates (previous version emitted when the amplitude reached a threshold that would allow atoms to evaporate).

https://www.colorado.edu/physics/phet/dev/html/friction/1.5.0-dev.4/phet-io/wrappers/index/

Also, I noticed that some of the evaporation events are nested in the data stream.  If you are using EmitterIO.addList

[2018-02-03 14:14] samreid commented on #62
Removing assignment while I await feedback, please re-assign the issue to me when feedback is ready.

[2018-02-05 18:47] mikewinters10 commented on #62
Just tested with the phet-osc-bridge, and it is now working as expected =>
91 messages for 91 evaporation events.

Many thanks!

On Sat, Feb 3, 2018 at 9:14 AM, Sam Reid <notifications@github.com> wrote:

[2018-02-05 18:48] samreid commented on #62
That's great news!

[2018-02-06 18:07] samreid opened #64 "Code review checklist"
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*
*Please mark failed items with* ❌

PhET code-review checklist
=============

#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built

[2018-02-06 18:35] samreid opened #65 "Increase pointer area for reset all button"
From #64

@ariel-phet would you like to increase the pointer area for the reset all button?  It currently looks like this:

![image](https://user-images.githubusercontent.com/679486/35877149-c168945c-0b31-11e8-920a-5d973eb796c5.png)

May be a good idea as we are moving toward smaller screens.

[2018-02-06 18:39] samreid opened #66 "Some strings are in friction-strings_en.json and some are in FrictionA11yStrings.js"
Discovered in https://github.com/phetsims/friction/issues/64

Some a11y strings are in the json:
[code]
and several are in FrictionA11yStrings.js.

@jessegreenberg should these be consolidated?  Is there a good reason to keep them separate?

[2018-02-06 18:47] jessegreenberg commented on #66
The separation is intentional. A11y related strings in the json are visible in the keyboard help dialog, so it is important that they are translatable. Strings in FrictionA11yStrings.js are only available for a screen reader user. In general these strings are not translatable yet because we want to enhance the Rosetta UI by adding context for these strings for translators. We also want some broade

[2018-02-07 00:05] ariel-phet commented on #65
@samreid yes please, we generally dilate this one a bit.

[2018-02-07 04:22] samreid commented on #65
Pushed a touch area dilation for the reset all button.

![image](https://user-images.githubusercontent.com/679486/35898375-8a1ccb06-0b83-11e8-9b07-8e0fa164b838.png)

Closing

[2018-02-07 04:51] samreid commented on #64
Note to self, a checkbox above means it has been reviewed.  In some cases I have marked a TODO in the code for addressing in a follow-up issue, or later in this issue.

[2018-02-07 17:01] samreid commented on #66
That makes sense to me, thanks!

[2018-02-07 17:01] #66 closed

[2018-02-13 18:31] samreid opened #67 "PhET-iO Instrumentation checklist"
From #64

### Before instrumenting
 - [x] Copy this checklist to the issue description (top issue comment) for tracking. Link back to this checklist via `/blob/<SHA>/` so that the specific guide you used is preserved. https://github.com/phetsims/phet-io/blob/b6303f013f9571158fe46a9e4b98b1382f35dd91/doc/how-to-instrument-a-phet-simulation-for-phet-io.md
 - [x] [Understand the goal](https://github.c

[2018-02-13 18:32] samreid commented on #64
I reviewed everything for this issue and (a) fixed things (b) created TODOs or (c) created issues.  I need to address the marked TODOs and created issues.

[2018-02-13 21:00] samreid opened #68 "Arrows are tearing"
On my monitor it looks like this:

![image](https://user-images.githubusercontent.com/679486/36173442-41d9a7f4-10c6-11e8-8879-04d661a17cc0.png)

[2018-02-13 21:01] samreid commented on #68
No problem in firefox.

[2018-02-13 21:02] samreid commented on #68
No problem in safari.  Can no longer reproduce the problem in chrome.

[2018-02-13 21:02] #68 closed

[2018-02-13 21:31] samreid opened #69 "Bad LICENSE in several sims"
![image](https://user-images.githubusercontent.com/679486/36174749-802ef5a0-10ca-11e8-9009-62d822d47747.png)

build-an-atom referenced in wrong sims.  Discovered in #64

[2018-02-14 03:05] samreid commented on #69
It looks like the majority of the LICENSE files were committed by @jbphet, reassigning it to @jbphet so he knows its a problem and to address it.  I think we just use the GPL v3 template (without filling in the project name).

[2018-02-14 16:43] samreid commented on #64
After the above commits, we are down to 29 TODOs across 6 files.

[2018-02-14 16:44] samreid commented on #61
@emily-phet can you please provide more detail for this issue?

[2018-02-14 17:43] samreid commented on #64
Wow, 8 to go.

[2018-02-14 18:12] jbphet commented on #69
Yes, it appears that the template portion was filled in for these files.  The line in question should look like this:
[code]

[2018-02-15 02:12] samreid opened #70 "Call FrictionModel.init before the view construction"
Discovered in #64, FrictionModel has an `init` function which cannot be called until the View has been created, because the view adds elements to the model as the view is created.  This is backwards and would be good to remedy.  This would take somewhere around 2-4 hours to iron out and will impact several parts of the code.  Assigned to @ariel-phet to prioritize/schedule/delegate (a reminder I'm

[2018-02-15 02:28] samreid opened #71 "Use scenery to render the atoms"
The atoms are currently rendered with this custom canvas code:

[code]

It would simplify this code quite a bit to use scenery to render the circles and highlights.

It would be even simpler if we could use scenery-phet's ShadedSphereNode for rendering the spheres, but they would look a little different than they do in the sim (more consistent with other sims though).

@ariel-phet can we try Shade

[2018-02-15 02:29] samreid commented on #64
All TODOs completed or moved to new issues, closing.

[2018-02-15 02:29] #64 closed

[2018-02-15 02:32] samreid opened #72 "Re-testing after review/maintenance complete"
After we decide what to do with #71 and #70, this simulation needs at least a dev test to make sure the multitude of recent commits haven't been detrimental.  On hold until we decide what do do with #71 and #70.

[2018-02-15 04:54] samreid opened #73 "Atom state not transmitted"
See https://github.com/phetsims/friction/issues/67

[2018-02-15 05:01] samreid opened #74 "Republish and add to "newly instrumented" list"
See #67

After #72 we can republish PhET and PhET-iO brands.  On hold until #72 done.

[2018-02-15 05:02] samreid opened #75 "PhET-iO Design"
From #67

We wanted to get this ready for sonification teams to use right away, but when the time is right, this sim needs a PhET-iO design.

[2018-02-15 05:02] samreid commented on #67
Everything complete or moved to new issues, closing.

[2018-02-15 05:02] #67 closed

[2018-02-15 05:23] samreid commented on #63
Review complete, everything addressed or moved to issues, closing.

[2018-02-15 05:23] #63 closed

[2018-02-15 16:26] samreid commented on #73
I ruled out needing to invalidatePaint as the cause.

[2018-02-15 16:52] samreid commented on #73
I instrumented the positions of the atoms, now they are correctly updated in the state wrapper.  Performance in instance proxies is slower because of how many Vector2 are updating every frame, but this may be unavoidable given our current system.  Closing.

[2018-02-15 16:52] #73 closed

[2018-02-15 17:14] jbphet commented on #70
As the responsible dev, I'd be glad to work on it too.

[2018-02-15 17:17] jbphet commented on #71
This was done because rendering with regular scenery nodes wasn't performance enough, and CanvasNode didn't exist at the time.  IMO, the approach that would be most likely to succeed would be to replace the custom node with a CanvasNode and then experiment with different looks.

[2018-02-15 17:20] samreid commented on #71
To clarify, we will still use canvas to render everything.  But we will use Node.toImage() instead of context.fill.

[2018-02-16 01:38] ariel-phet commented on #71
@jbphet is this something that might be doable by @arnabp?

@samreid definitely should not be done by you currently

[2018-02-16 01:44] ariel-phet commented on #71
@jbphet feel free to assign back to me if this is something you are @arnabp cannot get to in the nearish future

[2018-02-16 01:47] ariel-phet commented on #70
@jbphet this would be good to do soon'ish...as this sim is being instrumented for sonification work, I feel like improvements like this can be wrapped up into your sonification days.

[2018-02-16 01:47] samreid commented on #71
@ariel-phet the atoms currently look like this:

![image](https://user-images.githubusercontent.com/679486/36290029-a3190580-1280-11e8-91dd-964f43de6b09.png)

Would it be OK to use ShadedSphereNode to render them, they would look more like this (at the right size though):

![image](https://user-images.githubusercontent.com/679486/36290019-9769ed62-1280-11e8-8e94-77318e4e41da.png)

and we could add

[2018-02-16 02:07] ariel-phet commented on #71
@samreid yes, with a black stroke that would be fine

[2018-02-16 16:48] jbphet commented on #69
Should be fixed, closing.  @samreid - feel free to take a look if you'd like to double check, and re-open if necessary.

[2018-02-16 16:48] #69 closed

[2018-02-18 17:49] samreid commented on #71
@jbphet just to clarify the recommendation before you or @arnabp start on this.  AtomCanvasNode will still extend CanvasNode and you'll still be able to get good performance.  The proposed change is about how the rasters are created.  You will no longer need this code that creates a custom (secondary) canvas for the rasters (the primary raster is the one associated with the CanvasNode and that one

[2018-02-28 21:23] samreid commented on #74
@jbphet will be continuing the final steps in #70 and #71, and will oversee testing in #72.  Assigned to @jbphet, but leaving on hold until sub-issues are completed.

[2018-03-05 23:18] jessegreenberg opened #76 "Keyboard dragging is broken"
Looks like a new assertion was added to FrictionModel that requires the arg to FrictionModel.move to be a Vector2.

[2018-03-05 23:20] jessegreenberg commented on #76
Fixed with above commit, closing.

[2018-03-05 23:20] #76 closed

[2018-06-01 21:44] jbphet commented on #71
Implemented.  Looks much nicer.  I tested the changes on an iPad 2 using the profiler, and the performance appears to be the same, which is what I'd expect.

@samreid - please take a look and, if the changes seem reasonable, please close.  I checked with @jonathanolson that I'm using the right API to convert the node to a rasterized image that can be rendered on canvas.  By the way, he said that e

[2018-06-05 16:53] jbphet commented on #70
At this point, the original "letter of the law" for this issue is met, meaning that all initialization of the model takes place during construction and there is no `FrictionModel.init()` method that is called afterwards.  The main issue was that the individual atoms, of type `Atom`, were being created in the `MagnifierNode`.  It's hard to say why it was done this way originally, but it felt like a

[2018-06-05 19:08] jbphet commented on #70
I've now modified `Atom` to have a step function, and the instances are now explicitly stepped by `FrictionModel`. This gets rid of a step emitter that looked to me as though it existed to support the odd relationship between `FrictionModel` and the atoms that were created by `MagnifierNode` (but that are now created and managed by `FrictionModel`).

[2018-06-05 19:40] jbphet opened #77 "Make atom have center position and non-property position"
While working on #70 I noticed that the `Atom` class uses the term `origin` for its center position, and also requires it as a value but gets it from the options object.  This should be cleaned up.

[2018-06-05 19:42] jbphet commented on #77
Also, a property is used for position, but no one is linking to the property.

[2018-06-06 17:35] jbphet commented on #70
@samreid - I've made a number of changes that should address this issue.  Please review, noting the comments above as part of the process.  I've published a dev release and set up a test task for QA, since these changes were substantial.

There is still a lot that could be improved about the code for this sim, but hopefully this is a step in the right direction and will help to support phet-io and

[2018-06-06 20:28] lmulhall-phet opened #78 "can't keyboard navigate through the About dialogue back to the close button"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.13.4

<b>Browser</b>

Safari 11.1, Firefox 60.0.1, Chrome 66.0.3359.181

<b>Problem Description</b>

For phetsims/QA/issues/127. I can't tab through the About dialogue.

<b>Steps to Reproduce</b>

1. Keyboard navigate to the PhET menu.
2. Keyboard navigate to the About dialogue.
3. Try to tab through the About dialogue.

<b>Visuals

[2018-06-06 22:41] samreid commented on #70
A few minutes skimming the changes and using the simulation did not reveal any problems, but it would take probably 2 hours to do a formal review of all the changes.  @ariel-phet want me to schedule time for that?

[2018-06-06 22:44] jbphet commented on #70
My 2 cents is that I don't think it warrants full review.  I feel pretty confident that it's an improvement, and QA is going to test (see https://github.com/phetsims/QA/issues/127), so if @samreid's skim didn't reveal anything major, I think that's enough.

[2018-06-07 16:10] lmulhall-phet opened #79 "keyboard navigation with two arrow keys stops movement in Safari"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.13.4

<b>Browser</b>

Safari 11.1

<b>Problem Description</b>

For phetsims/QA/issues/127. Slight inconsistency in keyboard navigation behavior... In Chrome and FF, pressing the up arrow key and the left or right arrow key at the same time while the book is at the will result in the book to moving left or right. In Safari, doing th

[2018-06-08 18:11] ariel-phet commented on #70
Agreed, no need for a formal review.

[2018-06-08 19:56] lmulhall-phet commented on #79
I should note that this happens with any combination of arrow keys.

[2018-06-08 20:08] jessegreenberg commented on #78
I am not able to reproduce in Chrome on Windows in master or in https://bayes.colorado.edu/dev/html/friction/1.5.0-dev.6/phet/friction_all_phet.html. This is only happening in macOS.

[2018-06-08 23:07] jessegreenberg commented on #78
In the "incorrect behavior" gif, are you unable to tab back into the about dialog at the end?

[2018-06-11 15:32] lmulhall-phet commented on #78
OK, perhaps "incorrect" is too strong a word. However, I would like to point out that the behavior is inconsistent with all of the sims here https://phet.colorado.edu/en/accessibility/prototypes, including the published version of friction and friction 1.5.0-dev.5.

I assume the behavior in the published versions of sims with keyboard navigation is the _intended_ behavior, and I assume the behavio

[2018-06-11 15:35] lmulhall-phet commented on #78
Yes. There's no loss of functionality with this behavior. I only pointed it out because it's inconsistent with the behavior of other simulations.

[2018-06-11 16:36] jbphet commented on #70
Cool.  Dev testing is complete with no related issues found.  Closing.

[2018-06-11 16:36] #70 closed

[2018-06-12 17:05] jbphet commented on #77
Done, closing.

[2018-06-12 17:05] #77 closed

[2018-06-15 00:27] zepumph commented on #78
I agree @lmulhall-phet, the about dialog's keyboard order is different that it has been in the past. Things are evolving. @jessegreenberg is the current behaviour (close button first, then links) correct? Or should it be instead implemented to go to the links first. If the current behavior seems alright. Please close this issue.

@lmulhall-phet as always, if it seems like I am not understanding, p

[2018-06-18 18:10] jessegreenberg commented on #78
Thanks for bringing this up @lmulhall-phet, I see now that the behavior is different and generally that is an indication of a new bug.  But in this case, the current behavior is correct and it was changed because it was odd for focus to automatically move to the last item in the dialog when opened. Closing.

[2018-06-18 18:10] #78 closed

[2018-06-25 18:38] terracoda commented on #61
@emily-phet, since I am working on the descriptions now, I will go ahead and close this issue.
[Friction: A11y Design Main](https://docs.google.com/document/d/1XXI7SD-ASJwivsBaHgeOZmMcJFFN_s3FU48-syO-G0o/edit#heading=h.uctn2leiizew).

Static description are good, and I am still working on the best approach for a dynamic description, and a few alerts.

[2018-06-25 18:38] #61 closed

[2018-06-28 21:14] jbphet commented on #72
I addressed #70 and #71 and set up a dev test by QA (see https://github.com/phetsims/QA/issues/127) and the sim passed the testing.  I think it's safe to close this now.

[2018-06-28 21:14] #72 closed

[2018-07-04 19:49] terracoda opened #80 "Keyboard shortcuts dialog is missing a11y content in live version"
I just noticed that there is no accessible content in the keyboard shortcuts dialog. Not sure if this was intentional or accidental as the sim is not yet fully screen reader accessible.

However, we do have content for the dialog, so I would suggest we add it in.

See design document for A11y Content. There is no need to update to the latest version, just add in existing list items for the existin

[2018-07-04 19:54] terracoda commented on #80
@jessegreenberg could you assign to a developer? Not sure if a priority is needed from @ariel-phet? Assigning to @ariel-phet as well.

[2018-07-04 19:56] terracoda opened #81 "Dynamic descriptions and alerts are ready for Friction"
Please see the stripped down version of the A11y Design document:
https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.uctn2leiizew

Assigning to @zepumph to review.
Please let me know if you want to meet and discuss.

[2018-07-05 13:51] terracoda commented on #81
@zepumph, to reduce any confusion on my part or your part, I archived the Friction's A11y Main documetn and renamed the stripped down version to be the main one.

[Friction A11y Design Main](https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.5uj8kow1p09i)
or (https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.5

[2018-07-05 16:30] ariel-phet commented on #80
@terracoda I am confused...if the sim is not yet fully screen reader accessible, why would we add this content into the dialog of the published version?

[2018-07-05 16:46] jessegreenberg commented on #80
I don't think this was an oversight, but I could be wrong. The latest deploy of this sim included keyboard navigation and labels for the focusable items, like "Chemistry Book".

I believe this sim will get full description soon and I think that is the best time to include this content. Does that sound good @terracoda?

[2018-07-05 17:45] terracoda commented on #80
@jessegreenberg, @ariel-phet I don't think it was an developer oversight, but I do think it was a design oversight on my part.

Static descriptions are meant to provide some access to sim interactions for people with screen readers - not full access, but some access.

However, when a user opens the dialog, they only hear heading content and no description of the actual interactions.

As far as I u

[2018-07-05 17:47] terracoda commented on #80
@jessegreenberg, we could certainly wait for the implementation of full description. My concern was that with just the heading content, it seems a little broken. We can discuss at A11y Meeting.

[2018-07-10 17:40] terracoda commented on #80
Closing this issue. Will implement with full description which is coming soon.

[2018-07-10 17:40] #80 closed

[2018-07-10 17:54] terracoda commented on #81
@zepumph, when we are ready to implement the keyboard dialog, we can also implement the new content for all dialogs from this issue https://github.com/phetsims/a11y-research/issues/113#issuecomment-402547376

[2018-07-16 18:12] jbphet opened #82 "Assertion due to uninstrumented focasable instance"
There was a report in https://github.com/phetsims/phet-io-wrapper-sonification/issues/57#issuecomment-405309259 that some of the keyboard navigation isn't working in one of the sonification wrappers.  I just tried testing this navigation on a RequireJS phet-io version of the sim, and hit an assertion.  The message is:

[code]

The stack trace is:
[code]

This can be duplicated on the current maste

[2018-07-16 18:16] jbphet commented on #82
@zepumph - please assign this back to me once it's fixed to help me remember to republish the sonification wrappers.

[2018-07-16 19:49] zepumph commented on #82
@jbphet please see if it is fixed now.

@samreid I moved the instrumentation from the type to the sub node that gets focus. I'm not sure this is the best for all cases, but we can revisit this when we thoughtfully design friction. Notice how it is a bit weird in `MagnifierNode` to have the `magnifiedNode` be a sibling of dragHandlers that are technically "children" in regards to the tandem structu

[2018-07-16 19:53] samreid commented on #82
I agree with everything in the preceding comment--this should work for now.

[2018-07-17 18:00] jbphet commented on #82
I've tested this out and the behavior now looks correct, and others have verified that it works correctly in the latest deployed sonification wrappers (see https://github.com/phetsims/phet-io-wrapper-sonification/issues/57#issuecomment-405669807).  Thanks for the quick fix!  Closing.

[2018-07-17 18:00] #82 closed

[2018-07-24 17:49] jbphet commented on #74
The three issues listed above have been addressed.  I can go through the process of re-releasing this off of master, but it should have a full QA test, so I thought I'd double check that this is still needed.  Also, is there any input as to whether I should publish both phet and phet-io, or just phet-io?  It seems like doing both would be good since they'd stay in sync.

[2018-07-24 17:50] jbphet commented on #74
Also, I want to make sure that the phet-io team agrees that this is in a state where it is ready for publication.

[2018-07-31 20:34] zepumph opened #83 "Use es6 in repo"

[2018-07-31 21:02] zepumph commented on #81
Thoughts and comments so far:
* Should the thermometer be in the PDOM even though it isn't interactive?
* It may be hard to detect when the thermometer is "cooling down" so I haven't implemented that yet.
* I commented in the doc, but I also haven't added the "A" logic in the beginning sentence yet, as that will involve a bit more complexity as well.

I think that the PDOM content is pretty much d

[2018-08-01 01:56] zepumph commented on #81
The above commit adds alerts when keyboard drag completes (not mouse drag right now). There alerts are not complete, and only cover as the simulation increases in friction.

[2018-08-01 02:01] zepumph commented on #81
The big todos for this issue still are:
- [ ] Add alerts as the temp decreases (how do we trigger these alerts since the aren't from user input? Probably just through linking to the amplitude property)
- [ ] Adding directional alerts to the currently implemented alerts that will say "Left" or "Right' and then the quality of the atoms.
- [ ] Answer quite a few smallish questions, many of which are

[2018-08-01 16:19] terracoda commented on #81
@zepumph, re https://github.com/phetsims/friction/issues/81#issuecomment-409366781

@emily-phet and I discussed this and we decided for this sim to take a very simple structure. more akin to John Travoltage's structure. So for now the thermometer is included as part of the summary description.

Currently, `aria-roledescription` is only recognized by VoiceOver. I was just re-reading the checklist (

[2018-08-03 18:11] jbphet opened #84 "CT failures"
I'm seeing continuous test failures for this sim which have been happening for a couple of days, and I'm the responsible dev, so it's time to log an issue.  It looks like the issues started after some commits from @zepumph that appear to be related to alerts, so I'll assign to him for investigation.

There are also a bunch of numbers being spit out to the console on the current master version.  It

[2018-08-06 15:08] terracoda commented on #81
@zepumph, you have done a great job implementing. The PDOM and alerts are working as designed.

I have identified 3 high-level design issues which I need to iterate on:
1. Length of alerts. Alerts are too long.
2. Lack of a clear distinction between state info and alert info. This sim is so dynamic, I'm struggling with how to find a good mix between state info and what’s happening info (alerts).
3

[2018-08-06 15:38] emily-phet commented on #81
@terracoda I'm going to go ahead and close this issue. Let's open up new ones for/as specific design and/or implementation challenges come up.

(certainly reopen, though, if that seems most appropriate to you)

[2018-08-06 15:38] #81 closed

[2018-08-06 16:28] jbphet commented on #84
I checked CT this morn, and I'm not seeing these issues anymore.  Go figure.  I'll close, and reopen if they come back.

[2018-08-06 16:28] #84 closed

[2018-08-06 16:54] terracoda commented on #81
@zepumph, just noticed in the A11y View that the break away alert is not uttered, only the second alert that contains the word "more" shows up in the Activity Log. I never see, "Very hot. Atoms break away from chemistry book." I only see, "Very Hot. More atoms break away from chemistry book."

I'll create an issue for that. I do think it will be useful to have logic for at least one (briefer) foll

[2018-08-06 17:01] terracoda opened #85 "Initial breakaway alert is not uttered when temperature reaches "very hot"."
After initial testing of #81 by listening, I examined the alerts in the Activity Log in the A11y View and see that the initial break away alert is not actually uttered, only the second alert that contains the word "more" is showing up in the Activity Log. I never see the initial alert, "Very hot. Atoms break away from chemistry book", and only see, "Very Hot. More atoms break away from chemistry b

[2018-08-06 17:08] terracoda commented on #85
![breakaway-missing](https://user-images.githubusercontent.com/1902116/43730572-532eea84-9986-11e8-907f-44fcbe6117b1.png)

[2018-08-06 17:12] terracoda commented on #85
In the above screen shot, I think the 4th bullet should be: " Very hot. Atoms break away from chemistry book" rather than " Atoms jiggling very fast, temperature very hot."

[2018-08-07 13:19] terracoda opened #86 "Sometimes I can't move Chemistry book down with down arrow key"
I haven't figured out exactly when this happens, but sometimes after a breakaway I cannot move the Chemistry book down to be against the Physics book (visually)., but when I move the Chemistry book, the atoms behave as if they are pressed against the Physics book.

In the screen shot below, you see the focus highlight is against the Physics book, but the Chemistry book is not. Maybe that's the iss

[2018-08-09 14:17] samreid commented on #74
Molarity's recent RC revealed some issues that will need to be fixed before we can proceed with this sim.  See https://github.com/phetsims/QA/issues/161

[2018-08-13 15:06] terracoda opened #87 "Only need one copy of how to move book help text in PDOM"
There are 2 copies of the help text paragraph describing how to move the book and zoomed-in book.

Please remove the second one, and in addition my initial text sounds a bit odd to me, so please change the remaining first instance of the help text to,
"Use arrow keys, or letter keys W, A, S, or D to move book or zoomed-in book up, left, down, or right."

Note: I changed issue to keep first and rem

[2018-08-13 15:30] terracoda commented on #87
I took care of the string update in commit 3d32df0, but I don't know how (and likely shouldn't try) to remove one instance of the help text from the PDOM.

I'll wait for someone else to take care of removing the first instance.

[2018-08-13 15:33] terracoda commented on #87
Actually, lets try leaving the fist instance and removing the second instance instead. Sorry for the confusion.

[2018-08-13 16:01] terracoda opened #88 "Add "surface temperature" to "thermometer" in screen summary"
To eventually shorten alerts, it might be useful to provide more set-up details in the screen summary, so I will try to add "surface temperature" before "thermometer" in screen summary.

Example paragraph from design doc - adding bolded text and removed "at" before "cool":

[2018-08-13 17:28] jessegreenberg commented on #87
Removed the duplicate content and verified with @terracoda that this is correct. Closing.

[2018-08-13 17:28] #87 closed

[2018-08-13 19:33] jessegreenberg commented on #88
Fixed in the above commit.

[2018-08-13 19:33] #88 closed

[2018-08-13 20:03] jessegreenberg commented on #85
Should be fixed in the above commit. Closing.

[2018-08-13 20:03] #85 closed

[2018-08-13 20:10] jessegreenberg opened #89 "Temporarily remove "jiggle" alerts"
For an upcoming round of student interviews, it was decided that the "jiggle" alerts should be removed for the test because there was concern that they would interfere with the simulation sound effects/sonification.

They have been commented out for now. @zepumph is working on a11y in this sim so pinging him so he is  aware.

[2018-08-14 19:41] terracoda opened #90 "Friction description & alerts round 2"
In issue #81, @zepumph did a great job implementing most of the descriptions and alerts for Friction.

After testing with VoiceOver, I found that the jiggle/temperature alerts were too long and that we should consider options for how to time the firing of these alerts so they do not pile up in the utterance queue.

Additionally, @emily-phet and I decided it would likely be better to describe chang

[2018-08-15 16:26] terracoda commented on #90
@terracoda to create smaller issues and point to the design document where necessary.

[2018-08-15 16:33] terracoda opened #91 "Change "Control Panel" to "Control Area""
@zepumph here's a tiny issue ;-)
Please change "Control Panel" to "Control Area" when you get a chance.
By the way where does this string live? I couldn't find it.

[2018-08-15 16:34] terracoda commented on #91
No rush ;-)

[2018-08-15 16:50] terracoda opened #92 "Not hearing "Chemistry book" or "Zoomed-in Chemistry book" on auto read through"
In Safari with Voice Over, I do not hear the names of the custom interactive objects when I read automatically from beginning of sim with VO's **Control-Command-B** read-from-beginning shortcut.

If I use the cursor keys I hear both, but just not with the read-from-beginning command.

I think the problem is that the object is an empty div with an aria-label. We may need to explore different option

[2018-08-15 16:52] terracoda commented on #92
@zepumph, are you able to test with NVDA? If not, I check in with QA or @jessegreenberg.

Not a high priority at the moment.

[2018-08-15 19:32] terracoda opened #93 "Change to second sentence of summary."
@zepumph , I have updated the strings for the opening summary.
https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.3kz4xdtel5zt

In addition, I just wanted to note that there is no need for the break aways to described in teh summary as this is better as an alert.
Using the A11y View, I noticed this:

Let me know if you concerns or questions about the new

[2018-08-15 19:34] terracoda opened #94 "Shorter alerts for increasing and decreasing amounts of friction"
@zepumph, I have created shorter alerts for both increasing friction:
https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.gg9a5jcu7gps

And decreasing friction:
https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.1dgh6cbux3jt

Let me know if you have any questions or concerns.

[2018-08-15 19:37] terracoda opened #95 "Change threshold, affecting second break away alert"
@zepumph, I would like to always hear "Atoms break away..." on the first break away, and then on all subsequent break-aways, hear "More atoms break away."

Is that possible?

[2018-08-15 19:40] terracoda commented on #94
In the first version I felt too many alerts were firing causing a pile up in the utterance queue.
Let's discuss this further in a new issue once the shorter alerts are implemented.

[2018-08-15 23:48] terracoda commented on #90
@zepumph, as discussed I created several issues regarding round 2 descriptions, small and some more complex.
- [ ] #91
- [ ] #92
- [ ] #93
- [ ] #94
- [ ] #95

Comment in issues if you have concerns or questions.

[2018-08-16 03:14] terracoda commented on #92
@zepumph, on NVDA, I would guess that you would hear, "Chemistry book, web application" on focus of the interactive book.

Only VoiceOver supports aria-role description at this time, which is indeed unfortunate.

Looks like an empty div with a label is only a problem for VoiceOver. I think we can leave this for now, and I'll just double check labeling techniques for elements with role application.

[2018-08-16 23:48] zepumph commented on #91
I hope this will be covered by a robust solution in https://github.com/phetsims/scenery-phet/issues/381, unassigning, but don't worry it is still on my raday.

[2018-08-16 23:55] zepumph commented on #93
Re comment in doc:

It is so very easy, see how simple the above commit is.

next for this issue I will:
- [ ] update the new text for the jiggling atoms clause
- [ ] remove the break away described in this sentence.

[2018-08-17 16:55] zepumph commented on #92
I think I misunderstood this issue. I see now, that as I let NVDA read through everything in the PDOM at once, or as I use the down arrow keys for one line at a time, the divs with application "role" are skipped. I wonder if this has to do with https://github.com/phetsims/a11y-research/issues/116

[2018-08-17 19:31] terracoda commented on #92
@zepumph, so NVDA is also skipping the aria-labeled-empty `div`s when you read through the PDOM by paragraph and even if you read or step through with the cursor keys?

I do think the element is getting skipped because the `div`s are empty.

I have not investigated the following possibilities, but here are a few non-empty options:
[code]

What happens if you another element and `aria-labelledby` i

[2018-08-17 19:32] terracoda commented on #92
I am not 100% sure the above examples are valid code, but nothing immediately jumps out as terribly incorrect.

[2018-08-17 22:42] zepumph commented on #94
Above commits add a different system for the increasing alerts. I can pretty easily add in the decreasing alerts, but I think there are some tweaks to make for this approach, and I think it will be easier to just to it once, since the decreasing alerts will be a copied approach.

We still are getting quite a bit more repetition than I would like, I'm going to investigate. I'm also noticing that it

[2018-08-17 22:55] zepumph commented on #95
Much of the original work to convert the break away alerts was done as part of the first commits in  #94, but the above commit cleaned it up, and got things working with the reset all button as well. @terracoda please review what you think when you get back.

[2018-08-21 23:02] zepumph commented on #93
Here is some scratch strings was partial work on this, I think I'm going to implement the logic from decreasing temp alerts in #94 before heading over here.

[code]

[2018-08-22 02:07] zepumph commented on #94
I just added the decreasing describer, and the main notes for that are as follows:
I didn't use any threshold, just a timer based on when the temp starts decreasing.

I have it working well save the start (there is no initial alert, but rather the first one is 3 seconds after decreasing (which is when I would want the 2nd alert probably)). So we need to add another alert on first decrease, which I

[2018-08-24 00:36] pixelzoom opened #96 "CT error: TypeError: Cannot read property 'firstTime' of undefined"
friction : accessibility-fuzz : require.js : run
Uncaught TypeError: Cannot read property 'firstTime' of undefined
TypeError: Cannot read property 'firstTime' of undefined
    at Object.alertTemperatureJiggleFromObject (https://bayes.colorado.edu/continuous-testing/snapshot-1535067196651/friction/js/friction/view/FrictionAlertManager.js?bust=1535068429421:62:24)
    at TemperatureDecreasingDescrib

[2018-08-24 00:37] pixelzoom opened #97 "CT error: Assertion failed: reentry detected"
friction : accessibility-fuzz : require.js : run
Uncaught Error: Assertion failed: reentry detected, value=1, oldValue=11.829334000000001
Error: Assertion failed: reentry detected, value=1, oldValue=11.829334000000001
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1535067196651/assert/js/assert.js:22:13)
    at NumberProperty._notifyListeners (https

[2018-08-24 17:27] jbphet commented on #96
I did some investigating on this, and it appears that the value `alertIndex` is not initially defined in the file `TemperatureDecreasingDescriber`, and this is causing problems within `FrictionAlertManager`.  This code was written and recently added by @zepumph, assigning to him for resolution.

[2018-08-24 17:33] zepumph commented on #96
Yes indeed. I'm sorry that you worked on it at all! It has been on my radar but my a11y days are Tuesday and Friday so it had to sit for a bit. Sorry about that!

[2018-08-24 18:09] jbphet commented on #97
I spent a few minutes looking at this, and it is the `amplitudeProperty` of `FrictionModel` that seems to be experiencing reentry based on the stack trace shown above.  I was unable to duplicate the problem after 20 minutes of fuzz testing.  I was using a slightly different version of code because I'd commented out some code for alerts that was causing a different assertion during CT, see #96.  As

[2018-08-25 01:00] zepumph opened #98 "describer indices reset based on dragEnd"
The current dragEnd callback is called whenever a key is updated, not when the whole drag is done (all keys up). Both the increasing and decreasing describers reset their "levels" of alerts on dragEnd. For example, for increasing, level one is "jiggling more, wamer" and the next level is "jiggling faster, now hotter." And there is a similar progression for decreasing.

I think it would be best for

[2018-08-25 01:21] #89 closed, assigned to nobody

[2018-08-25 01:26] zepumph commented on #86
And of course, if you do run into it again and can report steps to reproduce, that would be great.

[2018-08-25 01:28] zepumph commented on #97
Bayes has now had 18 cycles without showing errors in friction. I believe this was downstream of my declaration bug in #96. Closing. If I see it pop up again, I will reopen this issue.

[2018-08-25 01:28] #97 closed

[2018-08-25 01:29] zepumph commented on #94
With work continuing in #98, I think that this is ready for review by @terracoda when she gets back.

[2018-08-25 01:30] zepumph commented on #94
@terracoda as you are reviewing how this sounds, I'm happy to discuss the implementation specifics, but I don't want to write out all the nuance right here on what has been decided on so far.

[2018-08-28 21:34] zepumph commented on #94
I agree that the increasing system is a bit buggy, but I'm not quite sure how to manage it. The "very hot" alerts don't show up until you do a single drag long enough. So if you hold down the bottom arrow and move the book left to right, there will eventually be a "very hot" alert, but I think the timing is a bit problem. I think this warrants a conversation when you get back, because it will requ

[2018-08-28 21:46] zepumph commented on #91
Changed occurred with https://github.com/phetsims/scenery-phet/issues/397, I don't think we need to wait for the decision in https://github.com/phetsims/scenery-phet/issues/381 to proceed with this.

@terracoda said:

It is factored out into a common type in scenery-phet: https://github.com/phetsims/scenery-phet/blob/master/js/SceneryPhetA11yStrings.js#L40

and then used by `scenery-phet/js/access

[2018-08-28 21:47] zepumph commented on #94
Much of the problem has to do with https://github.com/phetsims/friction/issues/98, and the issue of timing/interaction length that we have been discussing for weeks now.

[2018-08-28 23:32] zepumph commented on #92
I went with the first sample you gave, where the innerContent of the div, and the ariaLabel, are both set to the title, and it works great! At least as far as my inexperienced screen reader skillz can tell. Committed above, please let me know what you think.

[2018-08-28 23:47] zepumph commented on #90
@terracoda here is the newest sonification wrapper with updated descriptions from work today.

https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-dev.73/phet-io-wrapper-sonification/friction/html/friction-sonification.html?sonificationFile=sonificationDefault&accessibility

[2018-08-30 19:37] zepumph commented on #83
I'll continue to do this. Closing

[2018-08-30 19:37] #83 closed

[2018-08-31 18:06] zepumph commented on #98
in #90 @terracoda mentioned that she was having a hard time hearing the "very hot" alert, that should be happening when you rub more even when atoms are breaking away. I think it may be nice to hard code that in to be separate from the current increasing array strategy in `TemperatureIncreasingDescriber`. So if you are alerting at a high temp, there won't be the sliding scale of alerts from that t

[2018-09-04 16:05] terracoda commented on #86
@zepumph, this happened again for me a few times. Perhaps it is a Mac specific issue?

However, that said. Could it be possible be that sometimes it looks like all the atoms in the row have broken away visually, but in the model, the model still thinks one last atom is left in that row. That is what it seems like to me.

This happened in BASE in early designs. For a while the negative charge was o

[2018-09-04 16:16] terracoda commented on #91
I hear "Control Area" now, and thanks for the explanation of where to find it.

FYI, we are considering removing the Control Are for "simple sims" (see https://github.com/phetsims/john-travoltage/issues/295), but I will open a new issue for that if/when that happens.

"Control Area" sounds good for now, so closing this issue.

[2018-09-04 16:16] #91 closed

[2018-09-04 18:28] zepumph opened #99 "Increasing the "decreasing" threshold to get less cooling alerts"
From a meeting today, it would be good to increase the threshold definition of "decreasing" so that the first cooling alert occurs later than it is now.

[2018-09-04 18:30] zepumph opened #100 "Remove cooling alerts when thermometer is maxed out"
From a meeting today. It sounds weird when the thermometer stays completely red, but the model in the background is decreasing, so we still get cooling alerts.

@terracoda do you think that this should be the same for warming alerts? I'm not sure we discussed that at the meeting.

[2018-09-04 20:00] zepumph commented on #92
Discussed as part of the A11y meetings today. We are good to proceed with the current strategy. Closing. @terracoda please reopen if you feel differently.

[2018-09-04 20:00] #92 closed

[2018-09-04 20:06] zepumph opened #101 ""Very Hot" alerts should be the only temp alert when thermometer is maxed out"
The goal of this issue is the try to make sure that we fix the warming alerts as it pertains to when the thermometer is maxed out.

As part of this issue, I think we should do the following:
- [x] Remove "very Hot" alerts from the current increasing describer, because it is rarely said anyways.
- [x] Create a separate alert system for "very hot" when the thermometer is maxed out.
- [x] Make sure t

[2018-09-04 20:10] zepumph opened #102 "Fix "More atoms break away" alert"
As of writing this issue, the "more" break away alert often happens before the first break away alert. Here is what we want the end product to look like:

* The first time that atoms break away, we hear the specific "first time" alert.
* create a metric for determining the difference between "break away events"
* each additional "break away event", alert the "more atoms break away" alert
* reset w

[2018-09-04 20:15] zepumph opened #103 ""clear the queue" after break away"
From meetings today. @terracoda's testing has found that often there are confusing "warming" alerts that often come through after the break away alert when things should be saying "very hot"

This may be solved by #101, where we will cut out "warmer" and "hotter" alerts from being added after the thermometer is maxed out. If not, and we are finding that these alerts have stacked up in the queue, t

[2018-09-04 20:33] zepumph commented on #90
new round of issues has been created from feedback given during a meeting today from @terracoda. I'm going to close this issue, and we can make new ones from here.

[2018-09-04 20:33] #90 closed

[2018-09-04 20:44] zepumph commented on #99
I just doubled the threshold, and I'm curious what @terracoda thinks now.

To give some perspective, the starting amplitude is 1, the evaporation amplitude is 7, and I just increased the threshold from .5 to 1. Let me know what you think @terracoda.

[2018-09-04 22:01] zepumph commented on #98
This issue is no longer needed as it will be fixed in #101

[2018-09-05 16:16] terracoda commented on #93
@zepumph, the change to the second sentence looks great, except in two cases, I hear and extra "jiggle" which is kind of cute, but not exactly what we want ;-)

The two cases can be easily seen in the A11y View:
- in initial cool state: "[...]surface temperature is cool, and atoms jiggle jiggle a tiny bit."
- in very hot state: "[...]surface temperature is very hot, and atoms jiggle jiggle a lot."

[2018-09-05 16:42] terracoda commented on #94
@zepumph, you implemented a shorter version of the warmer alert, "Jiggling more, warmer," instead of "Jiggling more, temperature warmer."

I think this works nicely as we get the word, "temperature" on focus in the first alert.

I like the way the cooling-decreasing alerts are working. I hear fewer of them now, and if i just stop interacting, it is a nice direct decline of both jiggling speed and

[2018-09-05 16:44] terracoda commented on #94
@zepumph, I think the shorter alerts sound good. I'll close this issue and more improvements will com in #101.

[2018-09-05 16:44] #94 closed

[2018-09-05 16:48] terracoda commented on #95
@zepumph, this seems to working nicely now. I always here the first breakaway, "Very hot.Atoms break away..." first and then the second breakaway "Very hot. More atoms break away." second.

[2018-09-05 16:49] terracoda commented on #95
I think it is ok to close this issue.

[2018-09-05 16:49] #95 closed

[2018-09-05 17:04] terracoda commented on #99
@zepumph, I am getting fewer cooling alerts and the faster-warmer alerts fire nicely and do not get interrupted a a small slow down.

I never hear a gradual increase. When friction is increasing, I hear one or more of "Jiggling faster, warmer" and then a breakaway, "Very hot. ..."

This might be fine as things happen so fast when user is actively increasing friction, and then the user gets a more

[2018-09-05 17:04] terracoda commented on #99
@zepumph, assigning back to you after my review.

[2018-09-05 17:06] terracoda commented on #99
We can discuss options for this as well.

[2018-09-05 17:08] terracoda commented on #102
@zepumph, this is a good description of the issue, and it seems to have already been fixed.

[2018-09-05 17:59] terracoda commented on #101
@zepumph, this sounds like a good approach.
In my testing this afternoon I only heard "Jiggling more, warmer". I didn't hear any faster-hotter alerts or even-faster-even-hotter alerts. I think it would be good to get at least one hotter-faster type alert in before the max-out alert happens (see my comment in issue #99 (https://github.com/phetsims/friction/issues/99#issuecomment-418806209).

When t

[2018-09-05 18:01] terracoda commented on #103
Sounds good, and maybe my comment in #101 (https://github.com/phetsims/friction/issues/101#issuecomment-418823674) should have gone here?

[2018-09-05 18:44] terracoda opened #104 "Opening summary to include "thermometer""
A side effect from making shorter alerts was that I removed the word "thermometer" from the alerts.

I think it is important that users know there is indeed a thermometer present, so I added this word to the opening summary paragraph.

I don't think I communicated the changes to the second sentence very clearly. There are effectively 2 levels of change. There are three non-transitioning summaries

[2018-09-05 18:53] terracoda commented on #104
@zepumph, you might want to hold of on this issue until I work on the last sentence of the summary.

Based on our Sept 5th meeting I am trying to come up with something that communicate something about the books being pressed together or not pressed together without directly saying that ;-)

[2018-09-05 18:59] terracoda commented on #93
@zepumph, you can fix the "jiggle jiggle" in issue #104 if that makes more sense. The scenarios for the changing/transitioning states are working fine, so maybe we should close this issue and deal with the rest in issue #104.

[2018-09-05 19:01] #93 closed

[2018-09-05 19:34] terracoda commented on #100
@zepumph, I hear the cooling alert way less now, likely due to the change in the temperature threshold.

I commented in issue 101 (https://github.com/phetsims/friction/issues/101#issuecomment-418823674) about what alerts I think will be nice.

To answer you question, though, yes, I think it might be a good idea to have an alert that communicates more clearly that things are hot, hotter or very hot

[2018-09-05 19:41] terracoda commented on #86
@zepumph, I do think it just might be what I described above, an invisible atom that is still there in the row. I think I just saw one appear upon evaporation when I got the big gap and continued to rub.

[2018-09-05 19:43] terracoda opened #105 "Please port latest description to sonified version"
Please port the sim to the sonified version once all the issues that have to do with alerts are completed. Specifically these are:
- [x] #99
- [x] #100
- [x] #101
- [x] #102
- [x] #103
- [x] #104
- [x] #111
- [x] #112 (not a show stopper)
- [x] #116 (at least the left and right edge bounds, would be nice)

[2018-09-06 00:41] terracoda commented on #99
@zepumph, I just noticed that if I just increase friction a little, I don't seem to get "Jiggling more, warmer". I actually have to do a lot of friction before getting a warming alert. Did you change the threshold for both cooling and warning?

We can find time to discuss on Friday.

[2018-09-07 19:56] zepumph opened #106 "Add query parameters to adjust constants"
From discussion with @terracoda today. As we implement hard coded thresholds and heuristics, it will be good to implement query parameters to set the values. This way @terracoda as the designer will have better control about the alert flow by finding the perfect value combinations herself. I'll edit the list as I think about it:

- [ ]  Decreasing: AMPLITUDE_DECREASING_THRESHOLD
- [ ] Decreasing:

[2018-09-07 20:00] zepumph commented on #86
@terracoda and I just spent a lot of time working on this, but we found could only reproduce it once (safari w/o VoiceOver on); I have yet to reproduce it on win10 chrome/firefox.

We think that the problem has to do with the model/view thinking different things about whether or not there are any more atoms on a row. When this bug occurs, you can still "evaporate" the empty line, so this really is

[2018-09-07 20:21] zepumph opened #107 "increasing/decreasing alerts should work with mouse drag"
So far I have only been implementing/testing these alerts with keyboard, but they should work with mouse too. I have implemented them such that it shouldn't be too difficult to add them to `friction/js/friction/DragHandler`. (maybe I should rename to `FrictionDragHandler` while I'm at it.

[2018-09-07 20:23] zepumph opened #108 "Performance audit when alerts completed"
From discussion with @terracoda today, once alert algorithms are set in stone, I need to go through and make sure that things are as performant as possible. The main concern in my view is having too many listeners linked to the amplitude Property. This Property changes very frequently, and is probably the main source of any performance issues we encounter.

[2018-09-07 20:47] zepumph commented on #98
this is actually different from #101. I'm going to reopen because the alerts other than "very hot" need work here.

After talking with @terracoda, we think the best way to proceed is to create an amount of time (that's right another threshold) from an end drag to another start, which if the time was small enough, we will just count it as the "same drag", such that the array of hotter alert indices

[2018-09-07 20:56] phet-steele commented on #86
@terracoda @zepumph I could really use a version to work with here.

[2018-09-07 21:00] zepumph commented on #86
master!

[2018-09-07 21:03] KatieWoe commented on #86
I just managed to recreate it with Mac OS 10.13 with voice over.  Now that I have an idea of how it happened I'll try to recreate it on other platforms.
Steps I used:
1. On Mac 10.13 Safari turn on voice over and keyboard nav
2. Use shift + wasd to move slowly shift the zoomed in book
3. Move the book back and forth as slowly as possible while still increasing temperature
4. Stop **as soon** as th

[2018-09-07 21:33] KatieWoe commented on #86
One last check.  Made it happen on Win 10 Firefox.  This time it happened on the very first layer.
![image](https://user-images.githubusercontent.com/41024075/45244018-3ef60200-b2b3-11e8-8a0a-9a427d966f99.png)
@zepumph Not very easy, it takes a few tries to get right, but I hope this helps.

[2018-09-07 22:27] zepumph commented on #98
Values can be tweaked here and there as part of #106, and "Very Hot" alert issues will be dealt with in #101, but this is sounding much better to me. I'm going to close.

[2018-09-07 22:27] #98 closed

[2018-09-07 23:42] zepumph opened #109 "use joist.elapsedTime instead of Date.now()"

[2018-09-07 23:58] #109 closed

[2018-09-08 00:10] zepumph commented on #108
One idea I just had, since we have so many listeners linking to the `model.amplitudeProperty`, maybe we could create a "less accurate amplitudeProperty" that only updates when amplitude is different enough (like .1) or so. Here is a recording of amplitudeProperty changing, new/old values:

<details>

 1 null
 1.1071627906976744 1
 1.1033984372093024 1.1071627906976744
 1.1998449079578488 1.1033984

[2018-09-08 00:51] zepumph commented on #101
In the above commits I implemented a few things:
* I accomplished all three of the above checkboxes
* rather than basing things off of the maximum value of the thermometer, I used the evaporation limit. I'm not sure that this should stick around, but it was easier to implement for this first pass.
* I made it so that if temp is greater than the evaporation limit, it will trigger the following aler

[2018-09-08 01:05] zepumph commented on #100
In the above commit, I turned off cooling alerts when hotter than the evaporation limit. I know that this is not the same as the maxed out thermometer, but right now that is easier, and I want to be consistent (because I cut that same corner in #101). Please let me know what you think.

We can adjust to base this off of the actual visual "maximum" of the thermometer if needed.

[2018-09-08 01:05] zepumph commented on #100
@terracoda please review.

[2018-09-08 15:49] zepumph opened #110 "warming should not use TEMPERATURE_ALERT_THRESHOLD"
Even if it warms just .01 from cool, we still want the possibility to alert that it is warming.

[2018-09-08 15:53] zepumph commented on #110
After diving into the code, I found that it was already not using the assumption that I thought it was, we want it to check against `FrictionAlertManager.TEMPERATURE_ALERT_THRESHOLD`, but we don't want it to check that we are warmer than `FrictionModel.AMPLITUDE_SETTLED_THRESHOLD`.  Closing

[2018-09-08 15:53] #110 closed

[2018-09-08 19:59] zepumph commented on #99
This issue will be covered by #106, because I will add a query parameter to adjust the time in between cooling alerts. Closing.

[2018-09-08 19:59] #99 closed

[2018-09-08 20:33] zepumph commented on #106
@terracoda I implemented this above. Please have a look at at the following url, which has a lot in there:

http://phettest.colorado.edu/friction/friction_a11y_view.html?brand=phet&ea&amplitudeDecreasingThreshold=1&oneJigglingLessNowCoolerAlerts&coolingAlertTimeDelay=3000&warmingAlertTimeDelay=500&dragSessionThreshold=1000&breakAwayAlertTimeDelay=2000

Each parameter is manually set to it's defaul

[2018-09-10 13:12] terracoda opened #111 "Gently communicate existance of "air space" between books"
In meeting last Tuesday we discussed the need to communicate to users (especially blind users) when there is air space between the Chemistry Book and the Physics Book and there is then a need to "move down to rub harder".

I have sketched out some phrase changes in the scene summary that include the words "lightly" and "hard" or "harder" that may help communicate the air space. (edited for clarity

[2018-09-10 13:14] terracoda commented on #111
@zepumph and @emily-phet, I will put this idea on Design/Dev Meeting Agenda, but feel free to comment sooner if you like.

[2018-09-10 16:03] emily-phet commented on #111
@terracoda Please put this on the agenda (in the Friction design doc) for the Friction meeting Tuesday at 11:30-noon MT.

[2018-09-10 16:08] terracoda commented on #111
@emily-phet, oh, thanks! I forgot that this goes in the design doc now. I'll move it to there from the Des/Dev updates Agenda.

[2018-09-11 00:26] terracoda commented on #106
@zepumph, awesome, I'll try this out in my morning, not sure why I did not see this commit earlier.

[2018-09-11 13:29] terracoda commented on #100
Sounds great @zepumph! I hear a a still very hot alert when thermometer is maxed out. I will close this issue. If we need to tweaking of wording that will be a new issue.

[2018-09-11 13:29] #100 closed

[2018-09-11 13:38] terracoda commented on #101
@zepumph, again as I said in #100, this sounds great.
I think your intuition was good to use the evaporation point. I think it works well.

Closing this issue :-)

[2018-09-11 13:38] #101 closed

[2018-09-11 13:40] terracoda commented on #102
@zepumph, I hear the break away alerts in the correct order all the time now! Thanks!

[2018-09-11 13:40] #102 closed

[2018-09-11 13:42] terracoda commented on #103
I am not hearing un-timley "warmer" alerts any more, so I think #101 has solved this issue.
Closing.

[2018-09-11 13:42] #103 closed

[2018-09-11 13:50] terracoda commented on #104
@zepumph, I completed some rewording of the scene summary  to address #111 which will discuss at our Friction meeting today.

I will close this issue as it will be fixed once we decide on our wording changes for #111.

[2018-09-11 13:56] terracoda commented on #111
When we fix the scene summary, the word "thermometer" should also be included. This is just a reminder to self as I closed issue #104 in favour of this issue.

[2018-09-11 14:07] terracoda commented on #86
This gap issue can even happen when focus is on the Chemistry book. Sorry, I do not know how to reproduce it.

[2018-09-11 14:16] terracoda commented on #106
@zepumph, the defaults are pretty good.

I shortened the warningAlertTimeDelay to 250:
http://phettest.colorado.edu/friction/friction_en.html?brand=phet&ea&amplitudeDecreasingThreshold=1&oneJigglingLessNowCoolerAlerts&coolingAlertTimeDelay=3000&warmingAlertTimeDelay=250&dragSessionThreshold=1000&breakAwayAlertTimeDelay=2000

I'd like to play with this a little more.

[2018-09-11 14:21] terracoda commented on #106
The only alert that might need some further tweaking is the "very hot" one that fires at the evaporation point. Is there a parameter for that one?

[2018-09-11 14:26] terracoda commented on #107
@zepumph, this works pretty well. I seem to hear the warming alerts less often, but regularly hear the breakaways and the cooling alerts. I can do some more testing when Safari cools down ;-)

[2018-09-11 17:32] zepumph commented on #105
As of this morning, all of the above issues are closed. I will double check at the friction meeting today to make sure that there aren't any other tweaks to add into the sonification version.

[2018-09-11 19:31] zepumph commented on #107
@terracoda this shouldn't work well at all at the moment. Please hold off further testing until I have implemented the updates for the mouse drag handler.

[2018-09-11 19:59] zepumph commented on #106
Ha! Great minds think alike:

![image](https://user-images.githubusercontent.com/6856943/45384112-8b925380-b5b9-11e8-8c95-9542e77e1803.png)

In my mind this "further tweaking" would be adjusting the temp/amplitude when we could alert the "very hot" alerts. Right now it is the evaporation limit, but we can tweak a number that is "X" hotter than evaporation before you have the potential to hear the

[2018-09-11 21:01] zepumph opened #112 "Should the "first time" alert for cooling reset with button?"
Right now, the first cooling alert is "Atoms jiggling less, temperature cooler" and then from there it is "Jiggling less, now cooler". Even when you reset the sim, it will still be "jiggling less, now cooler".

@terracoda would you like to have that initial cooling alert be the verbose one again when the sim is reset, or only the very first time on reload/refresh?

[2018-09-11 21:06] zepumph commented on #107
@terracoda I would now expect the keyboard and mouse interactions to yield the EXACT same results. Let me know if anything seems weird.

[2018-09-11 22:51] zepumph commented on #86
After some investigation, I found the issue to be in the logic of `FrictionModel.tryToEvaporate()`. Basically there are two conditional pieces in this method (I'm about to nerd out, just for fun; this isn't important for anyone to know).

1. If you have any atoms left in current row that haven't already evaporated, randomly select one and evaporate it.
2. If all of the atoms are evaporated, point

[2018-09-11 23:06] KatieWoe commented on #86
@zepumph unable to recreate on master after about 10 minutes of testing on Win 10 firefox.  As mentioned in my comments, this issue was sometimes rather tricky to recreate, but I think we can be reasonably confident that it is fixed.  Still, might be a good idea for @terracoda and @phet-steele to take a look as well.
I did note that there seemed to be some odd white flashes while testing the sim.

[2018-09-11 23:08] zepumph commented on #108
In the above commit, we don't have to calculate the new temp/jiggle strings every time amplitude changes, instead only when it changes and temp isn't decreasing/`amplitudeSettledButNotMin`

[2018-09-11 23:08] zepumph commented on #108
Things are a bit more settled algorithmically. I'm marking off hold.

[2018-09-11 23:23] KatieWoe opened #113 "White flash of screen while manipulating sim"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
Seen when confirming https://github.com/phetsims/friction/issues/86
When manipulating the book there are occasional flashes of the screen going white.  It should be noted however that I was unable to recreate this for a screen capture a few minutes later.  This raises the possibility of a hardwa

[2018-09-12 02:45] terracoda commented on #105
Sorry @zepumph, I forgot about this issue. I think it might be good to add the directional and orientation alerts (edges of rubbing area) first.

[2018-09-12 13:42] terracoda commented on #111
At meeting yesterday, we decided to take the most simple and elegant solution of changing both the first and third sentences (option 2 in https://github.com/phetsims/friction/issues/111#issue-358616293)

[2018-09-12 13:43] terracoda commented on #111
@zepumph, I'll clean up the design doc to make it clear what to implement ;-)

[2018-09-12 14:08] terracoda commented on #106
@zepumph, so at the moment, I'll get a break away alert at the evaporation point, or else (if there are no more atoms to break away), I'll get a the alertMaxTemp? Or maybe you ar esaying that the warmer hotter alerts are in a separate system than the break away alerts.

I'll review the alerts and see when I want them to fire and then we can see what system the alertMaxTemp should go.

My gut is th

[2018-09-12 14:41] terracoda commented on #108
Good idea :-) I have gotten this Safari browser alert a couple of times. I am not sure if this alert is new to this version of Safari (11.1.2), but I never used to get this alert when testing BASE. Voice Over would just say "Safari Busy" when things got to be too much.

[2018-09-12 14:56] terracoda opened #114 "Is the downloaded Built version the same version?"
@zepumph, I was having some performance issues so I thought I would try running the downloaded sim instead of the direct build, so I could turn off the VPN.

The downloaded version seems to behave differently (fewer warming alerts), almost like previous version?

Do you have to update the built version, too, or do you think I might just be having continued performance issues?

[2018-09-12 17:19] terracoda commented on #106
@zepumph, I made a small change to the end of the increasing alerts and this might do the trick. I Added changes in red in the design document, but basically things would go like this in terms of continuous warming:

1. On focus: "Atoms jiggle a tiny bit, temperature cool."
2. Start of friction: "Jiggling more, warmer."
3. Continue friction: "Jiggling faster, now hotter."
4. Continued increased fr

[2018-09-12 17:29] terracoda commented on #112
And just to be clear, it is fine to not have the more verbose option after the first time we hear it, before a reset, so you can just make users hear it again once after they do a reset.

[2018-09-12 17:33] terracoda opened #115 "Often not hearing settled focus state when focus is on book or zoomed-n book"
@zepumph, I was hearing this alert fine on Monday and Tuesday, but not today. I am not sure if this is a performance issue or if something changed.

Using Safari 11.1.2.

On focus I should hear:
- "Chemistry book, move in four direction. Atoms jiggle a tiny bit, temperature cool."

But often only hear:
- "Chemistry book, move in four direction."

Has something changed about the focus alert since y

[2018-09-12 18:03] terracoda commented on #104
@zepumph, just re-opening this issue so it doesn't get lost. The summary will need to include all changes in the design document (see also #111).

[2018-09-12 18:37] terracoda opened #116 "Direction and orientation alerts are needed"
As discussed in our design meeting on Tuesday Sept 11, 2018, additional strings for rubbing alerts are ready in the section called, [Direction and Location Alerts](https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.wl1286o9yftz), in the design document.

@zepumph mentioned he would like to create a sim object type to plug into the friction drag handler.

[2018-09-12 20:06] terracoda opened #117 "Update Keyboard Shortcuts Dialog to match content in design document"
@zepumph when it comes time to update the Keyboard Shortcuts, I made minor changes some changes, please see [Keyboard Shortcuts Dialog](https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.1zwsqwc2ejzd) section.

Main change would like "Move Book or Zoomed-in Book" as the main interaction heading.
Other changes will come from common code.

[2018-09-12 20:12] terracoda commented on #105
@zepumph, I added 4 more issues to the list. If any of these will take you beyond the week of the 17th, we may want to port changes over regardless. The next round of interviews are being lined up for the week of 17th.

[2018-09-12 21:54] terracoda opened #118 "If easy, add in a cooling alert, "Jiggling less, now cooler.""
@zepumph, I'm just moving a closed comment from the design document to an issue so it can be tracked better. This issue is somewhat related to #112.

When we talked last Friday about the cooling alerts, I think I mentioned that it too many repeated alerts sometimes is not is not useful for blind users. I think we were specifically discussing, "Jiggling less, cooler" and how many times it should re

[2018-09-12 21:58] zepumph commented on #106
anything modular and straightforward like that to me deserves its own issue.

[2018-09-12 22:19] zepumph commented on #105
I want to make sure that you also have time to listen with sonification and provide feedback before leaving. When is the latest I could get you a new link for you to have time for feedback?

[2018-09-14 13:04] terracoda commented on #112
@zepumph, are page reload/refresh and Reset All different? They all seem to restart the sim, right?

Unless I miss understood the question, I was thinking that the first cooling alert should be the verbose one, and then it could be shortened to be less verbose until a reset occurs (a full reset of any kind).

Is that doable?

[2018-09-14 20:48] zepumph commented on #86
Assigning to @phet-steele. Please close if this seems fixed.

[2018-09-14 20:56] zepumph commented on #114
To run a downloaded version, follow the following steps, and let me know if you have issues (sorry if this is a bit redundant, I want to be thorough)

* Got to phettest.colorado.edu, pull all, and go to the line for friction
* Click the "Build" button
![image](https://user-images.githubusercontent.com/6856943/45574714-600fa300-b81d-11e8-9296-80edfe53f21f.png)
* Once build is complete, right click

[2018-09-14 21:02] zepumph commented on #114
I just tested this, on windows NVDA and things sounded fine. Can you test in the a11y view and see if you can see the alerts coming through, but perhaps not being alerted by VO for some reason?

[2018-09-14 21:02] zepumph commented on #115
I just tested this, on windows NVDA and things sounded fine. Can you test in the a11y view and see if you can see the alerts coming through, but perhaps not being alerted by VO for some reason?

[2018-09-14 21:05] zepumph commented on #115
Also a note on implementation, these are two different systems, the "Atoms jiggle . . " alert is just that, an alert through aria-live (although it happens onFocus). The previous stuff comes from the screen reader focusing on the elements (at least that's my understanding).

[2018-09-14 21:31] zepumph commented on #112
Before I have been confused. I think they are the same thing, and will implement as such.

@terracoda please review.

[2018-09-14 21:35] zepumph commented on #118
Sounds good. I will implement it as desired above. I will also remove the `oneJigglingLessNowCoolerAlerts` query parameter because it won't make sense after these changes.

[2018-09-14 21:45] zepumph commented on #118
I made only minimal changes to try to get the idea of what you were going for above. Much of the above examples were only slightly different from what is currently in the code. Here is what the current sequences look like:
First Sequnce:
* Atoms jiggling less, temperature cooler
* Jiggling less, now cooler
* Jiggling even less, even cooler
* Atoms jiggle a tiny bit, temperature cool

Subsequent:
*

[2018-09-14 23:55] zepumph commented on #104
I will cover this in https://github.com/phetsims/friction/issues/111

[2018-09-14 23:55] #104 closed

[2018-09-14 23:56] zepumph commented on #111
Basically this issue is now just to make sure that the screen summary is updated to what is currently in the design document (don't forget about the thermometer stuff in https://github.com/phetsims/friction/issues/104). I'll get on it!

[2018-09-15 00:37] terracoda commented on #114
Oh, I didn't follow all those steps so that is why I was running an old version! Thanks @zepumph.

[2018-09-15 00:40] terracoda commented on #115
Your understanding about AT read out and alert via aria-live are correct.

[2018-09-15 00:51] terracoda commented on #111
@zepumph, you probably already noticed that there are no longer 2 options in the design doc. I updated it and removed the option we are not using.

[2018-09-15 01:59] zepumph commented on #111
I think that I have implemented everything in the screen summary section of the design doc but one thing (I also commented in the doc).

I see that in a settled state, this is the second sentence:
`In  zoomed-in view of where books meet, atoms {{jiggle a tiny bit}}, and {{surface temperature thermometer is cool}}.`
But when in transition, the surface temp/atoms clauses are swapped. Instead can we

[2018-09-18 16:18] zepumph commented on #106
I don't see an issue linked to this issue, back to @terracoda to finish this one off.

[2018-09-18 16:18] zepumph commented on #115
@terracoda can you please comment on https://github.com/phetsims/friction/issues/115#issuecomment-421483569

[2018-09-18 16:19] zepumph commented on #114
@terracoda is this ready to close?

[2018-09-18 18:31] terracoda commented on #111
This sounds great @zepumph! I think we can close this issue.

[2018-09-18 18:31] #111 closed

[2018-09-18 20:11] terracoda commented on #115
@zepumph, this is a Voice Over issue. In the A11y View, I see the alerts every time, and when I restarted Safari and Voice Over and I heard the alerts again.

I expect this weird behaviour from Voice Over. When I posted this issue it seemed more prominent than usual.

I'll close this issue, as this is a known Voice Over bug.

[2018-09-18 20:11] #115 closed

[2018-09-18 20:14] terracoda commented on #114
Thanks @zepumph, yes. Closing.

[2018-09-18 20:14] #114 closed

[2018-09-18 20:16] terracoda commented on #113
@zepumph, I have not noticed any white flashes.

[2018-09-18 20:18] terracoda commented on #113
@zepumph, I take it back. If I use the shift key, the blue atoms go white. Maybe that is what @KatieWoe means by a white flash?

[2018-09-18 20:21] terracoda commented on #113
The white I am seeing might be the intended part of the animation?

[2018-09-18 20:28] terracoda commented on #106
Oh sorry, @zepumph, I'll make some new issues for you ;-)

[2018-09-18 20:32] terracoda commented on #118
@zepumph, I verified this is Voice Over. Sounds great, thanks!

[2018-09-18 20:32] #118 closed

[2018-09-18 20:44] terracoda commented on #106
@zepumph, I won't get to this today, sorry. First thing tomorrow.

[2018-09-18 20:44] terracoda commented on #106
Marking as top priority for myself!

[2018-09-18 21:32] zepumph commented on #113
I can't seem to reproduce. I see white within the blue atoms as the vibrations increase because they are jumping all over the place. It is sort of an optical illusion. I assume that this bug is more than that though.

I tested mainly using the shift key and spamming lots of direction keys. I also tested without the shift keys.

[2018-09-18 22:43] terracoda commented on #113
@zepumph, if you cannot reproduce the white screen and the white atoms are part of the design, I think you can close this issue.

[2018-09-19 00:10] zepumph commented on #116
In the above commits I added the MovementDescriber to friction. Although it is meant to be a generic type, I kept it in friction and plan to keep it general, perhaps subtyping it if I need more specific model attributes.

The edge alerts work well, but still to do is to
- [ ] make sure that if you keep moving against the wall, the alert will repeat, right now the describer is just based on the pos

[2018-09-19 00:57] zepumph commented on #116
I implemented these alerts to now be based on the end drag. Things feel much better. One consideration of note though is that, since I used some implementation from BASE, "left" and "right" are ranges, and not just exactly 0 and 180 degree directions. I think this will be alright, but it will need some testing to see how it converts to this sim.

[2018-09-19 01:02] zepumph commented on #116
Still todo beyond the above checkboxes:
- [ ] implement the custom left/right logic as specified in the design doc, and summarized here:
    * if there is air space, always hear all directions
    * if touching, hear "left right" combo once, maybe twice, especially since there are cooling alerts when you break away atoms.

[2018-09-19 13:27] terracoda commented on #116
@zepumph, I do not feel the need for for diagonal alerts for Friction, but we do not necessarily need to immediately remove them.

In BASE diagonal alerts were needed mostly for the free moving balloon after a release. Also, because the draggable area is so much larger in BASE, the diagonal alerts provided a more accurate user experience, including using the mouse where diagonal movement is more n

[2018-09-19 13:48] terracoda commented on #117
@zepumph, this is coming along.
The edges are implemented nicely, I get a sense of how small the rubbing area is which is great.

One issue I noticed is that get incorrect "right" utterances after reaching the top or bottom.

You might have already noticed this, and it might be being caused by the "diagonal logic" left over from BASE.

What happens is that after I reach the top and hear correctly

[2018-09-19 14:46] terracoda opened #119 "Adjusted phrases for the increasing friction alerts"
Moving from #106.

@zepumph, as I commented in (https://github.com/phetsims/friction/issues/106#issuecomment-420728699) I made a small change to the end of the increasing alerts and I think this should be beneficial in helping to create that gradual increase, though less gradual than the decrease as things just seem to happen faster in the increasing direction.

I added changes in red in the desig

[2018-09-19 14:51] terracoda commented on #106
@zepumph, ok moved https://github.com/phetsims/friction/issues/106#issuecomment-420728699 to #119. Apologies that took so long.

[2018-09-19 15:04] terracoda commented on #116
@zepumph, this is coming along.
The edges are implemented nicely, I get a sense of how small the rubbing area is which is great.

One issue I noticed is that get incorrect "right" utterances after reaching the top or bottom.

You might have already noticed this, and it might be being caused by the "diagonal logic" left over from BASE.

What happens is that after I reach the top and hear correctly

[2018-09-19 15:06] terracoda commented on #117
The Keyboard Shortcuts dialog, looks great. Thanks @zepumph!

[2018-09-19 15:07] #117 closed

[2018-09-19 15:31] terracoda commented on #107
@zepumph, I am not sure if this is a VoiceOver issue, but I only get cooling alerts when I use the mouse.

I'll quit Safari and try again. It could be a performance issue.

[2018-09-19 15:34] terracoda commented on #86
@phet-steele, I have not noticed this issue over the past two days of testing. I think this is a good sign even though I haven't been trying to re-create it. It used to happen quite frequently.

[2018-09-19 15:47] terracoda commented on #106
@zepumph, I've copied the handy query parameters to the design document, so I guess we can close this issue, unless you need it?

Assigning back to you for closing.

[2018-09-19 16:06] terracoda opened #120 "Can't reset the sim with the reset button"
@zepumph, I was just trying to verify #112, and after i start interacting, I can't seem to reset the sim with the reset button. I have to refresh the browser.

Might this be related to #112?

I am still trying to figure out how to reproduce.

And, FYI, in the a11y view, the alerts seems to stop, which my also be related, but I will create a separate issue for that.

[2018-09-19 16:19] terracoda commented on #120
@zepumph there seems to be more going on... I used the mouse and did a reset, and then I couldn't use the mouse, only the keyboard to interact with the book. I'll create an issue for that, too.

To reproduce this  issue - Can't reset sim with reset button,
1. Using the keyboard create friction and loose some atoms
2. Tab to Reset button, and try Enter or Space key

[2018-09-19 16:23] terracoda opened #121 "Can't use sim with mouse after a reset"
This may be related to issue #120.

I use the sim with the mouse, loose some particles, reset the sim and then I can't use the sim with a mouse, only the keyboard, and while I can't move the book, I can't reset the sim.

[2018-09-19 16:40] terracoda opened #122 "Alerts stop in the A11y View and in regular view after reset"
This issue might be issues #120 and #121

When using VoiceOver, keyboard and Safari I get nice alerts up until I do a reset and then I do not get alerts.

They seem to stop in the A11y View as well, so it is a sim issue not a VoiceOver issue.

[2018-09-19 16:45] terracoda commented on #105
@zepumph, if you have a nice version that includes up to issue #112 perhpas we could use that for interviews tomorrow and later this week?

Alternatively, if there is a nice version without the up-down and left-right alerts, and only the bounds implemented that would also be nice.

Once ported I can make sure version do not contain any of the latest bugs #120 ,#121, #122 that I just found (sorry).

[2018-09-19 17:06] zepumph commented on #121
I think the above fixed the issue, please review.

[2018-09-19 17:06] zepumph commented on #120
Please see https://github.com/phetsims/friction/issues/121

[2018-09-19 17:12] terracoda commented on #120
I can reset again :-) Thanks!

[2018-09-19 17:12] #120 closed

[2018-09-19 17:13] terracoda commented on #121
I can use the mouse after a reset! Great work @zepumph!

[2018-09-19 17:13] #121 closed

[2018-09-19 17:16] terracoda commented on #122
Alerts are coming through nicely! Thanks @zepumph!

[2018-09-19 17:16] #122 closed

[2018-09-19 17:18] terracoda commented on #112
Just verifying this now :-)

[2018-09-19 17:20] terracoda commented on #112
You got it, @zepumph. The verbose alert is there the first time and then after a reset.

[2018-09-19 17:28] phet-steele commented on #86
This was hard enough as it was to reproduce, so if no one has seen it than we can call it good.

[2018-09-19 17:28] #86 closed

[2018-09-19 18:04] terracoda commented on #113
If we can't reproduce this, let's close and re-open if the white flash resurfaces.

[2018-09-19 19:10] terracoda commented on #107
These seem to work quite nicely with the mouse now.
Thanks again @zepumph, I'll close this issue.

[2018-09-19 19:10] #107 closed

[2018-09-19 20:58] zepumph commented on #113
@KatieWoe can you reproduce this as you originally saw?

[2018-09-19 21:29] zepumph commented on #106
I think the best way to proceed with this issue, is to see how other issues go, and then revisit these parameters. Once (a) other issues have solidified and (b) you have found good numbers from the parameters, then we can put them directly into the sim as new defaults so that we won't always need the query parameters. Marking on-hold until things like #119 and #116 are done.

[2018-09-19 23:24] zepumph opened #123 "Ready links for interviews tomorrow"
We will need a link to the sonified version, as well as just the described version.

[2018-09-19 23:26] zepumph commented on #123
After talking with @terracoda, we think that it makes sense to make links for where the sim was this morning, which had a few more left/right alerts, but in general was working pretty well, as well as new links after I worked on #116 more. So this issue will have 4 links in them.

[2018-09-19 23:27] zepumph commented on #123
Here are the links with MORE left/right links, everytime you move, even when books are touching:

described:
https://phet-dev.colorado.edu/html/friction/1.5.0-dev.15/phet/friction_all_phet.html?accessibility

sonified:
https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-dev.74/phet-io-wrapper-sonification/friction/html/friction-sonification.html?sonificationFile=sonificationDefa

[2018-09-19 23:28] zepumph commented on #123
Here are the links with less left/right links, when the books are touching, you should only get one "set" of left/right before you don't get those alerts anymore:

described:
https://phet-dev.colorado.edu/html/friction/1.5.0-dev.16/phet/friction_all_phet.html?accessibility

sonified:
https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-dev.75/phet-io-wrapper-sonification/friction

[2018-09-19 23:29] zepumph commented on #123
@terracoda over to you. Let me know if you need anything else.

[2018-09-19 23:32] terracoda commented on #123
That should do it @zepumph, thanks for all your hard work!

[2018-09-19 23:32] zepumph commented on #116
See https://github.com/phetsims/friction/issues/123#issuecomment-422990927 for the most up to date links.

Right now it seems to be working well to only alert one "set" of left/right alerts when the books are touching. If we decide to go with this strategy, then all that is left for this issue is to repeat the edge alerts if you keep trying to move that way.

[2018-09-20 13:06] terracoda commented on #116
@zepumph, we will see what participants find.
We might need at least one "Down" alert in there, even if at the end of that down drag the Chemistry book reaches the Physics book. It often only takes one drag down to get to actually get to the other book, in which case no feedback about going down is spoken. This seemed a little odd to me, especially without the bump sound.

We can wait for feedback

[2018-09-20 18:58] KatieWoe commented on #113
@zepumph I'm not really seeing it anymore.

[2018-09-20 18:59] zepumph commented on #113
Great, sounds good all around. Closing

[2018-09-20 18:59] #113 closed

[2018-09-21 00:23] #123 closed

[2018-09-21 00:23] zepumph commented on #105
See https://github.com/phetsims/friction/issues/123. Closing

[2018-09-21 00:23] #105 closed

[2018-09-27 19:51] terracoda opened #124 "New alerts to help users understand that they need to move down to rub harder"
Based on recent interviews, we need to cue better how to rub the Chemistry book more productively. We will cue the "down" better and to "rub fast or slow", too.
1. Add explicit "move down" help on the users first to visits two the "At top" edge. So the first 3 visits to the top would be like this:
- First visit:  “At top. Move down to rub harder.”
- Second visit: “At top. Move down to rub harder.”

[2018-09-27 19:54] terracoda commented on #124
@zepumph, let em know if you have any questions about down.
I am going to post a somewhat related issue about left-right rubbing when books are not touching.

[2018-09-27 20:15] terracoda opened #125 "Need a cue to "Move down to rub harder" after some non-productive rubbing"
Non-visual users have a hard time knowing about the air space between the books on page load and after a break away. They basically get little to no feedback when they move the book back and forth but they are not actually causing friction. We do not want to directly describe the airspace in between the 2 books.

It might work to cue them that moving down to rub harder might be more productive.

W

[2018-09-27 20:16] terracoda commented on #125
@zepumph, I hope this is clear. Let me know if yo have any questions.

[2018-09-27 20:53] terracoda opened #126 "Create an explicit grab interaction for the book and zoomed-in book"
Knowing what to do with the book interaction. To paraphrase @emily-phet , the sim is just so simple, it becomes kind of flat. The book and the zoomed-in book don’t stand out enough.

We think adding a button interaction will make the interaction more clear and easier to understand, and also make the interactions stand out more.

We want to try a version of the sim with button interactions.

Please

[2018-09-27 20:54] terracoda commented on #126
@zepumph, I'll make the content and structure changes in the morning and assign to you when I think it is all clear.

[2018-09-28 01:07] zepumph commented on #124
This makes total sense to me. No further questions.

[2018-09-28 13:16] terracoda commented on #116
Actually, @zepumph, the incorrect alerts, i.e., "right" on second press at top have already been addressed (just confirmed that).

Based on interview analysis, we definitely need an indication that "down" is important, so I have made adjustments to the strings to help indicate that. This approach is described in https://github.com/phetsims/friction/issues/124 https://github.com/phetsims/friction/i

[2018-09-28 13:59] terracoda opened #127 "Participants has trouble opening Keyboard Shortcuts dialog"
In two recent interviews, both users had trouble opening the Keyboard Shortcuts dialog. I am not sure why this is as it opens fine for me when using Safari and Voice Over.

I'll collect the dev links that were used and the AT that was used int eh interviews.

[2018-09-28 16:18] zepumph commented on #119
After discussing with @terracoda, these are my notes on how to proceed (mainly the same as above)

7: add "Very hot. Atoms jiggling very fast." on break away, when no more atoms are left.

8: go with 8b, replace "Jiggling very fast, still very hot." with 8b (we can always change it later).

9: After three times of alerting 8b, replace 8b with a cue to reset the simulation, "Reset the sim to make m

[2018-09-28 17:01] zepumph commented on #116
This is the checkbox still to do:

- [ ] make sure that if you keep moving against the wall, the alert will repeat, right now the describer is just based on the position property, so it isn't possible to manage anything with the keybaoard drag listener.

[2018-09-28 17:01] terracoda commented on #126
@zepumph and I discussed all the green highlights in the design document. @zepumph will implement the grab interactions as best he can with a close eye on how this interaction is in Balloons and Static Electricity.

While discussing these additions/changes, I realized I would need alerts for the grabbed state and released states. I will add this to the design document and make note where in this i

[2018-09-28 17:06] terracoda commented on #125
@zepumph and I discussed this issue, and things seem clear.

We also discussed, silencing the left-right alerts a little more dramatically if books are not touching and the sim is in a cooling state to ensure left-right alerts do not interrupt all the cooling alerts.

I am opening a separate issue for this idea.

[2018-09-28 17:14] terracoda opened #128 "Fewer left-right alerts when sim is in an active cooling state"
In issue #125, @zepumph and I discussed a new cue to get the user to move down to rub harder when books are not actually touching.

It might be very useful to reduce the left-right alerts more dramatically as they are done when books are touching, if books are not touching **AND** the sim is in a cooling state.

Having fewer left-right alerts in while sim is cooling will ensure that at least some

[2018-09-28 17:47] terracoda commented on #127
@briannatomlinson, I emailed you and @pkaini, too about this issue.

Please assign to @KatieWoe for re-assignment once you have added any details you have.

[2018-09-28 19:04] terracoda opened #129 "Put intial interaction hint in its own paragraph."
In 2 recent interviews, both participant jumped over the last part of the summary paragraph that read, "move down to rub harder."

To make sure users do not miss this hint, @zepumph suggested we move it in to its own paragraph, which makes total sense and which is how I have done it in sims that have more complex opening summaries.

I'll update design document, and this issue asap.

[2018-09-28 20:46] terracoda opened #130 "Grab and Release Alerts"
In issue #126 , we are implementing "grab buttons".

These buttons need alerts. Alerts have been added to the design document in section
[Grab button alerts for Grabbed & Released States](https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.5pe7t0653eze)

Copying the alerts here for simplicity.
**On Grab:**
1. Initial grab when books are not touching (page

[2018-09-28 20:48] terracoda commented on #130
@zepumph, in my brief retrospective upon posting this issue, I think it might be best to start the grab alerts with the shorter suggested alternative suggestion.

[2018-09-28 20:50] terracoda commented on #127
I added the help wanted label to alert the fact that I will need the QA team help to verify the problem defined in this issue.

[2018-09-28 20:57] terracoda commented on #129
@zepumph, I made the new paragraph more obvious in the design document, and this is just a reminder issue so this little detail doesn't get forgotten.

[2018-09-28 21:47] terracoda commented on #127
@briannatomlinson, on second thought, can you and @pkaini try and reporduce the issue and add details to this issue, so we can try and figure out why the Keyboard Shortcuts dialog did not open and if there is something we need to fix.

You can reassign the issue to me when we have more information about the problem.

[2018-09-28 22:05] briannatomlinson commented on #127
sure!

On Fri, Sep 28, 2018 at 5:47 PM Taliesin L. Smith <notifications@github.com>
wrote:

[2018-10-01 22:58] pkaini commented on #127
Firefox 62.0
NVDA 2017.4
OS (n/a)
Link to sonified described version: sim (https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-dev.75/phet-io-wrapper-sonification/friction/html/friction-sonification.html?sonificationFile=sonificationDefault&accessibility)

didn't have trouble opening keyboard shortcut menu but when on it, screen reader read "dialog blank" but it also read the co

[2018-10-02 00:48] zepumph opened #131 "Alerts stop if you keep rubbing until you reach the amplitude max and keep it there"
This is a minor edge case that we may not need to handle, but I thought I would bring it up just to see.

If I rub very hard, and very fast, for a long time, then the amplitude will reach its max in the model (12). To give context (since I don't know the unit, or if there even is a unit), the break away threshold is at 7.

When this occurs you only get positional alerts, and no alerts releating to

[2018-10-02 14:03] terracoda commented on #127
@pkaini, thanks for this.

Yes, I am aware of the issue you describe above, i.e., both labels for the buttons are read aloud when focus is on the first button. This is a definitely an issue.

However, it also seemed like the participants, or maybe just one of them, could not even open the Keyboard Shortcuts dialog. In the recording, you actually say, "I think it was disabled".

Could you try to re

[2018-10-02 15:22] briannatomlinson commented on #127
@terracoda I tried to reproduce it, but couldn't really get it. It's not clear to me if they're just not hitting the right keys, or what. In one of them, it seems like she hits "a" (like to get annotations) but it doesn't have one associated with it.

So I don't know if they don't know how to open it when they get there (like we've had to tell people how to open it). When they get to the "sim reso

[2018-10-02 19:31] terracoda commented on #127
@briannatomlinson, thanks. This is interesting.
It could be that because a lot of stuff is read out at once, they do not recognize that they are on a simple pop-up button. They become unsure what to do - they likely want to investigate the Keyboard Shortcuts, but the last thing they hear is P h E T menu.

It may just be confusion.
The resource bar is slated to be restructured. Hopefully. that will

[2018-10-02 22:55] zepumph commented on #129
Implemented above. @terracoda please review.

[2018-10-02 23:09] zepumph opened #132 "Fix `...arguments` pattern in describers"
We should be documenting the arguments for:
[code]

[2018-10-03 00:41] zepumph commented on #125
@terracoda I implemented this such that every time there is a pair of "left/right" alerts, the next alert will be "Move down to rub harder." Then it will restart to go back to left/right again. Each time a left/right pair happens, the move down will occur afterwards. I'm not sure if that is exactly what we discussed Friday, sorry I should have taken better notes. Please let me know how this should

[2018-10-03 02:29] zepumph commented on #124
We don't yet have repetition when you continue to press against an edge, but other alerts are working. @terracoda please review.

[2018-10-03 02:29] zepumph commented on #124
Please see #116 for implementation of the repeated border alerts.

[2018-10-03 02:31] zepumph opened #133 "move MovementDescriber to scener-phet"
I think we should do this now rather than later. I'd be curious to see if @mbarlow12 could utilize this in his magnet describer code in FL.

Once it is over in scenery-phet, we should factor out strings into that string js file.

[2018-10-03 11:54] terracoda commented on #124
@zepumph, is it possible to publish a dev link for me? It will be easier for me for the next few days.

[2018-10-06 01:36] zepumph commented on #116
The above checkbox ended up being a large amount of work. In the above commit I added two new classes in a new describer file, and updated the `MovementDescriber` substantially. My goal was to keep the describer generic, and not just usable for friction.

@terracoda please review.

[2018-10-06 01:44] zepumph commented on #116
After testing with a screen reader. It is clear that I did a lot of work that is not necessary. I think the main piece that we needed to accomplish was just repeating the alert after every drag, even when we are still against the border. I mistook this to mean that we should be repeating the alert while the drag is happening every second or so. That is what is currently implemented, and it should

[2018-10-09 11:09] terracoda commented on #129
This sounds great @zepumph. It is very difficult to skip over the hint now. Closing.

[2018-10-09 11:09] #129 closed

[2018-10-09 11:53] terracoda commented on #116
@zepumph, left and right alerts are sounding pretty good, but I think you are right, it is better to just fire the alert once, rather than repeat it.

These kinds of alerts are just to reassure the user that they are successfully moving back and forth and that they have reach an edge and need to change directions.

Repeating with out a new key press (or drag) might not be re-assuring and could int

[2018-10-09 12:13] terracoda commented on #119
These alerts all sound good. We may need to limit the number "Reset" hints in number 9 as it could interfere with doing repeated demos of jiggling/warming alerts. However, I am happy with the way it is implemented and I think the frequent "Reset" hints after all atoms have broken away with be very useful for non-visual users.

This is ready to close and I will open a new issue to discuss if there

[2018-10-09 12:13] #119 closed

[2018-10-09 12:20] terracoda opened #134 "Should we limit the number of Reset hint alerts after all atoms have broken away?"
In issue https://github.com/phetsims/friction/issues/119 @zepumph implemented the alerts perfectly.

New question for design meeting.

Are there too many "Reset" hint alerts after all atoms have broken away. Or is this repetition really useful to ensure users do in fact reset the sim.

The use case, I am slight concerned about is if a user, perhaps a teacher, is doing a repeat demo of Friction and

[2018-10-09 12:59] terracoda commented on #124
@zepumph, I tested a built, downloaded version today (October 9th).

The "At top Move down to rub harder." is working great, but is missing a period, after "At top".
- [ ] It should be, "At top. Move down to rub harder."

The first two "Down. Rub fast or slow."  alerts look good and fire correctly.
However, as I mentioned in https://github.com/phetsims/friction/issues/116#issuecomment-428163257, t

[2018-10-09 13:00] terracoda commented on #124
Back to you @zepumph.

[2018-10-09 13:04] terracoda commented on #125
@zepumph this working well.
Once #124 is all fixed up, we can revisit if necessary. I'll go ahead and close this for now.

[2018-10-09 13:04] #125 closed

[2018-10-09 13:13] terracoda commented on #127
Also, in the new structure, there is on-demand "help text" associated with these buttons (https://github.com/phetsims/joist/issues/523#issuecomment-424537326). Having a content element in between the buttons, or even just another wrapping `div` will likely prevent NVDA from reading the button labels out back-to-back when only one the first one has focus.

[2018-10-09 13:28] terracoda commented on #128
I am going to mark this issue on hold until I can see how things are working with a sonified version.

[2018-10-09 13:54] terracoda commented on #131
@zepumph, hmm, this is a good question. It may not be worth spending too much time on this for 2 reasons:
1. If the user has not intentionally disabled the sound, they will be getting sonification of the jiggling, even if the alerts are maxed out.
2. If the user slows down or stops rubbing, the cooling alerts fire as they should, then jiggling/warming alerts fire again when interaction begins agai

[2018-10-09 13:57] terracoda commented on #131
and one more reason:
3. Non-visual users will likely never rub that hard to make the max out happen, but if they do, they are getting sound.

@zepumph shall we mark this as "on-hold" or "won't fix" until we know it i an issue?

[2018-10-09 15:12] terracoda commented on #134
I did a bit more testing with the simulation and I think it might be useful to use the same pattern as the  more explicit vertical alerts e.g., "At. top. Move down to rub harder." and  "Down. Rub fast or slow." (see https://github.com/phetsims/friction/issues/124).

@zepumph, is it possible to do something similar with the "Reset" alert?
For example, as it is doing now, but only twice, and then th

[2018-10-09 18:07] zepumph commented on #131
won't fix is normally what we tag before we close the issue. On hold means that there is something keeping us from implementing, but that we will get back to it. If you would like to revisit this, then go with on-hold. I'll leave it up to you.

[2018-10-09 20:30] terracoda commented on #131
@zepumph, I'd like to verify how this works on a sonified version, so I have marked it as on-hold. I also added the meeting:a11y label, so it is flagged for next week's Friction design meeting. I'd like to verify with @emily-phet that my reasoning (1-3 above) are solid reasons not to fix.

[2018-10-10 16:41] emily-phet commented on #131
I think this is a general 'feature' or perhaps 'limit' in the simulation rather than an issue - if I'm understanding this correctly, there is a corresponding end to the increase in jiggling/temperature, etc in the model, in the visual display, and in the temperature/jiggling alerts.

We may find out that from interviews that a 'special case' for alerts is needed here, that a single, repeated alert

[2018-10-10 22:19] zepumph commented on #132
After discussing the above comment as part of a11y meeting yesterday, it is clear that there are a lot of different ways to use these describers, and we can't assume that it should always be a singleton. Closing

[2018-10-10 22:19] #132 closed

[2018-10-12 19:42] zepumph commented on #133
I moved the describer out to scenery-phet in the above commits. @jessegreenberg please see if you can add it BASE. Not a high priority, but it would be good to be consistent.
@mbarlow12 perhaps you can think of a way that FL could use this. Maybe you could wire it up with the bounds2 and locationProperty and it could monitor whether the magnet is "atEdge" such that you could add that text to the P

[2018-10-13 01:31] zepumph commented on #133
In https://github.com/phetsims/scenery-phet/commit/3d56cdef44f5358a8d749088a353e6d4df1645d3 I did quite a bit more work on these describers. Perhaps a reviewish before integrating it would be good. I don't want to break anyone's sim.

[2018-10-13 02:00] zepumph commented on #134
@terracoda I updated it like you asked. Please review. I also wanted to promote a TODO I found in the code to this issue.

Currently these alerts we are adjusting are triggered .0000001 (or so) above the evaporation temp. While you review, see if it would be nice if they were instead triggered closer to the visual "maximum" of the thermometer instead of at the evaporation limit.

I can also create

[2018-10-13 18:48] zepumph commented on #108
I looked through all the code, and nothing incredibly obnoxious stood out to me. If we need to take a closer look later we can. I simplified quite a bit of code in the last 24 hours, so I wonder if things are simpler/more performant now?

My main worry was about linking to the amplitude property, and those places look pretty good, and very optimizable. Closing

[2018-10-13 18:48] #108 closed

[2018-10-16 16:19] zepumph commented on #134
@terracoda and I talked in a meeting today, I'm going to create some space between evaporation limit and the max temp alert threshold.

@terracoda please review the implementation you expected to see from https://github.com/phetsims/friction/issues/134#issuecomment-428231849, as well as the max alert threshold (around the top of the thermometer or so.

[2018-10-16 16:29] zepumph opened #135 "branch: grabButton"
To experiment with
https://github.com/phetsims/friction/issues/126 and
https://github.com/phetsims/friction/issues/130

[2018-10-17 01:39] zepumph commented on #130
I added grab/release alerts to the branch in the above commits. @terracoda here is the latest version of grab button implementation. This has everything from #126 as well as these alerts, please review.

https://phet-dev.colorado.edu/html/friction/1.5.0-grabButton.2/phet/friction_all_phet.html

Tagging @emily-phet and @jessegreenberg in case they want to play with it too.

[2018-10-18 15:03] samreid commented on #74
Sounds great to me as long as our time/schedule permits.  Scheduling and timing and priority seem to be a good question for @ariel-phet @kathy-phet and/or @emily-phet.

[2018-10-18 15:14] terracoda commented on #126
@zepumph, great question. In BASE, we have the text twice, one for each, but in that sim the Green balloon is added dynamically (along with all its parts).

I'm just going to try it out and see.

[2018-10-18 15:33] terracoda commented on #126
@zepumph, I am confused by your mark-up example.

What is the difference between
[code]
When you refer to <grab help text> what content are talking about?

I generally like to put explicit help text for an interaction after the interaction in case the user can just figure it out on their own what to do.

The hint in the opening scene, I think of as a hint rather than explicit help. Though really,

[2018-10-18 17:12] emily-phet commented on #74
I haven't dug too deep on this - there are a lot of issues linked...from my perspective molarity doesn't have a specific timeline. It was awaiting completion of the combobox + all the other things that happen prior to publication. Not sure exactly when we'll get to it.

Might be good to have a general conversation about a desired flow for republishing sims with a11y and phet-io. Then when we get a

[2018-10-18 20:05] zepumph commented on #74
A general conversation can start with https://github.com/phetsims/phet-io/issues/1395.

[2018-10-19 06:42] terracoda commented on #126
I see. What is needed now in the PDOM is the `<grab help text>`. It can go between the buttons or after both. It may be that it works better after both buttons.

Once a button is pressed (i.e., book or zoomed-in book is grabbed), the aria-role description alone "move in 4 directions", might not be enough to get them rubbing.

I'll do a cognitive walk-through for the interaction in the design docum

[2018-10-19 11:03] terracoda commented on #116
@zepumph, this version (built version downloaded from PhET Test October 19 12:30 pm CET) sounds the best so far. I only get "Jiggle super fast, super hot"  when there are no more atoms which is perfect and the hint to reset is less prominent and the alerts seem to stop (hit their maximum) on useful content when they stop.

**We might need:**
- some tweaking of left-right alerts. I'll start a new i

[2018-10-19 11:17] terracoda opened #136 "Might need to tweak left-right alerts"
As reported in #116, the left-right alerts are working well.

I'd like to know a bit more about how the left-right alerts are implemented. They sound a little different than the way they sound in BASE. I think you have created a separate system for directional alerts which makes sense, but I have the feeling that it sounds a little unnatural when fired on the end of a drag.

**Question:**
- wonder

[2018-10-19 11:18] terracoda commented on #136
@zepumph, please assign back to me, once you have commented ;-)

[2018-10-19 11:25] terracoda opened #137 "Slightly adjust "move book" help text in the version without the grab button"
A more explicit (i.e., clearer) help text about being on the book to rub might help users understand thsi custom interaction a little better. They have to be on the book to before beginning to rub, so telling them exactly that might be just what they need.

**Current "move book" help text:**
- Use arrow keys, or letter keys W, A, S, or D to move book or zoomed-in book up, left, down, or right.

**

[2018-10-19 11:29] terracoda commented on #116
Directional and orientation alerts are sounding very good, with potential tweaks to be discussed in #136.

The un-related issue about a change to the move book help text is posted in #137.

@zepumph is it safe to close this issue?

[2018-10-19 11:30] terracoda commented on #116
@zepumph, actually, I'll close as the issue is verified. Re-open if you think you need to.

[2018-10-19 11:30] #116 closed

[2018-10-19 11:51] terracoda commented on #124
@zepumph, the At top and Down alerts are sounding good to me. I don't think we need "Down" repeated if user is already against book and presses down. If anything is needed at this point, it would have to cue rubbing left and right. I want to avoid saying, "Against book".

If the initial down "Down (bonk). Rub fast or slow." isn't enough we can discuss tweaks in a new issue. I'll close this one for

[2018-10-19 11:51] #124 closed

[2018-10-19 11:55] terracoda commented on #128
@zepumph, I forgot about this issue and I started a new related issue (#136).
I'm going to go ahead and close this one as we can discuss any improvements to left-right alerts when either cooling or warming in issue #136.

[2018-10-19 11:55] #128 closed

[2018-10-19 14:01] terracoda opened #138 "Add accessible content to Keyboard Shortcuts in version with Grab button"
@zepumph, likely already on your radar. Adding issue just to be sure.

Before next interviews (maybe October 26th) the Grab button version will need accessible content in the dialog and the dialog with need some extra content (taking screenshot from BASE)

The dialog will need to describe the two step grab then move interaction.
<img width="392" alt="base-grab-instructions" src="https://user-image

[2018-10-19 14:19] terracoda commented on #130
@zepumph, this works great! Awesome. I made a mistake in the design, though.
I thought I was trying to avoid directly saying that the Chemistry book is "on the Physics book" because technically it is always on the Physics book.

Please change the on-Physics-book grab alert to "Grabbed. Rub fast or slow."

Apologies for the lack of forethought on my part.

I've updated the design document, too, str

[2018-10-20 18:59] zepumph commented on #136
I would like a bit more explanation on this before commenting. What specific problems do you recognize with this current approach?

As for the current implementation, you are correct. The alerts are only emitted on end drag. I'm not entirely sure how this differs with the implementation of BASE.

The main difficulties in updating the alerts in the way that you specified above is the following:
* Y

[2018-10-20 19:05] zepumph commented on #137
Implemented above, haven't yet moved it to the sonified version

[2018-10-20 19:05] #137 closed

[2018-10-20 19:10] zepumph commented on #126
I'm confused by the above comment, https://github.com/phetsims/friction/issues/126#issuecomment-431261129. I have implemented this grab help text, see the a11y view:
![image](https://user-images.githubusercontent.com/6856943/47259642-be512680-d458-11e8-869f-049839b659b1.png)

Let me know what you decide and please assign me an issue to do that.

[2018-10-20 19:17] zepumph commented on #130
Implemented above. Please note that number (2) alert from above is still "Grabbed. Lightly on Physics book."

Back to you to review, comment, or close.

[2018-10-20 20:33] zepumph commented on #138
I added it. For some reason the spacing is a bit weird visually, but the content should be solid. I will look into the spacing, perhaps with @jessegreenberg if I can't figure it out. For now @terracoda does everything else look good?

[2018-10-20 20:41] zepumph commented on #106
@terracoda how do you feel about these alerts these days? Do they need more tweaking?

[2018-10-23 14:00] terracoda commented on #136
@zepumph, apologies, by sounding "unnatural", it is likely just a timing thing.

The directional alerts sound a little unnatural (in my opinion) as they come after the content. In my mind, I go left first and then because of that movement the jiggle increases.

I think a general type is very useful, and I would definitely want to keep on that path. That said, I am wondering if the timing might be