[2018-10-23 16:18] zepumph commented on #136
I worry that that would cause the AT to silence the alert because it occurs when keys are pressed down. I'm happy to try anything, and it would be pretty easy to adjust.

What if instead we make the increasing alerts occur after the directional alerts? Would that push everything too far back? We could look into making the increasing alerts come on end drag?

[2018-10-24 21:22] zepumph opened #139 "rename FrictionKeyboardDragHandler -> FrictionKeyboardDragListener"

[2018-10-25 00:57] #139 closed

[2018-10-26 01:29] zepumph opened #140 "merge grab button to master"

[2018-10-26 02:01] zepumph commented on #140
The above commits were essentially to support adding the grab button content into the sonification wrapper.

I did the following:
* found that the grabButton phet-io wouldn't load as a one-off on phet-dev because of Client.js didn't know to look on phet-dev (it went to phet-io.colorado.edu instead).
* Then I merged to grabButton to master so that we could have a dev version
* Then I found that the

[2018-10-26 21:51] terracoda commented on #138
@zepumph, apologies, I had some typos in the design document which I have fixed (see read text)

Posting the corrected text is here, too:

H2: Move Book or Zoomed-in Book
UL
  LI: Move grabbed book up, left, down, or right with Arrow keys, or with letter keys W, A, S, or D
  LI: Move slower with Shift plus Arrow keys, or Shift plus letter keys W, A, S, or D

[2018-10-26 22:35] zepumph commented on #138
Implemented above. I'm going to close this. @terracoda please reopen if there is more, or create a new issue.

[2018-10-28 13:11] samreid commented on #75
After discussing https://github.com/phetsims/inverse-square-law-common/issues/53 we also discussed working on PhET-iO for Friction.  Here are the phet-io meeting notes:

Consensus: Same answer.  Start with design meeting.
MK: I volunteer to work on the phet-io side for that, I am also doing the a11y implementation for that.

Assigning to @zepumph to get the ball rolling toward design meeting.

[2018-10-28 20:46] terracoda commented on #134
@zepumph, the new timing of the reset alerts sound good.

[2018-10-28 20:46] #134 closed

[2018-10-28 21:36] terracoda commented on #126
Ooops, @zepumph, there are unchecked checkboxes in https://github.com/phetsims/friction/issues/126#issuecomment-430451004

Regarding the 4th checkbox question

[code]
After successful interaction the grab helptext is not needed, so I don't think it needs to be added to the PDOM. Does that make sense?

[2018-10-28 21:45] terracoda commented on #126
I think the above comment also answers checkbox item 3.

I think the helptext, should actually show up in the alert, and not actually in the PDOM. Similar help, "Look for grab buttons. Once grabbed, ...." already exists in the PDOM.

@zepumph does the <chemistry book helptext> have to be inserted into the PDOM in order for it to be added to the alert on the initial grab?

[2018-10-29 12:34] terracoda commented on #130
Thanks @zepumph, these alerts are working correctly.
Closing.

[2018-10-29 12:34] #130 closed

[2018-10-29 13:00] terracoda opened #141 "Possible Visual Cue for Grab book and Grab zoomed-in book"
In #126, @zepumph mentioned a visual cue for grabbing the book and zoomed-in book similar to BASE.

Copied key icons from BASE's design

Here's a rough draft of what the two-step grab and move visual cuing could look like for Friction. We could possibly play with the size of the key icons to cue the more important actions.

**1. When a user moves keyboard focus to Chemistry book:**
- Mouse Left-Ri

[2018-10-29 13:05] terracoda commented on #141
In addition I played with the size of the letter icons to see if it might be useful to cue the A,D, and S keys more than W key.

Here are a few options:
**W key smaller on Chemistry book**
![small-02-move-book-hint-w-smaller](https://user-images.githubusercontent.com/1902116/47651321-2a333d80-db83-11e8-97d5-395c43584a85.png)

**W key smaller on Zoomed-in book**
![small-02-move-zoomed-in-book-hint-

[2018-10-29 13:08] terracoda commented on #141
Tagging and assigning to @emily-phet and @arouinfar for initial feedback.

**Question:**
Do you think that something very similar to BASE's grab and move visual cue could work for Friction?

[2018-10-29 13:31] terracoda commented on #126
@zepumph, the only remaining question I have for this issue is what I asked in https://github.com/phetsims/friction/issues/126#issuecomment-433744379

I'm thinking, not. For example, I don't think we add the initial move hint for the balloon in BASE to the PDOM. I think it might just be part of the aria-live alert on grab, but I am not 100% sure.

[2018-10-29 13:47] terracoda commented on #126
Regarding your first checkbox question:

It's ok that shift-tab goes back to the button, essentially releasing the grabbed book. This is how the balloon grab works in BASE, too. Tabbing away to the Zoomed-in book or Reset All button will also release whatever is grabbed.

A screen reader user will get the name of the newly focused item (the Grab button) and also likely some indication of a screen

[2018-10-29 13:49] terracoda commented on #126
Assigning back to you @zepumph to answer question in comment https://github.com/phetsims/friction/issues/126#issuecomment-433910617

[2018-10-30 12:15] emily-phet commented on #141
Thanks for mocking this up! I was just thinking about this. :)

I think this sim will be a little trickier than BASE when it comes to visual cueing:

- The spacing tighter and coloring is brighter in this sim.

- The books can be in different locations at first pickup (e.g., once one book has been interacted with, the other book can be in any state when a user first gets to it to pick it up).

- T

[2018-10-30 13:06] terracoda commented on #141
@emily-phet, we cue the WASD keys because they actually work better. The arrow keys do not respond as well, though they do seem to work now in all screen readers (need to verify JAWS and Chrome).

The WASD keys just work better with a screen reader on.

[2018-10-30 13:08] terracoda commented on #141
@emily-phet, keep in mind, we only visually cue the initial interaction - hoping that is enough to scaffold users. I would hope that it would not be necessary to provide the cues after successful interaction.

[2018-10-30 20:54] emily-phet commented on #141
@terracoda  - yes, this was my understanding as well. If that's the case, I don't think we need to continue with the goal of including the W, A, S, and D keys in the visual cues. If you're using a screen reader, you'll hear the W, A, S, and D keys emphasized in the verbal cues.

[2018-10-30 21:03] terracoda commented on #141
We could definitely try providing the WASD instruction solely for screen reader users in the PDOM, and also in the Keyboard Shortcuts dialog. I think it would be helpful for all user, especially teachers to have access to alternative shortcuts.

[2018-10-30 22:04] arouinfar commented on #141
Thanks for all of these mockups @terracoda!

It's not clear to me why we need to require extra key presses to interact with the sim, but I'll assume there are good reasons for it. I know I've been a bit out of the loop on what's been going on in the a11y design for this sim.

In both cases, I think the grab cue looks fine. However, I find the WASD keys to be a bit crowded looking. I'd also prefer

[2018-10-31 11:07] terracoda commented on #141
@arouinfar, I really like the all pink arrows - I didn't like the white-only approach for this sim, the pink is good.

How about swapping out the white arrows for pink ones (perhaps 4 instead of just 2) when keyboard focus lands on the zoomed-in book? The cues are not needed after successful interaction, so the second grab and move no arrows (neither white nor pink) are provided.

Reason for all 4

[2018-10-31 16:15] jessegreenberg commented on #133
I had forgotten that the way direction is described in BASE is that the alert changes depending on whether the balloon is grabbed or moving independently. While grabbed, the alert is just "Left." But while independent, the alert might be "Yellow Balloon, now left". Or it might contain other information like "Yellow Balloon moves extremely slowly left." @zepumph would it be OK if MovementDescriber

[2018-10-31 18:57] arouinfar commented on #141
Thanks! I knew magenta would have nice contrast, but I wasn't sure if it'd be <i>too much</i> magenta, since that is the focus color.

Oh, that makes sense! But perhaps the arrows would be dismissed after a successful grab, rather than focus?

Here are a few iterations on your mockup @terracoda.

1. ![screen shot 2018-10-31 at 12 46 52 pm](https://user-images.githubusercontent.com/8419308/47811333

[2018-10-31 19:58] terracoda commented on #141
I like 2 best, let's go with that one.

Of course, I was thinking the white arrows are still there when keyboard is not used as they are there to cue mouse/touch users. The pink arrows only show up once a user presses the grab zoomed-in book button.

I think we can go ahead with this visual.

@emily-phet any thoughts before assigning for implementation?

[2018-11-01 16:04] terracoda commented on #141
@arouinfar, @emily-phet and discussed these visuals a bit more and pondered about just providing three arrows (left, right, and down). This might allow us to keep the same left-right arrows that are currently in the visual design and then just turn them pink and add the down arrow after the grab button is activated by a keyboard user.

So, in both cases the book and the zoomed-in book we would jus

[2018-11-01 22:36] zepumph commented on #133
We would definitely want to rename one of these such that `Describer` was a "thing" (probably that just dealt with text), and we had another suffix for the other thing (likely something that alerts, like `Alerter`).

Unless there are any objections, how about we solidify that differentiation (I'll make an issue https://github.com/phetsims/scenery-phet/issues/417). For now Describers format and for

[2018-11-02 00:54] arouinfar commented on #141
That all sounds good to me @terracoda.

Here's what three arrows could look like for the zoomed-in view
![image](https://user-images.githubusercontent.com/8419308/47887891-b2c60e00-de0f-11e8-8059-a8074fc4af20.png)
![image](https://user-images.githubusercontent.com/8419308/47887915-cd988280-de0f-11e8-9e56-c19ed1d29e45.png)

I think the 3-way merged arrow (top) looks a bit strange, so separate arrow

[2018-11-02 07:34] terracoda opened #142 "Visual cue for grabbing and moving book when using keyboard (alt input )"
In #141 we discussed possible visual cues for the grab-move interaction.
We decided to
- remove visual references to WASD keys as they are only needed when using a keyboard. The WASD cues are provided in PDOM and in Keyboard Shortcuts dialog.
- visually highlight the three important directions rather than all four.

@zepumph, please implement the visual cues below. Visual cues disappear after succ

[2018-11-02 07:34] terracoda commented on #141
I created new issue for implementation, so closing this one.

[2018-11-02 07:34] #141 closed

[2018-11-02 15:34] jessegreenberg commented on #133
Agreed, that sounds best for similar reasons to this separation.

🚀 Thanks!

[2018-11-03 00:55] zepumph commented on #126
@terracoda I'm going to clarify just to be sure that I don't make a mistake:

The grab button help text should be in the PDOM until the first time a successful grab is made, on either book. Then we can remove that help text from the PDOM? I'm talking about:
`Look for grab buttons. Once grabbed, use letter keys W, A, S, or D to move book or zoomed-in book up, left, down, or right.`

The chemistry b

[2018-11-03 15:33] terracoda commented on #126
@zepumph, I forgot to assign back to you. Please re-assign to me if you have more questions.

[2018-11-05 11:15] terracoda commented on #126
Also, since we are fully embracing the grab button interaction, I will clean up the design document asap, so it is less confusing.

[2018-11-06 13:10] emily-phet commented on #142
@terracoda @zepumph These mockups look great! One request, for the grabbed state in the zoomed in view (the last image above), let's make the arrows larger (50-100% larger) and move the a little down so that the top of the downward facing arrow is at the first (top) row of blue particles.

[2018-11-06 14:39] terracoda commented on #142
@emily-phet, I agree on larger arrows. I was going to ask if the arrows should be the same size as the the white arrows are in the zoomed-in view.

[2018-11-06 16:43] zepumph commented on #126
From meetings today:

* We need to get the verbose grab alert until we successfully "move"
* Treat "first time" alert separately for each book view/successful move. So successfully grabbing and moving the macro view won't change the fact that you will still hear the verbose alert on first grab of the zoomed-in book.

(for @terracoda)
* Add a verbose alert for when books are touching, but it's the

[2018-11-06 19:47] zepumph commented on #135
This has been merged to master, and the branch deleted. Closing

[2018-11-06 19:47] #135 closed

[2018-11-06 19:52] #140 closed

[2018-11-06 22:57] terracoda commented on #126
@zepumph, as discussed needing 4 initial alerts in our meeting. I've updated the design document with these:

1. Initial grab when books are not touching (page load and after a reset):
   - Grabbed. Lightly on Physics book. Use W, A, S, or D keys to move book. Space to release.
2. Grab after successful interaction when books are not touching:
   - Grabbed. Lightly on Physics book. Move down to rub

[2018-11-06 23:08] zepumph commented on #142
The above commits all were working on the cue button. In https://github.com/phetsims/scenery-phet/issues/419 we moved the BASE cue node to common code, and I worked it into the general Grab button pretty easily.

Now, with the arrows, we will mostly be directly in the friction repo, making these custom.

[2018-11-06 23:11] zepumph opened #143 "Error using grab button with mouse use too"
I am getting an assertion when I drag the book a little, and then immediately try to tab to the grab button. I get the following error.

[code]

I think this is because the mouse interaction is causing visibility to update somehow, but I haven't had time to look into it further.

[2018-11-06 23:11] zepumph commented on #143
From #142.

[2018-11-07 02:00] zepumph opened #144 "Fix zoomed in focus highlight"
Since removing the arrows in https://github.com/phetsims/friction/issues/142, the focusHighlight has changed to be closer wrapping the atoms, and doesn't include the background as much. I should fix that.

[2018-11-07 02:15] zepumph commented on #144
Here is a patch where I have tried to get this to work, but found that the way of duplicating the wrappedNode's focusHighlight onto the grabButton isn't general. Right now I we were just setting the centers to each other. @jonathanolson recommended using instead something like

`wrappedNode.focusHighlight.shape.transformed( wrappedNode.transform.getInverse() )` but that didn't work immediately. I

[2018-11-07 07:44] terracoda commented on #126
@zepumph, I forgot to assign back to you.

[2018-11-07 10:10] terracoda opened #145 "Need latest sound and text version for meeting with consultants"
Heads up issue! Please port latest description to latest sonification wrapper.
I have two meetings one for Thursday afternoon MT and one for Friday morning MT (exact times to be added).

Hopefully there is enough time to allow to get the latest sound version.

@zepumph, the Grab button alerts do not need to be perfect. We want to verify the cooling sound. I can always discuss the alerts with the c

[2018-11-07 16:19] jbphet commented on #145
@zepumph - I assume that you've got this, but please let me know if I can assist in any way.

[2018-11-07 18:18] terracoda commented on #145
@zepumph, I this link will meet my needs for Thursday and Friday for Friction:
[](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.83/phet-io-wrapper-sonification/friction/html/friction-sonification.html?sonificationFile=sonificationDefault&accessibility)

[2018-11-07 19:52] zepumph commented on #145
Currently there is a lot of churn in Friction. I am updating the visual cues for the grab interface and cueing arrows. I do not think there will be anything better for you than the above link before tomorrow.

[2018-11-07 19:53] zepumph commented on #145
I'm going to close this issue. Please reopen or let me know if you need anything more @terracoda.

[2018-11-07 20:44] terracoda commented on #145
Thanks @zepumph! I will use the link above.

[2018-11-07 20:44] #145 closed

[2018-11-07 21:05] terracoda commented on #126
@zepumph, I do not hear the alerts above in https://github.com/phetsims/friction/issues/126#issuecomment-436439984 yet. I am going to remove the label "Ready to review" and change it to dev ally.

[2018-11-12 23:01] zepumph commented on #143
I tried adding this listener to the `wrappedNode` in `GrabButtonNode`:

[code]

But it didn't work because the assertion is being triggered from the "global listener" in `AccessibleInstance`. Maybe we can sort this kind of thing out with https://github.com/phetsims/scenery/issues/888, because we are centralzing all globally added event listeners into the same system as what will call input listene

[2018-11-13 03:09] zepumph commented on #142
The above commit added arrow cues to the macro book, but it also helped to demonstrate the problems being worked on in https://github.com/phetsims/friction/issues/144 and https://github.com/phetsims/scenery-phet/issues/421. It messed with the grab button focusHighlight. I am going to meet with @jonathanolson tomorrow to try to work out a nice general solution to apply to GrabButtonNode. Until then

[2018-11-13 13:59] terracoda commented on #138
@zepumph, here's the latest visual
<img width="881" alt="friction-kbshortcuts" src="https://user-images.githubusercontent.com/1902116/48417958-5db1c280-e754-11e8-993f-1bf355174fda.png">

Under the Grab and Release heading, we just need:

No need to repeat "zoomed-in book".

[2018-11-13 20:49] emily-phet opened #146 "Fate of 'cooling' sound"
Ok folks - I'd like to make a decision if we're going to keep the cooling off sound, and if so, if it should go in as an 'enhanced' sound.

The rest of the sound design is complete, as well as the description (essentially) so new interviews would likely only be arranged to get feedback on this sound. I'd prefer not to put time into further interviews for this sim, particularly for a sound that is

[2018-11-13 21:57] zepumph commented on #144
This should be fixed, the rest will be handled in https://github.com/phetsims/scenery-phet/issues/421

[2018-11-13 21:57] #144 closed

[2018-11-13 23:03] Ashton-Morris commented on #146
I feel like it reinforces the concept and provides an additional layer of information in terms of accessibility. I think we should keep it in and not adjust the volume any louder as it is one of those sounds that can get irritating if too present.

[2018-11-14 02:19] zepumph commented on #142
Please ignore the commits above to the previous comment, they are mainly related to https://github.com/phetsims/scenery-phet/issues/421, though they do pertain to this issue some.

[2018-11-14 02:32] zepumph commented on #126
@terracoda, I have completed what was asked of me above in master. Note that because of https://github.com/phetsims/scenery-phet/issues/421 there is some wonkyness with the grab button keyboard navigation, for example spacebar isn't supported yet (please use enter), and some edge cases won't cancel out of the "grabbed" mode correctly, so you may have to press escape to be safe more than you want.

[2018-11-14 02:48] zepumph opened #147 "Help text for books doesn't seem right"
From work on https://github.com/phetsims/friction/issues/126.

@terracoda could you please comment on the "help text" for the two draggable book views. This is what I currently have in between the two buttons in the PDOM:

`Look for grab buttons. Once grabbed, use letter keys W, A, S, or D to move book or zoomed-in book up, left, down, or right.`

but then once grabbed, there is also this next to

[2018-11-14 02:48] zepumph commented on #147
I'm using the a11y view to see this, rather than a screen ready. Maybe you can figure out out to hear both on a screen ready, but I couldn't.

[2018-11-14 09:01] terracoda commented on #146
@emily-phet, I agree, I think the sounds are working well and are creating a pleasant experience for users.

The cooling sound is not causing any problems (not getting in the way), and I think it can add some due cuing about cooling as others have mentioned. I would be most comfortable if it was implemented as an enhanced sound, so that due cuing could be made more explicit when needed.

[2018-11-14 09:04] terracoda commented on #146
I think we all agree, @emily-phet are we ready to assign this for implementation?

[2018-11-14 19:52] terracoda commented on #147
@zepumph, I explained this in a different issue, can you look here in this comment?
https://github.com/phetsims/friction/issues/126#issuecomment-435569891

[2018-11-14 21:49] zepumph commented on #147
Oh my goodness there it is! I could not remember what issue that comment was, so I just made a new issue. Thanks!

[2018-11-14 21:49] #147 closed

[2018-11-14 23:17] zepumph commented on #143
Because of the redesign work done in https://github.com/phetsims/scenery-phet/issues/421. This is no longer an issue. I think it is because the `parentNode` that gets past into the a11y interaction node, becomes the grab button instead of the draggable. This way we no longer click and drag something that is accessibleVisible, such that when we press tab, the browser tries to focus it, even though

[2018-11-14 23:17] #143 closed

[2018-11-14 23:37] terracoda commented on #126
@zepumph, what you have implemented sounds great!

I realize now that I did not define "successful interaction" and I might have over-thought alert number 3. I only hear it if I first use the mouse to put the books together, and then put keyboard focus on the book and grab it.

I am happy with the alerts as-is and I will open a new issue if we need any further adjustments. This issue is long enoug

[2018-11-15 16:45] zepumph commented on #126
You can also hear it if you grab one of the book views, move the books to touch, and then highlight the other view and grab it for the first time. Is this acceptable?

[2018-11-15 17:58] jbphet opened #148 "Add sound"
During the 11/15/2018 status meeting it was decided that it's time to move forward with the implementation of the sound design for this simulation.

The [sound design prototype](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.86/phet-io-wrapper-sonification/friction/html/friction-sonification.html?sonificationFile=sonificationDefault&accessibility) should serve as the mai

[2018-11-15 18:04] jbphet commented on #148
@emily-phet - Is there are design doc for this sound design?  Nothing is coming up for me on Google Drive if I search on "Friction Sound Design", and I don't recall seeing one.  I can easily work from the prototype, but thought I should make sure if that is the plan.

[2018-11-15 18:06] jbphet commented on #148
Based on the discussion in #146, the "cooling" sound should be an enhanced sound and everything else should be a basic sound.

[2018-11-16 11:45] terracoda commented on #126
@zepumph, yes, that is more than acceptable.

However, I just noticed that after a lot of successful interaction with the zoomed-in book, I hopped over to the book and I got alert 3.

New related question, **how does alert 3 get turned off?**

I think defining successful interaction will help.
Is it helpful if I define successful interaction as successful creation of friction in the model with eit

[2018-11-20 11:57] terracoda commented on #136
@zepumph, I opened a potentially related issue, so I am mentioning it here https://github.com/phetsims/gravity-force-lab/issues/120

[2018-11-20 15:05] terracoda opened #149 "Sometimes do not hear correct directional alert?"
@zepumph, I don't know if yo have noticed this, but sometimes I hear left or right when I press up or down.

At first, I just thought it might be a delay thing, but it is not. I very carefully press and I can get the incorrect direction.

I think it happens most often for vertical movement. For example, I just pressed down and I heard "right". And since the model thought I went right, I did not he

[2018-11-20 22:47] zepumph commented on #126
Your definition makes sense. Right now the definition of "success" is just "grabbing" a book view once. Since now each book view is a different alert system, this can happen for each independently,

I will look into updating this so that having a "successful" interaction effects both grab buttons.

When a single successful interaction occurs, no matter what book view it was made with, neither book

[2018-11-20 23:21] zepumph commented on #138
How's that?

[2018-11-21 13:53] terracoda commented on #138
@zepumph, looks good, but needs a little pixel polishing

**1 change in visual dialog:**
- adjust heading size

**1 change in a11y dialog:**
- remove "the" before "book" in the accessible content

[2018-11-21 14:02] terracoda commented on #126
@zepumph, a very small amount of friction is fine, just enough friction to cause the first jiggling alert for example. It's possible just a couple of horizontal moves left or right should work.

[2018-11-21 15:09] zepumph commented on #138
I'm not sure how to go about adjusting the heading. It was scaled down
because of it's length, in order to fit in the dialog. I'll take a look and
see whay our best options are.

On Wed, Nov 21, 2018, 05:53 Taliesin L. Smith <notifications@github.com
wrote:

[2018-11-22 10:29] terracoda commented on #138
@zepumph considering your comment about the automatic heading scaling, would it be more straight forward to keep the heading content simple and adjust the paragraph text and list item text to accommodate "the zoomed-in book"? I was thinking there was more room in the headings, but maybe not.

**Try this as a work around:**

**H2: Grab or Release Book**
- P: Grab or release book or zoomed-in book [

[2018-11-23 19:51] zepumph commented on #126
I have updated the grab alerts for your "successful interaction" definition above.  @terracoda please review.

[2018-11-23 20:09] zepumph commented on #138
Implemented; here is one note. When we add "grabbed" to LI: "Move [grabbed] book or zoomed-in book", notice that we have the same scaling issues but now for the LI. If "grabbed" was omitted, then it would visually be the same.

@terracoda please review.

[2018-11-23 20:54] zepumph commented on #149
@terracoda I cannot reproduce this if only using the up and down arrows. I can though do this if in the same press I hold both a vertical and horizontal arrow key while the book goes from one corner to its opposite corner.

The reason this is happening is because the direction algorithm is compiling an angle based on the start and end points. Given the picture below, if the start location of the b

[2018-11-26 03:08] emily-phet commented on #148
Yes - the latest prototype you've worked on with @Ashton-Morris is serving as the 'design doc'. Also, as you describe above - cooling sound is an 'enhanced' sound, all other sounds in latest prototype are the default/basic sound.

[2018-11-26 12:37] terracoda commented on #138
@zepumph, I see the problem. The body text is now scaled smaller:
<img width="770" alt="friction-badly-scaled-text" src="https://user-images.githubusercontent.com/1902116/49014312-03ffbe00-f180-11e8-8dda-6e3f03f67dda.png">

Is is possible to wrap the body text instead of scaling it? I wouldn't want to wrap heading text, of course. Is something like this (below) possible? If so, I can ask a designe

[2018-11-27 02:29] zepumph commented on #142
This has been implemented. @terracoda please review here:

https://phet-dev.colorado.edu/html/friction/1.5.0-dev.22/phet/friction_all_phet.html

Note that the zoomed-in book arrows are a little different. This was the easiest to accomplish right now, because right now the atom circles actually end up on top of the arrows if I move the bottom one down any more. That can likely be fixed, but this wa

[2018-11-27 11:48] terracoda commented on #138
@zepumph we can discuss in today's design meeting.

[2018-11-27 12:52] emily-phet commented on #146
@jbphet already started an issue to work on this.

[2018-11-27 12:52] #146 closed

[2018-11-27 12:59] emily-phet commented on #142
Looks good to me!
I wish it wasn't so busy looking when the lower chemistry book (not zoomed in view) has focus to start, but I can't think of a way to improve it. With the physics book text and chemistry book text, the little zoom-in black box, focus highlight, and the 'space to grab' prompt, there's quite a lot happening in a small space - but I think this is minor and probably just fine.

[2018-11-27 13:04] emily-phet commented on #149
Hmm - maybe the double regions (e.g., left & up, right & up) need to be wider?

[2018-11-27 13:04] terracoda commented on #142
@zepumph, thanks. I was pretty sure you had implemented, but I was waiting for the review label to comment. @emily-phet beat me to it.

I agree it looks good, but I have one question for the design meeting..."What are we doing with the white arrow keys?"

Can we make them the same size as the pink ones (but right/left only) and then on grab add the third arrow and change the arrows to pink?

[2018-11-27 13:08] terracoda commented on #149
I did further testing last night and this morning and I can still get incorrect direction alerts. It seems to happen on the Zoomed-in book. I have noticed it there.

[2018-11-27 13:10] terracoda commented on #149
@zepumph, the circle graph makes sense and very familiar from BASE.
I do not know why I get incorrect directions sometimes.

[2018-11-27 13:22] terracoda commented on #126
@zepumph, I think you got it! I'm closing this mega issue :-)

[2018-11-27 13:22] #126 closed

[2018-11-27 16:08] zepumph commented on #149
assigning to myself to try to reproduce.

[2018-11-27 16:09] zepumph commented on #106
@terracoda these parameters have not changed for a long time (over 2 months). Is anything else needed here?

[2018-11-27 19:18] jbphet commented on #148
One difference from the sound design prototype is that the pickup and drop sounds should be produced when using keyboard nav (this does not happen in the sound design wrapper prototype).

[2018-11-27 20:20] zepumph commented on #148
While talking with @jbphet, we discussed that the above comment should not be implemented until https://github.com/phetsims/scenery-phet/issues/421 is finished. I'll ping this issue when we are done over there.

[2018-11-27 20:23] zepumph commented on #138
We discussed today, and I wrapped the text in the above commit. How does this look @terracoda?
![image](https://user-images.githubusercontent.com/6856943/49109293-cc078200-f236-11e8-835e-79a8ba311ff0.png)

[2018-11-27 20:37] terracoda commented on #149
@zepumph, I've obviously only experienced this issue in Safari with Voice Over.

[2018-11-27 20:42] terracoda opened #150 "Change initial interaction hint (i.e., grab hint) in PDOM"
As discussed in today's meeting, please shorten the initial grab hint from:
-  “Grab Chemistry book, then rub books together fast or slow, and move down to rub harder.”
to
- "Grab Chemistry book to play."

The above hint still changes to "Reset the sim to make more observations." as before.

The grab alerts will take care of the specific moving and rubbing cues.

[2018-11-27 20:46] terracoda commented on #150
Changed above hint to be "Grab Chemistry book to play."
Apologies for missing "Chemistry".

[2018-11-27 20:50] terracoda commented on #106
@zepumph, the sim started sounding really good after you implemented these parameters and I haven't really played with them except very early on.

If you need to remove them, it is likely safe to do so.

[2018-11-27 20:54] terracoda commented on #142
As mentioned at the design meeting, if the white arrows the same size as the pink ones, and thus small enough to be covered by the visual grab hint, the transition between no focus, to focus, and then to grab might be quite smooth.

[2018-11-27 21:03] zepumph commented on #149
Can you reproduce it without VO turned on, just by looking at the a11y view?

[2018-11-27 21:04] terracoda commented on #149
I'll try.

[2018-11-27 21:09] terracoda commented on #149
I only hit the Left Arrow key and I got 2 alerts "up", "left".

<img width="574" alt="evidence" src="https://user-images.githubusercontent.com/1902116/49111618-f1c17500-f290-11e8-82d6-96caff168ebb.png">

[2018-11-27 21:23] terracoda commented on #149
After a few more tries I got another random weird one.
I pressed the Left Arrow and got a "right" alert.
<img width="357" alt="more_evidence" src="https://user-images.githubusercontent.com/1902116/49111937-c68b5580-f291-11e8-872a-f3a1f81dd698.png">

It can happen on the actual book, too.
Here I pressed Left Arrow, but got "right".
<img width="363" alt="happens-on-book-too" src="https://user-images

[2018-11-28 05:34] zepumph commented on #136
After talking with @terracoda, we decided to not alert left/right alerts when the books aren't touching and the temperature is hotter than the "settled threshold"

We both like the way it sounds.

[2018-11-28 05:41] zepumph commented on #149
@terracoda and I were able to discuss this, and saw that it is always after a reset all button press. Here is one walkthrough I was able to reproduce:

press left
alert "left"
reset
press left
alert "right"
reset
press left
alert "move down to rub harder"
reset

[2018-11-28 05:43] zepumph commented on #106
Sounds good, I'll take care of this.

[2018-11-28 07:20] terracoda commented on #138
@zepumph, the screenshot above looks great, but I see something slightly different where the buttons are not aligned due to the second "grabbed" in the second check of text...
<img width="825" alt="screen shot 2018-11-28 at 8 03 00 am" src="https://user-images.githubusercontent.com/1902116/49135070-f3695800-f2e5-11e8-9113-dec2768ba3aa.png">

Did something change? Or this perhaps browser related? I

[2018-11-28 07:32] terracoda commented on #138
@zepumph, oh, I see your screenshot doesn't have the second "grabbed". If possible, please tweak the wrapping a little more so the wrap happens after the "or" in both cases, or if not possible, just remove the second explicit "grabbed" before "zoomed-in book".

[2018-11-29 23:49] zepumph commented on #75
We had a Friction phet-io design meeting today, here is the wishlist/notes:

some use cases to think about:
* hiding the micro view but keeping the thermometer.
* (smart sparrow) as a figure in an etextbook, animating but not pickable
metric on assessment
* save and load

  - [ ] did they drag the book
  - [ ] don't need all the atoms
  - [ ] hide the thermometer
  - [ ] read the temperature
  - [

[2018-12-03 17:31] pixelzoom commented on #65
Reopening. This issue was referenced in https://github.com/phetsims/graphing-quadratics/issues/120.  PhET sims typically do NOT dilate the pointer areas for the Reset All button because (1) the button is plenty large, and (2) we don't want the user to hit this button unless they really intend to.

[2018-12-03 17:44] pixelzoom commented on #65
Also... If we did want to dilate pointer areas for the Reset All button, that should be done uniformly in `SCENERY_PHET/ResetAllButton`, not in sim-specific code as has been done here.

[2018-12-03 19:09] samreid commented on #65
A quick search indicated more than a dozen occurrences across many sims of `new ResetAllButton` that specify a `touchAreaDilation` (with several different values).  It is unclear whether we can uniformly eliminate all of these or set their dilations to exactly the same value.  Thoughts @ariel-phet and @pixelzoom?

[2018-12-03 23:11] #106 closed

[2018-12-03 23:33] arouinfar commented on #138
@zepumph the BASE dialog has a similar structure (sans wrapped text) and might be helpful in figuring out how to align the keys in the left column.

![image](https://user-images.githubusercontent.com/8419308/49408313-ff577e80-f718-11e8-8a95-5bb7b1accb5f.png)

If wrapping the text somehow breaks the ability to left-align the key icons, then https://github.com/phetsims/friction/issues/138#issuecomme

[2018-12-03 23:37] terracoda commented on #138
@zepumph, I agree with @arouinfar #138 looks pretty good, but if possible move the [Space] or [Enter] buttons to the right just a smudge to align vertically with the first [up] arrow button.

[2018-12-03 23:54] zepumph commented on #149
In the above commit there were 4 bug fixes, but only of two of them were manifesting in Friction.

Bugs fixed for friction:
1. The "last location" of the book was not reset either. This location is compared to the new location (through the unit circle posted above) to figure out what direction to alert next. This is the bug that @terracoda was noticing for a long time.
2. LeftRightAlertPair (the o

[2018-12-04 00:02] zepumph commented on #150
Implemented, @terracoda  please review.

[2018-12-04 01:47] zepumph commented on #138
Thank you both for the assistance. I looked at BASE and found the line of code I needed. Should now be aligned.

![image](https://user-images.githubusercontent.com/6856943/49413022-067f8c00-f71b-11e8-8331-d062672a294d.png)

[2018-12-04 02:08] zepumph opened #151 "GrabButton interaction broken"
Caused by commits from this morning due to https://github.com/phetsims/scenery/issues/898. I think it may be as simple as converting listeners to use the new `inputListener` approach, but I'm unsure. Tagging @jessegreenberg so he is aware.

[2018-12-04 02:10] zepumph commented on #151
For reference. The issue is that you tab to the book. Then grab it, and when you tab away it goes back to the grab button, instead of on to the next focusable item.

For more reference, here are the shas to check out to take you back to when it was working correctly:
joist: 88658dbb43ae78d16ce698545f604d6173176eeb
scenery: 6d899bca621aa348d471d15da410ca647deb41f9

[2018-12-04 02:16] zepumph opened #152 "Fix aria-role description in grabDrag interaction"

[2018-12-04 03:16] ariel-phet commented on #65
@samreid can you find the minima and maxima of these dilations in existing cases? Or just send me a list of sims and I can probably take a look in the relevant code if you give me an example file I should be looking in?

[2018-12-04 03:51] zepumph commented on #142
I added back in the white arrows. They hide nicely behind the the grab button cue node. While I was doing this, I realized that all the arrows were being drawn pretty strangely, so I refactored them. They ended up a bit different than before, please review. If we want I can make them what they were, this was just easier in the moment.

[2018-12-04 03:53] samreid commented on #65
Searching across all repos for `touchAreaDilation: ` (matching case and searching complete words only) shows all or most of the cases where a RoundPushButton is dilated.  There are around 60 occurrences across around 50 files.   Many but not all of these are ResetAllButtons.  Here is a picture of the list:

![image](https://user-images.githubusercontent.com/679486/49417872-d47f2180-f73c-11e8-9aaf-

[2018-12-04 03:59] zepumph commented on #151
This is actually sort of a pain. The solution is to have `focus` and `blur` events be added with `addInputListener` instead of the a11y alternative. Normally that would be easy, but in this type we are keeping track of all listeners and swapping them out between the grab and drag versions of the node's a11y interaction. In order to get this working again from master, here is what I would need to d

[2018-12-04 10:13] terracoda commented on #138
@zepumph, that is beautiful alignment.

In the A11y View, I noticed we are missing a two periods.

The bullets about moving the grabbed book and grabbed zoomed-in book each need a period at the end.

I checked the Keyboard Shortcuts dialogs for BASE and RIAW to double check for consistency. We do, indeed, have periods in the other sims' dialogs.

The "Tab to get started" should have a period, too,

[2018-12-04 17:03] arouinfar commented on #65
I tested 3 different sims (MAS, EqEx, Bending Light) without dilated touch areas on the resetAllButton on my phone, and all were very usable. @ariel-phet or others may want to test the sims out on their phone to see how it feels.

Originally, I was on board with dilated touch areas on the resetAllButton, but it's seeming more like overkill to me, especially since we should avoid accidental presses

[2018-12-04 17:10] arouinfar commented on #65
Another case for slightly dilated touch areas is that newer HTML5 sims tend to have a slightly smaller resetAllButton than early HTML5 sims. Here's a comparison of Ohm's Law (left) and EqEx (right). Both screenshots were taken from a fullscreen window.

![image](https://user-images.githubusercontent.com/8419308/49459601-a507fd80-f7ac-11e8-87fe-3bcf99b1e72a.png) ![image](https://user-images.githubu

[2018-12-04 17:29] pixelzoom commented on #65
@arouinfar Earlier HTML5 sims were likely ports, and used a custom layoutBounds (see discussion in https://github.com/phetsims/joist/issues/542).  More recent sims (especially new sims) typically use the default layoutBounds.   If the layoutBounds are smaller than the default, then all UI elements will appear larger.  If the layoutBounds are larger than the default, then all UI elements will appea

[2018-12-04 18:20] zepumph commented on #138
Periods added. Closing

[2018-12-04 18:20] #138 closed

[2018-12-05 11:33] terracoda commented on #138
@zepumph, thanks for adding the periods!

[2018-12-05 11:33] terracoda commented on #150
This sounds great @zepumph. Thanks.
Closing.

[2018-12-05 11:33] #150 closed

[2018-12-05 11:47] terracoda commented on #149
This looks good @zepumph. I am no longer able to reproduce the incorrect directional alerts after a reset.

But I see to have some inconsistencies after a break away. Is it possible you need to clear the last location after a break away as well? I seem to get incorrect directional alerts when I move down after a break away.

After a break away, I often hear two directions with one key press down,

[2018-12-05 11:54] terracoda commented on #149
@zepumph, reassigning back to you.

To reproduce,
1. rub until you get a break away
2. carefully press down arrow or S key
3. you should hear the last horizontal key press that was close to the break away (left or right) rather than "down"

Let me know if you cannot reproduce.

[2018-12-05 15:30] terracoda commented on #152
@zepumph, I started a little example walk-through for the `aria-roledescription` in the [Grab Button Alerts section](https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.5pe7t0653eze) and will be adding some ideas there.

This is just in case we need it. We may not.

[2018-12-05 15:41] terracoda opened #153 "Small change to Initial Grab Alert"
In https://github.com/phetsims/friction/issues/130#issue-365034670, we updated the Grab/Release alerts.

Please make  small wording change of the initial Grab Alert (when not touching) from
- Current alert: "Grabbed. Lightly on Physics book. Use W, A, S, or D keys to move book. Space to release."
- To: "Grabbed. Lightly on Physics book. Move book with W, A, S, or D key. Space to release."

This is

[2018-12-05 16:08] jessegreenberg opened #154 "non-finite param for setTargetAtTime"
This error is happening on bayes CT with ?fuzzBoard. But I can also reproduce by trying to drag a book with the keyboard.

[code]
Assigning to @jbphet and @zepumph since this is related to both audio and alternative input, but let me know if I can help or if this seems related to recent changes for a11y input in scenery.

[2018-12-05 18:08] jbphet opened #155 "Review sound levels and any other sound design aspects"
@Ashton-Morris - I've published a dev version of friction that includes the first cut at the sound design implementation.  Please review and let me know if some of the levels should be changed and, if so, to what values.  I've marked all places in the code where levels are set with a comment of the form:

[code]

If you have other feedback on the implementation, please log that as well.

Link: htt

[2018-12-05 18:44] zepumph commented on #154
@jbphet let me know if you need help.

[2018-12-06 18:50] arouinfar commented on #65
Thanks for the explanation @pixelzoom. The reason I pointed out the larger resetAllButton in early HTML5 sims is that we may have decided not to dilate touch areas based on the larger physical size of the button (which is a consequence of old Java layoutBounds).

[2018-12-07 18:03] jbphet commented on #154
I fixed this before noticing that CT had been impacted.  The commit can be found here: https://github.com/phetsims/friction/commit/95dcb993b0ebeb6a75404460beffb9436a7a3081.  Closing.

[2018-12-07 18:03] #154 closed

[2018-12-11 12:52] emily-phet commented on #155
Thoughts on having the 'thud' sound when chemistry book contacts physics book be a little lower in volume? Listening without my headphones on my Mac it sounds a little loud. Not sure how it feels for others.

[2018-12-11 16:07] zepumph commented on #151
This has been taken care of by commits in phetsims/scenery#898. We decided to go forward with converting all events over to the system in scenery/Input.js.

[2018-12-11 16:07] #151 closed

[2018-12-11 16:14] zepumph commented on #142
@terracoda anything else here?

[2018-12-11 16:30] #153 closed

[2018-12-11 17:49] ariel-phet commented on #65
@samreid @arouinfar @pixelzoom

I do think a slight touch area dilation for the modern size of the ResetAllButton is appropriate as a default. We have a few competing pieces here:

1. The button should be visually large enough (which I think we all agree it is in modern simulations)

2. We don't want to increase the visual weight of the button, since we do not want that button to be too attractive

[2018-12-11 18:19] zepumph commented on #149
This is fixed now. @terracoda please review

[2018-12-11 19:29] zepumph opened #156 "self code review"
There was a lot of churn here, I want to give myself some time to clean things up, handle todos, and review things now that we know we like the a11y grab/drag interaction.

[2018-12-11 20:38] #156 closed

[2018-12-11 22:39] zepumph commented on #62
I'm going to close this, phet-io is implemented, and the rest will be sorted out with design-first mentality in #75

[2018-12-11 22:39] #62 closed

[2018-12-12 11:51] terracoda commented on #153
@zepumph thanks! Looks and sounds good.

[2018-12-12 12:16] terracoda commented on #152
@zepumph, I am hearing the aria-roledescription text again, but I am hearing things in a strange way.

I hear the following:
1. On focus:  "Chemistry book, web application"
2. On grab:  "Chemistry book, move in four directions", Alert: "Grabbed. Lightly on Physics book ..."
3. On release: "Chemistry book, web application", Alert: "Released."

Number 2. Is what I expect to hear with aria-roledescri

[2018-12-12 12:20] terracoda commented on #149
Verified! Thanks @zepumph, closing this issue.

[2018-12-12 12:20] #149 closed

[2018-12-12 12:32] terracoda opened #157 "Add Book pick up and drop sound to keyboard interaction (alternative input)"
Related to https://github.com/phetsims/friction/issues/148.

This is likely already on John and Ashton's radar. At Dec 11th meting we noted that we need the book pick and drop sound to work for alternative input as well (keyboard).

The keys to grab and release the book or zoomed-in book are:
- grab: Space or Enter keys
- release: Space, Enter, or Escape keys

Assigning to @Ashton-Morris and @jbph

[2018-12-12 12:34] terracoda commented on #157
Just referencing my comment from the visual grab interaction issue: https://github.com/phetsims/friction/issues/142#event-2021350264

[2018-12-12 16:32] samreid commented on #65
States of Matter (including Atomic Interactions) specifies `new Bounds2( 0, 0, 834, 504 )`.  However, the default ScreenView layoutBounds are `new Bounds2( 0, 0, 1024, 618 );` . Therefore we will not be able to use the radius from States of Matter directly.

Those dimensions have nearly the same aspect ratio:
[code]

So we can use this scale factor as a starting point:

[code]

Since States of Mat

[2018-12-12 16:41] pixelzoom commented on #65
Since layoutBounds affect this issue, perhaps we should discuss https://github.com/phetsims/joist/issues/542 first?

[2018-12-12 21:02] samreid commented on #65
Thanks for bringing that issue to my attention @pixelzoom

[2018-12-13 10:44] terracoda commented on #152
@zepumph, I will complete the walk-through in the design document and discuss with @emily-phet today.

[2018-12-13 15:04] terracoda commented on #152
@zepumph, I discussed the [grab/release walk-through](https://docs.google.com/document/d/1v7GM_dNZs86jcRn2X03D2t7HFDb4dQ1h4ayDGXTu63U/edit#heading=h.gl609z1xoej1) in the design document with @emily-phet.

Is it possible to have difference `aria-roledescription` text on grab and release? Here's what we think will work nicely if this is possible:
1. On grab: Chemistry book, move in four directions
2

[2018-12-13 18:06] zepumph commented on #65
Should any changes we worked on to get this into the friction release coming in a week or two?

[2018-12-13 22:20] zepumph commented on #152
I'm glad you had a listen! I did quite a few bug fixes in relation to this topic. Here is what I fixed, please take a look:

1. Supported proper aria-label updating so you should hear the "Grab *" now when you release.
2. Added the aria-roledescription you asked for for the button.
3. A few more behind the scenes things to make sure that the above two work.

A note about your above comment:
On gra

[2018-12-16 10:34] terracoda commented on #152
@zepumph, I had a listen and it sounds good when interacting, but not possibly problematic within VoiceOver's help text, as aria-roledescriptin replaces the label all together.
I think for AT that supports "aria-roledescription", the text within the attribute becomes the accessible name for for the object. Thus, in VoiceOver's help text hint system, the object is referred to like this,

I should h

[2018-12-17 10:44] terracoda commented on #152
@zepumph, I think I have a couple of options for us:

**Current code for _Grab Chemistry book button_:**
[code]

**Current code for _grabbed Chemistry book div_:**
[code]

**Proposed code options for _Grab Chemistry book button_:**
1. Option without `aria-label` & without `aria-roledescription`:
[code]
2. Option with `aria-roledescription`, if the attribute is required on the `button`:
[code]
**No

[2018-12-17 10:49] terracoda commented on #152
@zepumph, I successfully fished out the code from the inspector and have provided the two options above. Assigning back to you. Please let me know if you have any questions. I think the changes, especially, option 2 for the button are straight forward.

**Note** that options are kind of interchangeable. Ideally, we want the simplest code with the fewest number of attributes that sounds still sound

[2018-12-17 10:59] terracoda commented on #152
And @zepumph, thanks for all your work in https://github.com/phetsims/friction/issues/152#issuecomment-447141365

I think we are very close to closing this issue!

[2018-12-17 19:35] jbphet commented on #155
Here is the feedback that I received from @Ashton-Morris via email:

BookNode.js line 43
[code]

Magnifier.js line 56
[code]

FrictionScreenView.js lines 98-191
[code]

[2018-12-18 16:17] zepumph commented on #152
For button, we will get rid of aria-label and aria-roledescription:

[code]

and the second option for the draggable
[code]

[2018-12-18 18:10] jbphet commented on #157
I've implemented, and this feature can be experienced in https://phet-dev.colorado.edu/html/friction/1.5.0-dev.24/phet/friction_en_phet.html.  @terracoda - please try it out and, if it works, close this issue.

[2018-12-18 18:14] jbphet commented on #148
The sound design is implemented.  I've published a dev version https://phet-dev.colorado.edu/html/friction/1.5.0-dev.24/phet/friction_en_phet.html.  Assigning to @Ashton-Morris and @emily-phet for what is essentially a final review of the sound design and implementation.  Note that mutli-platform testing will be done as part of the release testing, so the review should focus on the functionality.

[2018-12-18 21:11] terracoda commented on #157
@jbphet sounds great, thanks, and closing issue.

[2018-12-18 21:11] #157 closed

[2018-12-18 21:20] samreid commented on #65
Perhaps manually turn down the dilation (in a sim-specific way) until this can be addressed in a general way?

[2018-12-18 21:47] zepumph commented on #65
I changed friction from a dilation of 12 to 5, now it looks like:

![image](https://user-images.githubusercontent.com/6856943/50184972-035fd080-02c3-11e9-95cd-0735cb2937cf.png)

Unless someone says otherwise. I am going to proceed with RC like this.

[2018-12-18 22:05] samreid commented on #65
Back on hold until https://github.com/phetsims/joist/issues/542 is discussed.

[2018-12-18 23:52] zepumph commented on #152
The above PDOM has been implemented. In general I really like all of the changes above. I moved some code from usages into the grab/drag js file. @terracoda let me know what you think!

[2018-12-18 23:53] zepumph commented on #148
Adding blocks publication label, because this feels like it should be done before we make an RC tomorrow.

[2018-12-19 00:33] jessegreenberg opened #158 "KeyboardHelpDialog goes out of dev bounds with stringTest=long"
This was flagged in the RIAW RC in https://github.com/phetsims/resistance-in-a-wire/issues/203 so I thought I would make an issue here before RC shas are grabbed. Assigning to @zepumph  since he is working on this sim.

[2018-12-19 00:37] jessegreenberg commented on #158
Also, https://github.com/phetsims/joist/issues/546 was started to see if we can fix this generally, but nothing has come to mind yet.

[2018-12-19 01:57] zepumph commented on #155
Should this block publication? Adding the label until I hear otherwise.

[2018-12-19 02:00] zepumph commented on #158
I agree that it would be nice to have a general solution. on hold until that is figured out.

[2018-12-19 07:53] terracoda commented on #152
@zepumph, this is working great in VoiceOver!
I do not hear the `aria-roledescription` on release which is what I expected. I think not hearing it on release is a good thing. On release, as focus is placed back on the button, I hear the button label, the release alert and then any remaining cooling alerts. This sounds very good to me.

On grab, I like the way the `aria-roledescription` text, "Move

[2018-12-19 07:53] #152 closed

[2018-12-19 11:36] emily-phet commented on #158
@jessegreenberg Is the keyboard help dialog currently translatable? Regardless, if this is an easy RIAW-specific fix, let's do that and consider a general fix in the future.

[2018-12-19 11:50] emily-phet commented on #148
@jbphet I reviewed the sim and found some issues related to sound volume changes during use. I've started a separate issue for this. Otherwise, sounds great!

[2018-12-19 11:56] emily-phet opened #159 "Volume inconsistencies during use"
Issue 1: Many (all?) sounds seem to 'adjust' themselves after load/re-load. Will play at one volume initially and slightly softer after that. Doesn't happen after reset.

Reproduce 1: On sim load, with mouse, repeatedly pick up zoomed-in chemistry book. First pick up sound is louder than those that follow. (Safari, on my Mac)

Issue 2: After all 'losable' particles have flown off and you're rubbin

[2018-12-19 18:06] jessegreenberg commented on #158
The visible strings in the keyboard dialog are translatable but the a11y strings in the PDOM are not. I think we have a general fix in https://github.com/phetsims/joist/issues/546 ready to go for Friction!

[2018-12-19 20:05] zepumph commented on #158
This has been fixed in https://github.com/phetsims/joist/issues/546. The dialog is looking very good with stringTest long. Closing

[2018-12-19 20:06] zepumph commented on #159
Adding label because of email @emily-phet sent to us saying " I believe the only thing remaining is whether or not John would like to try to address the sound levels issue I brought up before RC. "

@jbphet please remove the label if you would like RC to go out before this issue is completed.

[2018-12-19 20:54] jbphet commented on #159
For reference, the version to which @emily-phet is referring is [v1.5.0-dev.23](https://phet-dev.colorado.edu/html/friction/1.5.0-dev.23/phet/friction_en_phet.html).

[2018-12-19 21:53] jbphet commented on #159
I've done some investigating, here are my initial responses:

1. The louder initial sound doesn't happen for me on my Win 10 machine running Chrome, but I can reproduce it on the PhET MacBook Pro "Erdos" running OS X 10.11 and Safari 9.0.  I tried a couple of things using that machine, but it's not immediately obvious why this is happening.  There is also a small, brief 'tick' or 'hiss' sound on l

[2018-12-20 19:02] jbphet commented on #159
@emily-phet - can you log the version of Mac OS and Safari on which you experienced these issues?

[2018-12-20 21:32] emily-phet commented on #159
Mac: 10.13.6 (I haven't updated to mohave yet)
Safari: Version 12.0 (13606.2.11)

[2018-12-20 22:38] zepumph opened #160 "branch: grabButton"
This should be closed now.

[2018-12-20 22:55] zepumph commented on #160
Branch has been deleted. Closing

[2018-12-21 00:02] KatieWoe opened #161 "Memory Leak"
For https://github.com/phetsims/QA/issues/244
Start: 18.7 MB
1 min: 35.4 MB
2 min: 48.3 MB
3 min: 60.0 MB
4 min: 72.3 MB
5 min: 82.6 MB
6 min: Memory tool crashes

[2018-12-21 01:33] zepumph commented on #161
For a while I was unable to recreate such drastic numbers, then I realized that it was because my tab was muted. When unmuted I too get a huge memory leak. I looks to be related to Audio. I'll do a bit of poking, perhaps it is just a small disposal problem. I know @jbphet doesn't have a ton of time for Sonification right now. I'll toss it over to him if I need the help.

[2018-12-21 20:54] lmulhall-phet opened #162 "Lines from chemistry book can be seen in physics book"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14

**Browser**

Chrome 71.0.3578.98

**Problem Description**

For https://github.com/phetsims/QA/issues/244. When moving the chemistry book, a line meant to look like a page will appear and disappear near the bottom of the book. (I think this is a line from the physics book.)

**Visuals**

![issue](https://user-images.githubusercontent.

[2018-12-21 21:06] zepumph commented on #161
I can't seem to consistently reproduce the crazy memory leak above. Sometimes when I refresh it hits 50MB within a minute, and sometimes (most of the time) it crawls up from 23 to 31MB over 30 minutes. I'll keep investigating.

This morning I haven't been able to get a large memory case yet.

![image](https://user-images.githubusercontent.com/6856943/50363579-b2e1b080-0518-11e9-84b3-c459c5e75be2.p

[2018-12-21 21:47] lmulhall-phet opened #163 "Random pauses in Legends of Learning harness"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14

**Browser**

Chrome 71.0.3578.98

**Problem Description**

In the Legends of Learning harness, there are random pauses where the sim freezes up for a few seconds and then goes back to normal. It usually happens when you move the book around. (I haven't seen this before, which leads me to believe it's an issue with the sim and not wit

[2018-12-28 20:42] zepumph commented on #163
@lmulhall-phet could you give me a bit more explanation. I tried to reproduce with the following link in chrome and firefox (windows10) but didn't see anything pausing through normal use, and even with a lot of book movement. I tested mouse and keyboard.

This is my first time in the LOL harness, so perhaps I'm doing something wrong.

I used this link to mount
http://developers.legendsoflearning.c

[2018-12-28 20:43] zepumph commented on #162
Cherry picked above.

[2018-12-28 20:54] zepumph commented on #161
All my previous testing was on chrome. On Firefox I can consistently get the startup memory footprint to be 50MB-55MB. But the weird part is that after 10 minutes or so it went down to 45MB.

[2018-12-28 20:58] zepumph commented on #161
Some more (same?) weirdness I think can be linked to whether or not the sound is muted on the tab.

This seems to me more difficult than I would expect to reproduce.

@KatieWoe could you please provide me with a bit more information.

You already told me that you used the simulation link. Does that mean you fuzzed with:
https://phet-dev.colorado.edu/html/friction/1.5.0-rc.1/phet/friction_en_phet.h

[2019-01-02 00:06] jbphet commented on #159
In one of the commits listed above I changed the mapping used for the volume of the molecule motion from an exponential to a sigmoid function.  For reference, here is what that mapping function looks like in the Desmos online graphing calculator:

![image](https://user-images.githubusercontent.com/3082831/50577548-9599c580-0de7-11e9-8216-b43e2ab8d553.png)

[2019-01-02 01:35] emily-phet commented on #159
Nice! I bet that will help a lot.

[2019-01-02 15:42] KatieWoe commented on #161
@zepumph Fuzzed with: https://phet-dev.colorado.edu/html/friction/1.5.0-rc.1/phet/friction_en_phet.html?fuzz
Dell laptop Chrome
I believe that chrome muted the sound itself, I did not click to start sound or do anything to stop it myself.  I don't think my computer was muted.

[2019-01-02 18:02] KatieWoe opened #164 "Can't drag book up after keyboardnav"
**Test device:**
Dell Laptop and Chromebook
**Operating System:**
Win 10 and ChromeOS
**Browser:**
Chrome
**Problem description:**
May be related to https://github.com/phetsims/friction/issues/39.  For https://github.com/phetsims/QA/issues/244.
When starting to drag a book after it has been moved with keyboard nav, the mouse may be unable to drag up.  It can still drag side to side and down.  Rele

[2019-01-02 19:15] lmulhall-phet commented on #163
@zepumph, sorry I was a bit too minimalist with the description of the problem. The pauses occur when playing with the simulation in the harness.

[2019-01-02 19:42] KatieWoe opened #165 "Screen Reader does not read keyboard dialog"
For https://github.com/phetsims/QA/issues/244.  Found with NVDA on Firefox.  There does not seem to be anything for the screen reader to read when opening the keyboard nav dialog.  It only reads "blank."

[2019-01-02 19:56] KatieWoe commented on #165
This is not the case with Jaws + chrome

[2019-01-02 20:03] KatieWoe opened #166 "Jaws Slow movement causes issues"
For https://github.com/phetsims/QA/issues/244
It is a known issue that keyboard nav is significantly slowed down when using Jaws (see: https://github.com/phetsims/john-travoltage/issues/242).  However, this means that it can be hard to build up temperature while using the keys and control is lost after.  It also can cause the same alert to be read out several times (ie. "on far right side, on far

[2019-01-02 21:35] lmulhall-phet opened #167 "Moving book with WASD in fullscreen causes Mac "funk" noise"
**Test Device**

Dirac

**Operating System**

macOS 10.10.5
macOS 10.11.6

**Browser**

Safari

**Problem Description**

For https://github.com/phetsims/QA/issues/244. In fullscreen, if the book is moved with WASD, the Mac "funk" noise is heard.

Funk Noise: https://www.youtube.com/watch?v=8rz44o_gGpE

[2019-01-02 23:55] KatieWoe opened #168 "Keyboard nav focus disappears"
For https://github.com/phetsims/QA/issues/244.  Found on Win 8.1 IE with keyboard nav
When tabbing away from the book while it is dragable, the focus disappears then reappears as a solid line.  Edit: Only occurs with the book, not the zoomed in book.  If done in full screen iframe, the keyboard nav does not come back.
Screenshots:
https://drive.google.com/file/d/13G6h9Pa5WmnEvw6_23-9URvGiaX_qn0C/v

[2019-01-03 16:32] KatieWoe commented on #165
Edit: I managed to get it to read the dialog by activating keyboard nav and having it focus on the x.

[2019-01-03 16:38] KatieWoe commented on #165
Also found in https://github.com/phetsims/QA/issues/247

[2019-01-03 21:33] zepumph commented on #164
The issues is that pressing the book down with the keyboard drag handler continues to move the book position (in the model) down, but the view is stopped by the bottom book. You can confirm this by moving the book down with keyboard nav to touch the bottom book, then moving it down only once or twice more. Then with the mouse move the book way up, you should be able to eventually move it off of th

[2019-01-03 21:58] zepumph opened #169 "Should you be able to move the magnified book by dragging the white above it?"
This is a design question for @ariel-phet. Currently you can click the white above the magnified lens to drag the book (as noted by my highlighing art):
![image](https://user-images.githubusercontent.com/6856943/50663631-c77d6a00-0f56-11e9-8a15-e0c3f066303f.png)

Do we want this? It seemed like a bug to me, but there are some cases where if you don't have it you have to click pretty accurately to

[2019-01-03 21:59] zepumph commented on #169
In the currently published version you can drag the white background above the book, https://phet.colorado.edu/sims/html/friction/latest/friction_en.html

[2019-01-04 03:08] zepumph commented on #168
I am I investigated this a bit, and I'm not sure if I have found the root issue yet. I will say though that I saw this sort of behavior on all browsers while developing the `grabDragInteraction`. My best guess is that we are not fully understanding how scenery events work while manually triggering focus and blur

for example if `document.activeElement`  is the button, and I add `blur` and `focus`

[2019-01-04 05:16] ariel-phet commented on #169
That was not a conscious decision and seems like bad UX to me.

[2019-01-04 18:10] jessegreenberg commented on #168
Hmm, that is surprising. I confirmed this is happening on Windows 10 IE11 too.

This is not happening for the draggable magnified book though, pressing tab while that is grabbed correctly sends focus right to the Reset All button. It might be helpful to isolate the difference.

[2019-01-04 18:14] jessegreenberg commented on #168
Just confirming that focusout is (reportedly) supported on IE11:
![focusout](https://user-images.githubusercontent.com/6396244/50703582-a2eec400-1022-11e9-8c25-05f66f374486.PNG)

[2019-01-04 22:55] zepumph commented on #169
Implemented above both in master and branch 1.5

[2019-01-04 22:55] #169 closed

[2019-01-04 22:57] zepumph commented on #166
I would like to discuss this with @jessegreenberg, because he has done most of the jaws testing and performance work. Let's talk during dev meeting.

[2019-01-04 23:42] jessegreenberg commented on #166
Ok, sounds good.

@KatieWoe can you please add any other info about how you were moving the book with JAWS? Arrow keys or WASD keys? Just  to verify, was this on Chrome?

[2019-01-04 23:44] KatieWoe commented on #166
@jessegreenberg Arrow keys.  Don't think I tried JAWS with WASD now that I think about it.  Yes, Jaws+Chrome

[2019-01-04 23:56] zepumph commented on #165
I found that on chrome, there is only one thing to tab to in the sim when the dialog is open: the close button. On Firefox there are two focusable items. There is the close button, but before it (in focus order) there is something else that doesn't have any focus highlight. When you focus it it says "blank" when logging the `document.activeElement` when it was focused, it printed the whole `html`

[2019-01-05 00:05] zepumph commented on #163
After again trying to reproduce on my windows 10 with chrome, firefox, and edge, I'm going to assign this over to you @lmulhall-phet until I can get more specifics on what the error looks like and if you can reproduce on other systems.

[2019-01-05 00:46] jessegreenberg commented on #166
OK, thanks. In FF, the arrow keys do not work at all with JAWS because of https://github.com/phetsims/a11y-research/issues/9. Sorry this wasn't in https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit.

I suspect that WASD keys will work better but we haven't checked in on this since we switched to Chrome.

[2019-01-07 18:59] jessegreenberg commented on #167
@lmulhall-phet @KatieWoe  do you know if this has ever happened in BASE? For instance, does it happen with https://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html?phetioValidateTandems in full screen mode?

[2019-01-07 19:56] jessegreenberg commented on #166
I just tested the sim with JAWS in Chrome on my Windows 10 desktop. I was able reproduce the issue on my very fast machine, which makes me think that it is not performance related but caused by https://github.com/phetsims/a11y-research/issues/9.

[2019-01-07 20:12] jbphet commented on #161
Chrome's relatively recent autoplay policy doesn't allow sound to be played on a web page unless the user interacts with that page.  There are some exceptions, but that's basically how it works as of version 71.

[2019-01-07 20:49] jbphet commented on #155
I implemented the provided feedback, I think it's safe to close this one.

[2019-01-07 20:49] #155 closed

[2019-01-07 22:41] jbphet commented on #158
Reopening.  I just tested this on [the latest Friction RC](http://localhost:8080/friction/friction_en.html?brand=phet&ea&phetioValidateTandems&stringTest=long&dev), the master version of Friction and the master version of Resistance in a Wire.  It doesn't appear that the issue is fixed.  Here's a screenshot from the Friction RC:

![image](https://user-images.githubusercontent.com/3082831/50797569-

[2019-01-07 22:49] jbphet commented on #158
@KatieWoe just came by and showed me that the reason I was seeing this is because I had a wide browser window.  The keyboard dialog apparently scales with the size of the browser window.  While this strikes me as a little odd, since other dialogs (such as the about dialog) don't do this, it does solve the problem of exceeding dev bounds in the cases where it matters.  @zepumph - if this scaling be

[2019-01-08 01:04] zepumph commented on #158
Interesting. I wonder if we need to tweak https://github.com/phetsims/joist/commit/428b7a2d985fd7918e0dbf2c9025d34b724db9db a bit more to get what we need.

[2019-01-08 03:53] jessegreenberg commented on #168
Another hint I just accidentally found - If I remove accessibleOrder in FrictionScreenView, the problem shows up for both the BookNode AND the MagnifierNode.
[code]

[2019-01-08 03:54] jessegreenberg commented on #168
I tried an HTML page outside of the sim that creates, destroyes, and modifies an HTML element on `focusout`, but IE11 had not problem with the example:
<details>

[code]

[2019-01-08 15:10] jessegreenberg commented on #165
I found something similar happens in the published version of BASE but instead of getting stuck on "blank", NVDA gets stuck on "Keyboard Shortcuts".

[2019-01-08 15:19] jessegreenberg commented on #165
Even without NVDA I am finding that the HTML element is focusable sometimes.

[2019-01-08 15:55] jessegreenberg commented on #165
I was able to produce the problem with this basic HTML as well:
<details>

[code]
</details>

The NVDA virtual cursor cannot enter an element with `role=Dialog` from the outside. When I use the virtual cursor, it says "Subscription Form" and gets stuck there. When I press "Enter", the virtual cursor enters the Dialog. This is also true for PhET dialogs.

So the remaining issue is that the NVDA say

[2019-01-08 15:59] jessegreenberg commented on #165
We removed `aria-describedby` in https://github.com/phetsims/balloons-and-static-electricity/issues/399 because the dialog sounds better in VO without it. We decided that VO was too verbose with aria-describedby.

[2019-01-08 16:18] jessegreenberg commented on #166
This is probably caused by the default `downDelta` in KeyboardDragListener, which was added for coulombs-law. But it looks like the default drag velocity is a function of this downDelta so setting to zero will set default drag velocity to zero. We don't want that.

[2019-01-08 16:54] jessegreenberg commented on #166
@zepumph I see these in FrictionKeyboardDragListener, are they needed?
[code]

[2019-01-08 17:37] jessegreenberg commented on #166
@zepumph if https://github.com/phetsims/friction/issues/166#issuecomment-452371500 can be removed, this should be fixed in scenery-phet. Verified in a local build of Friction. Here is the SHA you will want:
https://github.com/phetsims/scenery-phet/commit/ea758b228cb70ad582c2e8af1e7c875eabd3f758

[2019-01-08 17:50] jessegreenberg commented on #165
AboutDialog has
[code]
I think we should include this for all Dialogs that use options.title. If not, have something similar in KeyboardHelpDialog. This way, Dialog label is read when this happens and user doesn't hear "blank". @zepumph does this sound reasonable?

[2019-01-08 20:06] zepumph commented on #166
@jessegreenberg explained this to me in a meeting we just had, and it makes sense to me to remove it. @jessegreenberg can you implement since you will be able to test with jaws.

[2019-01-08 21:33] KatieWoe commented on #167
Seems to yes

[2019-01-08 21:38] jessegreenberg commented on #167
OK, that is helpful, thanks.

[2019-01-08 22:02] jessegreenberg commented on #158
I made https://github.com/phetsims/sun/issues/435 to discuss during dev meeting.

[2019-01-08 22:18] zepumph commented on #165
I found that we are in fact already doing this in dialog.js, see

[code]

The problem is that the `options.title` node is actually a VBox, set here:
[code]

so I'm going to add an accessibleName to that vbox too

[2019-01-08 23:00] zepumph commented on #168
Yesterday @jessegreenberg and I logged quite a bit yesterday to get some understanding, but nothing too substantial:

From startup
tab to macro book
space to grab it
tab to make the focus disappear
tab again to highlight the macro book again

yielded a log like
[code]

And here is a patch with all the logging

<details>
Index: scenery/js/accessibility/AccessibilityUtil.js
IDEA additional info:
Sub

[2019-01-09 22:21] jbphet commented on #161
I've added deferred play and start for some of the sound generators so that they aren't creating new audio source buffers when the audio context is suspended, since this is where the bulk of the memory leak comes from.  I just retested, and there is a vast improvement, but I am still seeing some leakage of audio source buffers in some circumstances.  I'll need to do a bit more on this before it ca

[2019-01-14 20:51] KatieWoe commented on #167
Seems fixed on master @zepumph
I checked on a 10.13.6 device, but the issue was present in the rc on this platform as well.

[2019-01-14 21:04] zepumph commented on #168
While working on this more today, we have found:

* The following code will break both the macro and magnified views:
[code]

This is because `blarg2` is last instead of one of the chemistry books.

* Commenting out this accessibleOrder line made the issue show up in both books also, as told in https://github.com/phetsims/friction/issues/168#issuecomment-452166675

* Switching the order of the boo

[2019-01-14 21:58] jbphet commented on #165
@zepumph - Is there any update on this, or an idea of when it might be addressed?  After today, it is likely to be the only issue blocking publication of RIAW v1.6.

[2019-01-14 22:41] zepumph commented on #168
<details>

[code]

</details>

[2019-01-15 01:51] zepumph commented on #167
Thanks for checking! I have not yet cherry-picked this into master, but will do so to the branch soon.

[2019-01-15 02:50] zepumph commented on #165
Yes thank you @jbphet, the above commit should fix this, please add it to your branch, as I will for Friction.

[2019-01-15 03:07] zepumph commented on #163
Pinging @lmulhall-phet and @KatieWoe to see if I can get any more assistance in how to reproduce this bug, as it is one of the few issues left before a new RC.

[2019-01-15 17:45] KatieWoe commented on #163
I just did some testing on Jordan, both 10.13 and 10.14, and wasn't able to reproduce.  When @lmulhall-phet comes in I'll ask him to show me the issue to determine if it is a device issue or if I was missing a step in reproducing it.

[2019-01-15 19:13] lmulhall-phet commented on #163
@zepumph, it may have been a fluke. I saw it multiple times, but now I can't reproduce on the device I found it on. Sorry about that. I think it's safe for you to ignore this issue.

[2019-01-15 20:38] jessegreenberg commented on #168
@zepumph and I found a workaround today! We started https://github.com/phetsims/scenery/issues/925 and will commit a fix that we tested works well in Friction. The rest of that issue will be to see if we can get better consistency of events in IE11 so this doesn't happen again.

[2019-01-15 21:47] jessegreenberg commented on #168
OK @zepumph, https://github.com/phetsims/scenery/commit/ed86a2f54f5dc38b9650d4e581dd50b96d777f67 should be the commit to grab.

[2019-01-15 22:25] emily-phet commented on #168
That's great to hear!

[2019-01-16 16:46] jessegreenberg commented on #166
I tried to cherry pick the commits into the release branches but encountered a build error on the 1.5 rc shas. Looks like:
[code]

Possibly related to https://github.com/phetsims/tasks/issues/972, @zepumph are you familiar with not-lintable?

[2019-01-16 18:22] zepumph commented on #166
I can take it from here, sorry about the bug. @jessegreenberg says that I need to cherry-pick the following commits:

scenery-phet: https://github.com/phetsims/scenery-phet/commit/ea758b228cb70ad582c2e8af1e7c875eabd3f758

friction: https://github.com/phetsims/friction/commit/c4b16c8a6837e9a575165dfd9c2757034bb897c7

[2019-01-16 20:22] jbphet commented on #159
I've added a number of changes that should address these problems, most of which are related to the initial muting of sounds by the browser.  I'm not quite finished just yet though, because it seems like some of these changes have had a detrimental effect on the book rubbing sound, so I'll need to address that before submitting this for testing.

[2019-01-17 03:07] jessegreenberg commented on #158
In https://github.com/phetsims/sun/issues/435 we decided that generally shrinking the Dialog is not something we can do, so we will need to set maxWidth on the help content labels within the dialog to ensure good widths for i18n.

[2019-01-17 09:47] terracoda commented on #168
Wonderful work on this @zepumph and @jessegreenberg.

In reference to this comment from @jessegreenberg...

... are there times when an element that actually has focus is being destroyed? It would be my intuition that if an element that has focus is to be removed from the PDOM, that we would have to move focus first before removing it. If not, it seems that focus could easily get lost.

I think yo

[2019-01-17 17:07] zepumph commented on #166
We will want to cherry pick https://github.com/phetsims/chipper/commit/4ff287646f7cea993e09b646cdf09cac41e71915 to fix the `not-lintable` bug.

[2019-01-17 19:22] KatieWoe commented on #165
@jbphet @zepumph I just tested in https://github.com/phetsims/QA/issues/257.  It still will not read the entire dialog if keyboard focus is not on the x.  However, it does read "Keyboard shortcuts, tab to get started."  Is this acceptable?

[2019-01-17 20:06] jessegreenberg commented on #165
That is the correct behavior for NVDA @KatieWoe, thanks for checking. We found that to be the behavior for NVDA for all dialogs, even outside of PhET, so this is what we want (tested in https://github.com/phetsims/friction/issues/165#issuecomment-452349367).

[2019-01-17 20:17] zepumph commented on #165
From here I will cherry-pick this into Friction 1.5

[2019-01-18 01:02] zepumph commented on #163
Sounds good. I'm going to close. We can reopen if it comes up again.

[2019-01-18 01:02] #163 closed

[2019-01-18 01:03] zepumph commented on #161
@jbphet do you think that this should be picked into Friction's release branch, if so please give me shas to do so with.

[2019-01-18 18:21] zepumph commented on #158
@jessegreenberg what strategy do you think is best in how we set up max widths. I feel like this issue is less of a "mark it work" kinda things, and more like a "let's get HelpContent.js and related files set up to make this as easy as possible for all future sims" kind of thing. I looked at lowering `HelpContent.DEFAULT_TEXT_MAX_WIDTH` and it wasn't obvious to me that this was going to fix much.

[2019-01-21 21:43] jbphet commented on #159
Okay, the observations about how this sim behaved on Safari led to a lot of changes due to differences in the way that Chrome, Safari, Edge, and Firefox all handle initial enabling of the sound.  I built a dev version with all the changes - @emily-phet, please try this out and see if it fixes the problems that you noted above and let me know.  If it's all good, @zepumph and I will integrate these

[2019-01-21 22:14] emily-phet commented on #159
@jbphet I tried these on Chrome and Safari on my laptop - and the inconsistent volumes issue is no longer there. yay!

I did feel that the rubbing sound (the scratchy sound) feels higher in volume than I remember it being. If you're sure nothing could have changed with that sound, don't worry about changing anything now. If you're unsure, it might be worth a look. From what I remember, the scratch

[2019-01-21 22:17] jbphet commented on #159
Interesting that you say that about the volume of the rubbing sound.  I initially thought the same thing, so I compared it side by side to the RC, and it seemed to me like the volume was about the same, but it still felt a bit loud to me (on both versions).  How about we just agree to turn it down by, say ~25%?

[2019-01-21 22:50] jbphet commented on #161
I just did some memory profile testing, and the details are logged below.  My goal was to determine if memory leaks were still occurring as a result of the sound library.  The bottom line is that I don't think there are any such memory leaks occurring after the latest changes.  There do appear to be some slow memory leaks still happening, but I feel that these are very unlikely to cause any user i

[2019-01-21 23:00] jbphet commented on #161
@zepumph - you asked for the commits that fix the sound-related memory leak.  There are a number of them, and they are also related to another issue with sound generation, see https://github.com/phetsims/friction/issues/159.  I can list them if you like, but I think the approach that is most likely to be successful is for you to let me know when we're ready to roll the next RC, and I'll branch tam

[2019-01-21 23:01] emily-phet commented on #159
Sounds good to me.

[2019-01-21 23:01] emily-phet commented on #159
Ahh - the idea sounds good to me. :)

[2019-01-21 23:30] jbphet commented on #159
This change has been made, and I'll make sure it gets into the next RC so we can all review it.

[2019-01-22 13:32] emily-phet commented on #148
Sound design was finalized and implemented. Just in final QA testing stages now. Closing, as other issues have been/will be created as problems are found.

[2019-01-22 13:32] #148 closed

[2019-01-22 13:37] emily-phet commented on #65
@samreid
It seems like a decision was made on how to proceed with Friction, and that the root of this issue is about how to handle pointer area in general. Can this issue in Friction be closed?

[2019-01-22 15:22] samreid commented on #65
Friction is in as good or better shape than other sims and therefore this issue is ready to close.  However, there is a lot of important conversation in this issue, so rather than copy/pasting it to a new issue in scenery-phet, I'm going to move this issue altogether.

[2019-01-22 17:33] jbphet commented on #159
We reviewed the volume change for the rubbing sound during today's sound design meeting, and we're good to go for putting in the next RC.

[2019-01-23 02:31] zepumph commented on #158
@jessegreenberg and I looked into this in a more general way today. We update HelpContent so that its layout was largely based on the label's maxWidth.

Work I did to test changes (mainly changes are in HelpContent and updating usages):
* fuzz board testing
* open all dialogs with `stringTest=long` (didn't look at xss)
* looked over code

Next steps:
* look at uses of maxWidth. I handled this most

[2019-01-23 20:38] jessegreenberg commented on #158
That would make sense, since we are already abbreviating Pg. @arouinfar I think you originally mocked this up, are you OK with abbreviating Pg Down to Pg Dn?

Otherwise, we could allow PageDownKeyNode and maybe PageUpKeyNode to have custom max widths.

[2019-01-23 20:58] arouinfar commented on #158
I believe Pg Dn is a pretty standard abbreviation for Page Down, so that'd be fine with me @jessegreenberg.

[2019-01-23 20:59] jessegreenberg commented on #158
OK thanks @arouinfar, we will go with that.

[2019-01-23 22:00] jessegreenberg commented on #158
I am starting to think that the strategy using HEADING_MAX_WIDTH_SCALAR does a little too much, at least without a way to override it. The dialog in BASE looks like this because the maxWidth is set for the label text.
![image](https://user-images.githubusercontent.com/6396244/51639979-494a2d00-1f30-11e9-83dd-d1dff0d91589.png)

But we want the title to grow longer. I think we should either use an o

[2019-01-23 22:07] jessegreenberg commented on #158
When I replace maxWidth: options.baseLabelMaxWidth * HEADING_MAX_WIDTH_SCALAR with 250, all dialogs are still within dev bounds. Generally, the text that makes the dialog go out of bounds is the label text because it has the extra width of the icons. So I am going to remove it because of https://github.com/phetsims/friction/issues/158#issuecomment-456983359. @zepumph are you OK with this?

[2019-01-23 22:13] jessegreenberg commented on #158
Sims using HelpContent are no longer setting maxWidth on layout boxes.

[2019-01-23 22:44] zepumph commented on #158
Sounds good. Thanks for fine tuning this.

[2019-01-23 23:03] jessegreenberg commented on #158
OK sounds good. I started to look into usages of HelpContent.DEFAULT_{{SOMETHING}}. One thing that would help with this is change labelWithIcon and labelWithIconList to take the label string rather than the the Text/RichText. Then clients don't even have to create the Text (nor do they have the ability to do so). Inspecting all usages, there are no cases where fonts other than the default are used

[2019-01-23 23:06] jessegreenberg commented on #158
OK, I think we are at a point where we should take remaining work to scenery-phet. The more work we do here, the more difficult it will be to bring into the release branch. And the rest of this doesn't impact friction (there might be slight differences in layout, but the original issue with the KeyboardHelpDialog has been resolved.)

[2019-01-23 23:46] zepumph commented on #158
I feel good about that. My current plan is to cherry pick every commit here over to the branch. Let me know if you think there are any that could be omitted safely (though it doesn't really matter), or if there are some that specifically SHOULDN'T end up in Friction.

[2019-01-24 00:16] jessegreenberg commented on #158
OK, sounds good. Master dialog in Friction looks like
![image](https://user-images.githubusercontent.com/6396244/51645577-fb8af000-1f42-11e9-9904-4f110cb9d53e.png)

Once we have commits in the rc branch, Ill continue to make changes in https://github.com/phetsims/scenery-phet/issues/462.

[2019-01-24 17:02] zepumph commented on #159
@jbphet I am happy to cherry-pick when I do the rest of the issues if you would like. Just let me know what shas should be added.

[2019-01-24 17:04] zepumph commented on #161
This was discussed during shorts meeting on Tuesday. We decided that @jbphet will cherry-pick the appropriate commits to friction. @jbphet please assign back to me when things are ready to be published.

[2019-01-25 00:14] jbphet commented on #161
I've propagated the fixes to the Friction release branch, and testing shows the same things reported above, which is that the sound-related memory leaks appear to be fixed but there is still a slow leak coming from somewhere.  Back to you @zepumph for the next steps.

[2019-01-25 00:15] jbphet commented on #159
The changes have been rolled into the Friction release branch and should be ready to be included in the next RC.  Over to you @zepumph.

[2019-01-26 00:55] zepumph commented on #166
These have been cherry-picked locally (mainly a note to myself)

[2019-01-26 00:59] zepumph commented on #168
Commit has been cherry-picked into branch (note to self)

[2019-01-26 01:00] zepumph commented on #167
f65f46f07c7533cb5eda69479c236e4f56b9a5d3

[2019-01-26 01:01] zepumph commented on #165
Commit has been cherry-picked into branch (note to self)

[2019-01-26 01:13] zepumph commented on #158
Commit has been cherry-picked into branch (note to self)

[2019-01-26 01:15] zepumph opened #170 "Ready 1.5.0-rc.2"
There are many issues to cherry-pick, and I want to make sure that I do a bit of testing before sending it off to QA.

[2019-01-26 01:31] zepumph commented on #161
Taken from over 10 minutes of fuzzing a locally built version of the 1.5 branch on chrome, it seems to be fixed:
![image](https://user-images.githubusercontent.com/6856943/51780832-70cf0000-20be-11e9-9255-dbc6e2c5212b.png)

Note, the key here is to make sure that the audio context is not allowed to start, for example seeing messages like `Audio context not allowed to start` are good to reproduce t

[2019-01-26 01:32] zepumph commented on #170
Everything is ready to go,

Here is the list of issues that I will ask QA to verify:

- [ ] https://github.com/phetsims/friction/issues/168
- [ ] https://github.com/phetsims/friction/issues/167
- [ ] https://github.com/phetsims/friction/issues/166
- [ ] https://github.com/phetsims/friction/issues/165
- [ ] https://github.com/phetsims/friction/issues/164
- [ ] https://github.com/phetsims/friction/i

[2019-01-26 01:34] zepumph commented on #161
Unfortunately this appears to be broken on IE, to reproduce (on master or friction-1.5 branch):

* build the sim
* try to load it on IE

you should get this error while loading:
"Object doesn't support property or method 'linearRampToValueAtTime'"

marking high priority because this is holding up the rc at this point.

[2019-01-28 16:36] jessegreenberg commented on #166
I verified that this is fixed in 1.5 with JAWS in Chrome. But it would still be good for QA to verify too.

[2019-01-29 18:40] jbphet commented on #161
This should now be fixed - I needed to add a new method to the stubbed audio context that is used when running on Internet Explorer.  Back to you @zepumph.

[2019-01-29 22:22] zepumph commented on #161
Thanks!

[2019-01-29 23:03] zepumph commented on #159
@jbphet I left this issue out of the issues to check on for the RC.2 QA issue. If this should be checked on, please add it to the list of issues to verify in https://github.com/phetsims/QA/issues/276. Otherwise close.

[2019-01-29 23:05] zepumph commented on #170
https://github.com/phetsims/QA/issues/276 is the rc.2 qa issue. Closing

[2019-01-29 23:05] #170 closed

[2019-01-30 15:46] KatieWoe commented on #164
1.5.0-rc.2 seems fixed

[2019-01-30 15:46] #164 closed

[2019-01-30 15:59] jbphet commented on #159
Yes, I do think this should be tested, so I've added it to the list for the RC test.

[2019-01-30 16:18] KatieWoe commented on #162
Looks good 1.5.0-rc.2

[2019-01-30 16:18] #162 closed

[2019-01-30 16:22] rea-laura opened #171 "No sound in iOS"
<b>Test Device</b>

Tycho, Hopper

<b>Operating System</b>

iOS 9.3.5, iOS 12

<b>Browser</b>

Safari

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/276 sim has no sound. Confirmed in both iOS 9 and iOS 12. Sound works for other published sims, but not this one.

<b>Steps to Reproduce</b>

1) open sim
2) play with sim and note there is no sound.

[2019-01-30 17:13] KatieWoe commented on #168
Seems fixed 1.5.0-rc.2

[2019-01-30 18:04] KatieWoe commented on #161
@zepumph New results for 1.5.0-rc.2.  I clicked on the sim to start sound to avoid this issue entirely, but I'm running a separate test as well to check the fix.
Start: 18.7
1 min: 25.6
2 min: 26.1
3 min: 26.7
4 min: 27.0
5 min: 27.3
6 min: 27.8
7 min: 27.7
8 min: 27.9
9 min: 28.1
10 min: 28.4

The results from the test in which I did not start the sound up:
Start 18.7
After about 5 min: 27.1

[2019-01-30 18:05] #161 closed

[2019-01-30 18:37] zepumph commented on #171
@jbphet over to you for this sound related issue. Let me know what I can do to help.

[2019-01-30 18:41] KatieWoe commented on #158
1.5.0-rc.2 this looks good

[2019-01-30 18:41] #158 closed

[2019-01-30 18:58] KatieWoe commented on #165
1.5.0-rc.2 looks good on NVDA

[2019-01-30 18:58] #165 closed

[2019-01-30 19:18] kellywurtz commented on #168
Occured on rc.2 (MacOS 10.14.2, Safari only).

[2019-01-30 19:38] jessegreenberg commented on #168
@KatieWoe or @kellywurtz can you please test to see if this was also present in MacOS 10.14.2 for rc.1? https://phet-dev.colorado.edu/html/friction/1.5.0-rc.1/phet/friction_en_phet.html

[2019-01-30 19:42] kellywurtz commented on #168
Yes, also present on rc.1.

[2019-01-30 19:53] KatieWoe commented on #166
While this seems to be fixed when using wasd, the arrow keys don't seem to work at all now when using jaws.

[2019-01-30 20:12] KatieWoe commented on #166
From slack:

[2019-01-30 21:38] KatieWoe commented on #167
1.5.0-rc.2 looks good

[2019-01-30 21:45] KatieWoe commented on #168
Happens on Mac 10.13.6 safari as well

[2019-01-30 22:22] JRomero0613 commented on #167
I have been testing on 1.5.0-rc.2 on Safari on MacOS 10.12.6 and have seen this issue occur. This occurs when the book has been navigated to using tab, but has not been picked up using space. The outline around the book should be a solid pink line to get the "funk" noise to occur. If the book has been picked up the noise will not occur.

[2019-01-30 22:34] KatieWoe commented on #167
https://github.com/phetsims/QA/issues/276

[2019-01-31 17:03] zepumph commented on #167
I agree. Arrow keys should not do anything in the sim when the book has not been grabbed. Since the "solid red lined" book is basically the same type of button as highlighting the reset all button, I would think this behavior is expected. I'm ready to close this if that seems alright to @JRomero0613.

[2019-01-31 18:37] KatieWoe opened #172 "Keyboard nav instructions can be hidden"
For https://github.com/phetsims/QA/issues/276
When you keyboard focus on one of the books instructions on how to "grab" show up.  Once you grab one time this dialog doesn't appear.  It is possible for this dialog to be hidden with the zoomed in book.  To do this, drag the book to the side with a mouse and then keyboard nav to it.  The dialog stays centered above the book and gets hidden by the edg

[2019-01-31 21:06] zepumph commented on #167
Sounds fine to @jessegreenberg and I, @JRomero0613 please close once you have reviewed this.

[2019-01-31 21:16] zepumph commented on #168
Our workaround has a specific ie11 check wrapped around it, so it would make sense that this bug wouldn't be fixed in any other system. @jessegreenberg should we just add the check on safari too? Honestly I'm not too happy about this, and it seems like a drag to expand the workaround.

[2019-01-31 23:30] KatieWoe commented on #166
Yes

[2019-02-01 00:40] zepumph commented on #168
Fix pushed to master. Will you test that this has fixed it @KatieWoe?

[2019-02-01 00:40] #166 closed

[2019-02-01 09:50] terracoda commented on #172
Please re-assign if you need more comments from me.

[2019-02-01 09:53] terracoda commented on #172
I'll add, I agree with @zepumph, it is working as intended, and I am not sure at this point that we want to explore making it possible to separate the hint from the focus highlight. In my mind, the naturally go together.

[2019-02-01 17:33] KatieWoe commented on #168
Still happening on master

[2019-02-01 17:43] jessegreenberg commented on #168
On Slack @KatieWoe said that this was still broken in safari 12.0.3. It looks like our safari checks in platform.js only go up to safari11, which could explain why the fix didn't work in that test. We should add safari 12 to platform.js.

[2019-02-01 17:47] jessegreenberg commented on #168
Scratch that, there is no *specific* check for safari 12 in platform.js, but the general check for safari doesn't include version number
[code]

[2019-02-01 20:11] emily-phet commented on #172
All sounds good to me. Closing.

[2019-02-01 20:11] #172 closed

[2019-02-01 20:58] jessegreenberg commented on #168
Not on hand, I might be able to borrow one.

[2019-02-01 21:20] jessegreenberg commented on #168
Yep, I can borrow one tomorrow! Ill take a look.

[2019-02-01 22:31] jbphet commented on #171
This should be fixed and has been propagated to Friction's 1.5 release branch.  This problem was due to code that was recently added to defer the playback of sounds until the audio context changed to the "running" state.  There was platform-specific code for iOS that actually used the playing of a sound to cause the state change, but, since that playing is now deferred, it didn't work.  I've chang

[2019-02-02 00:07] zepumph commented on #168
Though I'm not working tomorrow. If you still have it during normal working hours, I'd love to tag along. (ping me and we'll see).

[2019-02-04 19:57] zepumph commented on #168
In https://github.com/phetsims/scenery/issues/925 @jessegreenberg dove in and discovered the root problem, and a decent solution that we like moving forward.

He also found that the reason why safari isn't fixed by our workaround, see https://github.com/phetsims/scenery/issues/925#issuecomment-460016658

To proceed with friction, we both think it is best to just cherrypick the snippet from the com

[2019-02-04 19:57] zepumph commented on #168
In https://github.com/phetsims/scenery/issues/925 @jessegreenberg dove in and discovered the root problem, and a decent solution that we like moving forward.

He also found that the reason why safari isn't fixed by our workaround, see https://github.com/phetsims/scenery/issues/925#issuecomment-460016658

To proceed with friction, we both think it is best to just cherrypick the snippet from the com

[2019-02-05 12:02] emily-phet commented on #171
Sounds like 'fixed pending testing' so added label to reflect this.

[2019-02-05 21:15] zepumph commented on #168
Cherry picked into 1.5 branch above.

[2019-02-06 16:06] KatieWoe commented on #171
Checked on iOS 9, 10, and 12.  This looks good for now on 1.5.0-rc.3.  Will reopen if problems with sound show up.

[2019-02-06 16:06] #171 closed

[2019-02-06 18:02] KatieWoe commented on #168
I'm still seeing this in 1.5.0-rc.3.  Since it only happens on the first book, it may not be worth pursuing any more.  Up to you though.  Removing tag as not fixed.

[2019-02-06 18:52] rea-laura opened #173 "Sound disappears on iOS 12"
<b>Test Device</b>

Leiniz

<b>Operating System</b>

iOS 12.1.3

<b>Browser</b>

Safari 12.1.3

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/282:
Sounds disappears occasionally on iOS devices. Could be related to https://github.com/phetsims/resistance-in-a-wire/issues/190 since it is hard to reproduce and happens irregularly. Observed on other iOS devices (iOS 11). Will up

[2019-02-06 19:04] rea-laura commented on #173
Also happens in published version of resistance in a wire, so probably a browser issue.

[2019-02-07 01:32] zepumph commented on #168
Ugh. Thanks @KatieWoe. Tagging @jessegreenberg so he can review https://github.com/phetsims/scenery/commit/deac1943c40373ad36454259dc82d02bc9b4ae23 to make sure it looks like what we talked about. I guess the only thing to do next would be to push all the changes you worked on earlier this week.

[2019-02-07 01:34] zepumph commented on #173
Let me know if I can help @jbphet.

[2019-02-08 17:24] jessegreenberg commented on #168
Shoot, so sorry for the hassle @zepumph, I was sure I tested https://github.com/phetsims/scenery/commit/deac1943c40373ad36454259dc82d02bc9b4ae23 in Safari, perhaps I missed something when I copied it into https://github.com/phetsims/scenery/issues/925#issuecomment-460016658. Ill take a look.

[2019-02-08 17:32] jessegreenberg commented on #168
Just adding a reference to https://github.com/phetsims/QA/issues/282.

[2019-02-08 17:45] jessegreenberg commented on #168
I am wondering if https://github.com/phetsims/scenery/commit/deac1943c40373ad36454259dc82d02bc9b4ae23 just wasn't added to friction's 1.5 dependencies.json? I don't see the change when I run grunt checkout-shas of 1.5.

[2019-02-08 17:49] zepumph commented on #168
Oh shoot! I'm sorry! I'll make another RC and just have a spot check in this issue.

[2019-02-08 17:51] jessegreenberg commented on #168
No worries! I updated the SHA in https://github.com/phetsims/friction/commit/ce2014b62f3a7aea3b4053d227a8f40d8dd19e01. But I also noticed a difference between this and https://github.com/phetsims/scenery/issues/925#issuecomment-460016658. In the scenery comment `activeElement` var pointed to event.relatedTarget rather than document.activeElement.

[2019-02-08 17:54] zepumph commented on #168
Again you are right. I will make the change.

[2019-02-08 18:10] jessegreenberg commented on #168
Great, thanks!

[2019-02-12 01:30] zepumph commented on #173
@emily-phet do you think this should hold up publication of Friction?

[2019-02-12 01:59] zepumph commented on #168
@KatieWoe are things fixed in this version?

https://github.com/phetsims/friction/issues/168

[2019-02-12 12:56] emily-phet commented on #173
@zepumph Seems like this "is hard to reproduce and happens irregularly"'. Let's proceed with publishing Friction.

@jbphet please keep this on your radar - or comment if you think it's not worth investigating, or you have some ideas about it.

[2019-02-12 15:56] KatieWoe commented on #168
@zepumph Checked on safari and IE.  The described problem seems fixed.  However, I saw a very odd problem on safari.  Normally, if you grab the book (dotted outline) and tab away it drops the book as you do so.  If you focus back on it there will be a solid line and you have to pick it up again.  Now, at least on safari, if you tab away while the book is picked up, it does not drop.  If you focus

[2019-02-12 16:33] jbphet commented on #173
I'll plan to take a brief look at it after I finish the implementation of the sound for Ohm's Law.  My initial thought it that it's related to some of the other issues we've seen with Safari and the audio context going into the "interrupted" state.

The part of the description where it says:

makes me also feel like this is not a blocking issue.

[2019-02-25 20:07] zepumph commented on #168
@jessegreenberg and I fixed this this morning and tested on safari in two different ways (on my mac osx 10.9 and on macincloud). @KatieWoe can you give a spot check to this as well, just to be sure.

https://phet-dev.colorado.edu/html/friction/1.5.0-rc.6/phet/friction_all_phet.html

[2019-02-25 20:08] zepumph commented on #167
I'm going to close this. @JRomero0613 let me know if you have any other questions.

[2019-02-25 20:08] #167 closed

[2019-02-25 20:12] KatieWoe commented on #168
Looks good on master safari

[2019-02-25 20:38] zepumph opened #174 "Update screenshot."
This should ideally be done before republication. @KatieWoe I'm not sure how this happens. Over to you; let me know if you need anything.

[2019-02-25 21:03] zepumph opened #175 "update credits"

[2019-02-25 21:04] #175 closed

[2019-02-27 21:14] jbphet commented on #173
As suspected, the audio context state is being set to "interrupted" when this happens.  I've generalized the handling of post-initialization audio context state changes in https://github.com/phetsims/tambo/commit/1ce0eed0b1556e13bc2acf72833142f1cda666bb, and that appears to have fixed the problem based on some very minimal testing.

Please test this again on master and see if the problem is now go

[2019-02-27 21:29] KatieWoe commented on #173
Attempted several times on iOS 12 master and it seems to be fixed @jbphet

[2019-02-28 16:48] jbphet commented on #173
Cool.  Closing.

[2019-02-28 16:48] #173 closed

[2019-03-05 20:13] jessegreenberg commented on #168
Verified as fixed and sim was deployed so this can now be closed!

[2019-03-05 20:13] #168 closed

[2019-03-06 20:09] terracoda opened #176 "Update credits please"
From https://github.com/phetsims/a11y-research/issues/134#issuecomment-467948060

Please add Taliesin Smith to the Team list in the About... credits.

[2019-03-06 21:51] zepumph commented on #176
Maintenance release published! Sorry for the delay,
https://phet.colorado.edu/sims/html/friction/latest/friction_en.html

[2019-03-07 05:35] terracoda commented on #176
Thanks @zepumph, and definitely no apology necessary :-) I just posted the issue!

[2019-04-10 20:50] KatieWoe opened #177 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* No needed changes noticed
* books don't have pointer areas

Screenshots:
![Image from iOS](https://user-images.githubusercontent.com/41024

[2019-04-11 14:03] arouinfar commented on #177
I think the lack of visible pointer areas means that click/touch areas are the exact boundaries of the book. Is that correct @zepumph? If not, then it would be nice to see the boundaries in `showPointerAreas`. Otherwise, I think this is safe to close.

[2019-04-11 17:38] zepumph commented on #177
Yes that is correct! It is confusing, and devs often use the wrong terminology, but basically pointer areas are a supplementary way to add to the region that is clickable/touchable to interact with a Node. The whole area that you can interact with  a given Node for is called a "hit area"

Yes agreed that would be nice. Right now we don't have support for a `?showHitAreas` query parameter, but I th

[2019-04-11 17:38] #177 closed

[2019-05-02 14:44] KatieWoe commented on #174
@zepumph I believe this was taken care of in the above commits.  Can this issue be closed?

[2019-05-02 15:30] #174 closed

[2019-06-18 10:26] terracoda commented on #176
Ooops, re-opening this issue as we missed **Brianna Tomlinson** in the credits, too.
On next deploy, please add **Brianna Tomlinson** to team list, and also re-arrange team list into alphabetical order by last name, so the last three names should be:
- Taliesin Smith, Brianna Tomlinson, Carl Wieman

**Screen shot from June 18, 2019**
<img width="620" alt="credits-friction" src="https://user-images

[2019-06-18 17:17] zepumph commented on #176
@emily-phet I see 12 usages of `Emily Moore` and 14 of `Emily B. Moore` in the code base. Whatever you decide, would you like me to propagate to all places?

[2019-06-18 17:30] emily-phet commented on #176
thanks! I prefer "Emily B. Moore" since "Emily Moore" is such a common name.

[2019-06-18 17:30] emily-phet commented on #176
And yes, if it's straightforward please propagate.

[2019-07-02 21:53] zepumph commented on #176
@emily-phet your name was propagated with the "B" in https://github.com/phetsims/resistance-in-a-wire/issues/208. Credits have been updated. Closing.

[2019-07-02 21:53] #176 closed

[2019-07-16 20:18] zepumph opened #178 "branch: a11ystring-plugin"
To support https://github.com/phetsims/rosetta/issues/193

[2019-07-18 18:06] zepumph opened #179 "PhET-iO Instrumentation"
This has bumped in priority because a client wants this soon. I will take the lead!

[2019-07-22 22:22] zepumph opened #180 "Organize a11y strings into nested object"
From https://github.com/phetsims/rosetta/issues/193, though we are still on a branch, we can now move a11y strings around into nested objects to make things more clear.

[2019-07-22 22:28] zepumph commented on #180
This went very well. For the most part no comments were really needed, any when I felt like they were, it was really because the organization was designed differently than it should be given the current nesting object support, and so the fix was really refactoring instead of adding extra comments. Closing

[2019-07-23 01:20] zepumph commented on #180
This has been implemented, but I should not close it. Instead it should be reviewed as part of phetsims/rosetta#193

[2019-07-26 19:38] kathy-phet commented on #179
Client changed their mind and won't be using this, so deprioritize - perhaps close/remove issue?

[2019-07-29 17:37] zepumph commented on #179
All the work done so far has been tracked in #75. Let's close this one.

[2019-07-29 17:37] #179 closed

[2019-07-29 17:38] zepumph commented on #75
Friction is no longer needed, apply appropriate labels.

[2019-09-20 23:37] jessegreenberg opened #181 "Placement of the visual cue for keyboard navigation is incorrect"
Just noticed while spot checking for another issue. It is located here:

![image](https://user-images.githubusercontent.com/6396244/65364158-f2d7e000-dbdd-11e9-8cc9-020a413eea41.png)

Assigning to @zepumph since he is responsible dev but let me know if I can help. May be related to KeyboardDragListener.

[2019-09-20 23:55] zepumph commented on #181
Thanks @jessegreenberg. Hows that?

[2019-09-20 23:56] jessegreenberg commented on #181
Beautiful, thnk you!

[2019-09-20 23:56] #181 closed

[2019-09-23 21:25] zepumph commented on #180
@samreid, we looked at this in large part today, but this issue is mainly to review the implementation in the sim. Does everything look alright there?

[2019-09-23 21:28] samreid commented on #180
Looks great, thanks!  Closing.

[2019-09-23 21:28] #180 closed

[2019-09-27 01:32] zepumph opened #182 "a11y strings shouldn't have trailing/leading spaces"
Discovered as part of https://github.com/phetsims/chipper/issues/619 and https://github.com/phetsims/chipper/issues/779.

We shouldn't have strings like these, and they will block the `a11ystring-plugin` from moving to master.

Hopefully it won't be too hard to fix.

[2019-09-30 21:16] zepumph commented on #182
Implemented above.

[2019-09-30 21:16] #182 closed

[2019-10-01 23:06] jbphet opened #183 "branch: soundDesignCourse"
This branch is being set up as a place to work on variations of the sound design behavior needed for a sound design course that is being developed by @briannatomlinson.  For now, the only variation that has been requested is one where the cooling sound is on by default and it's the **only** sound played.  Issue https://github.com/phetsims/phet-io-wrapper-sonification/issues/92 is sort of the "pare

[2019-10-02 17:36] jbphet commented on #183
I've made the changes for this and have published a version with only the "cooling off" sound at https://phet-dev.colorado.edu/html/friction/1.6.0-soundDesignCourse.1/phet/friction_en_phet.html.

[2019-10-02 17:37] jbphet commented on #183
Assigning to myself and marking as deferred for now, since no action is needed until the sound design course is done or I get feedback that something different is needed.

[2019-10-24 15:30] KatieWoe opened #184 "CT api mismatches present"
[code]

[2019-10-24 18:26] zepumph commented on #184
Thanks! @chrisklus, closing

[2019-10-24 19:04] #184 closed

[2019-12-06 14:30] JustFly1984 commented on #173
@jbphet  You saved my day, this is the only working solution to fix bugs related to IOS undocumented webkitAudioContext.state === 'interrupted' and Visibility API on Iphone lock/unlock!

[2019-12-06 17:43] jbphet commented on #173
Glad I could help!

[2020-02-28 19:52] KatieWoe opened #185 "iPad Reset Freeze"
For ES6 Testing.
Seen on iPad 13 and 12, but not on Win 10.
When you hit the reset all button the sim freezes. Looking at the console you see an error that reads:
[code]

[2020-02-28 19:52] zepumph commented on #185
Thanks!

[2020-02-29 00:14] zepumph commented on #185
I can use this in correlation with https://github.com/phetsims/chipper/issues/845 to help debug the case

Index: friction/js/friction/view/FrictionScreenView.js
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- friction/js/friction/view/FrictionScreenView.js	(revision 3bfbb998f8890d32a92d

[2020-03-09 19:51] KatieWoe opened #186 "Launched sim still has missing particles"
For ES6 Testing
When launching the sim from studio, any particles that were removed will reappear. This can also lead to the books overlapping.

[2020-03-09 20:14] KatieWoe commented on #186
Appearance in state wrapper:
![happensinstate](https://user-images.githubusercontent.com/41024075/76253374-37991700-6210-11ea-8ade-62a296af97db.gif)

[2020-03-22 23:17] zepumph opened #187 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-22 23:18] zepumph commented on #187
On a branch I have already done this, perhaps I can use some of that logic on master. https://github.com/phetsims/friction/issues/178

[2020-03-24 20:25] zepumph commented on #178
added to master in https://github.com/phetsims/friction/issues/187, branch deleted, closing

[2020-03-24 20:26] zepumph commented on #187
@jessegreenberg please spot check.

[2020-03-27 19:01] jessegreenberg commented on #187
I did a spot check by inspecting the nested strings in friction-strings_en.json and verifying behavior of the a11y view. Nesting looks great and seems logical, behavior is good. Closing.

[2020-03-27 19:01] #187 closed

[2020-05-21 21:53] samreid commented on #53
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-28 19:06] jessegreenberg commented on #53
This TODO was promoted a more general issue, I updated the link referenced in the comment, see https://github.com/phetsims/scenery/issues/1054.

[2020-05-28 19:06] #53 closed

[2020-09-02 23:57] zepumph commented on #186
Unassigning until we work on Friction PhET-iO state.

[2020-09-29 14:17] pixelzoom opened #188 "CT: Assertion failed: If this is the first alert, then we have problems"
Intermittent failure in CT, looks like it's related to an a11y Describer.

[code]

[2020-09-29 23:11] zepumph commented on #188
@jessegreenberg, I see commits in GrabDragInteraction from https://github.com/phetsims/scenery-phet/issues/622, do you think this studio-fuzz problem is due to that interrupt work?

[2020-11-06 16:38] KatieWoe commented on #188
I'm seeing this 11/6/2020:
[code]

[2021-02-07 15:17] emily-phet commented on #74
This seems stale now. Processes for a11y and phet-io have evolved significantly from when this issue was started. Closing.

[2021-02-07 15:17] #74 closed

[2021-03-08 18:59] jessegreenberg opened #189 "branch: preferences"
A one-off branch to test the preferences dialog and toolbar, as well as a preliminary implementation of the self-voicing feature.

[2021-03-19 12:39] terracoda opened #190 "(Self-Voicing) Need to voice button names on focus"
The self-voicing of Friction is coming along great. I just tested the latest in Firefox on MacOS 10.13.6 (kind of of oldish, I know) and I do not hear the grab button names on focus or the Reset All button name on focus.

On focus of a button, I need to hear the button's name (no role, just the name). The name identifues an interactive thing. Because buttons are buttons, hopefully the learner will

[2021-03-19 12:40] terracoda commented on #190
@jessegreenberg, I can work around this for today's interviews, but need it for next week's interviews.

[2021-03-19 12:41] terracoda commented on #190
Please add priority level if that's helpful for you :-)

[2021-03-25 00:29] terracoda opened #191 "(Self-Voicing) Design Issues from Interviews"
Several design issues are emerging from interviews. I am going to start listing them out here so they don't get lost.
Checked ones are resolved or have their own issue:
- [x] Grab buttons don't have voicing names, see #190
- [x] Overview needs some indication of the zoomed-in view. Some explanation of how the books and zoomed-in view are related, but without getting technical and keeping things  "

[2021-03-25 00:33] terracoda opened #192 "(Self-Voicing) Break away response not being heard"
From #191, @jessegreenberg, is it possible to make the break away response assertive? It's not getting heard when a break away happens.

[2021-04-02 23:01] KatieWoe opened #193 "Dragging book beyond iframe throws off touch"
Found during https://github.com/phetsims/QA/issues/630 but it happens in published so I don't think it is related. Occurs with iframes and with touch.
When you drag the book up and your finger leaves the iframe the grab point follows it up and stays there as your finger moves back down. This feels quite odd if you try to drag up again with the same touch.

https://user-images.githubusercontent.com

[2021-04-12 22:02] Matthew-Moore240 opened #194 "(Voicing) Friction hints during interaction do not seem to fire correctly"
**During interaction**

When books are grabbed it should read
_Move Chemistry book down to explore friction._

When books are grabbed Hint after all atoms (actually more than half) have been evaporated.
_Reset sim to make more observations._

**Hint Please button:**
Current interaction hint:
_Move Chemistry book down to explore friction._

Hint when the chemistry book is down but there are still l

[2021-04-12 22:11] Matthew-Moore240 opened #195 "(Voicing) New overview paragraph mentioning the zoomed-in view"
Added a new last sentence about the zoom-in book.

Warm-up your hands and get ready for Friction! Friction is an interactive sim it changes as you play with it. There’s a stack of big textbooks ready to go! There is a zoomed-in view so you can see how creating friction affects the atoms of the textbooks.

[2021-04-12 22:14] Matthew-Moore240 opened #196 "(Voicing) Overview wording after a "breakaway" seems to have some kind of mistake in it. It says the word "dot""
There may be a misplaced period in the overview. During some interactions, the overview button reads out the word "dot".

[2021-04-12 22:16] Matthew-Moore240 commented on #191
Made issues for all three of the unchecked boxes.

[2021-04-13 00:53] terracoda commented on #195
@Matthew-Moore240, that's a great start, how about something more active, that makes the zoomed-in view the subject of the sentence. That will eliminate the need for, "There is a", which are not content words, but just required grammatical fluff :-) I made the same change to the previous sentence, eliminating "There's"

"Warm-up your hands and get ready for Friction! Friction is an interactive sim

[2021-04-13 00:58] terracoda commented on #195
@Matthew-Moore240, if you like my suggestion, please remove the design-a11y label and assign issue only to @jessegreenberg. That will make it clear to @jessegreenberg the issue is ready for implementation.

[2021-04-13 01:03] terracoda commented on #194
@Matthew-Moore240, I am re-assigning this issue back to you.
To document the interaction, you need to document the voicing separately for mouse/touch input and keyboard/gesture input.

We can discuss and then re-assign to @jessegreenberg.

[2021-04-13 01:06] terracoda commented on #191
These issues will be tracked in their own issues, so closing this issue.

[2021-04-13 01:06] #191 closed

[2021-04-13 18:38] Matthew-Moore240 commented on #194
This was in the design doc. Is this what we are thinking?

Mouse input (w/ interactive highlights on)

Mouse over pink highlight
Mouse Click:
Grabbed highlight (dotted pink highlight)
Object & text: Chemistry book grabbed.
- Context:
- Help:
- (if not touching physics book) Move down to rub harder.
- (if touch physics book) Rub fast or slow.

Touch input

On tap (dotted pink highlight appears):
Ob

[2021-04-13 18:42] Matthew-Moore240 commented on #195
This looks good to me I think shorting it is great. I wasn't 100% sure if just mentioning the zoom-in view was enough.

[2021-04-13 19:21] terracoda commented on #195
Cool, I agree, we may need more, but I think if we make it the subject of the sentence, it might make it stand out a bit.

[2021-04-13 19:23] terracoda commented on #195
To sum up for @jessegreenberg, here's the final content for the overview button. It's diffferent from above as I had a grammatical mistake in it.

"Warm-up your hands and get ready for Friction! Friction is an interactive sim it changes as you play with it. A stack of big textbooks is ready to go! A zoomed-in view shows details of jiggling atoms."

[2021-04-20 20:14] terracoda commented on #194
@Matthew-Moore240, this is looking pretty good. Note that in voicing, the word "button" is never voiced, so the alternative input help, starting with "Look for grab buttons" will need some further thought.

For this sim, I think about three categories of "hint content". Only 1 & 2 are specifically "hint content" in terms of teh voicing deign. There are three kinds of hints I designed fro non-visua

[2021-04-20 22:44] zepumph commented on #178
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:44] zepumph commented on #160
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:45] zepumph opened #197 "branch: MASTER"
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-21 14:45] jonathanolson commented on #197
Deleted (might be causing issues on Windows?), closing.

[2021-04-21 14:45] #197 closed

[2021-04-23 16:51] zepumph commented on #178
Deleted

[2021-04-23 16:51] #178 closed

[2021-04-23 16:51] zepumph commented on #160
Deleted

[2021-04-23 16:51] #160 closed

[2021-07-06 16:13] zepumph commented on #189
@jessegreenberg says I can delete this, as everything in common code has been moved to master. I will go through this branch and see if anything more should be copied into master.

[2021-07-06 16:14] zepumph opened #198 "Implement voicing in master"

[2021-07-13 17:08] zepumph opened #199 ""Continue rubbing chemistry book to generate even more friction." hint not in screen summary"
This string was asked for as a possible hint in the voicing read-me buttons. I didn't see it working in the screen summary, and so it wasn't clear if this was a bug in how the interactive description was implemented, or a purposeful deviation for voicing.

Here is where the design doc for this lives: https://docs.google.com/document/d/1E-ecRqgwMjBHboPw0IXE-1-zB-ZO9_Owskj-QeXJ8S4/edit#heading=h.bgx

[2021-07-13 17:37] zepumph opened #200 "Different focusHighlight needed for mouse highlights"
When I mix in voicing (and thus mouseHighlighting) into the bookNode, on hover I get a highlight that includes the grab cue. This is build into GrabDragInteraction, and would most likely be challenging to change. Instead can we just pass in another focusHighlight to be activated for mouse?

[2021-07-13 17:43] zepumph opened #201 "Assertion failed: update should only be necessary if node already has focus"
This occurred when I first added the Voicing mixin to BookNode.

<details>

[code]

</details>

1. Turn on voicing (already done by `?voicingInitiallyEnabled` )
2. Turn on interactive highlights (already done by patch)
3. click on the macro book node.

I'm not really sure what focus means for a Node these days. `this.node.focused` is what should be true but is false. Isn't this property tied to PD

[2021-07-13 17:59] zepumph opened #202 "Convert to DragListener"
Currently uses the deprecated SimpleDragHandler.

[2021-07-13 18:29] jessegreenberg commented on #201
I think this is a subset issue of #200. The work being done in `HighlightOverlay.onFocusHighlightChange`, is specific to the PDOM highlight. In #200 we will likely add support for other kinds of highlights which will have their own listeners and checks for focus. Lets consider that issue first.

[2021-07-13 18:33] jessegreenberg commented on #200
Yes I think that will be necessary. This is not something that is supported yet but I think we need a setter for various kinds of focus highlights.

[2021-07-13 18:47] zepumph commented on #202
I converted it and noticed a strange delay in the translation while dragging. I met with @jonathanolson and we found trouble when logging the modelPoint and modelDelta from `DragListener.reposition`. I will let him take over and investigate from here.

[code]

[2021-07-13 19:54] zepumph commented on #201
I added a TODO and turned off interactive highlights as an option to preferences until we sort this.

[2021-07-13 19:55] zepumph opened #203 "Add voicing to the book interaction"

[2021-07-13 19:55] zepumph commented on #198
Most of this from here will be handled over in https://github.com/phetsims/friction/issues/203 and other separate issues we create.

[2021-07-13 19:55] #198 closed

[2021-07-13 19:56] Matthew-Moore240 commented on #199
No, that hint should just be in the hint please area/button.

[2021-07-13 19:57] zepumph commented on #203
I'm going to start with the macro BookNode, and move to the magnified Node afterwards.

[2021-07-13 20:15] zepumph opened #204 "How to support Utterance alert of Array with two utteranceQueues?"
Utterance has a feature built into if for use in Friction in which you can supply a list of alerts, and it will cycle through them as it is alerted. This doesn't work well when you have code that tries to alert the same utterance in two different queues. Perhaps we should remove this list feature from Utterance

[2021-07-13 20:22] zepumph commented on #204
I added a TODO to the exact spot in the code:

[code]

[2021-07-14 21:19] jonathanolson commented on #202
It looks like DragListener's `_modelPoint` was getting set in some cases to a scratch vector reference, which was then getting clobbered by other operations. That was the source of the problem above, fixed in the commit. @zepumph can you review? I'll also commit the sim-specific change.

[2021-07-16 15:16] terracoda commented on #194
I am unassigning myself. @Matthew-Moore240, let me know if you need anything from me.

[2021-07-16 17:24] zepumph commented on #202
What a fun bug and fix in https://github.com/phetsims/scenery/commit/a64afac0d81b9b12859c663fceaac15b874070a0. Thanks for investigating. I love seeing DragListener get more usages built out.

[2021-07-16 17:33] zepumph commented on #202
Hey! Actually I'm not sure this has totally been solved. I can pretty easily get the magnified atom view to spastically switch between two different values by moving it slowly, especially in when you move down and rub against the bottom book (like to evaporate atoms).

I was able to console log the modelDelta and it looks like two different points seem to be fighting each other. This may be from t

[2021-07-16 19:33] zepumph commented on #201
@jessegreenberg and discussed this an we will first work on https://github.com/phetsims/scenery/issues/1230 to get this working.

[2021-07-16 19:33] zepumph commented on #200
@jessegreenberg and discussed this an we will first work on phetsims/scenery#1230 to get this working.

[2021-07-19 16:45] zepumph commented on #202
Oops, sorry, I forgot to reassign @jonathanolson.

[2021-07-19 17:33] zepumph opened #205 "Voicing adds listeners that block MagnifiedNode's drag listeners"
While working on https://github.com/phetsims/friction/issues/203, I ran into an issue where when I mixin Voicing to MagniedNode, it blocks the input going to the children that have the FrictionDragListener added to them. Voicing adds a couple of of input listeners (some via MouseHighlighting.js), and it seems that since that is the parent Node, it blocks input to the nodes below. I didn't have tim

[2021-07-19 17:38] jonathanolson commented on #205
I'm not clear on why this would be "blocking" input, could we pair on this sometime?

[2021-07-20 13:52] zepumph commented on #203
Above I think I fixed some of the interrupting that decreasing temperature responses did on the alerts the talk about breaking away. It is a much nicer experience now.

[2021-07-22 19:13] jonathanolson commented on #202
Unassigning, had a conversation about using the container that is translated as the targetNode.

[2021-07-23 13:04] zepumph commented on #202
Alright thanks for the help @jonathanolson, things are looking better now. Closing

[2021-07-23 13:04] #202 closed

[2021-07-23 13:24] zepumph commented on #205
So after a bit more investigation, it looks like I found and fixed the problem.

Here is the pertinent Node structure (in relative child order)

[code]

 When I mixed in Voicing to MagnifierNode, note that we added input listeners to MagnifierNode. Once we did that, the surrounding black stroked rectangle was absorbing the hit, and thus the dragListener Nodes were obscured by this. Before, pickabl

[2021-07-23 14:30] zepumph opened #206 "Add voicing to MagnifiedNode interaction"

[2021-07-23 14:33] zepumph commented on #206
There is a bit of an issue here, because we have two Nodes that get a FrictionDragListener, but only one of those gets the FrictionGrabDragInteraction. I want most of the voicing strings to come from the GrabDragInteraction, but there is overlap when I try to use the DragListener. Instead of doing things how they are currently implemented (via the startDrag in FrictionDragListener), I should go th

[2021-07-23 15:28] zepumph commented on #206
Above I moved the background to be a child of the dragArea. I don't know why I didn't try to do this before! It was so easy. Now we can use the grabDragInteraction to facilitate all voicing for mouse and keyboard interaction.

[2021-07-23 15:59] zepumph commented on #190
This is now done with the nameResponse option to Voicing.js

[2021-07-23 15:59] #190 closed

[2021-07-23 16:02] zepumph commented on #193
@arouinfar, this does not feel like a bug to me, but instead just a byproduct of how something drags against a barrier. You can reproduce this within the sim, with no iframe, just by moving the sim down with your finger continuing to drag past where the books meet. I would recommend closing this issue, but most likely it is up to the responsible designer.

[2021-07-23 16:06] zepumph commented on #193
UPDATE: Most likely this is due to how the DragListener is just being used to track deltas.  I see how this behavior is strange, but I don't see an obvious way to fix it. @arouinfar, let me know if you would like further investigation.

[2021-07-23 16:06] #206 closed

[2021-07-23 16:06] #203 closed

[2021-07-23 16:18] zepumph opened #207 ""Reset the sim to make more observations" could be voiced more often"

[2021-07-23 16:22] zepumph commented on #207
@Matthew-Moore240 reported that with voicing it is hard to hear this. In a simple test dragging with a mouse we were unabled to hear this more than once after all atoms evaporated.

[2021-07-23 16:37] zepumph commented on #199
The hint help button should be perfect now. Please let me know if there is anything else for it.

[2021-07-23 16:40] zepumph commented on #196
This issue has been outdated. The overview button has been reimplemented since voicing was added to master, and it now is the hard coded string from the design doc:

Closing

[2021-07-23 16:40] #196 closed

[2021-07-23 16:54] zepumph commented on #192
This was done recently by using the `cancelOther` option in https://github.com/phetsims/friction/commit/b65a010c638eadfa4e3ad65adfebcd6410c4ba35. Closing

[2021-07-23 16:54] #192 closed

[2021-07-23 17:25] zepumph commented on #189
Deleted.

[2021-07-23 17:25] #189 closed

[2021-07-23 17:29] zepumph commented on #207
I think that this is caused by https://github.com/phetsims/friction/issues/204. I will investigate over there.

[2021-07-23 18:13] jonathanolson commented on #205
Commit looks good, explanation makes sense.

[2021-07-23 18:52] zepumph commented on #204
@jessegreenberg and I discussed, and we like this direction. We agreed to keep the array of alerts in Utterance as a feature, and wish we had used it in RAP and JT recently.

Don't forget to update the tests!

<details>

[code]

[2021-07-23 18:59] arouinfar commented on #193
@zepumph I don't think this needs any further investigation. I don't think this poses any real usability issues, so I'll close.

[2021-07-23 18:59] #193 closed

[2021-07-23 19:04] #205 closed

[2021-07-23 21:15] zepumph commented on #207
I was not caused by that! I made a fix and this should work better in master.

Please test and see with this https://phet-dev.colorado.edu/html/friction/1.6.0-dev.7/phet/friction_en_phet.html?voicingInitiallyEnabled

[2021-07-23 21:33] zepumph commented on #204
@jessegreenberg, the above patch was not really on point. I had forgotten during our meeting that `getTextToAlert` is actually private to sims, and so what was in place was just a work around. Thus it made more sense for our `incrementCount` to become an option to the Utterance, next to the current placement for loopAlerts.

When I was adding tests for this new feature. I realized that this is ver

[2021-07-27 17:05] Matthew-Moore240 commented on #207
Okay, I played with it a bit and it seems like the reset sim is getting cut off by the jiggling/cooling responses. So maybe we make the hints assertive? I am not sure.

[2021-07-27 17:08] Matthew-Moore240 commented on #199
Sounds really good! This seems to be fixed. Closing

[2021-07-27 17:08] #199 closed

[2021-07-28 14:33] zepumph commented on #207
I think that some of that is because of the workaround we currently have in place for max temp alerts over in https://github.com/phetsims/friction/issues/204. Right now it isn't its own utterance, but I will work on a better workaround now, and see if that helps.

[2021-07-28 14:53] zepumph commented on #207
The workaround improvement was helpful, but there was a also a bug to fix in alerting max temp. Now if you stay at max temp you will get a new alert every half second (the time delay and increasing alerts). I think this issue should be fixed now when

The cooling alerts should not be interrupting anything except themselves (like if they repeat).

Please review and see if it sounds better. A really

[2021-07-28 14:53] zepumph commented on #204
For now, I would prefer a better work around, I'll just have 2 Utterance instances, one per queue. This will help with `cancelOther` features and alertStableDelay etc. Especially for https://github.com/phetsims/friction/issues/207

[2021-07-28 14:55] zepumph commented on #195
This is the new and improved overview paragraph in the sim now, and in the design doc:

Closing

[2021-07-28 14:55] #195 closed

[2021-07-28 15:18] zepumph commented on #188
I haven't seen this on CT in ages, and after 10 minutes of studio fuzzing locally there is no error. I'm going to close, but will reopen if it comes up again.

[2021-07-28 23:39] Matthew-Moore240 commented on #207
Yeah, this seems much better. I think it will work well for now.

[2021-07-29 20:43] BLFiedler opened #208 "Friction 1.6.0-dev.8 Voicing Interviews"
Interviews for the current state of the voicing feature in Friction were requested.

The following link was provided: https://phet-dev.colorado.edu/html/friction/1.6.0-dev.8/phet/friction_en_phet.html

Interview participants are requested to enable the voicing toggle before interacting with the simulation.

I will record a summary of the interviews in this issue.

[2021-07-29 21:10] zepumph commented on #204
After another discussion with @jessegreenberg, we realized there are many things about Utterance that are buggy when you add an Utterance to multiple queues, see https://github.com/phetsims/utterance-queue/issues/20. On hold until we handle things over there.

[2021-07-29 21:11] #207 closed

[2021-07-30 18:17] BLFiedler commented on #208
@Matthew-Moore240 @zepumph

Two interviews were conducted on 7/29/2021 with sighted college students (P1 & P2) experienced on an iPad using the default Samantha voice. P1 leaves the voicing on the whole interview. P2 turns it off via the sidebar after ~2 minutes.

### General:
- Both participants self-reported the potential usefulness and completeness of the description if they could not see the s

[2021-07-30 18:19] BLFiedler commented on #208
I have the potential to interview further on this next week Tuesday. Please let me know if there are any specific questions you have that I can address based on the interviews that have already occurred, or that can be addressed with a quick additional interview.

[2021-08-02 18:13] KatieWoe commented on #188
This seems to have happened again:
[code]

[2021-08-02 18:15] zepumph commented on #188
Thanks!

[2021-08-02 18:25] terracoda commented on #208
The "Reset sim to make more observations," is indeed one of those hints specifically design for non-visual access. Also, "Move down to rub harder" was designed specifically for alternative input users like blind users.

Technically speaking in Interactive Description, the reset-sim-hint happens when most of the atoms have evaporated, but not all. The timing of the delivery could be re-considered.

[2021-08-02 18:25] terracoda commented on #208
Maybe the Reset All button response can be assertive? That's likely easily fixable.

[2021-08-06 16:27] Matthew-Moore240 opened #209 "The reset sim hint is firing too often."
During the interviews, it seems that this hint response was firing too much so @zepumph and I discussed some possible solutions.
@zepumph has a couple of ideas to fine-tune it.

[2021-08-06 16:35] Matthew-Moore240 opened #210 "Temperature and jiggling responses while decreasing fire too often."
During the interviews, the temperature and jiggling responses were overwhelming. During the meeting today @zepumph and I discussed lowering the overall amount of times these responses fired while the temperature is going down possibly even tying the responses to spots on the thermometer. But to start we should try to either lower the number of times these responses are said or increase the distanc

[2021-08-09 02:11] zepumph opened #211 "Split voicing responses into object/context/hint"

[2021-08-11 23:14] zepumph opened #212 "direction object responses needed for mouse/touch interaction"
Currently, it looks like the BookMovementDescriber is only set up to work with PDOM/keyboard interaction. We need to make sure it get's working for mouse/touch too

[2021-08-11 23:20] zepumph commented on #212
I tried to do this patch, but it gave the PDOM too many movement alerts:

[code]

[2021-08-12 20:23] zepumph opened #213 "name response spoken when turned draggable"
This is because of the default focus listener in Voicing.js is automatically (and with no way to turn off), supplying the name on focus. Perhaps we can figure out a way to not do this in our case.

Caused by https://github.com/phetsims/scenery-phet/issues/693

Tagging @jessegreenberg to note that 24 hours later, we found a case where we want to ignore the newly created focus event for draggable :)

[2021-08-12 20:29] zepumph commented on #209
I'm not sure how the above will fair with #211, because the reset hint is a hint, and the max temp is a context. I'll have to see.

[2021-08-12 20:39] zepumph opened #214 "observe responseCollector Properties to change Utterance alerts?"
From the quick fix in https://github.com/phetsims/friction/issues/209, I was thinking of maybe mutating the utterance array based on the current value of `hintResponsesEnabledProperty`. Is that allowed?

[2021-08-12 20:43] zepumph opened #215 "Thoughts on new dev version"
Dev version https://phet-dev.colorado.edu/html/friction/1.6.0-dev.9/phet/friction_en_phet.html?voicingInitiallyEnabled&printVoicingResponses

Known issues:
* https://github.com/phetsims/friction/issues/213
* no object responses (movement directions) when using mouse/touch

[2021-08-12 21:40] zepumph commented on #214
@jessegreenberg said yes!!!!

Perhaps with something like this patch

[code]

[2021-08-12 21:51] zepumph commented on #213
@jessegreenberg and I discussed and thought through two ways forward. We didn't love either, because we don't like duplication of overridding the entire focusListener, and we also want to be able to alter what is spoken, not just IF it is spoken. Here are the two thoughts so far.

[code]

[2021-08-12 21:51] zepumph commented on #213
Over to @jessegreenberg to brainstorm an alternative or two before discussing further.

[2021-08-13 00:45] zepumph opened #216 "snapshot comparison fails when switching tabs while testing"
This is mostly just a question, and for @jonathanolson. I'm curious about a behavior and would like to know if it is expected or potentially a bug to investigate.

I have noticed that in a couple of sims, friction included, if you switch tabs while running the snapshot comparison on a currently running snapshot, it will fail the test. Here is the error:

![image](https://user-images.githubusercont

[2021-08-13 00:45] zepumph commented on #216
For clarity: when I run off the same working copy, but don't switch tabs, the sha is the same and I do pass the snapshot comparison.

[2021-08-13 17:02] jonathanolson commented on #216
Not sure exactly how to mitigate, I usually open a new window for it and leave it open (in an active tab), since we don't get the animation frames without it. We SHOULD get the same result however, so this seems like something worthy of investigation.

[2021-08-13 18:10] zepumph commented on #216
Thanks! I'll note here when I run into it in other cases (or other sims). Perhaps I'll even promote to aqua if it gets general enough.

[2021-08-17 17:06] zepumph opened #217 "Alerting, non-node types should use AlertManager.js"
From https://github.com/phetsims/utterance-queue/issues/13, the new pattern for alerting to descriptionUtteranceQueue is to go through a Node, thus we need non-node types to extend AlertManager to access said Node.

[2021-08-18 21:47] zepumph commented on #217
This should probably involve supporting the scenery-phet describers while I'm at it.

[2021-08-18 23:40] zepumph opened #218 "BorderAlertsDescriber is out of date"
I need to improve this type before working further on https://github.com/phetsims/friction/issues/211. The `BorderAlert` class is pretty much archaic. We can just use the array-supported alert feature of Utterance to do all that this class supports.

[2021-08-18 23:42] zepumph commented on #212
This was not really true, we do still get voicing responses, but only after releasing. We should decide when we want to hear these, because if we keep them the way they are now, "Released" overwrites it completely, and we never hear alerts like:
"At top. Move down to rub harder." or "left".

Assigning to designers:

Is it enough to just hear a single response each time you release the book?

[2021-08-18 23:42] #218 closed

[2021-08-18 23:45] zepumph commented on #212
Oh, one more question. Above, I thought it would sound much better to make the "Released" alert not interrupt, otherwise we don't get any object responses. I would like to discuss and confirm this behavior.

[2021-08-23 18:46] zepumph opened #219 "Missing Grab cue for MagnifierNode"
@jessegreenberg reported that the grab cue is no longer showing on startup for this Node. It is still there for the macro view.

He says that adding this line works to bring it back:

[code]

Why did it break though? Perhaps something with the bounds of the Node or parent. Checking in MagnifierNode's history and didn't find anything obvious. I'll look in GrabDragInteraction next. Published version

[2021-08-23 19:02] zepumph commented on #219
When we set the y value at 60, it looks like this. Clearly this is from being focusHighlightLayerable, but I'm unsure when the bounds changed.

![image](https://user-images.githubusercontent.com/6856943/130503103-e9ef8749-6b1d-48c1-8583-7da6acd63ea0.png)

[2021-08-23 19:09] zepumph commented on #219
@jessegreenberg, this looks exactly the same as the published version. I could not figure out what the original cause was. I ruled out having the draggable Node implement Voicing, and also looked through GrabDragInteraction. We converted from SimpleDragHandler to DragListener, but I'm unsure how that could have caused problems. Will you please review. Anything else here?

[2021-08-23 19:12] zepumph commented on #214
[code]

I want to write a unit test for the Utterance change, but will do https://github.com/phetsims/utterance-queue/issues/29 first.

[2021-08-23 19:22] zepumph opened #220 "Reset numberOfTimesAlerted when alert changes"
Small bug fix needed for https://github.com/phetsims/friction/issues/214.

[2021-08-23 19:43] zepumph commented on #214
This worked very well. We may still want to tweak some timing over in https://github.com/phetsims/friction/issues/209, but I think it is ready for review over there.

[2021-08-23 19:45] zepumph commented on #211
https://github.com/phetsims/friction/issues/214 was very helpful for this sort of splitting. I'll keep looking for spots where that should happen.

[2021-08-23 20:50] zepumph opened #221 "Update MovementDescriber and BorderAlertsDescriber to support custom voicing"
This is a subset of https://github.com/phetsims/friction/issues/211, but it isn't quite clear how it is best to do this, for example, https://github.com/phetsims/scenery-phet/blob/ed72de7735fb1cdefb73e334e195e840e3fe5b92/js/accessibility/describers/MovementDescriber.js#L149-L157 got me to a committable state, but doesn't support having the hints embedded in the Utterance like is done in top and bo

[2021-08-23 21:19] jessegreenberg commented on #219
Thanks for investigating, fix looks good. It isn't clear to me either what changed to cause this.

[2021-08-23 21:19] #219 closed

[2021-08-24 18:52] zepumph opened #222 "Update looping alerts to support voicing better"
From design meeting today, there are three alerts that can change.

- [x] `AT_TOP_MOVE_DOWN_STRING` can be the string every time (split on if hints are enabled)
- [x] `downRubFastOrSlowString` can be the string every time. @terracoda:  "let's see if it works"
- [x] `resetSimMoreObservationSentenceString`, let's try if every time max temp is alerted, but can control it from hints. (see https://gith

[2021-08-24 21:37] zepumph commented on #222
That utterance-queue issue is complete enough to continue here.

[2021-08-24 21:46] zepumph commented on #209
From design meeting today, and decisions made in https://github.com/phetsims/friction/issues/214, we decided to try making the reset-sim hint response always alert, but to hide it under hints. This works great in voicing! The issue is potetntially in description, if that is too verbose. It doesn't sound that way to me though.

Questions for reviewer:
- how does the voicing sound when all atoms hav

[2021-08-24 22:06] zepumph commented on #222
All of these have been implemented. @Matthew-Moore240 how does this sound for voicing (I think really good!), and for description too (hints are more often, but still quite nice to me).

[2021-08-25 19:13] zepumph opened #223 "Get rid of FrictionAlertManager"
I think that this type is not actually factoring out that much, and that we should just handle individual utterances in the Describer types that need to use them (and call them Alerters).

This will help solve https://github.com/phetsims/friction/issues/210, because the timing needs to change for decreasing, but that is quite separated from the Utterance. In general, this sim predates our ability

[2021-09-02 22:31] Matthew-Moore240 commented on #212
With the keyboard, the "at top" "left" sound pretty good. On the mouse, the responses seem to bunch up and you hear "left" at the very end and it just sounds pointless.

[2021-09-02 22:34] Matthew-Moore240 commented on #209
The new version sounds much better. We can stick with how it's implemented now. Closing.

[2021-09-02 22:34] #209 closed

[2021-09-02 22:35] Matthew-Moore240 commented on #194
This seems fixed. Closing.

[2021-09-02 22:35] #194 closed

[2021-09-02 22:37] Matthew-Moore240 commented on #222
The sim flows a lot better now. We may just look into removing the direction responses.

[2021-09-03 16:17] zepumph opened #224 "Remove direction alerts for voicing"
These are coming from MovementAlerter. we want to keep the BorderAlerts though (at left edge).

Let's do this change with query parameters.

This is for all voicing, and not just with mouse interaction, but it definitely sounds worst with mouse, likely because the response is only voiced once you let go of the book, and thus it is competing with "Released" (and comes after).

[2021-09-03 16:18] zepumph opened #225 "MovementAlerter is broken"
Discovered while working with @Matthew-Moore240 on #224 and other design discussion topics during today's meeting.  I am getting no alerts for direction or border changes.

[2021-09-03 16:18] zepumph commented on #222
Let's tackle this in #224

[2021-09-03 16:18] #222 closed

[2021-09-03 16:20] zepumph commented on #210
Today, @Matthew-Moore240 and I feel good about the current timing, and don't feel like it interrupts itself quite as badly anymore. @Matthew-Moore240 please reopen if you want to work on this again.

[2021-09-03 16:20] #210 closed

[2021-09-03 16:21] zepumph commented on #215
This issue is out of date. I'll make a new dev version sometime soon for review.

[2021-09-03 16:21] #215 closed

[2021-09-03 16:22] zepumph commented on #212
This will be fixed over in #224

[2021-09-03 16:22] #212 closed

[2021-09-07 21:41] zepumph commented on #225
Fixed, this was a bug that came from work done in the patch(ish) over in https://github.com/phetsims/utterance-queue/issues/13#issuecomment-907377735. I forgot to remove the overwriting of the subtype options, even though I removed the option definition. Closing

[2021-09-07 21:41] #225 closed

[2021-09-07 22:04] zepumph commented on #224
Two options here:

1. Further mess with MovementAlerter so that we can support opting out of borderAlerts describer just for voicing (probably more options here)
2. Have the current instance of MovementAlerter be just for description, and then just create a borderAlertsDescriber that we use to alert to voicing.

I think I will see how gross (1) is before trying (2), because the second will involve

[2021-09-07 22:11] zepumph commented on #224
No, I don't think (1) will work or be good, because it is the MovementAlerter that is solely responsible for the directions. Why go through that channel if you don't want those alerts? Just for the composed border alerts? Nah, we should just use those specifically.

[2021-09-07 23:32] zepumph commented on #224
Uggg. This is much much harder than I thought it would be. I can't just use the border alerts, because then we aren't voicing the special bottom alert. Instead I'm going back to (1), because it is actually going to be better. Here is how far I got with (2) unfortunately.

<details>

[code]

[2021-09-08 00:59] zepumph commented on #224
This is one of the strangest, most hard coded commits I've done in a long time. I would definitely like to discuss this further with @jessegreenberg to see if we can find a better way.

[2021-09-08 01:00] zepumph opened #226 "Border/movement alerts should cancel others"
I found that while working on https://github.com/phetsims/friction/issues/224, I felt like things would sound better if the "grabbed" alert could get interrupted by a movement that may occur afterwards.

[2021-09-08 01:03] zepumph commented on #226
This should stay on hold until https://github.com/phetsims/friction/issues/223 is complete, so that it can be tested in the same context as that work, because temperature-decreasing alerts interrupt quite a bit. It would be best if we could see if these need tweaking in correlation.

[2021-09-08 15:08] zepumph commented on #213
Probably instead of having  the default option store the focus listener, we would bind a prototype method, that way we could have usages use `Voicing.defaultFocusListener()` instead of duplicating `speakFullResponse`.

Like this untested thang:

<details>

[code]

[2021-09-10 13:44] zepumph commented on #224
I discussed with @jessegreenberg today, let's try for a BookMovementAlertManager (rename and responsibility for BookMovementAlertManager), which composes the voicingBorderAlertsDescriber and descriptionMovementAlerter. Then we don't have the duplication of stuff currently in BookMovementAlerter.

[2021-09-10 14:10] zepumph commented on #213
@jessegreenberg and I committed a fix for this, by adding the option to voicing and also by using it in GrabDragInteraction. The main hardship was that we didn't bind the default function specifically so that we could use it in an assertion in GrabDragInteraction. It wasn't the most forward thinking thing, but presumably we can adapt it later if we need to (because it's failing).

I will mark this

[2021-09-13 18:19] zepumph commented on #223
Now the small amount of factored out code is duplicated in the increasing and decreasing code. Basically all this comes down to is accessing the right description, it is more like a pattern than duplication.

Now I just have to rename all the types that are alerting to Alerters.

[2021-09-13 18:29] zepumph commented on #223
I looped in a bit more refactoring to this issue, in which I moved all code out of describers (most were `Alerters` now anyways), and moved a couple of Book types into the `book/` dir.

[2021-09-13 18:31] zepumph commented on #223
I think we are all set here, I'm now ready to move onto https://github.com/phetsims/friction/issues/226 to work on timing variables of these new Utterances.

[2021-09-13 18:31] #223 closed

[2021-09-13 18:32] zepumph commented on #226
https://github.com/phetsims/friction/issues/223 is all set. I'll work on the timing here now, including potentially the temperature change alerts.

[2021-09-13 19:36] zepumph opened #227 "[Voicing] onFocus "settled and cool" alert interrupted by grabbed alert"
Promoting TODO to issue. In the description, when you grab the book, it will say "Atoms jiggle a tiny bit, temperature cool", but in voicing, the "Grabbed . . ." alert immediately interrupts this. I'm not sure how to proceed, because it seems like both are superfluous, or at least too much content when turning to the draggable. Assigning for design meeting.

[2021-09-13 20:44] zepumph commented on #213
After another look, I'm still happy with this. Closing

[2021-09-13 20:44] #213 closed

[2021-09-13 20:47] zepumph commented on #200
https://github.com/phetsims/friction/commit/7fcf8feb33d7e46dd98f908ed8a3903666a87187 looks pretty good, along with review comments in https://github.com/phetsims/scenery-phet/issues/698. I am not seeing this bug anymore in Friction. Do you think there is anything more to do here?

[2021-09-13 21:57] jessegreenberg commented on #200
OK, thanks for reviewing https://github.com/phetsims/scenery-phet/issues/698, lets close.

[2021-09-13 21:57] #200 closed

[2021-09-13 23:05] zepumph commented on #211
- [ ] BorderAlertsDescriber needs to be better set up to release its stuff as objectResponess.

[2021-09-13 23:53] zepumph commented on #211
https://github.com/phetsims/scenery-phet/commit/032f9abe48127cb698e7a30dd55c813e3725a5fb wasn't strictly necessary because we didn't have any movement alerts left in voicing, just border alerts, but it still felt good to do for completeness. Now we are well set up for all alerts to be in categories. I'll get a dev version out shortly.

[2021-09-13 23:53] #211 closed

[2021-09-13 23:56] zepumph opened #228 "Dev version feedback on split of voicing responses"
Now that https://github.com/phetsims/friction/issues/211 is complete, where object/context/hint responses were split into their voicing categories, we are ready for some more fine tuned feedback on the design and on timing. Over to @Matthew-Moore240, hopefully we can get some good progress on this before our meeting on Friday.

https://phet-dev.colorado.edu/html/friction/1.6.0-dev.13/phet/friction

[2021-09-14 00:01] zepumph opened #229 "Should "Released" string interrupt others?"
I have had this question for some time. It seems like sometimes it is nice for it to interrupt, and others it is very bad. Currently it is not set up to interrupt other alerts.

It works well to interrupt in the case where you pickup the book, and it begins saying, "Grabbed, lightly on physics. . ." but doesn't complete yet. This is a pretty long sentence. If you let go while it is still being spo

[2021-09-15 15:10] zepumph opened #230 "Test voicing on gesture device"

[2021-09-15 16:58] zepumph commented on #224
This is really challenging, it doesn't seem that great to compose both either, because of how we are overriding `alertDirectionalMovement` to call a specific `alertForDirection` which we want to support for voicing and description. These two alerting features are so very intertwined, but also need to be quite separate. It's hard to know where to go from here. I'll keep thinking about it.

I found

[2021-09-15 17:38] zepumph opened #231 "Changes to grabbed hint"
From design meeting today.

We don't want to hear "move down to rub harder" on grabbed, only when there is unproductive rubbing.

one option is to always change the hint to always say "rub fast or slow"

the other option is to just get rid of the hint on grab.

Right now we are going to get rid of the grabbed hint alert entirely, and we can get it back if we want it.

[2021-09-15 17:42] zepumph commented on #229
We discussed this today, and we like the way that Release doesn't interrupt. @terracoda mentioned that this isn't that vital of an interaction alert, so it doesn't need to interrupt. Furthermore, over in https://github.com/phetsims/friction/issues/231, a shorter grabbed alert will only help the first case explained above:

Closing

[2021-09-15 17:42] #229 closed

[2021-09-15 17:51] zepumph commented on #227
Discussed today during develop meeting, @terracoda and I thought that we should swap the state info and the grabbed alert, for both voicing and description, and see if that makes it so that both are spoken when the book is grabbed. I'll try that out!

[2021-09-15 18:01] zepumph commented on #231
Hints removed for grabbed alerts above.

[2021-09-15 18:02] zepumph commented on #231
@terracoda, I will get you a dev version soon, then assign you to review.

[2021-09-15 18:06] zepumph commented on #227
@terracoda, I will get you a dev version soon, then assign you to review.

[2021-09-15 19:35] zepumph commented on #221
I feel like I have discussed this pattern with @jessegreenberg since assigning this to him. I'm going to go ahead and close this. Please reopen if you want to take a look.

[2021-09-15 19:35] #221 closed

[2021-09-15 19:44] zepumph commented on #228
Latest and greatest: https://phet-dev.colorado.edu/html/friction/1.6.0-dev.14/phet/friction_all_phet.html?voicingInitiallyEnabled

[2021-09-15 19:44] zepumph commented on #231
https://phet-dev.colorado.edu/html/friction/1.6.0-dev.14/phet/friction_all_phet.html?voicingInitiallyEnabled

[2021-09-15 19:45] zepumph commented on #227
We want to make sure that it is realized that "onFocus" here is a bit of a misnomer, because it is when the draggable is focused. Basically you should think about it instead as "onGrab".

Please review in https://phet-dev.colorado.edu/html/friction/1.6.0-dev.14/phet/friction_all_phet.html?voicingInitiallyEnabled

[2021-09-15 19:53] zepumph commented on #224
- [ ] The design document needs to be updated for this change.

I think the best way forward here is to learn from designers if we will continue to omit the direction alerts. If so, then I can work towards simplifying the implementation, especially with code in MovementAlerter (common code).

[2021-09-15 19:54] zepumph commented on #224
@terracoda and @Matthew-Moore240, please review. Should we keep the direction alerts out for voicing?

[2021-09-15 20:12] zepumph commented on #188
Instead of having this be an assertion, I made this case be a guard, so that we can have the more informative alerts occur first before the total breakaway alert. It is quite easy to break away all atoms for one alert.

I removed the assertion, we won't see it on CT anymore.

[2021-09-15 20:12] #188 closed

[2021-09-15 20:45] zepumph commented on #75
Pretty much all of this is done. I am not sure how we want to support instrumenting the keyboardDragListener. I feel like potentially adding this to the PhET-iO meeting agenda to see if it is worth moving forward for a publication that is coming up already later this month.

[2021-09-15 20:52] zepumph opened #232 ""Atoms jiggle a tiny bit" repeats too much if you just touch the bottom book"

[2021-09-15 21:13] zepumph commented on #232
Alright, fixed above

[2021-09-15 21:13] #232 closed

[2021-09-15 21:16] zepumph commented on #226
This is all looking good to me. I think that the lack of interrupting is working really well.

[2021-09-15 21:16] #226 closed

[2021-09-16 13:18] terracoda commented on #231
I think it sounds good that no hint on grab.

**When using the keyboard,**
- I hear the move-down hint after three (or maybe two) unproductive rubs (this seems good)
- I hear the rub-hint as soon as contact with book is made (this seems good)
- I hear the reset-hint after all atoms that can be vaporized are vaporized, and then I keep hearing it quite often, even after I stop rubbing. (I think the

[2021-09-16 13:20] terracoda commented on #231
@Matthew-Moore240, is it your intention that you don't want to hear the temp-warmer-jiggling-faster responses when using a mouse. If so, make sure that's clear in the design documentation. If not, you'll need to work with @zepumph to get this responses to fire when using the mouse as well as with the keyboard.

[2021-09-16 13:23] terracoda commented on #231
I hope this is all helpful feedback.

[2021-09-16 13:25] terracoda commented on #231
Assigning to @zepumph and @Matthew-Moore240 to address comments. Please let me know if you want me to join in on your Friday session.

[2021-09-16 13:46] terracoda commented on #231
I forgot to mention, when using the mouse, I always get the initial state information on grab, "Atoms jiggle a tiny bit, temperature cool." And I get that response each time I touch the book and do not create any or much friction. I would expect to get the rub-hint, "Rub fast or slow" instead of a repeat of the state.

[2021-09-16 19:30] zepumph commented on #75
We discussed pursuing this during PhET-iO meeting today. @arouinfar thought with a minor review of the tree, we could get things in a good spot to deploy with PhET-iO.

[2021-09-17 15:26] Matthew-Moore240 commented on #228
With all checkmarks on
- when using the mouse I hear the reset sim hint try to fire when all the atoms are gone but it gets cut off and then the sim is quiet for a few seconds and then continues to give temp information

[2021-09-17 16:04] zepumph commented on #228
@terracoda put thoughts in https://github.com/phetsims/friction/issues/231#issuecomment-920894882

[2021-09-17 16:13] zepumph opened #233 "Mouse interaction alerts cannot run on endDrag"
From https://github.com/phetsims/friction/issues/231#issuecomment-920894882, we need to update FrictionDragListener so that we don't wait until endDrag to alert. Let's prototype with trying to do it every X drags. Otherwise we may just have to use the Utterance timing variables for this, but I don't see it as a good fit.

[2021-09-17 16:20] zepumph commented on #233
From that comment:

 - [ ] This never works, even when releasing to trigger endDrag, likely because it got interrupted with grabbed/release logic. Let's make sure whatever the new solution is has this working.

[2021-09-17 16:22] zepumph opened #234 "Not hearing temp increase or decresing alerts"
But when using `?printVoicingResponses` I see that they are blank lines being printed, so perhaps there is a bug with how the response is being collected.

[2021-09-17 16:30] zepumph opened #235 "Update SOME_ATOMS_EVAPORATED_THRESHOLD and use it for all reset hints"
Currently SOME_ATOMS_EVAPORATED_THRESHOLD is just half of the evaporable atoms. Let's make that be all, or very close to all atoms.

Then let's use that value to determin whether or not we include the reset in `TemperatureIncreasingAlerter.maxTempUtterance`. This will give more continuity to that hint, and decrease the number of times we hear that before we should.

[2021-09-17 16:30] zepumph commented on #231
If the temp is really really high, then you can get this alert even when there is no interaction, when waiting for the sim to cool down. We think that though the "reset" hint occurs frequently, it is easiest, and fine to just leave it as is, since you can turn it off with the hints checkbox.

[2021-09-17 16:40] terracoda commented on #228
@Matthew-Moore240 and @terracoda reviewed and we think the interruption and pause is related to #234. The response gets interrupted by a cooling response, but the cooling response is blank at the moment.

Let's review this after #234 8is fixed.

[2021-09-17 18:21] zepumph commented on #230
This is important for voicing because sim.supportsGestureDescription doesn't split on if VoiceOver or another AT is on, it just checks for the mobile platform runtime. I worry voicing will leak these strings designed for description.

[2021-09-20 22:16] arouinfar opened #236 "Friction - PhET-iO Design Review"
@zepumph I took a pass through the tree in Studio. Overall, things look pretty good.

- [x] Preferences button & dialog need to be instrumented, see https://github.com/phetsims/joist/issues/744
- [x] Alignment of contents of A11yButtonsHBox looks strange if one or more of the buttons is hidden, see https://github.com/phetsims/joist/issues/747
- [x] `model.atoms` seems like a candidate for phetioGr

[2021-09-21 12:47] terracoda opened #237 "(PDOM) Typo (missing space) in screen/scene summary"
While reviewing Friction, I just noticed that there is a typo (a missing space) in the scene summary. This might be causing a mispronunciation of web speech noted in a different issue.

![friction-typo](https://user-images.githubusercontent.com/1902116/134172610-ba772422-6550-47da-80fe-1434c52b86b8.png)

Please ensure a space exists between "lightly" and "on" when that dynamic phrase is in use.

[2021-09-21 12:49] terracoda commented on #237
This missing space may be related to one mispronunciation in https://github.com/phetsims/friction/issues/231#issuecomment-920894882

[2021-09-21 12:57] terracoda commented on #237
Founds some more typos
![friction-typos-more](https://user-images.githubusercontent.com/1902116/134174115-1ffb8484-e5a8-4f48-bb87-bf36ed7a9ee2.png)

We need a space after the period. This correction might also prevent the voicing of "dot" which I have heard a few times, and reported in https://github.com/phetsims/friction/issues/231#issuecomment-920894882.

We also need a space between "thermomete

[2021-09-21 14:30] terracoda commented on #227
I will need further direction on what to do with this issue.

[2021-09-21 14:32] terracoda commented on #231
Issues #233, #234 and #237 should resolve most of this issue.

[2021-09-21 18:39] Matthew-Moore240 opened #238 "Changes to the content for "The Overview" Button"
Please change the content of the "The Overview" button to:

_{{Friction}} is an interactive sim. It changes as you play with it. Get ready for Friction, there’s a stack of big textbooks ready to go. In zoomed-in view of textbooks you can observe how jiggling atoms and temperature changes._

[2021-09-21 18:53] zepumph commented on #236
In general, a PhetioGroup is for objects that are dynamic. I didn't use PhetioGroup because all atoms are created on startup. I would prefer to not add the overhead of PhetioGroup for purely statically created PhET-iO elements. I purposefully kept the tandem name different (omitting the underscore) so that there wasn't confusion about the dynamic-ness of it. Do you see a UX/studio improvement from

[2021-09-21 19:02] zepumph commented on #236
I got rid of the instrumented visibleProperty. I also did this for the BookNode (macro books), so they don't have visibleProperty either.

[2021-09-21 19:15] zepumph commented on #236
- [ ] I also made the hintProperty phetioReadOnly + documentation so that it was more obvious that you should use the view.

I am adding checkboxes to my thoughts above so that you can check them off when they are done or responded to below. I just don't want anything to fall off here.

[2021-09-21 21:28] arouinfar commented on #236
Thanks for the explanation @zepumph. This sim was partially instrumented ages ago and predated PhetioGroup, so I thought I'd bring it up. I don't see any particular reason why it needs to be a PhetioGroup, so I'll check that item off in the comment above.

[2021-09-21 22:30] zepumph opened #239 "What are the position units of this sim?"
From https://github.com/phetsims/friction/issues/236, I was asked to document the topBookPositionProperty and wanted to also do distanceBetweenBooksProperty. I found that this was not an easy topic.

I used the inspector to get even more confused.

![image](https://user-images.githubusercontent.com/6856943/134256080-41c2cc14-da4c-4454-a966-21d88c0d7508.png)

I am trying to figure out what the dist

[2021-09-21 22:32] zepumph commented on #236
I created https://github.com/phetsims/friction/issues/239 to better understand the position units, phetioDocumentation for those Properties will need to wait on that. I'm getting pretty close to being done here.

[2021-09-21 23:24] kathy-phet commented on #236
Thanks, @arouinfar. Here are some thoughts...

This doesn't seem like something that would be a customization to me. What do you think?

Maybe hide the initial cuing arrows? (since we have made that possible on some sims)
I don't know why you would want to do it per se, but is their a "pickable false" mode for the book and microscopic book pieces? You might want to prevent interaction with one of

[2021-09-21 23:48] emily-phet commented on #236
A bit random, but my understanding is that the atoms that leave the book are "vaporizing" (solid to gas), not "evaporating" (liquid to gas). I hadn't realized properties in the code were labeled as evaporate, might be nice to update that language if others agree "vaporize" is the more correct terminology.

I've not been involved with this sim beyond interaction and auditory display features, so pe

[2021-09-22 00:11] kathy-phet commented on #236
Pinged Dubson on this, because I wasn't confident of the answer. His response "No obvious word. Not vaporizing. Not evaporating. Wear and tear. Or shearing off." Hmm....

[2021-09-22 00:17] emily-phet commented on #236
I can see "shearing" - if it's not conceptualized as a change of state. I had been thinking of the atoms flying away as a gas, but if they kind of fly away and theoretically just fall to ground/table then "shear off" makes a lot of sense.
"shear" or "shearOff" could be used. Maybe even just "lose" - as in model.atomRowsToLoseProperty, since regardless of what happens to them, they are definitely "

[2021-09-22 15:18] zepumph commented on #237
Looks like this is the case for built sims, but not for unbuild:

Unbuilt:

![image](https://user-images.githubusercontent.com/6856943/134371807-927209d4-dc6d-4e3d-b563-911d1c17325d.png)

I think this has to do with our string engine, and how it trims out white space. I will take a look, and see if we have to support this in another way.

[2021-09-22 16:17] terracoda commented on #238
Apologies, I think I have a typo in that new over.

The final "s" is not needed.

{{Friction}} is an interactive sim. It changes as you play with it. Get ready for Friction, there’s a stack of big textbooks ready to go. In zoomed-in view of textbooks you can observe how jiggling atoms and temperature change.

[2021-09-22 16:21] zepumph commented on #237
I reopened https://github.com/phetsims/chipper/issues/619 to discuss this issue in general, and why there weren't assertions occurring. I'll update the friction usages so that this doesn't happen no matter the outcome of that issue.

[2021-09-22 16:49] zepumph commented on #237
This above commit fixes the problem. @jessegreenberg, would you tell me if this passes code review? I can't think of an easier way to support this. Basically the case is the ability to easily conditionally add words or sentences to other patterns with proper spacing.

[2021-09-22 16:59] zepumph commented on #235
@terracoda please review. I made it such that there is no reset hint until all atoms possible have evaporated.

[2021-09-22 17:12] kathy-phet commented on #236
I like ToShearOffProperty a bit better, but ToLose also works.

[2021-09-22 17:14] zepumph commented on #227
This is to be covered in #https://github.com/phetsims/friction/issues/234.

We are hearing "settled and cool" on grab at this point.

@terracoda wants to have one more listen. Feel free to close if all is good.

[2021-09-22 17:21] zepumph commented on #231
Yes @terracoda is right.

These will covered by https://github.com/phetsims/friction/issues/237.

We are ready to close this issue.

[2021-09-22 17:21] #231 closed

[2021-09-22 17:35] zepumph commented on #224
From today's voicing meeting. We confirmed that for voicing, all we really need to hear is "move down to rub harder" during unproductive rubbing, and "rub fast or slow" when books touch. Everything else (direction and border alerts) is only needed for interactive description.

We are excited about this design, and how it will simplify the implementation. I will bring this back for review once impl

[2021-09-22 17:39] zepumph commented on #186
Fixed in https://github.com/phetsims/friction/commit/90206562b1e5b917733fbcdf4d3d48c684caae32 and https://github.com/phetsims/friction/commit/8efc258dd9b829c63bef45366e631a4eccad0100

We are now tracking state in friction atoms.

[2021-09-22 17:39] #186 closed

[2021-09-22 18:30] terracoda commented on #237
I found the "dot" case mentioned in https://github.com/phetsims/friction/issues/231#issuecomment-920894882
It happens after a small break away a sentence is added to the front of the dynamic scene summary.
![friction-typos-period](https://user-images.githubusercontent.com/1902116/134400961-7cd84946-28d3-40b8-8228-60416d708b54.png)

We need a space after the period, before "Chemistry book rests lig

[2021-09-22 18:32] terracoda commented on #237
@zepumph can you make me a new dev version when you get a chance? I can't seem to load sims from phettest right now.

[2021-09-22 18:54] terracoda commented on #237
I got to it on phettest finally :-)

The space are fixed and I don't hear the funny pronunciations any more.

Leaving issue open for @jessegreenberg 's review.

[2021-09-22 19:17] terracoda commented on #235
I like the threshold at 100%

However, I just realised that a better place for the dynamic hint would be at the end of the cooling, after all possible atoms have broken away.

I find it quite annoying to keep hearing "Reset sim to make more observations" as the sim cools.

I am not actually hearing the cooling responses, maybe this will change once we address the cooling response issue #234

The t

[2021-09-22 19:20] terracoda commented on #235
I'll close this issue and open a new one to look at after #234 is address.

[2021-09-22 19:20] #235 closed

[2021-09-22 19:23] terracoda opened #240 "(Voicing & PDOM) Consider re-locating reset string"
In #235, I commented

Once we fix #234, I would like to review this question.

[2021-09-22 19:24] terracoda commented on #240
@Matthew-Moore240 and @zepumph, mentioning you so this issue is on your radar, but no action required right now.

[2021-09-22 20:16] zepumph opened #241 "Should warmer cooler alerts interrupt other alerts?"
Now that we are hearing these alerts from bug fixes in https://github.com/phetsims/friction/issues/234, I wonder if we need to tweak how they are interrupting others.

@terracoda, I felt like it sounded best to hear the warmer alerts interrupt other alerts (like grabbed alerts), but not for the cooler alerts. Let me know what you think!

[2021-09-22 20:16] zepumph commented on #234
So. . . if you look at the commits, there are some embarrasing typos. Oops.
🤦

Anyways. I added `respones` to the bad text lint rule so that never happens again, and I also created https://github.com/phetsims/friction/issues/241 to fine tune timing. I'm going to close this. @Matthew-Moore240  and @terracoda please note that these alerts now work on master.

[2021-09-22 20:16] #234 closed

[2021-09-23 13:39] terracoda commented on #227
The settled and cool response, "Atoms jiggle a tiny bit, temperature cool." is not being interrupted by the grab response.

Other improvements tot he experience will be tracked in other issues like #234 .

Closing issue.

[2021-09-23 13:39] #227 closed

[2021-09-23 17:41] arouinfar commented on #236
I agree. There are also design concerns with reducing the number of rows that can be sheared off. The rows that cannot be sheared off are embedded in the blue/green rectangles in the atomic view. Changing the number of rows in the model will not impact the view and could be confusing. Let's uninstrument this property, or if that's not possible, make it phetioReadOnly: true.

I forgot to include th

[2021-09-24 05:57] zepumph commented on #224
@terracoda and @Matthew-Moore240 this is ready for review. I cleaned up the direction alerting code to only be for description, and I also updated the "move down" alert to interrupt others, like the "grabbed" alert. Let me know what you think!

[2021-09-24 05:58] zepumph commented on #238
Done above

[2021-09-24 05:58] #238 closed

[2021-09-24 06:00] zepumph commented on #228
https://github.com/phetsims/friction/issues/234 is fixed. Back to you here if it still makes sense. I added a dev version for testing. https://phet-dev.colorado.edu/html/friction/1.6.0-dev.15/phet/friction_en_phet.html?voicingInitiallyEnabled

[2021-09-24 06:01] zepumph commented on #224
You can test on master or on https://phet-dev.colorado.edu/html/friction/1.6.0-dev.15/phet/friction_en_phet.html?voicingInitiallyEnabled.

[2021-09-24 06:20] zepumph commented on #233
I have potentially fixed this with two items.

1. I made it much more explicit when you get the "move down to rub harder" alert. It is solely based on the model contactProperty, and not based on the interaction.
2. I made the timing of alerts for hints and border alerts be based on timing, instead of just the position when you end the drag (let go with the mouse). So instead it will attempt to ale

[2021-09-24 16:02] terracoda commented on #241
This is working pretty good.
I think the warming and cooling responses should interrupt other responses like the grab and release responses.

In addition, I find that after the sim is super hot the cooling responses start quire late after interaction stops. Often the the thermometer is halfway down before any cooling responses start.

I think there a few super-fast-super-hot responses that are pil

[2021-09-24 16:20] zepumph commented on #240
@terracoda, @Matthew-Moore240, and I discussed this today. By moving the reset alert from the break away to the "temperature cool" alert. We like it after this because it is at the complete end of an interaction. I also don't think it will be hard to implement. Yay!

[2021-09-24 16:22] zepumph commented on #241
Over in #240, we will move the "reset the sim to make more observations" This will help shorten the breakaway alert, and may get us more cooling alerts earlier. After that we will rereview this one.

[2021-09-24 16:30] terracoda commented on #233
This sounds pretty good.

[2021-09-24 16:35] zepumph commented on #241
I'm actually about having made "warming" alerts interrupt, because not I don't think we are getting any break away alerts. Let's talk about that more here.

[2021-09-24 16:46] terracoda commented on #233
@Matthew-Moore240 and @terracoda discussed, and we feel it would be better if there was some movement (some interaction) before you get move down to rub harder.

That said, if movement and space simultaneously are hard to detect  we can live with it as is.

The main idea of the response is that it indicates unproductive rubbing. Having it fire with just air space seems a little extra directive, bu

[2021-09-24 16:47] zepumph commented on #240
Ok, this move was easy, and I really like it. There is one more case where we are getting this hint with the settled and cool alert, and I really like it.

When we grab the book, and the temp is settled and cool, we are now saying reset the sim. This is because that logic is shared with the default "settled and cool" alert, but I think we could change it if we had to. But I'd rather not unless the

[2021-09-24 16:49] zepumph commented on #241
https://github.com/phetsims/friction/issues/240 has been done, and the reset hint is no longer on the "super fast" alert.

I think we need to think about the warmer alerts now.

[2021-09-24 16:51] terracoda commented on #224
The latest version on master sounds fine without edges or directional responses.

[2021-09-24 16:51] #224 closed

[2021-09-24 16:58] Matthew-Moore240 commented on #233
@terracoda @zepumph and @Matthew-Moore240  Reviewed this together and decided to leave it as is. Closing.

[2021-09-24 16:58] #233 closed

[2021-09-24 17:00] terracoda commented on #228
The responses seem like they are all in the correct categories.
Closing.

[2021-09-24 17:00] #228 closed

[2021-09-24 17:13] Matthew-Moore240 commented on #240
Reviewed with @terracoda and @zepumph, it sounds really good. Closing.

[2021-09-24 17:34] zepumph opened #242 "Make sure warmer alerts are not interrupting break away alerts"
I think I will need @jessegreenberg's help with this. What if we added and announcer option like `important:true`, which overrides if something else is going to interrupt it.

[2021-09-24 17:34] terracoda commented on #241
@terracoda requested that we try cooling responses on end drag.
That seems to be working. Will re-listen before closing.

[2021-09-24 17:36] terracoda commented on #241
We will test after we fix break away response, which getting interrupted by warming responses.

[2021-09-24 17:45] terracoda opened #243 "(Description) Check screen reader behaviour"
Before RC we need to do sanity checks on screen reader experience for any major issues.

- [ ] VoiceOver
- [ ] iOS VoiceOver
- [ ] NVDA
- [ ] JAWS

**Note** that in BASE issue https://github.com/phetsims/balloons-and-static-electricity/issues/508 we deferred some work in common code that would fix the mobile drag and grab interaction. Currently the visual keyboard grab hint shows up on touch devic

[2021-09-24 18:27] terracoda commented on #243
**VoiceOver issues on MacOs 11.4**
1. The reset hint has been permanently appended to the settled state, "Atoms jiggle a tiny bit, temperature cool. Reset sim to make more observations."
    - the reset hint has to be conditionally appended. It can't be heard of atoms are available to be evaporated.

2. There is a huge amount of pile-ups. Hopefully, we have modernized the management of responses a

[2021-09-24 18:34] terracoda commented on #243
**VoiceOver issues on iOS 11.4**
1. See visual keyboard hint on touch device (iphone) as noted in https://github.com/phetsims/balloons-and-static-electricity/issues/508
  - this needs to fixed in common code, or we leave iOS off for this release

2. Hear ticking as sim loads (this must be built-in apple sonification)
3.  Can't access sim loaded from phettest @zepumph, please provide latest dev lin

[2021-09-24 19:08] terracoda commented on #243
VoiceOver issues on iOS 14.6 (iPhone 8)
1. keyboard grab hint visible (same as above)
2. significant response pile ups happen
3. hints like move down to rub harder and rub fast or slow seem to interrupt more important warming-cooling responses and break away responses

[2021-09-24 19:30] terracoda commented on #240
@zepumph, there is a little more work to do here. I hear the reset hint after I reset the sim. Can you have a look?

[2021-09-24 19:31] terracoda commented on #240
I hear the reset in description and voicing.

[2021-09-24 22:27] zepumph commented on #242
@jessegreenberg and I started on https://github.com/phetsims/scenery/issues/1287 and tested by making the break away utterance priority 5, and the temp increasing utterance priority 3. It was working pretty well until we found https://github.com/phetsims/scenery/issues/1288. I will start there once I work on this again.

[2021-09-24 22:30] zepumph commented on #242
One other thing is that we don't want to use addToFront here anymore, instead priority will make more sense. Adding to front doesn't mean that we release an alert first, later alerts were being announced earlier because they had been in the queue longer. Instead let's do this patch:

[code]

[2021-09-24 23:07] zepumph opened #244 ""Rub fast or slow" each time a level of atoms breaks away and you move down to make contact again."
Steps to reproduce:
1. with mouse, move down to contact books
2. correctly hear "rub fast or slow" hint
3. in a very horizontal way, make one row of atoms shear, thus the books are no longer contacting.
4. Move down to contact books again.
5. Weirdly hear again "rub fast or slow" instead of other alerts like warmer or break away alerts. Isn't this superfluous because the user already successfully

[2021-09-24 23:10] zepumph commented on #241
One commit coming from changes that we worked on today during our meeting this morning. This is generally to try to get cooling alerts occurring a bit faster. This will also be further improved by a change over in https://github.com/phetsims/friction/issues/242 where the break away alert is going to clear the queue before alerting (removing any superfluous warming alerts).

[2021-09-25 11:09] terracoda commented on #244
@zepumph, thanks for posting this case. I had also noticed it, and felt it wasn't ideal, but wasn't sure how to address it.

I also noticed that productive rubbing on a diagonal can trigger both rubbing hints (rub fast or slow and move down to rub harder), though the move down hint seems to get uttered less often. This case is also not ideal after a successful break away.

I think your idea sounds

[2021-09-25 11:12] terracoda commented on #244
I think @Matthew-Moore240 would agree. @Matthew-Moore240, please comment with any additional thoughts or concerns. If you would like to proceed with @zepumph's idea please change label to dev-a11y and assign issue to @zepumph.

[2021-09-25 11:14] terracoda commented on #243
@Matthew-Moore240 please do a quick test with NVDA to see if there are obvious issues with pileups on that platform as well.

[2021-09-27 13:30] terracoda commented on #241
@Matthew-Moore240, I am unassigning myself from this issue. I think you will be able to review this issue once the related issues are committed. Feel free to re-assign if you need anything from me.

[2021-09-27 13:53] zepumph opened #245 "Overlapping hints can occur"
From https://github.com/phetsims/friction/issues/244#issuecomment-927105540, @terracoda said:

It should be easy enough to make sure that "move down to rub harder" never occurs if the contactProperty is true. I think that the conditionals in

https://github.com/phetsims/friction/blob/dbc5402ae3db8a91fa6648464ec85bfe83f91578/js/friction/view/book/BookMovementAlerter.js#L122-L171

could use some wor

[2021-09-27 14:06] zepumph commented on #244
I created https://github.com/phetsims/friction/issues/245 to fine tune.

This issue is to discuss the logic about when the hint will play (and when it won't).

[2021-09-27 16:10] Matthew-Moore240 commented on #244
This seems good to me.

[2021-09-28 18:11] terracoda commented on #240
In https://github.com/phetsims/friction/issues/240#issuecomment-926775974
@zepumph said

We have to restrict the reset hint to when there are no more atoms that can be vaporized. After initial implementation, I got the reset hint at the end of the settled cooled state on my initial grab after a full reset. And I also saw it in the interactive description design after a full reset.

I can check aga

[2021-09-28 18:23] terracoda commented on #240
I don't hear the reset hint on first grab before interaction.

I hear it on the first grab after a reset.
![Screen Shot 2021-09-28 at 3 52 38 PM](https://user-images.githubusercontent.com/1902116/135144010-3c1f9e76-8efe-4f84-a93e-262f5c5e8abd.png)

[2021-09-28 18:27] terracoda commented on #240
The same for Voicing. No hint on initial grab before interaction begins, but I hear the reset hint on initial grab after I evaporate all atoms and do a full reset.

[2021-09-28 18:27] terracoda commented on #240
I am using the latest version on phettest.

[2021-09-28 19:02] zepumph commented on #240
Thanks for the testing.

I was before updating the hint whenever the amplitude (temperature) changes. In the case of reset, when the temp is already cool, there is no change, so I will update every time right before alerting.

[2021-09-28 19:17] zepumph commented on #240
How about that?

[2021-09-28 19:23] zepumph commented on #245
I would like to do a few other issues, then see if this resolves itself. Marking for meeting to make sure I don't forget about it.

[2021-09-28 19:58] zepumph commented on #244
This was sounding really nice to me! What do you think @Matthew-Moore240?

[2021-09-28 19:59] zepumph opened #246 "numberOfAtomsEvaporated should be a Property"
It has continued to feel sloppy to me that this is just a number on the model, it would be cleaner to make it a Property.

[2021-09-28 20:01] zepumph opened #247 "Rename "evaporate" to "shearOff" across the sim"
Over in https://github.com/phetsims/friction/issues/236#issuecomment-924478507 and discussion below, it was determined that "shearing off" makes more sense that "evaporating" or "vaporizing". There are many many usages of this, and we will want to change all of them for clarity.

[2021-09-28 20:02] zepumph commented on #246
This is mostly important for phet-io (data stream, state, studio customization)

[2021-09-28 21:03] terracoda commented on #240
Re-assigning to @Matthew-Moore240. @Matthew-Moore240, let me know if you need any clarification from me.

[2021-09-28 22:27] Matthew-Moore240 commented on #244
This sounds nice to me as well. Closing.

[2021-09-28 22:27] #244 closed

[2021-09-29 15:26] KatieWoe opened #248 "CT No voices available to provided a prioritized list"
[code]

[2021-09-29 17:53] zepumph opened #249 "Support mobile a11y this publication?"
Today there was a question about whether we should support mobile iOS a11y. We were mainly focused on lookin at https://github.com/phetsims/scenery-phet/issues/704, as a specific bug.

This sim though will be quite challenging to support because of https://github.com/phetsims/scenery/issues/1024. When the center of the zoomed in book is not clickable, then it will not be interactive.

Given our cu

[2021-09-29 17:53] #249 closed

[2021-09-29 23:26] zepumph opened #250 "Punctuation troubles"
I keep seeying this, but I think I need this issue to remind myself. Almost all of this is about having object responses having punctuation in them, because the responseCollector add punctuation for those anyways. Here is a great example:

`zoomed-in Chemistry book, Grabbed. , `
`Chemistry book, Grabbed. Lightly on Physics book., `

[2021-09-30 18:20] samreid commented on #237
We discussed this a bit in https://github.com/phetsims/chipper/issues/619#issuecomment-931555064, and recommend using more robust patterns for templating strings.  For instance, this line has 2 problematic parts:

[code]

@pixelzoom asks if:

[code]

should be more general, like a function that combines N sentences, possibly with a template string about how to combine 2 sentences.

[2021-09-30 18:47] arouinfar commented on #75
I reviewed the sim in Studio and provided feedback in #236, so I think we can close this issue.

[2021-09-30 18:47] #75 closed

[2021-09-30 19:24] arouinfar opened #251 "Review Description and Voicing strings for PhET-iO"
Related to #236

In PhET-iO meeting we decided that I should review the description and voicing strings in Friction to identify if there are any strings that could becoming inaccurate/out-of-sync with PhET-iO customization.

For example, clients can change the name of the Chemistry book using `view.topBookNode.titleText.textProperty`. However, "Chemistry" appears throughout the description and in

[2021-09-30 22:08] zepumph commented on #242
After the above commit, I am able to always hear the entire break-away alert, no matter what. @terracoda and @Matthew-Moore240, will you please review this issue to make sure the break away alert, and all the alerts leading up to it/after it, sound correct to you?

[2021-09-30 22:18] zepumph commented on #248
Presumably this is the same as other CT issues created. It will most likely be fixed in the same way.

[2021-09-30 22:28] zepumph commented on #242
Please note that we don't have the ability to prioritize this so heavily with description/screen reader support. Thus, it is still quite easy to hear a break away alert interrupted by another alert, like warming or cooling. Noted because of testing in https://github.com/phetsims/friction/issues/243.

[2021-09-30 22:31] zepumph opened #252 ""Move down" hint is only needed before productive rubbing"
Similar to https://github.com/phetsims/friction/issues/244, we don't need to hear "move down to rub harder" beyond the initial time it takes to train the user.

Unlike with "rub fast or slow" I think it is still important to potentially hear this after a the first row of atoms break away, so that they realize that you need to have to move down and then keep rubbing.  After a few rows though, we sh

[2021-09-30 22:32] zepumph commented on #243
From testing on NVDA:

* In general it sounded good.
* Easy to hear the break-away alert interrupted, see https://github.com/phetsims/friction/issues/242#issuecomment-931747740
* I also felt like there could be too many "move down to rub harder" alerts, so I created https://github.com/phetsims/friction/issues/252.

[2021-09-30 22:37] zepumph commented on #252
Marking for meeting tomorrow to co-review and hopefully close.

[2021-09-30 22:39] zepumph commented on #245
I can't really reproduce this. I would love to discuss this during meeting tomorrow. I no longer feel like it has to do with the code linked above (I looked through it and nothing was obvious).

[2021-09-30 23:06] zepumph commented on #250
I thought that I needed to mess with punctuation of the alerts, but I actually think that https://github.com/phetsims/scenery/issues/1292 fixed everything I was noting here. @terracoda or @Matthew-Moore240, if you see any other weird punctuation or capitalization in friction as we move towards the finish line, will you please let me know by created a separate issue. Thanks!

[2021-09-30 23:06] #250 closed

[2021-09-30 23:06] zepumph commented on #241
https://github.com/phetsims/friction/issues/242 is mostly done. Please review this issue too now.

[2021-10-01 16:13] Matthew-Moore240 commented on #240
Issue fixed. Closing

[2021-10-01 16:13] #240 closed

[2021-10-01 16:27] Matthew-Moore240 commented on #252
Check issue with keyboard and mouse.
Idea from Taliesin:
If temp is increasing you shouldn't hear the hint.

[2021-10-01 16:37] zepumph commented on #245
@terracoda said that she was dragging with a mouse diagonally. She said that it was doing it all the time, but right now, on master. This is not occurring. We feel like this is fixed from #244 and https://github.com/phetsims/friction/issues/252. Closing

[2021-10-01 16:37] #245 closed

[2021-10-01 16:46] zepumph opened #253 ""Super fast, super hot" piles up way too much"
This is mainly for description, because voicing is interrupting much more. That said it can still happen with Voicing.

Some thoughts from a meeting with @Matthew-Moore240 and @terracoda:

* It would be really nice to not have repetition of this max temp alert
* It would be really nice to not just have the last one.
* Let's mess with timing variables to try to get the max temp alert to alert less

[2021-10-01 16:46] zepumph commented on #243
On hold until https://github.com/phetsims/friction/issues/253 can be fixed. That issue is too large to get good results from other testing.

[2021-10-01 16:48] zepumph commented on #230
In #249, we decided that we aren't going to support this for this publication. Closing

[2021-10-01 16:48] #230 closed

[2021-10-01 16:49] zepumph commented on #253
- [ ] please make a dev link when this issue is complete.

[2021-10-01 16:50] zepumph commented on #252
If temp is increasing you shouldn't hear the hint.

This only requires investigation if @Matthew-Moore240 finds trouble with the current implementation. Otherwise @Matthew-Moore240 will just close this issue after testing on the other platforms/modes listed above.

[2021-10-01 18:37] terracoda commented on #243
Also noting this version of Friction will not be published with iOS Interactive Description, so we will not be addressing https://github.com/phetsims/balloons-and-static-electricity/issues/508

[2021-10-04 13:26] terracoda opened #254 "(Interactice Decription) I hear "up" when I do not press up"
This issue might go away naturally as we finalize work on this sim.

Using VO on MacOs Big Sur 11.4

I tab to either of the book interactions.
Grab the book.
Press down arrow to touch the book
I hear "Down. Rub fast or slow." The here "up", though I never press the up arrow.

I do not know why I am getting this random utterance of "up". After I actually move down.

<img width="1023" alt="Screen Sh

[2021-10-04 13:34] terracoda commented on #242
In voicing warming responses are not interrupting break aways, but I am not hearing any gradual warming responses,. I hear "Very hot. Atoms break away." and then the gradual cooling responses.

Using VoiceOver, I am hearing the gradual warming responses and I am hearing the break aways, and I am hearing the gradual cooling responses, too.

Not sure why very few gradual warming responses are firing

[2021-10-04 13:41] terracoda commented on #242
I was testing using the keyboard. When I use a mouse, I hear gradual warning responses, breakaways and gradual cooling responses woven together more frequently. It might just be a keyboard issue.

Gradual warning responses should be able to fire during active dragging without a release.

[2021-10-04 13:44] terracoda commented on #242
@Matthew-Moore240, please describe what you find when you test.

[2021-10-04 13:49] terracoda commented on #242
And maybe work in #241 will resolve any further concerns I have.

[2021-10-04 17:13] zepumph commented on #242
This sim was published with these alerts only available with keyboard on end drag. This didn't seem to be a problem in previous conversations about the keyboard because most non visual users would likely use the keyboard sparingly, and with short presses.

Now that we are working on voicing , over in https://github.com/phetsims/friction/issues/233, we noted that updating based on the granularity o

[2021-10-04 19:07] Matthew-Moore240 commented on #252
No issues with just hearing the "move down" alert on initial unproductive rubbing before any breakaways happen. Closing